<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_top_ctr">AF6CNC0011_RD_TOP_CTR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>XFI drp port select</code></td>
<td><code>0x00043</code></td>
</tr>
<tr>
<td><code>TOP Status 1-d</code></td>
<td><code>0x00061 - 0x0006d</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky</code></td>
<td><code>0x00060</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky 0</code></td>
<td><code>0x00050</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky 1</code></td>
<td><code>0x00051</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky 2</code></td>
<td><code>0x00052</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-drp-port-select">XFI drp port select</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Global Serdes Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_controlx</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00043</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base Addr + 0x00043</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>xfi_port_select</code></td>
<td>XFI port select, 1/2 -&gt; XFI#0/XFI#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-status-1-d">TOP Status 1-d</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x61 : PCIe user clock (62.5 Mhz)</p>
<p>0x62 : DDR3#0 user clock (200 Mhz)</p>
<p>0x63 : DDR3#1 user clock (200 Mhz)</p>
<p>0x64 : DDR3#2 user clock (200 Mhz)</p>
<p>0x65 : XFI#0 user clock (156.25 Mhz)</p>
<p>0x66 : XFI#1 user clock (156.25 Mhz)</p>
<p>0x67 : SGMII2G5#0 user clock (312.5 Mhz)</p>
<p>0x68 : SGMII1G#0 user clock (125 Mhz)</p>
<p>0x69 : SGMII1G#1 user clock (125 Mhz)</p>
<p>0x6a : sysPLL user clock (155.52 Mhz)</p>
<p>0x6b : External reference clock (19.44 Mhz)</p>
<p>0x6c : PRC reference clock (19.44 Mhz)</p>
<p>0x6d : 1PPS reference clock (1 Hz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TOP_Status_1_d</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00061 - 0x0006d</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky">Top Interface Alarm Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Status Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00060</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00]</code></td>
<td><code>system_pll_status</code></td>
<td>System PLL status, 0/1-&gt;Locked/Unlocked</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>un-used</code></td>
<td>Un-used</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>ddr3_0_calib_status</code></td>
<td>DDR3#0 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>ddr3_1_calib_status</code></td>
<td>DDR3#1 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>ddr3_2_calib_status</code></td>
<td>DDR3#2 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky-0">Top Interface Alarm Sticky 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00050</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00]</code></td>
<td><code>system_pll_status</code></td>
<td>System PLL status, 0/1-&gt;Locked/Unlocked</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>un-used</code></td>
<td>Un-used</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>ddr3_0_calib_status</code></td>
<td>DDR3#0 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>ddr3_1_calib_status</code></td>
<td>DDR3#1 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>ddr3_2_calib_status</code></td>
<td>DDR3#2 calib status, 0/1-&gt;OK/Fail</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky-1">Top Interface Alarm Sticky 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00051</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03]</code></td>
<td><code>xfi_1_reset_done</code></td>
<td>XFI#1 reset done, 0/1-&gt;Fail/Done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02]</code></td>
<td><code>xfi_0_reset_done</code></td>
<td>XFI#0 reset done, 0/1-&gt;Fail/Done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>xfi_1_core_status__block_lock_</code></td>
<td>XFI#1 core status (block lock), 0/1-&gt;Unlocked/Lock</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>xfi_0_core_status__block_lock_</code></td>
<td>XFI#0 core status (block lock), 0/1-&gt;Unlocked/Lock</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky-2">Top Interface Alarm Sticky 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00052</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>sgmii1g_1_reset_done</code></td>
<td>SGMII1G#1 reset done, 0/1-&gt;Fail/Done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>sgmii1g_0_reset_done</code></td>
<td>SGMII1G#0 reset done, 0/1-&gt;Fail/Done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>sgmii2g5_0_reset_done</code></td>
<td>SGMII2G5#0 reset done, 0/1-&gt;Fail/Done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02]</code></td>
<td><code>sgmii1g_1_link_status</code></td>
<td>SGMII1G#1 Link status, 0/1-&gt;Down/Up</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>sgmii1g_0_link_status</code></td>
<td>SGMII1G#0 Link status, 0/1-&gt;Down/Up</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>sgmii2g5_0_link_status</code></td>
<td>SGMII2G5#0 Link status, 0/1-&gt;Down/Up</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>