<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_retiming">AF6CNC0011_RD_ReTiming</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Tx  Re-Timing Loopback</code></td>
<td><code>0x00315</code></td>
</tr>
<tr>
<td><code>Re-Timing Engine Enable</code></td>
<td><code>0x000F4000</code></td>
</tr>
<tr>
<td><code>Tx  Re-Timing Framer Control</code></td>
<td><code>0x000F0000 - 0x000F0017</code></td>
</tr>
<tr>
<td><code>Rx Re-Timing Framer Control</code></td>
<td><code>0x000FC000 - 0x000FC017</code></td>
</tr>
<tr>
<td><code>Rx SSM Framer HW Status</code></td>
<td><code>0x000FC400 - 0x000FC017</code></td>
</tr>
<tr>
<td><code>Re-Timing Slip Buffer Data Sticky</code></td>
<td><code>0x000F4001</code></td>
</tr>
<tr>
<td><code>Re-Timing Slip Buffer Frame Sticky</code></td>
<td><code>0x000F4100-0x000F412F</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-re-timing-loopback">Tx  Re-Timing Loopback</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to select source Re-Timing</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>retisrc_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00315</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>src1frtxpdh</code></td>
<td>Source 1 timing from TX PDH 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>src1frrxliuenb</code></td>
<td>Source 1 Data from RX LIU enable 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>src0frrxliuenb</code></td>
<td>Source 0 Data from RX LIU enable 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>src0frrxliumod</code></td>
<td>Source 0 Data from RX LIU mode 2:DS3 3:E3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="re-timing-engine-enable">Re-Timing Engine Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to enable Re-Timing engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>retibypass_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F4000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>retiengen</code></td>
<td>Re-Timing engine Enable - 1: Enable - 0: Bypass</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-re-timing-framer-control">Tx  Re-Timing Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is used to configure the SSM transmitter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>txctrl_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F0000 - 0x000F0017</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000F0000 + LiuID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LiuID(0-23):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>ssmnum</code></td>
<td>Number SSM message to transmit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>ssminv</code></td>
<td>Set 1 to invert SSM - 1:invert mode , SSM format 11111111_11_0xxxxxx0 - 1:non_invert mode , SSM format 0xxxxxx0_11_11111111</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:05]</code></td>
<td><code>ssmmess</code></td>
<td>SSM Message - [3:0]: G832 SSM Message - [5:0]: G832 SSM Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>g832ssmena</code></td>
<td>G832 SSM enable/C-Bit parity SSM continously 1: Enable SSM G832/Enable send SSM continously for C-Bit parity SS 0: Disable SSM G832</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>txde3md</code></td>
<td>Transmit DS3/E3 framing mode - 0000: G832 - 0001: G751 - 0010: DS3 (M13,C-Bit) - Other: Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-re-timing-framer-control">Rx Re-Timing Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is used to configure the SSM transmitter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxctrl_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000FC000 - 0x000FC017</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000FC000 + LiuID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LiuID(0-23):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>rxde3enb</code></td>
<td>Set 1 to Enable Framer</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:05]</code></td>
<td><code>rxde3lofthres</code></td>
<td>Threshold for declare LOF</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>rxde3frclof</code></td>
<td>Set 1 to force Re-frame (default 0)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>rxde3md</code></td>
<td>Receive DS3/E3 framing mode - 0000: G832 - 0001: G751 - 0010: DS3 (M13,C-Bit) - Other: Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-ssm-framer-hw-status">Rx SSM Framer HW Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used for Hardware status only</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>status_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000FC400 - 0x000FC017</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000FC400 + liuid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$liuid(0-23):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:00]</code></td>
<td><code>rxde3sta</code></td>
<td>RX Framer Status - 3: In Frame - 0: LOF - Other: Searching State</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="re-timing-slip-buffer-data-sticky">Re-Timing Slip Buffer Data Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stk0_upen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F4001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>retislipdat</code></td>
<td>Re-Timing Slip Buffer - 1: Slip Enable - 0: Slip Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="re-timing-slip-buffer-frame-sticky">Re-Timing Slip Buffer Frame Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per channel CRC error counter for DS1/E1/J1 receive framer</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cnt0_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F4100-0x000F412F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000F4100 + 64*Rd2Clr + LiuID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Rd2Clr(0 - 1): Rd2Clr = 0: Read to clear. Otherwise, Read Only</code></p>
</li>
<li>
<p><code>$LiuID(0 - 23):</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>slipcnt</code></td>
<td>Slip Buffer Counter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>