<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-11</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_eth10g_rd_ser_tur">AF6CNC0011_ETH10G_RD_SER_TUR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>ETH 10G DRP</code></td>
<td><code>0x400-0x7FF</code></td>
</tr>
<tr>
<td><code>ETH 10G LoopBack</code></td>
<td><code>0x0002</code></td>
</tr>
<tr>
<td><code>ETH 10G TX Reset</code></td>
<td><code>0x000C</code></td>
</tr>
<tr>
<td><code>ETH 10G RX Reset</code></td>
<td><code>0x000D</code></td>
</tr>
<tr>
<td><code>ETH 10G LPMDFE Mode</code></td>
<td><code>0x000E</code></td>
</tr>
<tr>
<td><code>ETH 10G LPMDFE Reset</code></td>
<td><code>0x000F</code></td>
</tr>
<tr>
<td><code>ETH 10G TXDIFFCTRL</code></td>
<td><code>0x0010</code></td>
</tr>
<tr>
<td><code>ETH 10G TXPOSTCURSOR</code></td>
<td><code>0x0011</code></td>
</tr>
<tr>
<td><code>ETH 10G TXPRECURSOR</code></td>
<td><code>0x0012</code></td>
</tr>
<tr>
<td><code>ETH 10G Ctrl FCS</code></td>
<td><code>0x0080</code></td>
</tr>
<tr>
<td><code>ETH 10G AutoNeg</code></td>
<td><code>0x0081</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-drp">ETH 10G DRP</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OETH_10G_DRP</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x400-0x7FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x400+$DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$DRP(0-1023) : DRP address, see UG578</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-loopback">ETH 10G LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_lane0</code></td>
<td 0>Loopback<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-tx-reset">ETH 10G TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>txrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset TX SERDES</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-rx-reset">ETH 10G RX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_49G_RX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>rxrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset RX SERDES</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-lpmdfe-mode">ETH 10G LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>LPM/DFE mode<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-lpmdfe-reset">ETH 10G LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>LPM/DFE reset<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-txdiffctrl">ETH 10G TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl</code></td>
<td>TXDIFFCTRL</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x18</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-txpostcursor">ETH 10G TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor</code></td>
<td>TXPOSTCURSOR</td>
<td><code>R/W</code></td>
<td><code>0x15</code></td>
<td><code>0x15</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-txprecursor">ETH 10G TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor</code></td>
<td>TXPRECURSOR</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-ctrl-fcs">ETH 10G Ctrl FCS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure FCS mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_Ctrl_FCS</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0080</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>txfcs_ignore</code></td>
<td 1>TX ignore check FCS when txfcs_ins is low<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>txfcs_ins</code></td>
<td 1>TX inserts 4bytes FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>rxfcs_ignore</code></td>
<td 1>RX ignore check FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>rxfcs_rmv</code></td>
<td 1>RX remove 4bytes FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-autoneg">ETH 10G AutoNeg</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure Auto-Neg</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_10G_AutoNeg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0081</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:08]</code></td>
<td><code>an_lt_sta</code></td>
<td 0>Link Control outputs from the auto-negotiationcontroller for the various Ethernet protocols.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>lt_restart</code></td>
<td 1>This signal triggers a restart of link training regardless of the current state.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>lt_enb</code></td>
<td 1>Enables link training. When link training is disabled, all PCS lanes function in mission mode.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>an_restart</code></td>
<td 1>This input is used to trigger a restart of the auto-negotiation, regardless of what state the circuit is currently in.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>an_bypass</code></td>
<td 1>Input to disable auto-negotiation and bypass the auto-negotiation function. If this input is asserted, auto-negotiation is turned off, but the PCS is connected to the output to allow operation.<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>an_enb</code></td>
<td 1>Enable signal for auto-negotiation<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>