<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_eth">AF6CNC0011_RD_ETH</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>IP Ethernet Triple Speed Global Version</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Global Control</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Global Interrupt Type Request</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Global Interrupt Status</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Global Interface Control</code></td>
<td><code>0x04</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Global User Request Status</code></td>
<td><code>0x08</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Control</code></td>
<td><code>0x20</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Status</code></td>
<td><code>0x21</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS PHY Identifier 0</code></td>
<td><code>0x22</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS PHY Identifier 1</code></td>
<td><code>0x23</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Advertisement</code></td>
<td><code>0x24</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Link Partner Ability Base</code></td>
<td><code>0x25</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS An Expansion</code></td>
<td><code>0x26</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS An Next Page Transmitter</code></td>
<td><code>0x27</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS An Next Page Receiver</code></td>
<td><code>0x28</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Extended Status</code></td>
<td><code>0x2F</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option Control</code></td>
<td><code>0x32</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option Status</code></td>
<td><code>0x33</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option FSM Status 0</code></td>
<td><code>0x34</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option FSM Status 1</code></td>
<td><code>0x35</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option Link Timer</code></td>
<td><code>0x38</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option Sync Timer</code></td>
<td><code>0x39</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option PRBS Test Control</code></td>
<td><code>0x3C</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed PCS Option PRBS Test Status</code></td>
<td><code>0x3D</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Active Control</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Receiver Control</code></td>
<td><code>0x42</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Transmitter Control</code></td>
<td><code>0x42 0x43</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Data Inter Frame</code></td>
<td><code>0x45</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC flow Control Time Interval</code></td>
<td><code>0x46</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC flow Control Quanta</code></td>
<td><code>0x47</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Interrupt Status</code></td>
<td><code>0x48</code></td>
</tr>
<tr>
<td><code>IP Ethernet Triple Speed Simple MAC Latch Status</code></td>
<td><code>0x49</code></td>
</tr>
<tr>
<td><code>ETH FCS Force Error Control</code></td>
<td><code>0x0001007</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-version">IP Ethernet Triple Speed Global Version</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to indicate version</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_Version</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>ipethtripglbvendor</code></td>
<td></td>
<td><code>RO</code></td>
<td><code>0xAE</code></td>
<td><code>0xAE</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>ipethtripglbverionid</code></td>
<td></td>
<td><code>RO</code></td>
<td><code>0x10</code></td>
<td><code>0x10 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-control">IP Ethernet Triple Speed Global Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is global Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[10:8]</code></td>
<td><code>ipethtripglbctlelfifodepth</code></td>
<td>Elastic FIFO Depth, Only used to NONE PCS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtripglbctlspstable</code></td>
<td>Software must write 0x1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripglbctlspisphy</code></td>
<td>1: Enable SMAC auto update speed operation by PHY device (or PCS) 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripcfgctlselect</code></td>
<td>1: Enable engine used con-fig interface by register IP Ethernet Triple Speed Global Interface Control 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripglbctlflush</code></td>
<td>Software reset 1: Software Reset 0: Normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripglbctlinten</code></td>
<td>Interrupt Enable 1: Enable Interrupt 0: Disable Interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripglbctlactive</code></td>
<td>Port Active 1: Active 0: No Active</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-interrupt-type-request">IP Ethernet Triple Speed Global Interrupt Type Request</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is global interrupt type request</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_Interrupt_Type_Request</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtripglbinttypmdio</code></td>
<td>MDIO interrupt request 1: SMAC interrupt request 0: SMAC no request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripglbinttypsmac</code></td>
<td>Simple MAC interrupt request 1: SMAC interrupt request 0: SMAC no request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripglbinttypglb</code></td>
<td>Global interrupt request 1: Global interrupt request 0: Global no request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripglbinttyppcs</code></td>
<td>PCS interrupt request 1: PCS interrupt request 0: PCS no request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-interrupt-status">IP Ethernet Triple Speed Global Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is global status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_Interrupt_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtripglbstatxifer</code></td>
<td>Transmitter Interface check error occur</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripglbstarxifover</code></td>
<td>Receiver Interface Rate match FIFO overflow occur</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripglbstarxifunder</code></td>
<td>Receiver Interface Rate match FIFO underflow occur</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtripglbstarxffrder</code></td>
<td>Receiver User FIFO convert clock domain read errror occur</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripglbstatxffwrer</code></td>
<td>Transmitter User FIFO convert clock domain write error occur</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripglbstatxshrder</code></td>
<td>Transmitter User shift engine read error assert</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripglbstatxshwrer</code></td>
<td>Transmitter User shift engine write error assert</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-interface-control">IP Ethernet Triple Speed Global Interface Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Interface Control %%</p>
<p>Ethernet interface will description below %%</p>
<p>TBI RGMII SGMII Functional %%</p>
<p>1 0 0 - TBI ( GMII) &lt;&ndash;&gt; PCS 1000BaseX &lt;&ndash;&gt; SMAC &lt;&mdash;&gt; USER speed 1000Mbps - rxclk (125Mhz), gtxclk (125Mhz) %%</p>
<p>1 0 1 - TBI ( GMII) &lt;&ndash;&gt; PCS SGMII &lt;&ndash;&gt; SMAC &lt;&mdash;&gt; USER speed 10/100/1000Mbps - rxclk (125Mhz), gtxclk (125Mhz) %%</p>
<p>1 1 0 - TBI (RGMII) &lt;&ndash;&gt; PCS 1000BaseX &lt;&ndash;&gt; SMAC &lt;&mdash;&gt; USER speed 1000Mbps - rxclk (125Mhz), gtxclk (125Mhz) %%</p>
<p>1 1 1 - TBI (RGMII) &lt;&ndash;&gt; PCS SGMII &lt;&ndash;&gt; SMAC &lt;&mdash;&gt; USER speed 10/100/1000Mbps - rxclk (125Mhz), gtxclk (125Mhz) %%</p>
<p>0 0 X - GMII/MII &lt;------------------&gt; SMAC &lt;&mdash;&gt; USER speed 10/100/1000Mbps - rxclk (2.5/25/125Mhz), gtxclk (2.5/25/125Mhz) %%</p>
<p>0 1 X - RGMII &lt;------------------&gt; SMAC &lt;&mdash;&gt; USER speed 10/100/1000Mbps - rxclk (2.5/25/125Mhz), gtxclk (2.5/25/125Mhz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_Interface_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtripglbstargmii</code></td>
<td>RGMII interface Status 0x1: RGMII Active 0x0: GMII/MII Active</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>ipethtripglbstasgmii</code></td>
<td>SGMII interface status 0x1: PCS-SGMII 0x0: PCS-1000Base-X</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>ipethtripglbstatbi</code></td>
<td>TBI interface status 0x1:  TBI interface Acitve (include PCS 1000Base-X or SGMII) 0x0:  None PCS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:8]</code></td>
<td><code>ipethtripglbstaspeed</code></td>
<td>Speed operation status 0x0: 10Mbps 0x1: 100Mbps 0x2: 1000Mbps 0x3: Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtripglbcfgrgmii</code></td>
<td>RGMII interface Active 0x1: RGMII Active 0x0: GMII Active</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripglbcfgsgmii</code></td>
<td>SGMII interface Active 0x1: PCS-SGMII 0x0: PCS-1000Base-X</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripglbcfgtbi</code></td>
<td>TBI interface 0x1:  TBI interface Acitve (include PCS 1000Base-X or SGMII) 0x0:  None PCS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>ipethtripglbcfgspeed</code></td>
<td>Speed MAC operation 0x0: 10Mbps 0x1: 100Mbps 0x2: 1000Mbps 0x3: Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-global-user-request-status">IP Ethernet Triple Speed Global User Request Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is User status, Used to HW debug</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Global_User_Request_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:6]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripglbstausrrxvl</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripglbstausrtxvl</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripglbstapaugen</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripglbstausrtxenb</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-control">IP Ethernet Triple Speed PCS Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x20</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsreset</code></td>
<td>1: Core Reset request 0: Normal Operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtrippcsloopback</code></td>
<td>1: Enable Line Loop in (LVDS) 0: No loop</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>ipethtrippcsspeedlsb</code></td>
<td>Speed Selection (LSB)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>ipethtrippcsanen</code></td>
<td>1: Enable Auto-Negotiation process 0: Disable Auto-Negotiation process</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>ipethtrippcspowerdown</code></td>
<td>1: Power down, Force Lost of Signal 0: Normal Operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ipethtrippcsisolate</code></td>
<td>1: Electrically Isolate PCS from GMII 0: Normal Operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ipethtrippcsrestartan</code></td>
<td>1: Restart Auto-Negotiation Process 0: Normal Operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ipethtrippcsfullduplex</code></td>
<td>1: Full-Duplex Mode 0: Haft-duplex Mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>ipethtrippcscollisiontest</code></td>
<td>1: Enable Collision test 0: Disable Collision test</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtrippcsspeedmsb</code></td>
<td IpEthTripPcsSpeedLsb_0_="IpEthTripPcsSpeedLsb[0]" IpEthTripPcsSpeedMsb_0_="IpEthTripPcsSpeedMsb[0],">Speed Selection (MSB) Case:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-status">IP Ethernet Triple Speed PCS Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x21</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtrippcsstaautonegcomplete</code></td>
<td>1: Auto-Negotiation process completed 0: Auto-Negotiation process not completed</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtrippcsstaremotefault</code></td>
<td>1: Remote fault condition detected 0: No remote fault condition detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtrippcsstalinkstatus</code></td>
<td>1: Link is up 0: Link is down</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-phy-identifier-0">IP Ethernet Triple Speed PCS PHY Identifier 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PHY Identifier 0</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_PHY_Identifier_0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x22</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>value</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-phy-identifier-1">IP Ethernet Triple Speed PCS PHY Identifier 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PHY Identifier 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_PHY_Identifier_1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>ipethtrippcsvendor21_7</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-advertisement">IP Ethernet Triple Speed PCS Advertisement</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Auto-Negotiation Advertisement</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Advertisement</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x24</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsanadvnextpage</code></td>
<td>1 : Next Page functionality is supported 0 : Next Page functionality is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>ipethtrippcsanadvremotefault</code></td>
<td>Remote Fault, self clearing to 0x0 after auto-negotiation 0 : No Error 1 : Offline 2 : Link Failure 3 : Auto-Negotiation Error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:7]</code></td>
<td><code>ipethtrippcsanadvpause</code></td>
<td>0 : No PAUSE 1 : Symmetric PAUSE 2 : Asymmetric PAUSE towards link partner 3 : Both Symmetric PAUSE and Asymmetric PAUSE supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtrippcsanadvhalfduplex</code></td>
<td>1 : Half Duplex Mode is supported 0 : Half Duplex Mode is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtrippcsanadvfullduplex</code></td>
<td>1 : Full Duplex Mode is supported 0 : Full Duplex Mode is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0001 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-link-partner-ability-base">IP Ethernet Triple Speed PCS Link Partner Ability Base</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Auto-Negotiation Link Partner Ability Base</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Link_Partner_Ability_Base</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x25</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsanlpanextpage</code></td>
<td>1 : Next Page functionality is supported 0 : Next Page functionality is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtrippcsanlpaacknowledge</code></td>
<td>Used by Auto-Negotiation function to indicate reception of a link partners base or next page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:9]</code></td>
<td><code>ipethtrippcsanlparemotefault</code></td>
<td>Remote Fault 0 : No Error 1 : Offline 2 : Link Failure 3 : Auto-Negotiation Error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:7]</code></td>
<td><code>ipethtrippcsanlpapause</code></td>
<td>0 : No PAUSE 1 : Symmetric PAUSE 2 : Asymmetric PAUSE towards link partner 3 : Both Symmetric PAUSE and Asymmetric PAUSE supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtrippcsanlpahalfduplex</code></td>
<td>1 : Half Duplex Mode is supported 0 : Half Duplex Mode is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtrippcsanlpafullduplex</code></td>
<td>1 : Full Duplex Mode is supported 0 : Full Duplex Mode is not supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-an-expansion">IP Ethernet Triple Speed PCS An Expansion</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Auto-Negotiation Expansion Register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_An_Expansion</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x26</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtrippcsanexpnextpageable</code></td>
<td>Next Page Able</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtrippcsanexppagereceived</code></td>
<td>Page Received 1 : A new page has been received 0 : A new page has not been received</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-an-next-page-transmitter">IP Ethernet Triple Speed PCS An Next Page Transmitter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Auto-Negotiation Next Page Transmitter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_An_Next_Page_Transmitter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsannptxnextpage</code></td>
<td>1: Additional Next Page(s) will follow 0: Last page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>ipethtrippcsannptxmessagepage</code></td>
<td>Message Page 1: Message Page 0: Unformatted Page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>ipethtrippcsannptxack</code></td>
<td>Acknowledge 1: Comply with message 0: Cannot comply with message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>ipethtrippcsannptxtoggle</code></td>
<td>Value toggles between subsequent Next Page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>ipethtrippcaannptxmeassge</code></td>
<td>Message Code Field or Unformatted Page, (00000000001 is Null Message Code)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-an-next-page-receiver">IP Ethernet Triple Speed PCS An Next Page Receiver</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Auto-Negotiation Next Page Receiver</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_An_Next_Page_Receiver</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsannprxnextpage</code></td>
<td>1: Additional Next Page(s) will follow 0: Last page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtrippcsannprxack</code></td>
<td>Acknowledge, Used by Auto-Negotiation function to indicate reception of a link partners base or next page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>ipethtrippcsannprxmessagepage</code></td>
<td>Message Page 1: Message Page 0: Unformatted Page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>ipethtrippcsannprxack2</code></td>
<td>Acknowledge2 1: Comply with message 0: Cannot comply with message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>ipethtrippcsannprxtoggle</code></td>
<td>Value toggles between subsequent Next Page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>ipethtrippcaannprxmeassge</code></td>
<td>Message Code Field or Unformatted Page</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-extended-status">IP Ethernet Triple Speed PCS Extended Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Extended Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Extended_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsex1000bxfdupx</code></td>
<td>Support 1000Base_X full duplex 1: Supported 0: No Supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtrippcsex1000bxhdupx</code></td>
<td>Support 1000Base_X halfl duplex 1: Supported 0: No Supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>ipethtrippcsex1000btfdupx</code></td>
<td>Support 1000Base_T full duplex 1: Supported 0: No Supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>ipethtrippcsex1000bthdupx</code></td>
<td>Support 1000Base_T halfl duplex 1: Supported 0: No Supported</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-control">IP Ethernet Triple Speed PCS Option Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Option Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x32</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsctlfifoadjc2</code></td>
<td>Enable rate match FIFO used adjust C2 code word when Auto-Negotiation enable 0 : Disable 1 : Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>ipethtrippcsctlfifodepth</code></td>
<td>Rate match FIFO depth, support support up to SGMII speed 10Mbps jumbo frame 12K bytes 0 : +/- 4 words 1 : +/- 8 words 2 : +/- 16 words 3 : +/- 32 words 4 : +/- 64 words 5 : +/- 128 words 6 : +/- 256 words 7 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>ipethtrippcsctlloopin</code></td>
<td>Diagnostic, loop in enable 1 : Loop back in enable 0 : Normal Operations</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ipethtrippcsctlloopout</code></td>
<td>Diagnostic, loop out enable 1 : Loop back out enable 0 : Normal Operations</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ipethtrippcsctltestdisp</code></td>
<td>Value Disparity Test</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ipethtrippcsctltestfdisp</code></td>
<td>1 : Enable Disparity Test 0 : Normal Operations</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>ipethtrippcsctltxswap</code></td>
<td>Enable Swap output TBI data 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtrippcsctltxpolar</code></td>
<td>Enable Invert output TBI data 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtrippcsctlrxswap</code></td>
<td>Enable Swap input  TBI data 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtrippcsctlrxpolar</code></td>
<td>Enable Invert input TBI data 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtrippcsctlsgmiisel</code></td>
<td>Enable select SGMII mode when IpEthTripPcsCtlModSel assert 1 :  SGMII mode 0 :  1000BASE-X</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtrippcsctlmodsel</code></td>
<td>Mode Interface select 1 :  Enable select sgmii/1000base_x depend on  IpEthTripPcsCtlSgmiiSel bit 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtrippcsintlinken</code></td>
<td>Enable interrupt Link status 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtrippcsintanen</code></td>
<td>Enable interrupt Auto-Negotiation 1 :  Enable 0 :  Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-status">IP Ethernet Triple Speed PCS Option Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Option Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x33</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>ipethtrippcsstafifounderflow</code></td>
<td>Under flow elastic FIFO status 1: Under flow elastic FIFO occurred,  resolve by increase  Rate match FIFO depth at  IpEthTripPcsCtlFifoDepth[2:0] at IP Ethernet Triple Speed PCS Option Control register 0: Under flow elastic FIFO occurred</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtrippcsstafifooverflow</code></td>
<td>Over flow elastic FIFO status 1: Over flow elastic FIFO occurred, resolve by increase  Rate match FIFO depth at  IpEthTripPcsCtlFifoDepth[2:0] at IP Ethernet Triple Speed PCS Option Control register 0: No over flow elastic FIFO occurred</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtrippcsstadisper</code></td>
<td>Disparity violation 1: Disparity violation 0: Disparity no violation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtrippcsstacodeer</code></td>
<td>Code word invalid detection 1: Detect an code word invalid 0: No Code word invalid detection</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtrippcsstalinkfail</code></td>
<td>Link fail status 1: Link down 0: Link up</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtrippcsstaancomplete</code></td>
<td>Auto-Negotiation status 1: Auto-Neg complete 0: Auto-Neg Fail</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtrippcsintlinkreq</code></td>
<td>Link interrupt request 1: Interrupt request 0: No Interrupt request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtrippcsintanreq</code></td>
<td>Auto-Negotiation interrupt request 1: Interrupt request 0: No Interrupt request</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-fsm-status-0">IP Ethernet Triple Speed PCS Option FSM Status 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS FSM Current Status 0, used to HW debug</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_FSM_Status_0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x34</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[9:8]</code></td>
<td><code>ipethtrippcscurxmit</code></td>
<td>Xmit current status (define at 802.3 section 3) 0x0 : XMIT_IDL 0x1 : XMIT_CFG 0x2 : XMIT_DAT</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>ipethtrippcscuranfsm</code></td>
<td>Auto-Negotiation Current FSM 0x0 : AN_ENABLE 0x1 : AN_RESTART 0x2 : AN_DIS_LINK_OK 0x3 : ABILITY_DET 0x4 : ACK_DET 0x5 : NEXT_PAGE_WAIT 0x6 : COMPLETE_ACK 0x7 : DLE_DET 0x8 : LINK_OK</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>ipethtrippcscursyncfsm</code></td>
<td>Synchronization current FSM 0x0 : LOSYNC 0x1 : COM_DET1 0x2 : ACQ_SYNC1 0x3 : COM_DET2 0x4 : ACQ_SYNC2 0x5 : ACQ_SYNC2 0x6 : SYNC_ACQ1 0x7 : SYNC_ACQ2 0x8 : SYNC_ACQ3 0x9 : SYNC_ACQ4 0xa : SYNC_ACQ2A 0xb : SYNC_ACQ3A 0xc : SYNC_ACQ3A</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-fsm-status-1">IP Ethernet Triple Speed PCS Option FSM Status 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS FSM Current Status 1, only used to HW debug</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_FSM_Status_1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x35</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[9:5]</code></td>
<td><code>ipethtrippcscurrxfsm</code></td>
<td>Receiver Engine current FSM 0x00 :  LINK_FAIL 0x01 :  WAIT_FOR_K 0x02 :  RX_K 0x03 :  RX_CB 0x04 :  RX_CC 0x05 :  RX_CD 0x06 :  IDLE 0x07 :  CARRIER_DET 0x08 :  FALSE_CARR 0x09 :  RX_INVALID 0x0A :  START_OF_PACKET 0x0B :  RECEIVE 0x0C :  EARLY_END 0x0D :  TRI_RRI 0x0E :  TRR_EXTEND 0x0F :  RX_DATA_ERR 0x10 :   RX_DATA 0x11 :   EARLY_END_EXT 0x12 :   EPD2_CHECK_END 0x13 :   EXTEND_ERR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:0]</code></td>
<td><code>ipethtrippcscurtxfsm</code></td>
<td>Transmitter Engine current FSM 0x00 :   CFG_C1A 0x01 :   CFG_C1B 0x02 :   CFG_C1C 0x03 :   CFG_C1D 0x04 :   CFG_C2A 0x05 :   CFG_C2B 0x06 :   CFG_C2C 0x07 :   CFG_C2D 0x08 :   IDLE_DISP 0x09 :   IDLE_I1B 0x0A :  IDLE_I2B 0x0B :  START_ERROR 0x0C :  TX_DATA_ERROR 0x0D :  START_OF_PACKET 0x0E :  TX_DATA 0x0F :   EOP_NOEXT 0x10 :   EOP_EXT 0x11 :   EPD2_NOEXT 0x12 :   EPD3 0x13 :   EXTEND_BY_1 0x14 :   CARR_EXT</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-link-timer">IP Ethernet Triple Speed PCS Option Link Timer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Link Timer, unit = 65535 ns ~ 65us</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_Link_Timer</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x38</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>ipethtrippcscfglinktimersgmii</code></td>
<td>Auto-Negotiation cycle by the Link timer with SGMII standard. Default (0x19h * 65us ~ 1.6ms)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>ipethtrippcscfglinktimerbasex</code></td>
<td>Auto-Negotiation cycle by the Link timer with 1000 BASE-XI standard, Default  (0x99h * 65us ~ 10ms)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-sync-timer">IP Ethernet Triple Speed PCS Option Sync Timer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PCS Sync Timer, unit = 65535 ns ~ 65us</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_Sync_Timer</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x39</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16]</code></td>
<td><code>ipethtrippcscfgsyncdis</code></td>
<td>Disable monitor sync</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>ipethtrippcscfgsynctimer</code></td>
<td>standard. Default (0x7Fh * 65us ~ 8.25ms)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-prbs-test-control">IP Ethernet Triple Speed PCS Option PRBS Test Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PRBS test status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_PRBS_Test_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcsctltestprbsen</code></td>
<td>Enable PRBS test 1 : Enable 0 : Normal Operations</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ipethtrippcsctltestalignen</code></td>
<td>Enable PRBS monitor request align to SERDES 1 : Enable 0 : Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:4]</code></td>
<td><code>ipethtrippcstestfixdat</code></td>
<td>Fix Data generation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>ipethtrippcstestmode</code></td>
<td>Test mode [0]: Set 1 PRBS15 Test, else Fix Pattern Test [3:2]: Force Error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-pcs-option-prbs-test-status">IP Ethernet Triple Speed PCS Option PRBS Test Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is PRBS test status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_PCS_Option_PRBS_Test_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>ipethtrippcstestrxalign</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:4]</code></td>
<td><code>ipethtrippcstestcurrrxdata</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtrippcstestcurrprbs15er</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtrippcstestcurrfixdater</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtrippcstestlatchprbs15er</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtrippcstestlatchfixdater</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-active-control">IP Ethernet Triple Speed Simple MAC Active Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Active Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Active_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripsmacloopout</code></td>
<td>Loop out Enable (TX ? RX) 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripsmactxactive</code></td>
<td>Active transmitter side 1: Active 0: No Active</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripsmacloopin</code></td>
<td>Loop In Enable (TX ? RX) 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripsmacrxactive</code></td>
<td>Active receiver side 1: Active 0: No Active</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-receiver-control">IP Ethernet Triple Speed Simple MAC Receiver Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Simple MAC Receiver Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Receiver_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:12]</code></td>
<td><code>ipethtripsmacrxmask</code></td>
<td>Mask Error forward to user [3]: Ipg_Error: set 1 to Enable, else is disable [2]: Rx_Error: set 1 to Enable, else is disable [1]: Prm_Error: set 1 to Enable, else is disable [0]: Fcs_Error: set 1 to Enable, else is disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>ipethtripsmacrxipg</code></td>
<td>Number of Inter packet Gap can detected for Receiver sides</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>ipethtripsmacrxprm</code></td>
<td>Number of preamble bytes that receiver side can be received, this is maximum preamble bytes need to detect and one SFD byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtripsamcrxpausachk</code></td>
<td>Enable Pause  frame terminate SA check 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripsamcrxpaudachk</code></td>
<td>Enable Pause  frame terminate DA check 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripsmacrxpaudichk</code></td>
<td>Disable Pause frame termination 1: Disable 0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripsmacrxfcspass</code></td>
<td>Enable pass 4 byte FCS 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-transmitter-control">IP Ethernet Triple Speed Simple MAC Transmitter Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Simple MAC Transmitter Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Transmitter_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42 0x43</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[12:8]</code></td>
<td><code>ipethtripsmactxipg</code></td>
<td>Number of Inter packet Gap generated for Transmitter sides. Value range of parameter is from 4 to 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>ipethtripsmactxprm</code></td>
<td>Number of preamble bytes (not include SFD byte) that Transmitter generator.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtripsmactxer</code></td>
<td>Force TX_ER</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripsamctxpaddis</code></td>
<td>Enable PAD insertion 1: Disable 0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripsmactxpaudis</code></td>
<td>Enable Pause  frame generator 1: Disable 0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripsmactxfcsins</code></td>
<td>Enable FCS Insertion 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-data-inter-frame">IP Ethernet Triple Speed Simple MAC Data Inter Frame</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Simple MAC Data Inter Frame Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Data_Inter_Frame</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x45</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>ipethtripsmacidlerxdata</code></td>
<td>Data Inter Frame Receive from PHY or PCS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>ipethtripsmacidletxdata</code></td>
<td>Data Inter Frame Transmit to PHY or PCS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-flow-control-time-interval">IP Ethernet Triple Speed Simple MAC flow Control Time Interval</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Simple MAC the Time Interval, it used for engine flow control.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_flow_Control_Time_Interval</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x46</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>ipethtripsmactimeinterval</code></td>
<td>In an time interval, a pause frame with quanta value that is configured bel0, will be transmitted if received packet FIFO is full, unit value is 512 bits time or 64 bytes time</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-flow-control-quanta">IP Ethernet Triple Speed Simple MAC flow Control Quanta</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Simple MAC the Quanta, it used for engine flow control.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_flow_Control_Quanta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x47</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>ipethtripsmacquanta</code></td>
<td>Quanta value of pause ON frame, unit is 512 bits time or 64 bytes time</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-interrupt-status">IP Ethernet Triple Speed Simple MAC Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is Interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Interrupt_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x48</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripsmacviolinfo</code></td>
<td>Information violation between SMAC and USER at TxSide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripsmaclostsop</code></td>
<td>Lost SOP detection</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripsmaclosteop</code></td>
<td>Lost EOP detection or TX FIFO empty when packet transmitting</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ip-ethernet-triple-speed-simple-mac-latch-status">IP Ethernet Triple Speed Simple MAC Latch Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is latch status, Used to HW debug</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>IP_Ethernet_Triple_Speed_Simple_MAC_Latch_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x49</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ipethtripsmaclatpaugen</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ipethtripsmaclatusrrxvl</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ipethtripsmaclatusrtxvl</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>ipethtripsmaclatsmactxrder</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>ipethtripsmaclatsmactxreq</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ipethtripsmaclatsmactxvl</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ipethtripsmaclatsmacrxer</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ipethtripsmaclatsmacrxdv</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ipethtripsmaclatsmactxer</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ipethtripsmaclatsmactxen</code></td>
<td>0x0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-fcs-force-error-control">ETH FCS Force Error Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_FCS_errins_en_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[30:29]</code></td>
<td><code>ethfcserrmode</code></td>
<td>0: FCS (MAC); 1:Tx interface MAC2PCS; 2: Rx interface PCS2MAC</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>ethfcserrrate</code></td>
<td>0: One-shot with number of errors; 1:Line rate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>ethfcserrthr</code></td>
<td>Error Threshold in bit unit or the number of error in one-shot mode. Valid value from 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>