<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-11</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_top">AF6CNC0011_RD_TOP</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Device Product ID</code></td>
<td><code>0xF0_0000</code></td>
</tr>
<tr>
<td><code>Device Year Month Day Version ID</code></td>
<td><code>0xF0_0001</code></td>
</tr>
<tr>
<td><code>Device Internal ID</code></td>
<td><code>0xF0_0003</code></td>
</tr>
<tr>
<td><code>general purpose inputs for TX Uart</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>Flow Control Mechanism for Ethernet pass-through Diagnostic Value</code></td>
<td><code>0x41</code></td>
</tr>
<tr>
<td><code>o_control2</code></td>
<td><code>0x42</code></td>
</tr>
<tr>
<td><code>Diagnostic Enable Control</code></td>
<td><code>0x43</code></td>
</tr>
<tr>
<td><code>Serdes Turning Bus Select for XFI</code></td>
<td><code>0x44</code></td>
</tr>
<tr>
<td><code>Configure Clock monitor output</code></td>
<td><code>0x49</code></td>
</tr>
<tr>
<td><code>general purpose outputs from RX Uart</code></td>
<td><code>0x60</code></td>
</tr>
<tr>
<td><code>unused</code></td>
<td><code>0x61</code></td>
</tr>
<tr>
<td><code>Top Status</code></td>
<td><code>0x62</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky</code></td>
<td><code>0x50</code></td>
</tr>
<tr>
<td><code>Clock Monitoring Status</code></td>
<td><code>0x46000 - 0x4601F</code></td>
</tr>
<tr>
<td><code>Clock Monitoring Status</code></td>
<td><code>0x47000 - 0x4701f</code></td>
</tr>
</tbody>
</table>
<h3 id="device-product-id">Device Product ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Product ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ProductID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>productid</code></td>
<td>ProductId</td>
<td><code>RO</code></td>
<td><code>0x60290011</code></td>
<td><code>0x60290011 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-year-month-day-version-id">Device Year Month Day Version ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Year Month Day and main version ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>YYMMDD_VerID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>year</code></td>
<td>Year</td>
<td><code>RO</code></td>
<td><code>0x16</code></td>
<td><code>0x16</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>Month</td>
<td><code>RO</code></td>
<td><code>0x09</code></td>
<td><code>0x09</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>day</code></td>
<td>Day</td>
<td><code>RO</code></td>
<td><code>0x17</code></td>
<td><code>0x17</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>version</code></td>
<td>Version</td>
<td><code>RO</code></td>
<td><code>0x01</code></td>
<td><code>0x01 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-internal-id">Device Internal ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates internal ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>InternalID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>internalid</code></td>
<td>InternalID</td>
<td><code>RO</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="general-purpose-inputs-for-tx-uart">general purpose inputs for TX Uart</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Global Serdes Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>tx_trig_send</code></td>
<td>Uart TX trig start send out byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>tx_data_out</code></td>
<td>Uart TX 8-bit data out</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="flow-control-mechanism-for-ethernet-pass-through-diagnostic-value">Flow Control Mechanism for Ethernet pass-through Diagnostic Value</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for Flow Control Mechanism for Ethernet pass-through Diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="o_control2">o_control2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration Error register for Flow Control Mechanism for Ethernet pass-through Diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="diagnostic-enable-control">Diagnostic Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the MIG (DDR/QDR) Diagnostic Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x43</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x43</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>sgmii_sp_diagen</code></td>
<td>Enable Daignostic for SGMII_SP 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>sgmii_dcc_diagen</code></td>
<td>Enable Daignostic for SGMII_DCC 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>sgmii_dim_diagen</code></td>
<td>Enable Daignostic for SGMII_DIM 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>basex2500_diagen</code></td>
<td>Enable Daignostic for Basex2500 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>stby_xfi_diagen</code></td>
<td>Enable Daignostic for ACT_STBY 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>act_xfi_diagen</code></td>
<td>Enable Daignostic for ACT_XFI 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr3_diagen</code></td>
<td>Enable Daignostic for DDR#2 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr2_diagen</code></td>
<td>Enable Daignostic for DDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddr1_diagen</code></td>
<td>Enable Daignostic for DDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-turning-bus-select-for-xfi">Serdes Turning Bus Select for XFI</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Global Serdes Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag port 1 to 8</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x44</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x44</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>xfi1_drp_en</code></td>
<td>Select cpu control for serdes DRP or Global control of XFI_STBY 0: Global control 1: DRP access</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>xfi0_drp_en</code></td>
<td>Select CPU control for serdes DRP or Global control of XFI_ACT 0: Global control 1: DRP access</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-clock-monitor-output">Configure Clock monitor output</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control9</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x49</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x49</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>cfgrefpid</code></td>
<td>Configure Source Clock monitor output for clock_mon 0x0 : pcie_refclk_div2 0x1 : System PLL 155.52Mhz output 0x2 : refin_prc 0x3 : ext_ref_timing 0x4 : xfi_156p25_refclk#0_div2 0x5 : xfi_156p25_refclk#1_div2 0x6 : spare_serdes_refclk_div2 0x7 : basex2500_ref_div2 0x8 : ddr3_refclk#1 0x9 : ddr3_refclk#2 0xa : ddr3_refclk#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="general-purpose-outputs-from-rx-uart">general purpose outputs from RX Uart</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is value output from RX Uart</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>c_uart</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x60</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x60</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>i_status0</code></td>
<td>Uart RX 8-bit data in</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="unused">unused</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>unused</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x61</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x61</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-status">Top Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>status_top</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x62</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x62</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>ot_out</code></td>
<td>Current Status  Over-Temperature alarm .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>vbram_alarm_out</code></td>
<td>Current Status  VCCBRAM-sensor alarm .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>vccaux_alarm_out</code></td>
<td>Current Status  VCCAUX-sensor alarm .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>vccint_alarm_out</code></td>
<td>Current Status  VCCINT-sensor alarm .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>user_temp_alarm_out</code></td>
<td>Current Status  Temperature-sensor alarm .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>alarm_out</code></td>
<td>Current Status  SysMon Error .</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>systempll</code></td>
<td>Current Status System PLL not locked. 0: Locked 1: Unlocked</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ddr33urst</code></td>
<td>Current Status DDR#3 user Reset. 0: OutReseset 1: InReset</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ddr32urst</code></td>
<td>Current Status DDR#2 user Reset. 0: OutReseset 1: InReset</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ddr31urst</code></td>
<td>Current Status DDR#1 user Reset. 0: OutReseset 1: InReset</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr33calib</code></td>
<td>Current Status DDR#3 Calib . 0: Calib PASS 1: Calib FAIL</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr32calib</code></td>
<td>Current Status DDR#2 Calib . 0: Calib PASS 1: Calib FAIL</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddr31calib</code></td>
<td>Current Status DDR#1 Calib . 0: Calib PASS 1: Calib FAIL</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky">Top Interface Alarm Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>ot_out</code></td>
<td>Set 1 When Over-Temperature alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>vbram_alarm_out</code></td>
<td>Set 1 When VCCBRAM-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>vccaux_alarm_out</code></td>
<td>Set 1 When VCCAUX-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>vccint_alarm_out</code></td>
<td>Set 1 When VCCINT-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>user_temp_alarm_out</code></td>
<td>Set 1 When Temperature-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>alarm_out</code></td>
<td>Set 1 When SysMon Error Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>systempll</code></td>
<td>Set 1 while PLL Locked state change event happens when System PLL not locked.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ddr33urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#3 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ddr32urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#2 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ddr31urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#1 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr33calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#3 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr32calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#2 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddr31calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#1 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="clock-monitoring-status">Clock Monitoring Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x0e : System clk            (155.52 Mhz)</p>
<p>0x0d : prc_ref clock        (155.52 Mhz)</p>
<p>0x0c : ext_ref clock        (155.52 Mhz)</p>
<p>0x0b : spgmii_user_clk      (125 Mhz)</p>
<p>0x0a : dccgmii_user_clk     (125 Mhz)</p>
<p>0x09 : dimgmii_user_clk     (125 Mhz)</p>
<p>0x08 : basex2500_user_clk    (312.5 Mhz)</p>
<p>0x07 : 10g_stby_rxclk        (156.25 Mhz)</p>
<p>0x06 : 10g_act_rxclk         (156.25 Mhz)</p>
<p>0x05 : 10g_stby_txclk        (156.25 Mhz)</p>
<p>0x04 : 10g_act_txclk         (156.25 Mhz)</p>
<p>0x03 : DDR3#3 user clock    (200 Mhz)</p>
<p>0x02 : DDR3#2 user clock    (200 Mhz)</p>
<p>0x01 : DDR3#1 user clock    (200 Mhz)</p>
<p>0x00 : pcie_upclk clock     (62.5 Mhz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>clock_mon_high</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x46000 - 0x4601F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x46000 + port_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$port_id(0-31</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="clock-monitoring-status_1">Clock Monitoring Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x1f : unused (0 Mhz)</p>
<p>0x1e : unused (0 Mhz)</p>
<p>0x1d : unused (0 Mhz)</p>
<p>0x1c : pm_tick              (1 Hz) for get value frequency SW must use : F = 155520000/register value</p>
<p>0x1b : unused (0 Mhz)</p>
<p>0x1a : unused (0 Mhz)</p>
<p>0x19 : unused (0 Mhz)</p>
<p>0x18 : unused (0 Mhz)</p>
<p>0x17 : unused (0 Mhz)</p>
<p>0x16 : unused (0 Mhz)</p>
<p>0x15 : unused (0 Mhz)</p>
<p>0x14 : unused (0 Mhz)</p>
<p>0x13 : unused (0 Mhz)</p>
<p>0x12 : unused (0 Mhz)</p>
<p>0x11 : unused (0 Mhz)</p>
<p>0x10 : unused (0 Mhz)</p>
<p>0x0f : unused (0 Mhz)</p>
<p>0x0e : unused (0 Mhz)</p>
<p>0x0d : unused (0 Mhz)</p>
<p>0x0c : fsm_pcp_2        (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x0b : fsm_pcp_1        (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x0a : fsm_pcp_0        (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x09 : spare_gpio_7        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x08 : spare_gpio_6        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x07 : spare_gpio_5        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x06 : spare_gpio_4        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x05 : spare_gpio_3        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x04 : spare_gpio_2        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x03 : spare_gpio_1        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x02 : spare_gpio_0        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x01 : spare_clk_1         (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x00 : spare_clk_0         (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>clock_mon_slow</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x47000 - 0x4701f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x47000 + port_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$port_id(0-31</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>