<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_pla">AF6CNC0011_RD_PLA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Thalassa PDHPW Payload Assemble Signaling Convert 1 to 4 Status</code></td>
<td><code>0x00008000-0x0000AF77</code></td>
</tr>
<tr>
<td><code>Thalassa PDHPW Adding Protocol To Prevent Burst</code></td>
<td><code>0x00000003</code></td>
</tr>
<tr>
<td><code>Thalassa PDHPW Payload Assemble Payload Size Control</code></td>
<td><code>0x00002000-0x0000229F</code></td>
</tr>
<tr>
<td><code>Thalassa PDHPW Payload Assemble uP Address Convert Control</code></td>
<td><code>0x00000000</code></td>
</tr>
<tr>
<td><code>Thalassa PDHPW Payload Assemble Engine Status</code></td>
<td><code>0x00028000-0x0002829F #The address format for these registers is 0x0028000 + $PWID</code></td>
</tr>
</tbody>
</table>
<h3 id="thalassa-pdhpw-payload-assemble-signaling-convert-1-to-4-status">Thalassa PDHPW Payload Assemble Signaling Convert 1 to 4 Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to convert</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sig_conv_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00008000-0x0000AF77</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00008000  + 1024*$stsid + 128*$vtg + 32*$vtn + $ds0id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-3)</code></p>
</li>
<li>
<p><code>$vtg(0-6)</code></p>
</li>
<li>
<p><code>$vtn(0-3)</code></p>
</li>
<li>
<p><code>$ds0id(0-31)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2:0]</code></td>
<td><code>pdhpwplaasmsigconv1to4sta</code></td>
<td>convert 1 to 4 signaling bits of timeslots of DS1 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="thalassa-pdhpw-adding-protocol-to-prevent-burst">Thalassa PDHPW Adding Protocol To Prevent Burst</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is to add a pseudo-wire that does not cause bottle-neck at transmit PW cause ACR performance bad at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>add_pro_2_prevent_burst</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[13:4]</code></td>
<td><code>addpwid</code></td>
<td>PWID to be added</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>addpwstate</code></td>
<td>State machine to add a PDH PW Step1: Write pseudo-wire ID to be added to AddPwId and set AddPwState to 0x1 to prepare add PW Step2: Do all configuration to add a pseudo-wire such as MAP,DEMAP,PLA,PDA,CLA,PSN.... Step3: Write AddPwState value 0x2 to start add PW protocol Step4: Poll AddPwState until return value of AddPwState equal to 0x0 the finish</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="thalassa-pdhpw-payload-assemble-payload-size-control">Thalassa PDHPW Payload Assemble Payload Size Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to configure payload size in each PW channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pyld_size_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00002000-0x0000229F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00002000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[18:15]</code></td>
<td><code>pdhpwplaasmpldtypectrl</code></td>
<td>Payload type in the PW channel 0: SAToP 4: CES with CAS 5: CES without CAS 6: CEP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:0]</code></td>
<td><code>pdhpwplaasmpldsizectrl</code></td>
<td>Payload size in the PW channel SAToP mode: [11:0] payload size in a packet CES mode [5:0] number of DS0 [14:6] number of NxDS0 basic CEP mode: [11:0] payload size in a packetizer fractional CEP mode: [3:0] Because value of payload size may be 3/9, 4/9, 5/9, 6/9, 7/9, 8/9, or 9/9 of VC-3 or VC-4 SPE, depended on fractional VC-3 or fractional VC-4 CEP mode. And a VC-3 or VC-4 //SPE has 9 row. So configured value will be number of rows of a SPE. Example, if value of payload size is 3/9, it means packetizer will assemble payload data of 3 rows of a SPE,  so value of the field //will be 3.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="thalassa-pdhpw-payload-assemble-up-address-convert-control">Thalassa PDHPW Payload Assemble uP Address Convert Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to enable converting mode for uP address as accessing into some RAMs which request to convert identification.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>up_add_conv_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>pdhpwplaasmcpuadrconvenctrl</code></td>
<td>Enable uP address converting 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="thalassa-pdhpw-payload-assemble-engine-status">Thalassa PDHPW Payload Assemble Engine Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These registers are used to save status in the engine.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>txeth_enable_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00028000-0x0002829F #The address format for these registers is 0x0028000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00028000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-672): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>96</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[95:79]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[78]</code></td>
<td><code>pdhpwplaasmaal1ptrsetsta</code></td>
<td>indicate that the pointer is already set in that AAL1 cycle 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[77:76]</code></td>
<td><code>pdhpwplaasmsignumstartsta</code></td>
<td>indicate number of signaling bytes to append into the last payload bytes to become a 4-bytes data valid.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[75:71]</code></td>
<td><code>pdhpwplaasmgensigcntsta</code></td>
<td>indicate number of the remaining signaling bytes which need to be append into PW packet.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[70:65]</code></td>
<td><code>pdhpwplaasmpdunumcntsta</code></td>
<td>indicate the current number of the PDU counter in AAL1 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[64:62]</code></td>
<td><code>pdhpwplaasmpducylcntsta</code></td>
<td>indicate the current number of the cycle PDU counter in AAL1 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[61:58]</code></td>
<td><code>pdhpwplaasmpdubytecntsta</code></td>
<td>indicate the current number of bytes of a PDU in AAL1 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[57:43]</code></td>
<td><code>pdhpwplaasmsatopcesbytecntsta</code></td>
<td>indicate number of bytes in Satop and CES mode With Satop mode number of bytes of the payload in PW packet With CES mode [57:49]  indicate the current number of NxDS0 counter in CES mode [48:43]  indicate the current number of DS0 byte counter in CES mode With basic CEP mode: number of bytes of the payload in PW packet With fractional CEP mode [57:49] indicate the current number of bytes of actual payload in PW packet [48:43] indicate the current row of payload in PW packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[42:40]</code></td>
<td><code>pdhpwplaasmdatanumsta</code></td>
<td>indicate the current number of data bytes in the data buffer</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[39:0]</code></td>
<td><code>pdhpwplaasmdatabufsta</code></td>
<td>as data buffer to save data with the maximum 5 bytes</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>