<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_dcck">AF6CNC0011_RD_DCCK</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Interrupt Status</code></td>
<td><code>0x02001</code></td>
</tr>
<tr>
<td><code>Loopback Enable Configuration</code></td>
<td><code>0x00001</code></td>
</tr>
<tr>
<td><code>Interrupt Enable</code></td>
<td><code>0x00002</code></td>
</tr>
<tr>
<td><code>DDC_Buffer_Linklist_Init</code></td>
<td><code>0x10001</code></td>
</tr>
<tr>
<td><code>DDC_TX_Header_Per_Channel_reg0</code></td>
<td><code>0x11200 - 0x112DC</code></td>
</tr>
<tr>
<td><code>DDC_TX_Header_Per_Channel_Reg1</code></td>
<td><code>0x11201 - 0x112DD</code></td>
</tr>
<tr>
<td><code>DDC_Channel_Enable</code></td>
<td><code>0x11000</code></td>
</tr>
<tr>
<td><code>DDC_RX_Global_ProvisionedHeader_Configuration</code></td>
<td><code>0x12001</code></td>
</tr>
<tr>
<td><code>DDC_RX_MAC_Check_Enable_Configuration</code></td>
<td><code>0x12002</code></td>
</tr>
<tr>
<td><code>DDC_RX_CVLAN_Check_Enable_Configuration</code></td>
<td><code>0x12003</code></td>
</tr>
<tr>
<td><code>DDC_RX_Channel_Mapping</code></td>
<td><code>0x12400 - 0x1242F</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Sop_From_SGMII_Port1</code></td>
<td><code>0x12020</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Eop_From_SGMII_Port1</code></td>
<td><code>0x12021</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Err_From_SGMII_Port1</code></td>
<td><code>0x12022</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Byte_From_SGMII_Port1</code></td>
<td><code>0x12023</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Unknow_From_SGMII_Port1</code></td>
<td><code>0x12024</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_Pkt_From_SGMII_Port1_Per_Chan</code></td>
<td><code>0x12200 - 0x12137</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_Byte_From_SGMII_Port1_Per_Chan</code></td>
<td><code>0x12380 - 0x123BF</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_SOP_From_RxOcn_Per_Chan</code></td>
<td><code>0x11400 - 0x11437</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_EOP_From_RxOcn_Per_Chan</code></td>
<td><code>0x11440 - 0x11477</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_ERR_From_RxOcn_Per_Chan</code></td>
<td><code>0x11480 - 0x114B7</code></td>
</tr>
<tr>
<td><code>Counter_Rx_DCC_BYTE_From_RxOcn_Per_Chan</code></td>
<td><code>0x114C0 - 0x114FF</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Sop_From_OCN</code></td>
<td><code>0x11504</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Eop_From_OCN</code></td>
<td><code>0x11505</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Err_From_OCN</code></td>
<td><code>0x11506</code></td>
</tr>
<tr>
<td><code>Counter_Rx_Byte_From_OCN</code></td>
<td><code>0x11507</code></td>
</tr>
<tr>
<td><code>Counter_Tx_DCC_SOP_To_SGMII_Per_Chan</code></td>
<td><code>0x11540 - 0x11577</code></td>
</tr>
<tr>
<td><code>Counter_Tx_DCC_EOP_To_SGMII_Per_Chan</code></td>
<td><code>0x11580 - 0x115B7</code></td>
</tr>
<tr>
<td><code>Counter_Tx_DCC_BYTE_To_SGMII_Per_Chan</code></td>
<td><code>0x115C0 - 0x115F7</code></td>
</tr>
<tr>
<td><code>Counter_Tx_Sop_To_SGMII_Port1</code></td>
<td><code>0x11500</code></td>
</tr>
<tr>
<td><code>Counter_Tx_Eop_To_SGMII_Port1</code></td>
<td><code>0x11501</code></td>
</tr>
<tr>
<td><code>Counter_Tx_Err_To_SGMII_Port1</code></td>
<td><code>0x11502</code></td>
</tr>
<tr>
<td><code>Counter_Tx_Byte_To_SGMII_Port1</code></td>
<td><code>0x11503</code></td>
</tr>
<tr>
<td><code>Counter_DCC_SOP_to_RxOcn_Per_Chan</code></td>
<td><code>0x12240 - 0x1227f</code></td>
</tr>
<tr>
<td><code>Counter_DCC_EOP_to_RxOcn_Per_Chan</code></td>
<td><code>0x12280 - 0x122BF</code></td>
</tr>
<tr>
<td><code>Counter_DCC_ERR_to_RxOcn_Per_Chan</code></td>
<td><code>0x122C0 - 0x122FF</code></td>
</tr>
<tr>
<td><code>Counter_DCC_EPT_to_RxOcn_Per_Chan</code></td>
<td><code>0x12300 - 0x1233F</code></td>
</tr>
<tr>
<td><code>Counter_DCC_BYTE_to_RxOcn_Per_Chan</code></td>
<td><code>0x12340 - 0x1237F</code></td>
</tr>
<tr>
<td><code>Counter_DCC_Drop_to_RxOcn_Per_Chan</code></td>
<td><code>0x123C0 - 0x123FF</code></td>
</tr>
<tr>
<td><code>Counter_Total_Tx_Sop_To_OCN</code></td>
<td><code>0x12025</code></td>
</tr>
<tr>
<td><code>Counter_Total_Tx_Eop_To_OCN</code></td>
<td><code>0x12026</code></td>
</tr>
<tr>
<td><code>Counter_Total_Tx_Err_To_OCN</code></td>
<td><code>0x12027</code></td>
</tr>
<tr>
<td><code>Counter_Total_Tx_Byte_To_OCN</code></td>
<td><code>0x12028</code></td>
</tr>
<tr>
<td><code>Counter_Total_Drop_To_RxOcn_Pkt</code></td>
<td><code>0x12029</code></td>
</tr>
<tr>
<td><code>CONFIG HDLC LO DEC</code></td>
<td><code>0x04000 - 0x04037</code></td>
</tr>
<tr>
<td><code>CONFIG HDLC GLOBAL LO DEC</code></td>
<td><code>0x04404</code></td>
</tr>
<tr>
<td><code>HDLC Encode Master Control</code></td>
<td><code>0x30003</code></td>
</tr>
<tr>
<td><code>HDLC Encode Control Reg 1</code></td>
<td><code>0x38000 - 0x38037</code></td>
</tr>
<tr>
<td><code>HDLC Encode Control Reg 2</code></td>
<td><code>0x39000 - 0x39037</code></td>
</tr>
<tr>
<td><code>Enable Packet Capture</code></td>
<td><code>0x0A000</code></td>
</tr>
<tr>
<td><code>Captured Packet Data</code></td>
<td><code>0x08000 - 0x080FF</code></td>
</tr>
</tbody>
</table>
<h3 id="interrupt-status">Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides interrupt status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_glbint</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>66</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[65:65]</code></td>
<td><code>dcc_hdlc_undsize_len</code></td>
<td>Received HDLC packet&rsquo;s length from OCN undered minimum allowed length (2 bytes)</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[64:64]</code></td>
<td><code>dcc_hdlc_ovrsize_len</code></td>
<td>Received HDLC packet&rsquo;s length from OCN overed maximum allowed length (1536 bytes)</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:63]</code></td>
<td><code>dcc_hdlc_crc_error</code></td>
<td>Received HDLC frame from OCN has FCS error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[62:62]</code></td>
<td><code>dcc_ocn2eth_blk_ept</code></td>
<td>DCC packet buffer for OCN2ETH direction was fulled, some packets will be lost</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[61:61]</code></td>
<td><code>dcc_eth2ocn_blk_ept</code></td>
<td>DCC packet buffer for ETH2OCN direction was fulled, some packets will be lost</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[60:60]</code></td>
<td><code>dcc_sgm_ovrsize_len</code></td>
<td>Received DCC packet&rsquo;s length from SGMII port over maximum allowed length  (1318 bytes)</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[59:12]</code></td>
<td><code>dcc_channel_disable</code></td>
<td>DCC Local Channel Identifier mapping is disable Bit[12] -&gt; Bit[43] indicate channel 0 -&gt; 31.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>dcc_sgm_crc_error</code></td>
<td>Received packet from SGMII port has FCS error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>dcc_cvlid_mismat</code></td>
<td>Received 12b CVLAN ID value of DCC frame different from global provisioned CVID</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>dcc_macda_mismat</code></td>
<td>Received 43b MAC DA value of DCC frame different from global provisioned DA</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="loopback-enable-configuration">Loopback Enable Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides loopback enable configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_loopen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>hdlc_loop_en</code></td>
<td 1>Enable loopback from HDLC Encap to HDLC DEcap of DCC byte.<br></td>
<td><code>RW</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>dsgm_loop_en</code></td>
<td 1>Enable SGMII loopback of DCC Port.<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="interrupt-enable">Interrupt Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides configuration for enabling interrupt</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_intenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>66</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[65:65]</code></td>
<td><code>enb_int_dcc_hdlc_undsize_len</code></td>
<td>Enable Interrupt of &ldquo;Received HDLC packet&rsquo;s length from OCN undered minimum allowed length (2 bytes) &ldquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[64:64]</code></td>
<td><code>enb_int_dcc_hdlc_ovrsize_len</code></td>
<td>Enable Interrupt of &ldquo;Received HDLC packet&rsquo;s length from OCN overed maximum allowed length (1536 bytes)&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:63]</code></td>
<td><code>enb_int_dcc_hdlc_crc_error</code></td>
<td>Enable Interrupt of &ldquo;Received HDLC frame from OCN has FCS error    &ldquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[62:62]</code></td>
<td><code>enb_int_dcc_ocn2eth_blk_ept</code></td>
<td>Enable Interrupt of &ldquo;DCC packet buffer for OCN2ETH direction was fulled, some packets will be lost</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[61:61]</code></td>
<td><code>enb_int_dcc_eth2ocn_blk_ept</code></td>
<td>Enable Interrupt of &ldquo;DCC packet buffer for ETH2OCN direction was fulled, some packets will be lost</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[60:60]</code></td>
<td><code>enb_int_dcc_sgm_ovrsize_len</code></td>
<td>Enable Interrupt of &ldquo;Received DCC packet&rsquo;s length from SGMII port over maximum allowed length (1318 bytes)&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[59:12]</code></td>
<td><code>enb_int_dcc_chan_dis</code></td>
<td 1>Enable Interrupt of DCC Local Channel Identifier mapping per channel Bit[12] -&gt; Bit[43] indicate channel 0 -&gt; 31.<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>enb_int_dcc_sgm_crc_error</code></td>
<td>Enable Interrupt of &ldquo;Received packet from SGMII port has FCS error&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>enb_int_dcc_cvlid_mismat</code></td>
<td 1>Enable Interrupt of &ldquo;Received 12b CVLAN ID value of DCC frame different from global provisioned CVID &ldquo;<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>enb_int_dcc_macda_mismat</code></td>
<td 1>Enable Interrupt of &ldquo;Received 43b MAC DA value of DCC frame different from global provisioned DA&rdquo;<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_buffer_linklist_init">DDC_Buffer_Linklist_Init</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register use to trigger Link-List initialization</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_llst</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[03:03]</code></td>
<td><code>tx_ini_done</code></td>
<td>Indicate TX Link-list initialization successed</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>rx_ini_done</code></td>
<td>Indicate RX Link-list initialization successed</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>tx_ll_init</code></td>
<td>Use to trigger Linklist of DCC TX packet buffer. Write 0 first, then write 1 to trigger</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>rx_ll_init</code></td>
<td>Use to trigger Linklist of DCC RX packet buffer. Write 0 first, then write 1 to trigger</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_tx_header_per_channel_reg0">DDC_TX_Header_Per_Channel_reg0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides data for configuration of 22bytes Header of each channel ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcctxhdr_reg0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11200 - 0x112DC</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11200 + $channelid*4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelid(0-47): Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:16]</code></td>
<td><code>mac_da</code></td>
<td>MAC DA value of Channel ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>mac_sa</code></td>
<td>16b MSB MAC SA value of Channel ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_tx_header_per_channel_reg1">DDC_TX_Header_Per_Channel_Reg1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides data for configuration of 22bytes Header of each channel ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcctxhdr_reg1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11201 - 0x112DD</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11201 + $channelid*4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelid(0-47): Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:32]</code></td>
<td><code>mac_sa</code></td>
<td>48b LSB MAC SA value of Channel ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>vlan</code></td>
<td PCP_DEI_VID="PCP,DEI,VID">16b<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>version</code></td>
<td>8b Type field</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>type</code></td>
<td>8b Version Field</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_channel_enable">DDC_Channel_Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides configuration for enable transmission DDC packet per channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcctx_enacid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>channel_enable</code></td>
<td 1>Enable transmitting of DDC packet per channel. Bit[47:00] represent for channel 47-&gt;00<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_rx_global_provisionedheader_configuration">DDC_RX_Global_ProvisionedHeader_Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides data for configuration of 22bytes Header of each channel ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccrxhdr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12001</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>70</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[69:54]</code></td>
<td><code>eth_typ</code></td>
<td>16b value of Provisioned ETHERTYPE of DCC</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x880B</code></td>
</tr>
<tr>
<td><code>[53:42]</code></td>
<td><code>cvid</code></td>
<td>12b value of Provisioned C-VLAN ID. This value is used to compared with received CVLAN ID value.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[41:00]</code></td>
<td><code>mac_da</code></td>
<td>42b MSB of Provisioned MAC DA value. This value is used to compared with received MAC_DA[47:06] value. If a match is confirmed, MAC_DA[05:00] is used to represent channelID value before mapping.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_rx_mac_check_enable_configuration">DDC_RX_MAC_Check_Enable_Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides configuration that enable base MAC DA check per channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccrxmacenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12002</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>mac_check_enable</code></td>
<td 1>Enable channel checking of received MAC DA compare to globally provisioned Base MAC.On mismatch, frame is discarded.<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_rx_cvlan_check_enable_configuration">DDC_RX_CVLAN_Check_Enable_Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides configuration that enable base CVLAN Check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccrxcvlenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12003</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>cvl_check_enable</code></td>
<td 1>Enable channel checking of received CVLAN ID compare to globally provisioned CVLAN ID.On mismatch, frame is discarded.<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddc_rx_channel_mapping">DDC_RX_Channel_Mapping</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides channel mapping from received MAC DA to internal channelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccdec</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12400 - 0x1242F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12400 + $channelid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelid(0-47): Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[06:06]</code></td>
<td><code>channel_enable</code></td>
<td 0>Enable Local Channel Identifier. Rx packet is discarded if enable is not set<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:00]</code></td>
<td><code>mapping_channelid</code></td>
<td>Local ChannelID that is mapped from received bit[5:0] of MAC DA</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_sop_from_sgmii_port1">Counter_Rx_Sop_From_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of SOP receive from SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmrxsop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12020</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_counter</code></td>
<td>Counter of SOP receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_eop_from_sgmii_port1">Counter_Rx_Eop_From_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of EOP receive from SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmrxeop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12021</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12021</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_counter</code></td>
<td>Counter of EOP receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_err_from_sgmii_port1">Counter_Rx_Err_From_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of ERR receive from SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmrxerr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12022</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12022</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_counter</code></td>
<td>Counter of ERR receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_byte_from_sgmii_port1">Counter_Rx_Byte_From_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of BYTE receive from SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmrxbyt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12023</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12023</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byte_counter</code></td>
<td>Counter of BYTE receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_unknow_from_sgmii_port1">Counter_Rx_Unknow_From_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of Unknow Packet (not DCC packet) receive from SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmrxfail</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12024</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12024</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>unk_counter</code></td>
<td>Counter of unknow receive packet from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_pkt_from_sgmii_port1_per_chan">Counter_Rx_DCC_Pkt_From_SGMII_Port1_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of DCC Packet From SGMII Port Per Channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_sokpkt_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12200 - 0x12137</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12200 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dcc_pkt_cnt</code></td>
<td>Counter of DCC packets receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_byte_from_sgmii_port1_per_chan">Counter_Rx_DCC_Byte_From_SGMII_Port1_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of DCC Bytes From SGMII Port Per Channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_sokbyt_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12380 - 0x123BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12380 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dcc_byte_cnt</code></td>
<td>Counter of DCC Bytes receive from SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_sop_from_rxocn_per_chan">Counter_Rx_DCC_SOP_From_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of SOP of DCC packet receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sop2dcc_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11400 - 0x11437</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11400 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_ocn2sgm_cnt_pcid</code></td>
<td>Counter number of SOP of DCC packets receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_eop_from_rxocn_per_chan">Counter_Rx_DCC_EOP_From_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of EOP of DCC packet receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eop2dcc_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11440 - 0x11477</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11440 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_ocn2sgm_cnt_pcid</code></td>
<td>Counter number of EOP of DCC packets receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_err_from_rxocn_per_chan">Counter_Rx_DCC_ERR_From_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of ERR of DCC packet receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_err2dcc_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11480 - 0x114B7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11480 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_ocn2sgm_cnt_pcid</code></td>
<td>Counter number of ERR of DCC packets receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_dcc_byte_from_rxocn_per_chan">Counter_Rx_DCC_BYTE_From_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of BYTE of DCC packet receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_byt2dcc_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x114C0 - 0x114FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x114C0 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byt_ocn2sgm_cnt_pcid</code></td>
<td>Counter number of BYTE of DCC packets receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_sop_from_ocn">Counter_Rx_Sop_From_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of SOP receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocnrxsop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11504</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11504</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_ocn2sgm_cnt_glb</code></td>
<td>Counter of Total SOP receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_eop_from_ocn">Counter_Rx_Eop_From_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of EOP receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocnrxeop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11505</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11505</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_ocn2sgm_cnt_glb</code></td>
<td>Counter of Total EOP receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_err_from_ocn">Counter_Rx_Err_From_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of ERR receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocnrxerr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11506</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11506</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_ocn2sgm_cnt_glb</code></td>
<td>Counter of Total ERR  receive from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_rx_byte_from_ocn">Counter_Rx_Byte_From_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of BYTE receive from RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocnrxbyt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11507</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11507</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byt_ocn2sgm_cnt_glb</code></td>
<td>Counter of Total RX BYTE from RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_dcc_sop_to_sgmii_per_chan">Counter_Tx_DCC_SOP_To_SGMII_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of SOP of TX DCC packet to SGMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccsop2sgm_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11540 - 0x11577</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11540 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_counter</code></td>
<td>Counter number of SOP of TX DCC packets to SGMII</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_dcc_eop_to_sgmii_per_chan">Counter_Tx_DCC_EOP_To_SGMII_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of EOP of TX DCC packet to SGMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcceop2sgm_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11580 - 0x115B7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11580 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_counter</code></td>
<td>Counter number of EOP of TX DCC packets to SGMII</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_dcc_byte_to_sgmii_per_chan">Counter_Tx_DCC_BYTE_To_SGMII_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of BYTE of TX DCC packet to SGMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dccbyt2sgm_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x115C0 - 0x115F7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x115C0 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byte_counter</code></td>
<td>Counter number of BYTE of TX DCC packets to SGMII</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_sop_to_sgmii_port1">Counter_Tx_Sop_To_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of SOP transmit to SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmtxsop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11500</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11500</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sgm_txglb_sop_counter</code></td>
<td>Counter of SOP transmit to SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_eop_to_sgmii_port1">Counter_Tx_Eop_To_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of EOP transmit to SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmtxeop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11501</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11501</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sgm_txglb_eop_counter</code></td>
<td>Counter of EOP transmit to SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_err_to_sgmii_port1">Counter_Tx_Err_To_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of ERR transmit to SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmtxerr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11502</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11502</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sgm_txglb_err_counter</code></td>
<td>Counter of ERR  transmit to SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_tx_byte_to_sgmii_port1">Counter_Tx_Byte_To_SGMII_Port1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter of number of BYTE transmit to SGMII port 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_sgmtxbyt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11503</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x11503</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sgm_txglb_byte_counter</code></td>
<td>Counter of TX BYTE to SGMII port 1</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_sop_to_rxocn_per_chan">Counter_DCC_SOP_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of SOP of DCC packet transmit to RX-OCN Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sop2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12240 - 0x1227f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12240 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_sgm2ocn_counter</code></td>
<td>Counter number of SOP of DCC packets transmit to RX-OCN    Per ChannelID</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_eop_to_rxocn_per_chan">Counter_DCC_EOP_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of EOP of DCC packet transmit to RX-OCN Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eop2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12280 - 0x122BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12280 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_sgm2ocn_counter</code></td>
<td>Counter number of EOP of DCC packets transmit to RX-OCN Per ChannelID</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_err_to_rxocn_per_chan">Counter_DCC_ERR_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of ERR of DCC packet transmit to RX-OCN Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_err2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x122C0 - 0x122FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x122C0 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_sgm2ocn_counter</code></td>
<td>Counter number of ERR of DCC packets transmit to RX-OCN Per ChannelID</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_ept_to_rxocn_per_chan">Counter_DCC_EPT_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of EPT of DCC packet transmit to RX-OCN Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ept2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12300 - 0x1233F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12300 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>ept_sgm2ocn_counter</code></td>
<td>Counter number of EPT signal respond to request from RX-OCN Per ChannelID. An empty indicate data is not available when OCN request DCC data</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_byte_to_rxocn_per_chan">Counter_DCC_BYTE_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of BYTE of DCC packet transmit to RX-OCN Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_byt2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12340 - 0x1237F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12340 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byt_sgm2ocn_counter</code></td>
<td>Counter number of BYTE of DCC packets transmit to RX-OCN   Per ChannelID</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_dcc_drop_to_rxocn_per_chan">Counter_DCC_Drop_to_RxOcn_Per_Chan</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter number of Drop DCC packet transmit to RX-OCN Due to Buffer Full Per ChannelID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ful2ocn_pcid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x123C0 - 0x123FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x123C0 + $channelID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channelID(0-47): DCC channelID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>drp_sgm2ocn_counter</code></td>
<td>Counter number of Drop DCC packets transmit to RX-OCN due to Buffer Full Per ChannelID</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_total_tx_sop_to_ocn">Counter_Total_Tx_Sop_To_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter Total number of SOP transmit to RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocntxsop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12025</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12025</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>sop_sgm2ocn_cnt_glb</code></td>
<td>Counter of Total SOP transmit to RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_total_tx_eop_to_ocn">Counter_Total_Tx_Eop_To_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter Total number of EOP transmit to RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocntxeop</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12026</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12026</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>eop_sgm2ocn_cnt_glb</code></td>
<td>Counter of Total EOP transmit to RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_total_tx_err_to_ocn">Counter_Total_Tx_Err_To_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter Total number of ERR transmit to RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocntxerr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12027</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12027</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_sgm2ocn_cnt_glb</code></td>
<td>Counter of Total ERR transmit to RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_total_tx_byte_to_ocn">Counter_Total_Tx_Byte_To_OCN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter Total number of BYTE transmit to RX-OCN</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ocntxbyt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12028</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12028</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>byt_sgm2ocn_cnt_glb</code></td>
<td>Counter of Total BYTE transmit to RX-OCN</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter_total_drop_to_rxocn_pkt">Counter_Total_Drop_To_RxOcn_Pkt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter Total number Packet Drop due to buffer full (ETH2OCN Direction)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dcc_glbcnt_ful2ocn</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12029</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x12029</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>drp_pkt_sgm2ocn_cnt_glb</code></td>
<td>Counter of Total Packet Dropped Due to Buffer full (ETH to RX-OCN)</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-hdlc-lo-dec">CONFIG HDLC LO DEC</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config HDLC ID 0-31</p>
<p>HDL_PATH: iaf6cci0012_lodec_core.ihdlc_cfg.imem113x.ram.ram[$CID]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hdlc_locfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04000 - 0x04037</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04000+ $CID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CID (0-47) : Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>5</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[4]</code></td>
<td><code>cfg_scren</code></td>
<td>config to enable scramble, (1) is enable, (0) is disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cfg_bitstuff</code></td>
<td>config to select bit stuff or byte sutff, (1) is bit stuff, (0) is byte stuff</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cfg_fcsmsb</code></td>
<td>config to calculate FCS from MSB or LSB, (1) is MSB, (0) is LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cfg_fcsmode</code></td>
<td>config to calculate FCS 32 or FCS 16, (1) is FCS 32, (0) is FCS 16</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-hdlc-global-lo-dec">CONFIG HDLC GLOBAL LO DEC</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config HDLC global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hdlc_loglbcfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04404</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>cfg_lsbfirst</code></td>
<td>config to receive LSB first, (1) is LSB first, (0) is default MSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><code>End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="hdlc-encode-master-control">HDLC Encode Master Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config HDLC Encode Master</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hdlc_enc_master_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>encap_lsbfirst</code></td>
<td>config to transmit LSB first, (1) is LSB first, (0) is default MSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="hdlc-encode-control-reg-1">HDLC Encode Control Reg 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config HDLC Encode Control Register 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hdlc_enc_ctrl_reg1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x38000 - 0x38037</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x38000+ $CID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CID (0-47) : Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[30:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>encap_screnb</code></td>
<td>Enable Scamble (1) Enable      , (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>reserved</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>encap_idlemod</code></td>
<td>This bit is only used in Bit Stuffing mode Used to configured IDLE Mode When it is active, the ENC engine will insert &lsquo;1&rsquo; pattern when the ENC is idle. Otherwise the ENC will insert FLAG &lsquo;7E&rsquo; pattern (1) Enable            , (0) Disabe</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>encap_sabimod</code></td>
<td>Sabi/Protocol Field Mode (1) Field has 2 bytes , (0) field has 1 byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>encap_sabiins</code></td>
<td>Sabi/Protocol Field Insert Enable (1) Enable Insert     , (0) Disable Insert</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>encap_ctrlins</code></td>
<td>Address/Control Field Insert Enable (1) Enable Insert     , (0) Disable Insert</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>encap_fcsmod</code></td>
<td>FCS Select Mode (1) 32b FCS           , (0) 16b FCS</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>encap_fcsins</code></td>
<td>FCS Insert Enable (1) Enable Insert     , (0) Disable Insert</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>encap_flgmod</code></td>
<td>Flag Mode (1) Minimum 2 Flag    , (0) Minimum 1 Flag</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>encap_stfmod</code></td>
<td>Stuffing Mode (1) Bit Stuffing      , (0) Byte Stuffing</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="hdlc-encode-control-reg-2">HDLC Encode Control Reg 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config HDLC Encode Control Register 2 Byte Stuff Mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hdlc_enc_ctrl_reg2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x39000 - 0x39037</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x39000+ $CID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CID (0-47) : Channel ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>encap_addrval</code></td>
<td>Address Field</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>encap_ctlrval</code></td>
<td>Control Field</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>encap_sapival0</code></td>
<td>SAPI/PROTOCOL Field 1st byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>encap_sapival1</code></td>
<td>SAPI/PROTOCOL Field 2nd byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="enable-packet-capture">Enable Packet Capture</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config enable capture ethernet packet.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_trig_encap</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>3</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[02:02]</code></td>
<td><code>enb_cap_dec</code></td>
<td>Enable capture packets from HDLC Decapsulation. Only one type of packet (DCC/APS/HDLC) is captured at a time Write &lsquo;0&rsquo; first, then write &lsquo;1&rsquo; to trigger capture process (1) Enable            , (0) Disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>enb_cap_aps</code></td>
<td>Enable capture APS packets from SGMII interface. Only one type of packet (DCC/APS/HDLC) is captured at a time Write &lsquo;0&rsquo; first, then write &lsquo;1&rsquo; to trigger capture process (1) Enable            , (0) Disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>enb_cap_dcc</code></td>
<td>Enable capture DCC packets from SGMII interface. Only one type of packet (DCC/APS/HDLC) is captured at a time Write &lsquo;0&rsquo; first, then write &lsquo;1&rsquo; to trigger capture process (1) Enable            , (0) Disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="captured-packet-data">Captured Packet Data</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Captured packet data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pktcap</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08000 - 0x080FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x08000 + $loc</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$loc(0-255) : data location</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>70</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[69:69]</code></td>
<td><code>cap_sop</code></td>
<td>Start of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[68:68]</code></td>
<td><code>cap_eop</code></td>
<td>End   of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[67:67]</code></td>
<td><code>cap_err</code></td>
<td>Error of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[66:64]</code></td>
<td><code>cap_nob</code></td>
<td>Number of valid bytes in 8-bytes data captured</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:00]</code></td>
<td><code>cap_dat</code></td>
<td>packet data captured</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>