<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_glbpmc">AF6CNC0011_RD_GLBPMC</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CPU Reg Hold 0</code></td>
<td><code>0x3_B319</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x0_0000 - 0x0_0BFF(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x0_1000-0x0_1BFF(RO)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x0_8000 - 0x0_8BFF(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x0_9000-0x0_9BFF(RO)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x1_0000 - 0x1_0BFF(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x1_1000-0x1_1BFF(RO)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x1_8000 - 0x1_8BFF(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x1_9000-0x1_9BFF(RO)</code></td>
</tr>
<tr>
<td><code>Pseudowire Byte Counter</code></td>
<td><code>0x6_8000- 0x6_83FF(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Byte Counter</code></td>
<td><code>0x6_8400-0x6_87FF(RO)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0x3_B000 - 0x3_B05F(RC)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0x3_B080 - 0x3_B0DF(RO)</code></td>
</tr>
<tr>
<td><code>POH path sts ERDI Counter1</code></td>
<td><code>0x3_D800-0x3_D85F (RO) 0xB_D800-0xB_D85F (RO)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter1</code></td>
<td><code>0x6_4000 - 0x6_47DF(RO)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter1</code></td>
<td><code>0xE_4000 - 0xE_47DF(RO)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter</code></td>
<td><code>0x5_0000 - 0x5_07DF(RC)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter</code></td>
<td><code>0x5_4000-0x5_47DF(RO)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x3_F000 - 0x3_F05F(RC)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x3_F800-0x3_F85F(RO)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus1</code></td>
<td><code>0x3_0000 - 0x3_07DF(RC)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus1</code></td>
<td><code>0x3_0800-0x3_0FDF(RO)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0x3_8000 - 0x3_805F(RC)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0x3_8800-0x3_885F(RO)</code></td>
</tr>
<tr>
<td><code>PDH ds1 prm0 Counter</code></td>
<td><code>0x4_0000 - 0x4_07DF(RC)</code></td>
</tr>
<tr>
<td><code>PDH ds1 prm0 Counter</code></td>
<td><code>0x4_4000-0x4_47DF(RO)</code></td>
</tr>
<tr>
<td><code>PDH ds1 prm1 Counter</code></td>
<td><code>0x4_8000 - 0x4_87DF(RC)</code></td>
</tr>
<tr>
<td><code>PDH ds1 prm1 Counter</code></td>
<td><code>0x4_C000-0x4_C7DF(RO)</code></td>
</tr>
<tr>
<td><code>CLA Counter00</code></td>
<td><code>0x3_B320(RC)</code></td>
</tr>
<tr>
<td><code>CLA Counter00</code></td>
<td><code>0x3_B321(RO)</code></td>
</tr>
<tr>
<td><code>ETH Counter00</code></td>
<td><code>0x3_B328(RC)</code></td>
</tr>
<tr>
<td><code>ETH Counter00</code></td>
<td><code>0x3_B329(RO)</code></td>
</tr>
<tr>
<td><code>ETH Packet RX Counter</code></td>
<td><code>0x3_B370(RC)</code></td>
</tr>
<tr>
<td><code>ETH Packet RX Counter</code></td>
<td><code>0x3_B371(RO)</code></td>
</tr>
<tr>
<td><code>ETH Byte Counter</code></td>
<td><code>0x3_B372(RC)</code></td>
</tr>
<tr>
<td><code>ETH Byte Counter</code></td>
<td><code>0x3_B373(RO)</code></td>
</tr>
<tr>
<td><code>ETH Counter00</code></td>
<td><code>0x3_B338(RC)</code></td>
</tr>
<tr>
<td><code>ETH Counter00</code></td>
<td><code>0x3_B339(RO)</code></td>
</tr>
<tr>
<td><code>ETH Packet TX Counter</code></td>
<td><code>0x3_B374(RC)</code></td>
</tr>
<tr>
<td><code>ETH Packet TX Counter</code></td>
<td><code>0x3_B375(RO)</code></td>
</tr>
<tr>
<td><code>ETH Byte TX Counter</code></td>
<td><code>0x3_B376(RC)</code></td>
</tr>
<tr>
<td><code>ETH Byte TX Counter</code></td>
<td><code>0x3_B377(RO)</code></td>
</tr>
<tr>
<td><code>ETH TX Packet OAM CNT</code></td>
<td><code>0x3_B336(RC)</code></td>
</tr>
<tr>
<td><code>ETH TX Packet OAM CNT</code></td>
<td><code>0x3_B337(RO)</code></td>
</tr>
<tr>
<td><code>Classifier Bytes Counter vld</code></td>
<td><code>0x3_B308-0x3_B30B(RC)</code></td>
</tr>
<tr>
<td><code>Classifier Bytes Counter vld</code></td>
<td><code>0x3_B30C-0x3_B30F(RO)</code></td>
</tr>
<tr>
<td><code>Classifier output counter pkt0</code></td>
<td><code>0x3_B348-0x3_B34B(RC)</code></td>
</tr>
<tr>
<td><code>Classifier output counter pkt0</code></td>
<td><code>0x3_B34C-0x3_B34F(RO)</code></td>
</tr>
<tr>
<td><code>Classifier output counter pkt1</code></td>
<td><code>0x3_B350-0x3_B353(RC)</code></td>
</tr>
<tr>
<td><code>Classifier output counter pkt1</code></td>
<td><code>0x3_B354-0x3_B357(RO)</code></td>
</tr>
<tr>
<td><code>Classifier input counter pkt</code></td>
<td><code>0x3_B306(RC)</code></td>
</tr>
<tr>
<td><code>Classifier input counter pkt</code></td>
<td><code>0x3_B307(RO)</code></td>
</tr>
<tr>
<td><code>PDH Mux Ethernet Byte Counter</code></td>
<td><code>0x3_B300(RC)</code></td>
</tr>
<tr>
<td><code>PDH Mux Ethernet Byte Counter</code></td>
<td><code>0x3_B301(RO)</code></td>
</tr>
<tr>
<td><code>PDH Mux Ethernet Packet Counter</code></td>
<td><code>0x3_B340(RC)</code></td>
</tr>
<tr>
<td><code>PDH Mux Ethernet Packet Counter</code></td>
<td><code>0x3_B341(RO)</code></td>
</tr>
<tr>
<td><code>DE1 TDM bit counter</code></td>
<td><code>0x3_B200-0x3_B27F(RC)</code></td>
</tr>
<tr>
<td><code>DE1 TDM bit counter</code></td>
<td><code>0x3_B280-0x3_B2FF(RO)</code></td>
</tr>
<tr>
<td><code>DE3 TDM bit counter</code></td>
<td><code>0x3_B180-0x3_B19F(RC)</code></td>
</tr>
<tr>
<td><code>DE3 TDM bit counter</code></td>
<td><code>0x3_B1A0-0x3_B1BF(RO)</code></td>
</tr>
</tbody>
</table>
<h3 id="cpu-reg-hold-0">CPU Reg Hold 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides hold register from [63:32]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>hold_reg0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B319</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>hold0</code></td>
<td>Hold from  [63:32]bit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_0000 - 0x0_0BFF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_0000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : Unused in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : txpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter_1">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_1000-0x0_1BFF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_1000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : Unused in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : txpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_8000 - 0x0_8BFF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_8000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxlate + offset = 1 : rxpbit + offset = 2 : rxlbit in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0_1">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_9000-0x0_9BFF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_9000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxlate + offset = 1 : rxpbit + offset = 2 : rxlbit in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_0000 - 0x1_0BFF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_0000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxearly + offset = 1 : rxlops + offset = 2 : Unused in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxlost + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1_1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_1000-0x1_1BFF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_1000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxearly + offset = 1 : rxlops + offset = 2 : Unused in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxlost + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_8000 - 0x1_8BFF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_8000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info2</code></td>
<td>in case of rxpwcnt_info2_cnt0 side: + offset = 0 : rxoverrun + offset = 1 : rxunderrun + offset = 2 : rxmalform in case of rxpwcnt_info2_cnt1 side: + offset = 0 : rxoam + offset = 1 : rxduplicate + offset = 2 : rxstray</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2_1">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_9000-0x1_9BFF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_9000 + 1024*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-1023)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info2</code></td>
<td>in case of rxpwcnt_info2_cnt0 side: + offset = 0 : rxoverrun + offset = 1 : rxunderrun + offset = 2 : rxmalform in case of rxpwcnt_info2_cnt1 side: + offset = 0 : rxoam + offset = 1 : rxduplicate + offset = 2 : rxstray</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-byte-counter">Pseudowire Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pwcntbyte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_8000- 0x6_83FF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_8000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-1023)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>pwcntbyte</code></td>
<td>txpwcntbyte (rxpwcntbyte)</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-byte-counter_1">Pseudowire Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pwcntbyte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_8400-0x6_87FF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_8400 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-1023)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>pwcntbyte</code></td>
<td>txpwcntbyte (rxpwcntbyte)</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B000 - 0x3_B05F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B000 + 32*$offset + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b1 + offset = 2 : Unused in case of pmr_err_cnt1 side: + offset = 0 : b2 + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter_1">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B080 - 0x3_B0DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B080 + 32*$offset + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b1 + offset = 2 : Unused in case of pmr_err_cnt1 side: + offset = 0 : b2 + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-sts-erdi-counter1">POH path sts ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_sts_ber_erdi1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_D800-0x3_D85F (RO) 0xB_D800-0xB_D85F (RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_D800 + 32*$offset +  $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : sts_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : sts_bip(B3) + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter1">POH path vt ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_4000 - 0x6_47DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_4000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter1_1">POH path vt ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE_4000 - 0xE_47DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE_4000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter">POH vt pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_0000 - 0x5_07DF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_0000 + 672*$offset +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter_1">POH vt pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_4000-0x5_47DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_4000 + 672*$offset +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_F000 - 0x3_F05F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_F000 + 32*$offset +  $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_sts_cnt0 side: + offset = 0 :  pohtx_sts_dec + offset = 1 :  pohrx_sts_dec + offset = 2 :  Unused in case of poh_sts_cnt1 side: + offset = 0 :  pohtx_sts_inc + offset = 1 :  pohrx_sts_inc + offset = 2 :  Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter_1">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_F800-0x3_F85F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_F800 + 32*$offset +  $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_sts_cnt0 side: + offset = 0 :  pohtx_sts_dec + offset = 1 :  pohrx_sts_dec + offset = 2 :  Unused in case of poh_sts_cnt1 side: + offset = 0 :  pohtx_sts_inc + offset = 1 :  pohrx_sts_inc + offset = 2 :  Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus1">PDH ds1 cntval Counter Bus1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_0000 - 0x3_07DF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_0000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>in case of ds1_cntval_bus1_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus1_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus1_1">PDH ds1 cntval Counter Bus1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_0800-0x3_0FDF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_0800 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>in case of ds1_cntval_bus1_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus1_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_8000 - 0x3_805F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_8000 + 32*$offset + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>in case of ds3_cntval_cnt0 side: + offset = 0 : fe + offset = 1 : pb + offset = 2 : lcv in case of ds3_cntval_cnt1 side: + offset = 0 : rei + offset = 1 : cb + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter_1">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_8800-0x3_885F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_8800 + 32*$offset + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-31)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>in case of ds3_cntval_cnt0 side: + offset = 0 : fe + offset = 1 : pb + offset = 2 : lcv in case of ds3_cntval_cnt1 side: + offset = 0 : rei + offset = 1 : cb + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-prm0-counter">PDH ds1 prm0 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1prm_cnt0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0000 - 0x4_07DF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_prm0_cnt</code></td>
<td>in case of ds1_prm0_cnt0 side: + offset = 0 : SL + offset = 1 : SE + offset = 2 : G5 in case of ds1_prm0_cnt1 side: + offset = 0 : LV + offset = 1 : G6 + offset = 2 : G4</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-prm0-counter_1">PDH ds1 prm0 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1prm_cnt0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_4000-0x4_47DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_4000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_prm0_cnt</code></td>
<td>in case of ds1_prm0_cnt0 side: + offset = 0 : SL + offset = 1 : SE + offset = 2 : G5 in case of ds1_prm0_cnt1 side: + offset = 0 : LV + offset = 1 : G6 + offset = 2 : G4</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-prm1-counter">PDH ds1 prm1 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1prm_cnt1_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_8000 - 0x4_87DF(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_8000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_prm1_cnt</code></td>
<td>in case of ds1_prm1_cnt0 side: + offset = 0 : G3 + offset = 1 : G1 + offset = 2 : unused in case of ds1_prm1_cnt1 side: + offset = 0 : G2 + offset = 1 : unused + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-prm1-counter_1">PDH ds1 prm1 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1prm_cnt1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_C000-0x4_C7DF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_C000 + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_prm1_cnt</code></td>
<td>in case of ds1_prm1_cnt0 side: + offset = 0 : G3 + offset = 1 : G1 + offset = 2 : unused in case of ds1_prm1_cnt1 side: + offset = 0 : G2 + offset = 1 : unused + offset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cla-counter00">CLA Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cla0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B320(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cla_err</code></td>
<td>cla_err</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cla-counter00_1">CLA Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cla0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B321(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cla_err</code></td>
<td>cla_err</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-counter00">ETH Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth00_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B328(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rxpkt</code></td>
<td>rxpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-counter00_1">ETH Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth00_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B329(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rxpkt</code></td>
<td>rxpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-packet-rx-counter">ETH Packet RX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth1_pkt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B370(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntrxpkt</code></td>
<td>ETH rx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-packet-rx-counter_1">ETH Packet RX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth1_pkt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B371(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntrxpkt</code></td>
<td>ETH rx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-byte-counter">ETH Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth1_byte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B372(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntrxbyte</code></td>
<td>ETH rx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-byte-counter_1">ETH Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxeth1_byte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B373(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntrxbyte</code></td>
<td>ETH rx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-counter00_2">ETH Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth00_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B338(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>txpkt</code></td>
<td>txpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-counter00_3">ETH Counter00</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth00_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B339(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>txpkt</code></td>
<td>txpkt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-packet-tx-counter">ETH Packet TX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth1_pkt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B374(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxpkt</code></td>
<td>ETH tx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-packet-tx-counter_1">ETH Packet TX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth1_pkt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B375(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxpkt</code></td>
<td>ETH tx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-byte-tx-counter">ETH Byte TX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth1_byte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B376(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxbyte</code></td>
<td>ETH tx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-byte-tx-counter_1">ETH Byte TX Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txeth1_byte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B377(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxbyte</code></td>
<td>ETH tx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-tx-packet-oam-cnt">ETH TX Packet OAM CNT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cnttxoam_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B336(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxoamt</code></td>
<td>TX Packet OAM CNT</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-tx-packet-oam-cnt_1">ETH TX Packet OAM CNT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cnttxoam_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B337(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnttxoamt</code></td>
<td>TX Packet OAM CNT</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-bytes-counter-vld">Classifier Bytes Counter vld</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_bcnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B308-0x3_B30B(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B308 + $clsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$clsid(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>bytecnt</code></td>
<td>Classifier bytecnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-bytes-counter-vld_1">Classifier Bytes Counter vld</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_bcnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B30C-0x3_B30F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B30C + $clsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$clsid(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>bytecnt</code></td>
<td>Classifier bytecnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-output-counter-pkt0">Classifier output counter pkt0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_opcnt0_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B348-0x3_B34B(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B348 + $offset</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$offset(0-2)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>opktcnt0_opktcnt1_</code></td>
<td>in case of opktcnt0 + offset = 0 : DS1/E1 good pkt counter + offset = 1 : Control pkt good counter + offset = 2 : FCs err cnt in case of opktcnt1 + offset = 0 : DS3/E3/EC1 good pkt counter + offset = 1 : Sequence err  counter + offset = 2 : len pkt err cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-output-counter-pkt0_1">Classifier output counter pkt0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_opcnt0_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B34C-0x3_B34F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B34C + $offset</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$offset(0-2)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>opktcnt0_opktcnt1_</code></td>
<td>in case of opktcnt0 + offset = 0 : DS1/E1 good pkt counter + offset = 1 : Control pkt good counter + offset = 2 : FCs err cnt in case of opktcnt1 + offset = 0 : DS3/E3/EC1 good pkt counter + offset = 1 : Sequence err  counter + offset = 2 : len pkt err cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-output-counter-pkt1">Classifier output counter pkt1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_opcnt1_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B350-0x3_B353(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B350 + $offset</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$offset(0-2)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>opktcnt0_opktcnt1_</code></td>
<td>in case of opktcnt0 + offset = 0 : DA error pkt counter + offset = 1 : E-type err pkt counter + offset = 2 : Unused in case of opktcnt1 + offset = 0 : SA error pkt counter + offset = 1 : Length field err counter + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-output-counter-pkt1_1">Classifier output counter pkt1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_opcnt1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B354-0x3_B357(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B354 + $offset</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$offset(0-2)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>opktcnt0_opktcnt1_</code></td>
<td>in case of opktcnt0 + offset = 0 : DA error pkt counter + offset = 1 : E-type err pkt counter + offset = 2 : Unused in case of opktcnt1 + offset = 0 : SA error pkt counter + offset = 1 : Length field err counter + offset = 2 : Unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-input-counter-pkt">Classifier input counter pkt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_ipcnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B306(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>ipktcnt</code></td>
<td>input packet cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classifier-input-counter-pkt_1">Classifier input counter pkt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cls_ipcnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B307(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>ipktcnt</code></td>
<td>input packet cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-mux-ethernet-byte-counter">PDH Mux Ethernet Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eth_bytecnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B300(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>eth_bytecnt</code></td>
<td>ETH Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-mux-ethernet-byte-counter_1">PDH Mux Ethernet Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eth_bytecnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B301(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>eth_bytecnt</code></td>
<td>ETH Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-mux-ethernet-packet-counter">PDH Mux Ethernet Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eth_bytecnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B340(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>eth_pktcnt</code></td>
<td>ETH Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-mux-ethernet-packet-counter_1">PDH Mux Ethernet Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_eth_bytecnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B341(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>eth_pktcnt</code></td>
<td>ETH Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="de1-tdm-bit-counter">DE1 TDM bit counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1_tdmvld_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B200-0x3_B27F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B200 + $lid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$lid(0-127)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>de1_bit_cnt</code></td>
<td>bit_cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="de1-tdm-bit-counter_1">DE1 TDM bit counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de1_tdmvld_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B280-0x3_B2FF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B280 + $lid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$lid(0-127)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>de1_bit_cnt</code></td>
<td>bit_cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="de3-tdm-bit-counter">DE3 TDM bit counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de3_tdmvld_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B180-0x3_B19F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B180 + $lid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$lid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>de3_bit_cnt</code></td>
<td>bit_cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>
<h3 id="de3-tdm-bit-counter_1">DE3 TDM bit counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_de3_tdmvld_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B1A0-0x3_B1BF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B1A0 + $lid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$lid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>de3_bit_cnt</code></td>
<td>bit_cnt</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>