<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_cls">AF6CNC0011_RD_CLS</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Ethernet DA bit47_32 Configuration</code></td>
<td><code>0x_0000</code></td>
</tr>
<tr>
<td><code>Ethernet DA bit31_00 Configuration</code></td>
<td><code>0x_0001</code></td>
</tr>
<tr>
<td><code>Ethernet SA bit31_00 Configuration</code></td>
<td><code>0x_0002</code></td>
</tr>
<tr>
<td><code>Ethernet Sub_Type Configuration</code></td>
<td><code>0x_0003</code></td>
</tr>
<tr>
<td><code>Classified Ethernet field mask  Configuration</code></td>
<td><code>0x_0004</code></td>
</tr>
<tr>
<td><code>Dump packet  Configuration</code></td>
<td><code>0x_0006</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation EtheType and EtherLength  Configuration</code></td>
<td><code>0x1000 - 0x100F</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-da-bit47_32-configuration">Ethernet DA bit47_32 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the DA bit47_32</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dasa</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>da_bit47_32</code></td>
<td>DA bit47_32</td>
<td><code>R/W</code></td>
<td><code>0xCAFE</code></td>
<td><code>0xCAFE</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>sa_bit47_32</code></td>
<td>SA bit47_32</td>
<td><code>R/W</code></td>
<td><code>0xABCD</code></td>
<td><code>0xABCD End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-da-bit31_00-configuration">Ethernet DA bit31_00 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the DA bit32_00</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_da31</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>da_bit31_00</code></td>
<td>DA bit31_00</td>
<td><code>R/W</code></td>
<td><code>0xCAFE_CAFE</code></td>
<td><code>0xCAFE_CAFE End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-sa-bit31_00-configuration">Ethernet SA bit31_00 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the SA bit31_00</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sa31</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>sa_bit31_00</code></td>
<td>SA bit31_00</td>
<td><code>R/W</code></td>
<td><code>0xABCD_ABCD</code></td>
<td><code>0xABCD_ABCD End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-sub_type-configuration">Ethernet Sub_Type Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure E-type and Sub_Type</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_type</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>sub_type_mask</code></td>
<td>Bit enable to mask a sub-type bit</td>
<td><code>R/W</code></td>
<td><code>0x80</code></td>
<td><code>0x80</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>sub_type_value</code></td>
<td>Ethernet SubType of control packet 0thers  : data frame 0x80-0xFF  : control frames</td>
<td><code>R/W</code></td>
<td><code>0x80</code></td>
<td><code>0x80</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>e_type</code></td>
<td>E_type of pkt</td>
<td><code>R/W</code></td>
<td><code>0xFFFF</code></td>
<td><code>0xFFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classified-ethernet-field-mask-configuration">Classified Ethernet field mask  Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to mask some field of packet. These mask field are checked to discard or forward pkt</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mask</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>e_type_mask</code></td>
<td>mask E_type of packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>sa_mask</code></td>
<td>mask SA of packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>da_mask</code></td>
<td>mask DA of packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dump-packet-configuration">Dump packet  Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to mask some field of packet. These mask field are checked to discard or forward pkt</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_dump</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x_0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:01]</code></td>
<td><code>dump_typ</code></td>
<td>Dump pkt type 00 : dump pkt input 01 : dump pkt data 10 : dump pkt control 11 : dump pkt data &amp; control</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>dump_enb</code></td>
<td>dump pkt enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-ethetype-and-etherlength-configuration">Ethernet Encapsulation EtheType and EtherLength  Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read classified packet counters , support both mode r2c and ro</p>
<p>Counter ID detail :</p>
<ul>
<li>
<p>0     : data    packet counter</p>
</li>
<li>
<p>1     : control packet counter</p>
</li>
<li>
<p>2     : total  discard packet counter</p>
</li>
<li>
<p>3     : da err discard packet counter</p>
</li>
<li>
<p>4     : sa err discard packet counter</p>
</li>
<li>
<p>5     : etype err discard packet counter</p>
</li>
<li>
<p>6     : fcs_err discard packet counter</p>
</li>
<li>
<p>7     : unused</p>
</li>
</ul>
<p>r2c     : enable mean read to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_count</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000 - 0x100F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000 + $r2c*8 + $id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$r2c(0-1) : r2c bit</code></p>
</li>
<li>
<p><code>$id(0-7) : Counter ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>ether_type</code></td>
<td>Counter value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>