<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_poh_ber">AF6CNC0011_RD_POH_BER</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>POH Threshold Global Control</code></td>
<td><code>0x00_0003</code></td>
</tr>
<tr>
<td><code>POH Hi-order Path Over Head Grabber</code></td>
<td><code>0x02_4000</code></td>
</tr>
<tr>
<td><code>POH Lo-order VT/TU3 Over Head Grabber</code></td>
<td><code>0x02_6000</code></td>
</tr>
<tr>
<td><code>POH CPE STS/TU3 Control Register</code></td>
<td><code>0x02_A000</code></td>
</tr>
<tr>
<td><code>POH CPE VT Control Register</code></td>
<td><code>0x02_8000</code></td>
</tr>
<tr>
<td><code>POH CPE STS Status Register</code></td>
<td><code>0x02_C2C0</code></td>
</tr>
<tr>
<td><code>POH CPE VT/TU3 Status Register</code></td>
<td><code>0x02_C000</code></td>
</tr>
<tr>
<td><code>POH CPE J1 STS Expected Message buffer</code></td>
<td><code>0x0B_0000</code></td>
</tr>
<tr>
<td><code>POH CPE J1 STS Current Message buffer</code></td>
<td><code>0x0B_1000</code></td>
</tr>
<tr>
<td><code>POH CPE J2 Expected Message buffer</code></td>
<td><code>0x08_0000</code></td>
</tr>
<tr>
<td><code>POH CPE J2 Current Message buffer</code></td>
<td><code>0x09_0000</code></td>
</tr>
<tr>
<td><code>POH CPE J1 Insert Message buffer</code></td>
<td><code>0x0B_2000</code></td>
</tr>
<tr>
<td><code>POH CPE J2 Insert Message buffer</code></td>
<td><code>0x0A_0000</code></td>
</tr>
<tr>
<td><code>POH Termintate Insert Control STS</code></td>
<td><code>0x04_0400</code></td>
</tr>
<tr>
<td><code>POH Termintate Insert Control VT/TU3</code></td>
<td><code>0x04_4000</code></td>
</tr>
<tr>
<td><code>POH Termintate Insert Buffer STS</code></td>
<td><code>0x01_0800</code></td>
</tr>
<tr>
<td><code>POH Termintate Insert Buffer TU3/VT</code></td>
<td><code>0x01_8000</code></td>
</tr>
<tr>
<td><code>POH BER Global Control</code></td>
<td><code>0x06_0000</code></td>
</tr>
<tr>
<td><code>POH BER Error Code Select Control 0</code></td>
<td><code>0x06_0004</code></td>
</tr>
<tr>
<td><code>POH BER Error Code Select Control 0</code></td>
<td><code>0x06_0005</code></td>
</tr>
<tr>
<td><code>POH BER Error Sticky</code></td>
<td><code>0x06_0001</code></td>
</tr>
<tr>
<td><code>POH BER Threshold 1</code></td>
<td><code>0x06_2300</code></td>
</tr>
<tr>
<td><code>POH BER Threshold 2</code></td>
<td><code>0x06_0400</code></td>
</tr>
<tr>
<td><code>POH BER Control VT/DSN</code></td>
<td><code>0x06_2000</code></td>
</tr>
<tr>
<td><code>POH BER Control STS/TU3</code></td>
<td><code>0x06_2007</code></td>
</tr>
<tr>
<td><code>POH BER Report VT/DSN</code></td>
<td><code>0x06_8000</code></td>
</tr>
<tr>
<td><code>POH BER Report STS/TU3</code></td>
<td><code>0x06_8B00</code></td>
</tr>
<tr>
<td><code>POH BIP Counter Report STS</code></td>
<td><code>0x0C_82C0</code></td>
</tr>
<tr>
<td><code>POH BIP Counter Report TU3/VT</code></td>
<td><code>0x0C_8000</code></td>
</tr>
<tr>
<td><code>POH REI Counter Report STS</code></td>
<td><code>0x0C_C2C0</code></td>
</tr>
<tr>
<td><code>POH REI Counter Report TU3/VT</code></td>
<td><code>0x0C_C000</code></td>
</tr>
<tr>
<td><code>POH Alarm Status Mask Report STS</code></td>
<td><code>0x0D_0000</code></td>
</tr>
<tr>
<td><code>POH Alarm Status Report STS</code></td>
<td><code>0x0D_0040</code></td>
</tr>
<tr>
<td><code>POH Interrupt Status Report STS</code></td>
<td><code>0x0D_0020</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Status Report STS</code></td>
<td><code>0x0D_007F</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Mask Report STS</code></td>
<td><code>0x0D_007E</code></td>
</tr>
<tr>
<td><code>POH Alarm Status Mask Report VT/TU3</code></td>
<td><code>0x0E_0000</code></td>
</tr>
<tr>
<td><code>POH Alarm Status Report VT/TU3</code></td>
<td><code>0x0E_0800</code></td>
</tr>
<tr>
<td><code>POH Interrupt Status Report STS</code></td>
<td><code>0x0E_0400</code></td>
</tr>
<tr>
<td><code>POH Interrupt Or Status Report VT/TU3</code></td>
<td><code>0x0E_0C00</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Status Report VT/TU3</code></td>
<td><code>0x0E_0FFF</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Mask Report VT/TU3</code></td>
<td><code>0x0E_0FFE</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Mask Report</code></td>
<td><code>0x00_0004</code></td>
</tr>
<tr>
<td><code>POH Interrupt Global Status Report</code></td>
<td><code>0x00_0005</code></td>
</tr>
<tr>
<td><code>POH Interrupt  Global Status Out Report</code></td>
<td><code>0x00_0006</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-threshold-global-control">POH Threshold Global Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to set Threshold for stable detection.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_trshglbctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>jnmsgdebound</code></td>
<td>Debound Threshold for Jn 16/64byte</td>
<td><code>RW</code></td>
<td><code>0x5</code></td>
<td><code>0x5</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>v5rfistbtrsh</code></td>
<td>V5 RDI Stable Thershold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>v5rdistbtrsh</code></td>
<td>V5 RDI Stable Thershold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>v5slbstbtrsh</code></td>
<td>V5 Signal Lable Stable Thershold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>g1rdistbtrsh</code></td>
<td>G1 RDI Path Stable Thershold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>c2plmstbtrsh</code></td>
<td>C2 Path Signal Lable Stable Thershold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>jnstbtrsh</code></td>
<td>J1/J2 Message Stable Threshold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>debound</code></td>
<td>Debound Threshold</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-hi-order-path-over-head-grabber">POH Hi-order Path Over Head Grabber</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to grabber Hi-Order Path Overhead</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohstspohgrb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_4000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_4000 + $stsid * 8 + $sliceid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-1): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>68</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[67]</code></td>
<td><code>hlais</code></td>
<td>High-level AIS from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[66]</code></td>
<td><code>lom</code></td>
<td>LOM  from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[65]</code></td>
<td><code>lop</code></td>
<td>LOP from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[64]</code></td>
<td><code>ais</code></td>
<td>AIS from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:56]</code></td>
<td><code>k3</code></td>
<td>K3 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[55:48]</code></td>
<td><code>f3</code></td>
<td>F3 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:40]</code></td>
<td><code>h4</code></td>
<td>H4 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[39:32]</code></td>
<td><code>f2</code></td>
<td>F2 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:24]</code></td>
<td><code>g1</code></td>
<td>G1 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>c2</code></td>
<td>C2 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>n1</code></td>
<td>N1 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>j1</code></td>
<td>J1 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-lo-order-vttu3-over-head-grabber">POH Lo-order VT/TU3 Over Head Grabber</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to grabber Lo-Order Path Overhead. Incase the TU3 mode, the $vtid = 0, using for Tu3 POH grabber.</p>
<p>Incase VT mode, the $vtid = 0-27, using for VT POH grabber.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohvtpohgrb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_6000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_6000 + $sliceid*672 + $stsid*28 + $vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27): VT Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>36</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[35]</code></td>
<td><code>hlais</code></td>
<td>High-level AIS from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[34]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[33]</code></td>
<td><code>lop</code></td>
<td>LOP from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[32]</code></td>
<td><code>ais</code></td>
<td>AIS from OCN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:24]</code></td>
<td><code>byte3</code></td>
<td>G1 byte or K3 byte or K4 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>byte2</code></td>
<td>C2 byte or F3 byte or N2 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>byte1</code></td>
<td>N1 byte or H4 byte or J2 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>byte0</code></td>
<td>J1 byte or F2 byte or V5 byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-ststu3-control-register">POH CPE STS/TU3 Control Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the POH Hi-order Path Monitoring.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohcpestsctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_A000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_A000 + $sliceid*48 + $stsid*2 + $tu3en</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-1): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$tu3en(0-1): Tu3enable, 0: STS, 1:Tu3</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plmenb</code></td>
<td>PLM enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>vcaisdstren</code></td>
<td>VcaisDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>plmdstren</code></td>
<td>PlmDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>uneqdstren</code></td>
<td>UneqDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>timdstren</code></td>
<td>TimDstren. For slice id 1, this will enable/disable send TIM alarm to OCN block for generating TIM alarm.</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>sdhmode</code></td>
<td>SDH mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>blkmden</code></td>
<td>Block mode BIP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>erdienb</code></td>
<td>Enable E-RDI</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:4]</code></td>
<td><code>pslexp</code></td>
<td>C2 Expected Path Signal Lable Value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>timenb</code></td>
<td>Enable Monitor TIM</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>reiblkmden</code></td>
<td>Block mode REI</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>j1mode</code></td>
<td>0: 1Byte 1:16Byte 2:64byte 3:Floating</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-vt-control-register">POH CPE VT Control Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the POH Lo-order Path Monitoring.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohcpevtctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_8000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_8000 + $sliceid*672 + $stsid*28 +$vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27):Vt Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>plmenb</code></td>
<td>VcaisDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>vcaisdstren</code></td>
<td>VcaisDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plmdstren</code></td>
<td>PlmDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>uneqdstren</code></td>
<td>UneqDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>timdstren</code></td>
<td>TimDstren</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>vsdhmode</code></td>
<td>SDH mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>vblkmden</code></td>
<td>Block mode BIP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>erdienb</code></td>
<td>Enable E-RDI</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:4]</code></td>
<td><code>vslexp</code></td>
<td>V5 Expected Path Signal Lable Value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>timenb</code></td>
<td>Enable Monitor TIM</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>reiblkmden</code></td>
<td>Block mode REI</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>j2mode</code></td>
<td>0: 1Byte 1:16Byte 2:64byte 3:Floating</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-sts-status-register">POH CPE STS Status Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH Hi-order status of monitoring.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohcpestssta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_C2C0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_C2C0 + $sliceid*32 + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-1): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>c2stbsta</code></td>
<td>C2 stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>c2stbcnt</code></td>
<td>C2 stable counter</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>c2acpt</code></td>
<td>C2 accept byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-vttu3-status-register">POH CPE VT/TU3 Status Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH Lo-order status of monitoring.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohcpevtsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02_C000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02_C000 + $sliceid*672 + $stsid*28 +$vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27):Vt Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>vslstbsta</code></td>
<td>VSL stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:9]</code></td>
<td><code>vslstbcnt</code></td>
<td>VSL stable counter</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:6]</code></td>
<td><code>vslacpt</code></td>
<td>VSL accept byte</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5:0]</code></td>
<td><code>rfistatus</code></td>
<td>RFI status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j1-sts-expected-message-buffer">POH CPE J1 STS Expected Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J1 Expected Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgstsexp</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0B_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0B_0000 + $sliceid*256 + $stsid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-1): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j1expmsg</code></td>
<td>J1 Expected Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j1-sts-current-message-buffer">POH CPE J1 STS Current Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J1 Current Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgstscur</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0B_1000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0B_1000 + $sliceid*256 + $stsid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-1): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j1curmsg</code></td>
<td>J1 Current Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j2-expected-message-buffer">POH CPE J2 Expected Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J2 Expected Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgvtexp</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x08_0000 + $sliceid*5376 + $stsid*224 + $vtid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27): VT Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j2expmsg</code></td>
<td>J2 Expected Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j2-current-message-buffer">POH CPE J2 Current Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J2 Current Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgvtcur</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x09_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x09_0000 + $sliceid*5376 + $stsid*224 + $vtid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27): VT Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j2curmsg</code></td>
<td>J2 Current Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j1-insert-message-buffer">POH CPE J1 Insert Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J1 Current Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgstsins</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0B_2000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0B_2000 + $sliceid*256 + $stsid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j1insmsg</code></td>
<td>J1 Insert Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-cpe-j2-insert-message-buffer">POH CPE J2 Insert Message buffer</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The J2 Insert Message Buffer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pohmsgvtins</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0A_0000 + $sliceid*5376 + $stsid*224 + $vtid*8 + $msgid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$sliceid(0-0): Slice Identification</code></p>
</li>
<li>
<p><code>$stsid(0-23): STS Identification</code></p>
</li>
<li>
<p><code>$vtid(0-27): VT Identification</code></p>
</li>
<li>
<p><code>$msgid(0-7): Message ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:0]</code></td>
<td><code>j2insmsg</code></td>
<td>J2 Insert Message</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-termintate-insert-control-sts">POH Termintate Insert Control STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control STS POH insert .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ter_ctrlhi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04_0400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04_0400 + $STS + $OCID*32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)  : Line ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>g1spare</code></td>
<td>G1 spare value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plm</code></td>
<td>0 : Enable, 1: Disable send ERDI if PLM detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>uneq</code></td>
<td>0 : Enable, 1: Disable send ERDI if UNEQ detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>timmsk</code></td>
<td>0 : Enable, 1: Disable send ERDI if TIM detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>aislopmsk</code></td>
<td>0 : Enable, 1: Disable send ERDI if AIS,LOP detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>jnfrmd</code></td>
<td>0:1 byte, 1: 16/64byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-termintate-insert-control-vttu3">POH Termintate Insert Control VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control STS POH insert. TU3 is at VT ID = 0. Fields must be the same as ter_ctrlhi</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ter_ctrllo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04_4000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04_4000 + $STS*28 + $OCID*672 + $VT</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)  : Line ID</code></p>
</li>
<li>
<p><code>$VT(0-27)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>k4b0b1</code></td>
<td>K4b0b1 value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:11]</code></td>
<td><code>k4aps</code></td>
<td>K4aps value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>k4spare</code></td>
<td>K4spare value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>rfival</code></td>
<td>RFI value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:6]</code></td>
<td><code>vslval</code></td>
<td>VT signal label value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plm</code></td>
<td>0 : Enable, 1: Disable send ERDI if PLM detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>uneq</code></td>
<td>0 : Enable, 1: Disable send ERDI if UNEQ detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>timmsk</code></td>
<td>0 : Enable, 1: Disable send ERDI if TIM detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>aislopmsk</code></td>
<td>0 : Enable, 1: Disable send ERDI if AIS,LOP detected</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>jnfrmd</code></td>
<td>0:1 byte, 1: 16/64byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-termintate-insert-buffer-sts">POH Termintate Insert Buffer STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used for storing POH BYTEs inserted to Sonet/SDH. %%</p>
<p>BGRP = 0 : G1,J1  %%</p>
<p>BGRP = 1 : N1,C2  %%</p>
<p>BGRP = 2 : H4,F2  %%</p>
<p>BGRP = 3 : K3,F3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpohccterbufhi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01_0800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01_0800 + $OCID*256 + $STS*4 + $BGRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)  : Line ID</code></p>
</li>
<li>
<p><code>$BGRP(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>byte1msk</code></td>
<td>Enable/Disable (1/0)write to buffer</td>
<td><code>WO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:9]</code></td>
<td><code>byte1</code></td>
<td>Byte1 (G1/N1/H4/K3)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>byte0msk</code></td>
<td>Enable/Disable (1/0) write to buffer</td>
<td><code>WO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>byte0</code></td>
<td>Byte0 (J1/C2/F2/F3)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-termintate-insert-buffer-tu3vt">POH Termintate Insert Buffer TU3/VT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used for storing POH BYTEs inserted to Sonet/SDH. TU3 is at VT ID = 0,1 %%</p>
<p>For VT %%</p>
<p>BGRP = 0 : J2,V5 %%</p>
<p>BGRP = 1 : K4,N2 %%</p>
<p>For TU3 %%</p>
<p>VT = 0, BGRP = 0 : G1,J1 %%</p>
<p>VT = 0, BGRP = 1 : N1,C2 %%</p>
<p>VT = 1, BGRP = 0 : H4,F2 %%</p>
<p>VT = 1, BGRP = 1 : K3,F3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpohccterbuflo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01_8000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01_8000 + $OCID*4096 + $STS*64 + $VT*2 + $BGRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)  : Line ID</code></p>
</li>
<li>
<p><code>$VT(0-27)</code></p>
</li>
<li>
<p><code>$BGRP(0-1)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>byte1msk</code></td>
<td>Enable/Disable (1/0)write to buffer</td>
<td><code>WO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:9]</code></td>
<td><code>byte1</code></td>
<td>Byte1 (J2/K4)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>byte0msk</code></td>
<td>Enable/Disable (1/0) write to buffer</td>
<td><code>WO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>byte0</code></td>
<td>Byte0 (V5/N2)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-global-control">POH BER Global Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to enable STS,VT,DSN globally.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_glbenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>timerenb</code></td>
<td>Enable timer</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>stsenb</code></td>
<td>Enable STS/TU3 channel</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>vtenb</code></td>
<td>Enable STS/TU3 channel</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>dsnsenb</code></td>
<td>Enable STS/TU3 channel</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-error-code-select-control-0">POH BER Error Code Select Control 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to select error to monitor .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_errsel0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>linecodeen</code></td>
<td STS23_...STS0="STS23,...STS0">1: Line code violation , 0: Parity code. For<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-error-code-select-control-0_1">POH BER Error Code Select Control 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to select error to monitor .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_errsel1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>linecodeen</code></td>
<td STS47_...STS24="STS47,...STS24">1: Line code violation , 0: Parity code. For<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-error-sticky">POH BER Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to check error in BER engine.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stkalarm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>stserr</code></td>
<td>STS error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>vterr</code></td>
<td>VT error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-threshold-1">POH BER Threshold 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure threshold of BER level 3.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>imemrwptrsh1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_2300</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_2300 + $Rate</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$Rate(0-127): STS Rate for rate from STS1,STS3,STS6...STS48,(0-16)...VT1.5,VT2,DS1,E1(65,67,69,71)....</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[18:9]</code></td>
<td><code>setthres</code></td>
<td>SetThreshold</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:0]</code></td>
<td><code>winthres</code></td>
<td>WindowThreshold</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-threshold-2">POH BER Threshold 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure threshold of BER level 4 to level 8.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>imemrwptrsh2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_0400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_0400 + $Rate*8 + $Thresloc</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Rate(0-63): STS Rate for rate from STS1,STS3,STS6...STS48,....VT1.5,VT2,DS1,E1....</code></p>
</li>
<li>
<p><code>$Thresloc(0-7): Set/Clear/Window threshold for BER level from 4 to 8</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>34</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[33:17]</code></td>
<td><code>scwthres1</code></td>
<td>Set/Clear/Window Threshold</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>scwthres2</code></td>
<td>Set/Clear/Window Threshold</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-control-vtdsn">POH BER Control VT/DSN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to enable and set threshold SD SF .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>imemrwpctrl1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_2000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_2000 + $STS*32 + $OCID*8+ $VTG</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23): STS</code></p>
</li>
<li>
<p><code>$OCID(0-3)  : Line ID, 0-1: VT, 2-3: DE1</code></p>
</li>
<li>
<p><code>$VTG(0-6)   : VT group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:46]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[45:43]</code></td>
<td><code>tcatrsh4</code></td>
<td>TCA threshold raise channel 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[42:40]</code></td>
<td><code>tcatrsh3</code></td>
<td>TCA threshold raise channel 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[39:37]</code></td>
<td><code>tcatrsh2</code></td>
<td>TCA threshold raise channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[36:34]</code></td>
<td><code>tcatrsh1</code></td>
<td>TCA threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33:32]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[31]</code></td>
<td><code>etype4</code></td>
<td>0: DS1/VT1.5 1: E1/VT2 channel 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:28]</code></td>
<td><code>sftrsh4</code></td>
<td>SF threshold raise channel 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:25]</code></td>
<td><code>sdtrsh4</code></td>
<td>SD threshold raise channel 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>ena4</code></td>
<td>Enable channel 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>etype3</code></td>
<td>0: DS1/VT1.5 1: E1/VT2 channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>sftrsh3</code></td>
<td>SF threshold raise channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>sdtrsh3</code></td>
<td>SD threshold raise channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>ena3</code></td>
<td>Enable channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>etype2</code></td>
<td>0: DS1/VT1.5 1: E1/VT2 channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>sftrsh2</code></td>
<td>SF threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:9]</code></td>
<td><code>sdtrsh2</code></td>
<td>SD threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ena2</code></td>
<td>Enable channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>etype1</code></td>
<td>0: DS1/VT1.5 1: E1/VT2 channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:4]</code></td>
<td><code>sftrsh1</code></td>
<td>SF threshold raise channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:1]</code></td>
<td><code>sdtrsh1</code></td>
<td>SD threshold raise channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ena1</code></td>
<td>Enable channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-control-ststu3">POH BER Control STS/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to enable and set threshold SD SF.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>imemrwpctrl2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_2007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_2007 + $STS*32 + $OCID*8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3)  : Line ID, Line ID 0-1: STS, Line ID 2-3: Line EC1 channel 1, DE3 channel 2</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:40]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[39:37]</code></td>
<td><code>tcatrsh2</code></td>
<td>TCA threshold raise channel 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[36:34]</code></td>
<td><code>tcatrsh1</code></td>
<td>TCA threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33:32]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[27:21]</code></td>
<td><code>rate2</code></td>
<td>STS Rate 0-63 type</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:18]</code></td>
<td><code>sftrsh2</code></td>
<td>SF threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:15]</code></td>
<td><code>sdtrsh2</code></td>
<td>SD threshold raise channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ena2</code></td>
<td>Enable channel 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:7]</code></td>
<td><code>rate1</code></td>
<td>STS Rate 0-63 type</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:4]</code></td>
<td><code>sftrsh1</code></td>
<td>SF threshold raise channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:1]</code></td>
<td><code>sdtrsh1</code></td>
<td>SD threshold raise channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ena1</code></td>
<td>Enable channel 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-report-vtdsn">POH BER Report VT/DSN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get current BER rate .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramberratevtds</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_8000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_8000 + $STS*112 + $OCID*28 + $VT</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3)     : Line ID, VT:0-1,DSN:2-3</code></p>
</li>
<li>
<p><code>$VT(0-27)   : VT/DS1 ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>hwsta</code></td>
<td>Hardware status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>rate</code></td>
<td>BER rate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-ber-report-ststu3">POH BER Report STS/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get current BER rate . BER DE3 used with OCID 2-3, TU3TYPE = 1. BER EC1 used with OCID 2-3, TU3TYPE = 0.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramberrateststu3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_8B00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_8B00 + $STS*8 + $OCID*2 + $TU3TYPE</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3)     : Line ID,  Line ID 0-1: STS, Line ID 2-3: Line EC1/DE3</code></p>
</li>
<li>
<p><code>$TU3TYPE(0-1)  : Type TU3:1, STS:0</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>hwsta</code></td>
<td>Hardware status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>rate</code></td>
<td>BER rate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-bip-counter-report-sts">POH BIP Counter Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH BIP Counter. OCID 1 is used for B2 counter with 24 B2 each OCID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ipm_bipcnthi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C_82C0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C_82C0 + $STS + $OCID*32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1)     : Line ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>bipcnt</code></td>
<td>BIP counter</td>
<td><code>W0C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-bip-counter-report-tu3vt">POH BIP Counter Report TU3/VT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH BIP Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ipm_bipcntlo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C_8000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C_8000 + $STS*28 + $OCID*672 + $VT</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)   : Line ID</code></p>
</li>
<li>
<p><code>$VT(0-27)   : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>bipcnt</code></td>
<td>BIP counter</td>
<td><code>W0C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-rei-counter-report-sts">POH REI Counter Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH REI Counter. OCID 1 is used for B2 counter with 24 B2 each OCID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ipm_reicnthi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C_C2C0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C_C2C0 + $STS + $OCID*32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-24)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1)     : Line ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>reicnt</code></td>
<td>REI counter</td>
<td><code>W0C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-rei-counter-report-tu3vt">POH REI Counter Report TU3/VT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH REI Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ipm_reicntlo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C_C000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C_C000 + $STS*28 + $OCID*672 + $VT</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-0)   : Line ID</code></p>
</li>
<li>
<p><code>$VT(0-27)   : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>reicnt</code></td>
<td>REI counter</td>
<td><code>W0C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-alarm-status-mask-report-sts">POH Alarm Status Mask Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm mask report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_mskhi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D_0000 + $STS + $OCID*128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3) : Line ID, ID 0,1 for path STS 0-23, ID 2,3 EC1 Line 0-23</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdmsk</code></td>
<td>bersd mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfmsk</code></td>
<td>bersf  mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdimsk</code></td>
<td>erdi mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcamsk</code></td>
<td>bertca mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbmsk</code></td>
<td>jn stable mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbmsk</code></td>
<td>psl stable mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfimsk</code></td>
<td>rfi/lom mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timmsk</code></td>
<td>tim mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqmsk</code></td>
<td>uneq mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmmsk</code></td>
<td>plm mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aismsk</code></td>
<td>ais mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopmsk</code></td>
<td>lop mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-alarm-status-report-sts">POH Alarm Status Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_stahi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D_0040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D_0040 + $STS + $OCID*128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3) : Line ID, ID 0,1 for path STS 0-23, ID 2,3 EC1 Line 0-23</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdsta</code></td>
<td>bersd  status</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfsta</code></td>
<td>bersf  status</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdista</code></td>
<td>erdi status status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcasta</code></td>
<td>bertca status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbsta</code></td>
<td>jn stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbsta</code></td>
<td>psl stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfista</code></td>
<td>rfi/lom status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timsta</code></td>
<td>tim status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqsta</code></td>
<td>uneq status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmsta</code></td>
<td>plm status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aissta</code></td>
<td>ais status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopsta</code></td>
<td>lop status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-status-report-sts">POH Interrupt Status Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm change status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_chghi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D_0020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D_0020 + $STS + $OCID*128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-3) : Line ID, ID 0,1 for path STS 0-23, ID 2,3 EC1 Line 0-23</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdstachg</code></td>
<td>bersd stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfstachg</code></td>
<td>bersf stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdistachg</code></td>
<td>erdi status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcastachg</code></td>
<td>bertca status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbstachg</code></td>
<td>jn stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbstachg</code></td>
<td>psl stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfistachg</code></td>
<td>rfi/lom status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timstachg</code></td>
<td>tim status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqstachg</code></td>
<td>uneq status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmstachg</code></td>
<td>plm status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aisstachg</code></td>
<td>ais status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopstachg</code></td>
<td>lop status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-status-report-sts">POH Interrupt Global Status Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global change status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbchghi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D_007F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D_007F + $OCID*128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$OCID(0-3) : Line ID, ID 0,1 for path STS 0-23, ID 2,3 EC1 Line 0-23</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>glbstachg</code></td>
<td>global status change bit</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-mask-report-sts">POH Interrupt Global Mask Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global mask report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbmskhi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D_007E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D_007E + $OCID*128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$OCID(0-3) : Line ID, ID 0,1 for path STS 0-23, ID 2,3 EC1 Line 0-23</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>glbmsk</code></td>
<td>global mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-alarm-status-mask-report-vttu3">POH Alarm Status Mask Report VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm mask report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_msklo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0000 + $STS*32 + $OCID*4096 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></p>
</li>
<li>
<p><code>$VTID(0-27)  : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdmsk</code></td>
<td>bersd mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfmsk</code></td>
<td>bersf  mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdimsk</code></td>
<td>erdi mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcamsk</code></td>
<td>bertca mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbmsk</code></td>
<td>jn stable mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbmsk</code></td>
<td>psl stable mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfimsk</code></td>
<td>rfi mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timmsk</code></td>
<td>tim mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqmsk</code></td>
<td>uneq mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmmsk</code></td>
<td>plm mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aismsk</code></td>
<td>ais mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopmsk</code></td>
<td>lop mask</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-alarm-status-report-vttu3">POH Alarm Status Report VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_stalo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0800 + $STS*32 + $OCID*4096 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></p>
</li>
<li>
<p><code>$VTID(0-27)  : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdsta</code></td>
<td>bersd status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfsta</code></td>
<td>bersf  status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdista</code></td>
<td>erdi status status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcasta</code></td>
<td>bertca status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbsta</code></td>
<td>jn stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbsta</code></td>
<td>psl stable status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfista</code></td>
<td>rfi status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timsta</code></td>
<td>tim status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqsta</code></td>
<td>uneq status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmsta</code></td>
<td>plm status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aissta</code></td>
<td>ais status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopsta</code></td>
<td>lop status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-status-report-sts_1">POH Interrupt Status Report STS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm change status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_chglo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0400 + $STS*32 + $OCID*4096 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></p>
</li>
<li>
<p><code>$VTID(0-27)  : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>bersdstachg</code></td>
<td>bersd stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>bersfstachg</code></td>
<td>bersf stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>erdistachg</code></td>
<td>erdi status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>bertcastachg</code></td>
<td>bertca status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>jnstbstachg</code></td>
<td>jn stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pslstbstachg</code></td>
<td>psl stable status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rfistachg</code></td>
<td>rfi status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>timstachg</code></td>
<td>tim status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>uneqstachg</code></td>
<td>uneq status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plmstachg</code></td>
<td>plm status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>aisstachg</code></td>
<td>ais status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lopstachg</code></td>
<td>lop status change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-or-status-report-vttu3">POH Interrupt Or Status Report VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm or status change status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_orstalo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0C00 + $STS + $OCID*4096</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23)  : STS</code></p>
</li>
<li>
<p><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>orstachg</code></td>
<td>or status change bit</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-status-report-vttu3">POH Interrupt Global Status Report VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global change status report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbchglo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0FFF + $OCID*4096</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>glbstachg</code></td>
<td>global status change bit</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: ###################################################################################### Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-mask-report-vttu3">POH Interrupt Global Mask Report VT/TU3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global mask report.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbmsklo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E_0FFE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E_0FFE + $OCID*4096</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$OCID(0-1) : Line ID, ID 0,1 for path STS 0-23</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>glbmsk</code></td>
<td>global status change bit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-mask-report">POH Interrupt Global Mask Report</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global mask report for high,low order.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbmsk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>glbmsklo</code></td>
<td>global mask bit for low order slice - ocid1,ocid0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>glbmskhi</code></td>
<td>global mask change bit for high order slice - ocid3,ocid1,ocid2,ocid0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-status-report">POH Interrupt Global Status Report</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global change status report for high,low order.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbchg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>glbstachglo</code></td>
<td>global status change bit for low order slice - ocid1,ocid0</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>glbstachghi</code></td>
<td>global status change bit for high order slice - ocid3,ocid1,ocid2,ocid0</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-interrupt-global-status-out-report">POH Interrupt  Global Status Out Report</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to get POH alarm global change status report for high,low order after ANDED with mask.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>alm_glbchgo</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>glbstachglo</code></td>
<td>global status change bit for low order slice - ocid1,ocid0</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>glbstachghi</code></td>
<td>global status change bit for high order slice - ocid3,ocid1,ocid2,ocid0</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 // End:</code></td>
</tr>
</tbody>
</table>