<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_pwe">AF6CNC0011_RD_PWE</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire Transmit Ethernet Header Value Control</code></td>
<td><code>0x00008000-0x0000AA00</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Ethernet Header Length Control</code></td>
<td><code>0x0001000-0x0000129F #The address format for these registers is 0x0001000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Ethernet PAD Control</code></td>
<td><code>0x0002000</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Header RTP SSRC Value Control</code></td>
<td><code>0x0003000-0x0000329F #The address format for these registers is 0x0003000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Enable Control</code></td>
<td><code>0x0021000-0x0002129F #The address format for these registers is 0x0021000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit R bit Control</code></td>
<td><code>0x0025000-0x0002529F #The address format for these registers is 0x0025000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit HSPW Label Control</code></td>
<td><code>0x005000-0x00529F</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit UPSR and HSPW Control</code></td>
<td><code>0x006000-0x00629F</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit UPSR Group Control</code></td>
<td><code>0x007000-0x00729F</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit HSPW Protection Control</code></td>
<td><code>0x004000-0x00429F</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-header-value-control">Pseudowire Transmit Ethernet Header Value Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures value of transmit Ethernet pseudowire header. Each pseudowire has 16 entries (1 entry contains 32 bits) for header value configuration. The header format from %% //entry#0 to entry#15 is as follow:  %%</p>
<p>{DA(6-byte),VLAN1(4-byte,optional),VLAN2(4-byte, optional),EthType(2-byte),PSN Header(4 to 48 bytes)} %%</p>
<p>Depends on specific PSN selected for each pseudowire, the EthType and PSN Header field may have the following values and formats: %%</p>
<p>PSN header is MEF-8:  %%</p>
<p>EthType:  0x88D8 %%</p>
<p>4-byte PSN Header with format: {ECID[19:0], 0x102} where ECID is pseodowire identification for  remote  receive side. %%</p>
<p>PSN header is MPLS:  %%</p>
<p>EthType:  0x8847 %%</p>
<p>4/8-byte PSN Header with format: {OuterLabel<a href="optional">31:0</a>, InnerLabel[31:0]}  where  InnerLabel[31:12] is pseodowire identification for remote receive side. %%</p>
<p>Label format: {Idenfifier[19:0],Exp[2:0],StackBit,TTL[7:0]} where StackBit = 1 for InnerLabel %%</p>
<p>PSN header is UDP/Ipv4:   %%</p>
<p>EthType:  0x0800 %%</p>
<p>28-byte PSN Header with format {Ipv4 Header(20 bytes), UDP Header(8 byte)} as below: %%</p>
<p>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0], IP_Header_Sum[31:16]} %%</p>
<p>{IP_Iden[15:0], IP_Flag[2:0], IP_Frag_Offset[12:0]}  %%</p>
<p>{IP_TTL[7:0], IP_Protocol[7:0], IP_Header_Sum[15:0]} %%</p>
<p>{IP_SrcAdr[31:0]}%%</p>
<p>{IP_DesAdr[31:0]}%%</p>
<p>{UDP_SrcPort[15:0], UDP_DesPort[15:0]}%%</p>
<p>{32-bit zeros}%%</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_hdr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00008000-0x0000AA00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00008000  + $PwId*16 + $Entry</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>IP_Protocol[7:0]: 0x11 to signify UDP</code></p>
</li>
<li>
<p><code>IP_Header_Sum[31:0]:</code></p>
</li>
<li>
<p><code>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0]} +</code></p>
</li>
<li>
<p><code>IP_Iden[15:0] + {IP_Flag[2:0], IP_Frag_Offset[12:0]}  +</code></p>
</li>
<li>
<p><code>{IP_TTL[7:0], IP_Protocol[7:0]} +</code></p>
</li>
<li>
<p><code>IP_SrcAdr[31:16] + IP_SrcAdr[15:0] +</code></p>
</li>
<li>
<p><code>IP_DesAdr[31:16] + IP_DesAdr[15:0]</code></p>
</li>
<li>
<p><code>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused</code></p>
</li>
<li>
<p><code>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused</code></p>
</li>
<li>
<p><code>PSN header is UDP/Ipv6:</code></p>
</li>
<li>
<p><code>EthType:  0x86DD</code></p>
</li>
<li>
<p><code>48-byte PSN Header with format {Ipv6 Header(40 bytes), UDP Header(8 byte)} as below:</code></p>
</li>
<li>
<p><code>{IP_Ver[3:0], IP_Traffic_Class[7:0], IP_Flow_Label[19:0]}</code></p>
</li>
<li>
<p><code>{16-bit zeros, IP_Next_Header[7:0], IP_Hop_Limit[7:0]}</code></p>
</li>
<li>
<p><code>{IP_SrcAdr[127:96]}</code></p>
</li>
<li>
<p><code>{IP_SrcAdr[95:64]}</code></p>
</li>
<li>
<p><code>{IP_SrcAdr[63:32]}</code></p>
</li>
<li>
<p><code>{IP_SrcAdr[31:0]}</code></p>
</li>
<li>
<p><code>{IP_DesAdr[127:96]}</code></p>
</li>
<li>
<p><code>{IP_DesAdr[95:64]}</code></p>
</li>
<li>
<p><code>{IP_DesAdr[63:32]}</code></p>
</li>
<li>
<p><code>{IP_DesAdr[31:0]}</code></p>
</li>
<li>
<p><code>{UDP_SrcPort[15:0], UDP_DesPort[15:0]}</code></p>
</li>
<li>
<p><code>{UDP_Sum[31:0]}</code></p>
</li>
<li>
<p><code>IP_Next_Header[7:0]: 0x11 to signify UDP</code></p>
</li>
<li>
<p><code>UDP_Sum[31:0]:</code></p>
</li>
<li>
<p><code>IP_SrcAdr[127:112] +     IP_SrcAdr[111:96] +</code></p>
</li>
<li>
<p><code>IP_SrcAdr[95:80]  + IP_SrcAdr[79:64] +</code></p>
</li>
<li>
<p><code>IP_SrcAdr[63:48]  + IP_SrcAdr[47:32] +</code></p>
</li>
<li>
<p><code>IP_SrcAdr[31:16]  + IP_SrcAdr[15:0] +</code></p>
</li>
<li>
<p><code>IP_DesAdr[127:112] +     IP_DesAdr[111:96] +</code></p>
</li>
<li>
<p><code>IP_DesAdr[95:80]  + IP_DesAdr[79:64] +</code></p>
</li>
<li>
<p><code>IP_DesAdr[63:48]  + IP_DesAdr[47:32] +</code></p>
</li>
<li>
<p><code>IP_DesAdr[31:16]  + IP_DesAdr[15:0] +</code></p>
</li>
<li>
<p><code>{8-bit zeros, IP_Next_Header[7:0]} +</code></p>
</li>
<li>
<p><code>UDP_SrcPort[15:0] +  UDP_DesPort[15:0]</code></p>
</li>
<li>
<p><code>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused</code></p>
</li>
<li>
<p><code>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused</code></p>
</li>
<li>
<p><code>User can select either source or destination port for pseodowire identification. See IP/UDP standards for more description about other field.</code></p>
</li>
<li>
<p><code>PSN header is MPLS over Ipv4:</code></p>
</li>
<li>
<p><code>IPV4 header must have IP_Protocol[7:0] value 0x89 to signify MPLS</code></p>
</li>
<li>
<p><code>After IPV4 header is MPLS labels where inner label is used for PW identification</code></p>
</li>
<li>
<p><code>PSN header is MPLS over Ipv6:</code></p>
</li>
<li>
<p><code>IPV6 header must have IP_Next_Header[7:0] value 0x89 to signify MPLS</code></p>
</li>
<li>
<p><code>After IPV6 header is MPLS labels where inner label is used for PW identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethpwheadvalue</code></td>
<td>Transmit Ethernet Pseudowire Header value in each entry</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-header-length-control">Pseudowire Transmit Ethernet Header Length Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures length in number of bytes of AF6F1 transmit Ethernet header.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_hdr_len_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001000-0x0000129F #The address format for these registers is 0x0001000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0001000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[22:16]</code></td>
<td><code>txethpwrtpptvalue</code></td>
<td>Used for TDM PW, this is the PT value of RTP header, define in http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xml</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>txethpwrtpen</code></td>
<td>Used for TDM PW 1: Enable RTP field in PSN header (used for TDM PW with DCR timing) 0: Disable RTP field in PSN header (used for ATM PW or TDM PW without DCR timing)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>txethpwpsntype</code></td>
<td>PW PSN Type 1: PW PSN header is UDP/IPv4 2: PW PSN header is UDP/IPv6 3: PW PSN header is MPLS and EXP bits of inner label is replaced by ATM cell priority bits (used for ATM PW) 4: PW MPLS no outer label over Ipv4 (total 1 MPLS label) 5: PW MPLS no outer label over Ipv6 (total 1 MPLS label) 6: PW MPLS one outer label over Ipv4 (total 2 MPLS label) 7: PW MPLS one outer label over Ipv6 (total 2 MPLS label) Others: for other PW PSN header type (include MPLS with configuration EXP bits)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>txethpwcwtype</code></td>
<td>0: Control word 4-byte (used for PDH/ATM N to one pseudowire) 1: Control word 3-byte (used for ATM one to one VCC/VPC pseudowire)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:9]</code></td>
<td><code>txethpwnumvlan</code></td>
<td>Number of VLANs in Transmit Ethernet Pseudowire Header.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:7]</code></td>
<td><code>txethpwnummplsoutlb</code></td>
<td>Number of MPLS outer labels in Transmit Ethernet Pseudowire Header. This field is only applicable when the pseudowire selects MPLS as its PSN header, //    //              otherwise, this field must be set to zero value.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:0]</code></td>
<td><code>txethpwheadlen</code></td>
<td>Length in number of bytes of Transmit Ethernet Pseudowire Header. This length is counted from start of Ethernet packet (DA) to end of pseudowire header (the next of //      pseudowire header is control word and TDM payload). Be noted that this length field includes SA field for counting too (although the below Pseudowire Transmit Ethernet Header Value Control does //       not contains SA field because AF6FHW0013 already has a global MacAddress for the SA field). In case of VLAN TAG mode contains PWID (DA,SA,VLAN1,VLAN2), header length value equal to 0x14</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-pad-control">Pseudowire Transmit Ethernet PAD Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures mode to insert number of PAD bytes of AF6FH1 transmit Ethernet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_pad_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>txethpadmode</code></td>
<td>Modes to insert PAD for pseudowire packet at Ethernet transmit direction 0: Insert PAD when total Ethernet packet length is less than 64 bytes. Refer to IEEE 802.3 1: Insert PAD when control word plus payload length is less than 64 bytes 2: Insert PAD when total Ethernet packet length minus VLANs and MPLS outer labels(if exist) is less than 64 bytes. The reason is that networking devices often insert or remove VLANs and MPLS outer //labels when packet traverse them</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-header-rtp-ssrc-value-control">Pseudowire Transmit Header RTP SSRC Value Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures RTP SSRC value.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_rtp_ssrc_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003000-0x0000329F #The address format for these registers is 0x0003000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethpwrtpssrcvalue</code></td>
<td>Used for TDM PW, this is the SSRC value of RTP header, define in RFC3550</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-enable-control">Pseudowire Transmit Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures pseudowire enable for transmit to Ethernet direction</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_enable_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021000-0x0002129F #The address format for these registers is 0x0021000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:8]</code></td>
<td><code>txpwethportid</code></td>
<td>0: PW will be sent to ETH SGMII port0, ignore in XGMII mode 1: PW will be sent to ETH SGMII port1, ignore in XGMII mode 2: PW will be sent to ETH SGMII port2, ignore in XGMII mode 3: PW will be sent to ETH SGMII port3, ignore in XGMII mode 4: PW will be sent to ETH SGMII port4, ignore in XGMII mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>txpwsuppressen</code></td>
<td>0: normal 1: Enable payload suppression when AIS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>txpwcwmbitdisable</code></td>
<td>0: normal 1: Disable Mbit/NPbit in control word</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>txpwcwlbitdisable</code></td>
<td>0: normal 1: Disable Lbit in control word</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:3]</code></td>
<td><code>txpwcwmbitcpu</code></td>
<td N_P="N,P">low priority than TxPwLbitDisable 0: normal other: CPU force Mbit<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>txpwcwlbitcpu</code></td>
<td>low priority than TxPwLbitDisable 0: normal 1: CPU force Lbit in control word</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>txpwcwtype</code></td>
<td>0: Control word 4-byte (used for PDH/ATM N to one pseudowire) 1: Control word 3-byte (used for ATM one to one VCC/VPC pseudowire)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>txpwen</code></td>
<td>1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-r-bit-control">Pseudowire Transmit R bit Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures pseudowire L/M bit control  for transmit to Ethernet direction</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_Rbit_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0025000-0x0002529F #The address format for these registers is 0x0025000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0025000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:3]</code></td>
<td><code>txpwceptype</code></td>
<td>0: CEP basic PW 1: CEP VC3(STS) fractional PW (only 1 dword VT mask) 2: CEP VC4 fractional PW (3 dword   VT/STS mask)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>txpwcepen</code></td>
<td>0: CES PW 1: CEP PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>txpwrbitcpu</code></td>
<td>low priority than TxPwRbitDisable 0: Normal 1: CPU force Rbit at transmit PW direction</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>txpwrbitdisable</code></td>
<td>1: Disable sending Rbit in PW control word 0: Normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-hspw-label-control">Pseudowire Transmit HSPW Label Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures &ldquo;label ID&rdquo; when HSPW working at protection mode value.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Pseudowire_Transmit_HSPW_Label_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x005000-0x00529F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x005000 + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PwId(0 - 671): Pseudowire Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethpwhspwlabelvalue</code></td>
<td>Used for TDM PW, this is the HSPW label</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 UDP_SrcPort[15:0] +  UDP_DesPort[15:0] Inner Label [31:0] MEF label [31:0] End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-upsr-and-hspw-control">Pseudowire Transmit UPSR and HSPW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures UPSR and HSPW value.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Pseudowire_Transmit_UPSR_and_HSPW_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x006000-0x00629F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x006000 + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PwId(0 - 671): Pseudowire Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>22</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21]</code></td>
<td><code>txethpwupsrusevalue</code></td>
<td>Used for TDM PW, this is the UPSR using or not 0: PW not join any UPSR Group 1: PW join a UPSR Group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>txethpwhspwusevalue</code></td>
<td>Used for TDM PW, this is the HSPW using or not 0: PW not join any HSPW Group 1: PW join a HSPW Group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:10]</code></td>
<td><code>txethpwupsrgrpvalue</code></td>
<td>Used for TDM PW, this is the UPSR group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>txethpwhspwgrpvalue</code></td>
<td>Used for TDM PW, this is the HSPW group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-upsr-group-control">Pseudowire Transmit UPSR Group Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures UPSR Group enable or not</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Pseudowire_Transmit_UPSR_Group_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x007000-0x00729F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x007000 + TxEthPwUpsrGrpValue</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$TxEthPwUpsrGrpValue(0 - 671): UPSR Group Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>txethpwupsrenvalue</code></td>
<td>Used for TDM PW, this is the UPSR Group enable or not 0: UPSR Group disable 1: UPSR Group enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-hspw-protection-control">Pseudowire Transmit HSPW Protection Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures HSPW Group Protection enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Pseudowire_Transmit_HSPW_Protection_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x004000-0x00429F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x004000 + TxEthPwHspwGrpValue</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$TxEthPwHspwGrpValue(0 - 671): HSPW Group Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>txethpwhspwenvalue</code></td>
<td>Used for TDM PW, this is the HSPW enable 0: HSPW Group using normal label 1: HSPW Group using &ldquo;HSPW Label&rdquo; as lable for packet transmit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End</code></td>
</tr>
</tbody>
</table>