<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_cdr">AF6CNC0011_RD_CDR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CDR line mode control</code></td>
<td><code>0x000_0000- 0x000_0001</code></td>
</tr>
<tr>
<td><code>CDR Timing External reference control</code></td>
<td><code>0x000_0003</code></td>
</tr>
<tr>
<td><code>CDR STS Timing control</code></td>
<td><code>0x000_0800-0x000_081F</code></td>
</tr>
<tr>
<td><code>CDR VT Timing control</code></td>
<td><code>0x000_0C00-0x000_0FFF</code></td>
</tr>
<tr>
<td><code>CDR ToP Timing Frame sync 8K control</code></td>
<td><code>0x000_0820</code></td>
</tr>
<tr>
<td><code>CDR Reference Sync 8K Master Output control</code></td>
<td><code>0x000_0821</code></td>
</tr>
<tr>
<td><code>CDR Reference Sync 8k Slaver Output control</code></td>
<td><code>0x000_0822</code></td>
</tr>
<tr>
<td><code>CDR ACR Timing External reference  and PRC control</code></td>
<td><code>0x0020000</code></td>
</tr>
<tr>
<td><code>CDR ACR Engine Timing control</code></td>
<td><code>0x0020800-0x0020BFF</code></td>
</tr>
<tr>
<td><code>CDR Adjust State status</code></td>
<td><code>0x0021000-0x00213FF</code></td>
</tr>
<tr>
<td><code>CDR Adjust Holdover value status</code></td>
<td><code>0x0021800-0x0021BFF</code></td>
</tr>
<tr>
<td><code>DCR TX Engine Active Control</code></td>
<td><code>0x0010000</code></td>
</tr>
<tr>
<td><code>DCR PRC Source Select Configuration</code></td>
<td><code>0x0010001</code></td>
</tr>
<tr>
<td><code>DCR PRC Frequency Configuration</code></td>
<td><code>0x0010002</code></td>
</tr>
<tr>
<td><code>DCR PRC Frequency Configuration</code></td>
<td><code>0x001000b</code></td>
</tr>
<tr>
<td><code>DCR RTP Frequency Configuration</code></td>
<td><code>0x001000C</code></td>
</tr>
<tr>
<td><code>DCR Tx Engine Timing control</code></td>
<td><code>0x0010400</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt Enable Control</code></td>
<td><code>0x00025000-0x000253FF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt Status</code></td>
<td><code>0x00025400-0x000257FF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Current Status</code></td>
<td><code>0x00025800-0x00025BFF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt OR Status</code></td>
<td><code>0x00025C00-0x00025C1F</code></td>
</tr>
<tr>
<td><code>CDR per STS/VC Interrupt OR Status</code></td>
<td><code>0x00025FFF</code></td>
</tr>
<tr>
<td><code>CDR per STS/VC Interrupt Enable Control</code></td>
<td><code>0x00025FFE</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-line-mode-control">CDR line mode control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure line mode for CDR engine.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_line_mode_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0000- 0x000_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000_0000 + Slide</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$Slide(0-1): Slide = 0 for STM4_0, Slide = 1 for STM4_1</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[123:112]</code></td>
<td><code>vc3mode</code></td>
<td>VC3 or TU3 mode, each bit is used configured for each STS (only valid in TU3 CEP) 1: TU3 CEP 0: Other mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[107:96]</code></td>
<td><code>de3mode</code></td>
<td>DS3 or E3 mode, each bit is used configured for each STS. 1: DS3 mode 0: E3 mod</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[95]</code></td>
<td><code>sts12stsmode</code></td>
<td>STS mode of STS12 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[94:88]</code></td>
<td><code>sts12vttype</code></td>
<td>VT Type of 7 VTG in STS12, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[87]</code></td>
<td><code>sts11stsmode</code></td>
<td>STS mode of STS11 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[86:80]</code></td>
<td><code>sts11vttype</code></td>
<td>VT Type of 7 VTG in STS11, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[79]</code></td>
<td><code>sts10stsmode</code></td>
<td>STS mode of STS10 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[78:72]</code></td>
<td><code>sts10vttype</code></td>
<td>VT Type of 7 VTG in STS10, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[71]</code></td>
<td><code>sts9stsmode</code></td>
<td>STS mode of STS9 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[70:64]</code></td>
<td><code>sts9vttype</code></td>
<td>VT Type of 7 VTG in STS9, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63]</code></td>
<td><code>sts8stsmode</code></td>
<td>STS mode of STS8 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[62:56]</code></td>
<td><code>sts8vttype</code></td>
<td>VT Type of 7 VTG in STS8, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[55]</code></td>
<td><code>sts7stsmode</code></td>
<td>STS mode of STS7 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[54:48]</code></td>
<td><code>sts7vttype</code></td>
<td>VT Type of 7 VTG in STS7, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47]</code></td>
<td><code>sts6stsmode</code></td>
<td>STS mode of STS6 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[46:40]</code></td>
<td><code>sts6vttype</code></td>
<td>VT Type of 7 VTG in STS6, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[39]</code></td>
<td><code>sts5stsmode</code></td>
<td>STS mode of STS5 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[38:32]</code></td>
<td><code>sts5vttype</code></td>
<td>VT Type of 7 VTG in STS5, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31]</code></td>
<td><code>sts4stsmode</code></td>
<td>STS mode of STS4 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:24]</code></td>
<td><code>sts4vttype</code></td>
<td>VT Type of 7 VTG in STS4, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>sts3stsmode</code></td>
<td>STS mode of STS3 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:16]</code></td>
<td><code>sts3vttype</code></td>
<td>VT Type of 7 VTG in STS3, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>sts2stsmode</code></td>
<td>STS mode of STS2 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:8]</code></td>
<td><code>sts2vttype</code></td>
<td>VT Type of 7 VTG in STS2, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>sts1stsmode</code></td>
<td>STS mode of STS1 1: STS1/DS3/E3 mode 0: DS1/E1/VT15/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:0]</code></td>
<td><code>sts1vttype</code></td>
<td>VT Type of 7 VTG in STS1, each bit is used configured for each VTG. 1: DS1/VT15 mode 0: E1/VT2 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-timing-external-reference-control">CDR Timing External reference control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure for the 2Khz coefficient of two external reference signal in order to generate timing. The mean that, if the reference signal is 8Khz, the  coefficient must be configured 4 (I.e 8Khz  = 4x2Khz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_timing_extref_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:32]</code></td>
<td><code>ext3n2k</code></td>
<td>The 2Khz coefficient of the third external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>ext2n2k</code></td>
<td>The 2Khz coefficient of the second external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>ext1n2k</code></td>
<td>The 2Khz coefficient of the first external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-sts-timing-control">CDR STS Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_sts_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0800-0x000_081F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000_0800+STS</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$STS(0-23):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[29:20]</code></td>
<td><code>cdrchid</code></td>
<td>CDR channel ID in CDR mode.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>mapstsmode</code></td>
<td>Map STS mode 0: Payload STS mode 1: Payload DE3 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>vc3ststimemode</code></td>
<td>VC3 STS time mode (For DS3 over SONET) 0: Internal timing mode 1: Reserve 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: Reserve 9: OCN System timing mode 10: Reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>de3timemode</code></td>
<td>DE3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: ACR timing mode 9: OCN System timing mode 10: DCR timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: ACR timing mode for CEP mode 9: OCN System timing mode 10: DCR timing mode for CEP mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-vt-timing-control">CDR VT Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per VT</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_vt_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0C00-0x000_0FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000_0C00 + STS*32 + TUG*4 + VT</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STS(0-23):</code></p>
</li>
<li>
<p><code>$TUG(0 -6):</code></p>
</li>
<li>
<p><code>$VT(0-3): (0-2)in E1 and (0-3) in DS1</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>24</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21:12]</code></td>
<td><code>cdrchid</code></td>
<td>CDR channel ID in CDR mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>vteparen</code></td>
<td>VT EPAR mode 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>mapvtmode</code></td>
<td>Map VT mode 0: Payload VT15/VT2 mode 1: Payload DS1/E1 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>de1timemode</code></td>
<td>DE1 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: ACR timing mode 9: OCN System timing mode 10: DCR timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>vttimemode</code></td>
<td>VT time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: ACR timing mode for CEP mode 9: OCN System timing mode 10: DCR timing mode for CEP mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-top-timing-frame-sync-8k-control">CDR ToP Timing Frame sync 8K control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing source to generate the 125us signal frame sync for ToP</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_top_timing_frmsync_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0820</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[18:16]</code></td>
<td><code>toppdhlinetype</code></td>
<td>Line type of DS1/E1 loop time or PDH CDR 0: E1 1: DS1 2: VT2 3: VT15 4: E3 5: DS3 6: STS1 7: Reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:4]</code></td>
<td><code>toppdhlineid</code></td>
<td>Line ID of DS1/E1 loop time or PDH/CEP CDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>toptimemode</code></td>
<td>Time mode  for ToP 0: System timing mode 1: DS1/E1 Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: PDH CDR timing mode 9: OCN System timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-reference-sync-8k-master-output-control">CDR Reference Sync 8K Master Output control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing source to generate the reference sync master output signal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_refsync_master_octrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0821</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[18:16]</code></td>
<td><code>refout1pdhlinetype</code></td>
<td>Line type of DS1/E1 loop time or PDH/CEP CDR 0: E1 1: DS1 2: VT2 3: VT15 4: E3 5: DS3 6: STS1 7: Reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:4]</code></td>
<td><code>refout1pdhlineid</code></td>
<td>Line ID of DS1/E1 loop time or PDH CDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>refout1timemode</code></td>
<td>Time mode for RefOut1 0: System timing mode 1: DS1/E1 Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: PDH CDR timing mode 9: External Clock sync</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-reference-sync-8k-slaver-output-control">CDR Reference Sync 8k Slaver Output control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing source to generate the reference sync slaver output signal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_refsync_slaver_octrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000_0822</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[18:16]</code></td>
<td><code>refout2pdhlinetype</code></td>
<td>Line type of DS1/E1 loop time or PDH/CEP CDR 0: E1 1: DS1 2: VT2 3: VT15 4: E3 5: DS3 6: STS1 7: Reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:4]</code></td>
<td><code>refout2pdhlineid</code></td>
<td>Line ID of DS1/E1 loop time or PDH CDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>refout2timemode</code></td>
<td>Time mode for RefOut1 0: System timing mode 1: DS1/E1 Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: PDH CDR timing mode 9: External Clock sync</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-acr-timing-external-reference-and-prc-control">CDR ACR Timing External reference  and PRC control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure for the 2Khz coefficient of external reference signal, PRC clock in order to generate the sync 125us timing. The mean that, if the reference signal is 8Khz, the  coefficient must be configured 4 (I.e 8Khz  = 4x2Khz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_acr_timing_extref_prc_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0020000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>txocnn2k</code></td>
<td>The 2Khz coefficient of the Ethernet clock signal, default 125Mhz input clock</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:32]</code></td>
<td><code>ext2n2k</code></td>
<td>The 2Khz coefficient of the second external reference signal, default 8khz input signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>ext1n2k</code></td>
<td>The 2Khz coefficient of the first external reference signal, default 8khz input signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>ocn1n2k</code></td>
<td>The 2Khz coefficient of the SONET interface signal, default 8khz input signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-acr-engine-timing-control">CDR ACR Engine Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_acr_eng_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0020800-0x0020BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0020800 + CHID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CHID(0-768):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[26]</code></td>
<td><code>vc4_4c</code></td>
<td>VC4_4c/TU3 mode 0: STS1/VC4 1: TU3/VC4-4c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>pktlen_ind</code></td>
<td>The payload packet  length for jumbo frame</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>holdvalmode</code></td>
<td>Hold value mode of NCO, default value 0 0: Hardware calculated and auto update 1: Software calculated and update, hardware is disabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>seqmode</code></td>
<td>Sequence mode mode, default value 0 0: Wrap zero 1: Skip zero</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>linetype</code></td>
<td>Line type mode 0: E1 1: DS1 2: VT2 3: VT15 4: E3 5: DS3 6: STS1/TU3 7: VC4/VC4-4c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:4]</code></td>
<td><code>pktlen</code></td>
<td>The payload packet  length parameter to create a packet. SAToP mode: The number payload of bit. CESoPSN mode: The number of bit which converted to full DS1/E1 rate mode. In CESoPSN mode, the payload is assembled by NxDS0 with M frame, the value configured to this register is Mx256 bits for E1 mode, Mx193 bits for DS1 mode.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>cdrtimemode</code></td>
<td>CDR time mode 0: System mode 1: Loop timing mode, transparency service Rx clock to service Tx clock 2: LIU timing mode, using service Rx clock for CDR source to generate service Tx clock 3: Prc timing mode, using Prc clock for CDR source to generate service Tx clock 4: Ext#1 timing mode, using Ext#1 clock for CDR source to generate service Tx clock 5: Ext#2 timing mode, using Ext#2 clock for CDR source to generate service Tx clock 6: Tx SONET timing mode, using Tx Line OCN clock for CDR source to generate service Tx clock 7: Free timing mode, using system clock for CDR source to generate service Tx clock 8: ACR timing mode 9: Reserve 10: DCR timing mode 11: Reserve 12: ACR Fast lock mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-adjust-state-status">CDR Adjust State status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store status or configure  some parameter of per CDR engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_adj_state_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021000-0x00213FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021000 + CHID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CHID(0-768):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2:0]</code></td>
<td><code>adjstate</code></td>
<td>Adjust state 0: Load state 1: Holdover state 2: Initialization state 3: Learn State 4: Rapid State 5: Lock State</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-adjust-holdover-value-status">CDR Adjust Holdover value status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store status or configure  some parameter of per CDR engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_adj_holdover_value_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021800-0x0021BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021800 + CHID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CHID(0-768):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>holdval</code></td>
<td>NCO Holdover value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-tx-engine-active-control">DCR TX Engine Active Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to activate the DCR TX Engine. Active high.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_tx_eng_active_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>data</code></td>
<td>DCR TX Engine Active Control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-source-select-configuration">DCR PRC Source Select Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure to select PRC source for PRC timer. The PRC clock selected must be less than 19.44 Mhz.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prc_src_sel_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>dcrprcdirectmode</code></td>
<td>0: Select RTP frequency lower than 65535 and use value DCRRTPFreq as RTP frequency 1: Select RTP frequency value 155.52Mhz divide by DcrRtpFreqDivide. In this mode, below DcrPrcSourceSel[2:0] must set to 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>dcrprcsourcesel</code></td>
<td>PRC source selection. 0: PRC Reference Clock 1: System Clock 19Mhz 2: External Reference Clock 1. 3: External Reference Clock 2. 4: Ocn Line Clock Port 1 5: Ocn Line Clock Port 2 6: Ocn Line Clock Port 3 7: Ocn Line Clock Port 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-frequency-configuration">DCR PRC Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to select RTP frequency 77.76Mhz or 155.52Mhz</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prd_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrrtpfreqdivide</code></td>
<td>Dcr RTP Frequency = 155.52Mhz/ DcrRtpFreqDivide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-frequency-configuration_1">DCR PRC Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the frequency of PRC clock.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prc_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x001000b</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrprcfrequency</code></td>
<td>Frequency of PRC clock. This is used to configure the frequency of PRC clock in Khz. Unit is Khz. Exp: The PRC clock is 19.44Mhz. This register will be configured to 19440.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-rtp-frequency-configuration">DCR RTP Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the frequency of PRC clock.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_rtp_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x001000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrrtpfreq</code></td>
<td>Frequency of RTP clock. This is used to configure the frequency of RTP clock in Khz. Unit is Khz. Exp: The RTP clock is 19.44Mhz. This register will be configured to 19440.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-tx-engine-timing-control">DCR Tx Engine Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_tx_eng_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0010400 + CHID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$CHID(0-768):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21:19]</code></td>
<td><code>pktlen_bit</code></td>
<td>The payload packet length BIT, PktLen[2:0]</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:16]</code></td>
<td><code>linetype</code></td>
<td>Line type mode 0: DS1 1: E1 2: DS3 3: E3 4: VT15 5: VT2 6: STS1/TU3 7: Reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>pktlen_byte</code></td>
<td>The payload packet length Byte, PktLen[17:3]</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-enable-control">CDR per Channel Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt enable of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_en_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025000-0x000253FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025000 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-23): STS-1/VC-3 ID</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlokcedintren</code></td>
<td>Set 1 to enable change UnLocked te event to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-status">CDR per Channel Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt tus of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025400-0x000257FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025400 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-23): STS-1/VC-3 ID</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlockedintr</code></td>
<td>Set 1 if there is a change in UnLocked the event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-current-status">CDR per Channel Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel Current tus of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_curr_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025800-0x00025BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025800 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-23): STS-1/VC-3 ID</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlockedcurrsta</code></td>
<td>Current tus of UnLocked event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-or-status">CDR per Channel Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 32 bits for 32 VT/TUs of the related STS/VC in the CDR. Each bit is used to store Interrupt OR tus of the related DS1/E1.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025C00-0x00025C1F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025C00 +  StsID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$StsID(0-23): STS-1/VC-3 ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cdrvtintrorsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding DS1/E1 is set and its interrupt is enabled.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-stsvc-interrupt-or-status">CDR per STS/VC Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 24 bits for 24 STS/VCs of the CDR. Each bit is used to store Interrupt OR tus of the related STS/VC.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_stsvc_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cdrstsintrorsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding STS/VC is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-stsvc-interrupt-enable-control">CDR per STS/VC Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 24 interrupt enable bits for 24 STS/VCs in the Rx DS1/E1/J1 Framer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_stsvc_intr_en_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025FFE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cdrstsintren</code></td>
<td>Set to 1 to enable the related STS/VC to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>