<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_cla">AF6CNC0011_RD_CLA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Classify Global PSN Control</code></td>
<td><code>0x00000000</code></td>
</tr>
<tr>
<td><code>Classify Per Pseudowire Type Control</code></td>
<td><code>0x0000B000-0x0000B29F #The address format for these registers is 0x0000C000 + PWID</code></td>
</tr>
<tr>
<td><code>Classify HBCE Global Control</code></td>
<td><code>0x00008000</code></td>
</tr>
<tr>
<td><code>Classify HBCE Hashing Table Control</code></td>
<td><code>0x00009000 - 0x00009FFF</code></td>
</tr>
<tr>
<td><code>Classify HBCE Looking Up Information Control</code></td>
<td><code>0x0000A000 - 0x0000AFFF #The address format for these registers is 0x0000E000 +  $CellID</code></td>
</tr>
<tr>
<td><code>CDR Pseudowire Look Up Control</code></td>
<td><code>0x00003000 - 0x0000329F</code></td>
</tr>
<tr>
<td><code>Classify Pseudowire MEF over MPLS Control</code></td>
<td><code>0x0000C000 - 0x0000C29F</code></td>
</tr>
<tr>
<td><code>Classify Per Group Enable Control</code></td>
<td><code>0x0000D000 - 0x0000D29F</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-global-psn-control">Classify Global PSN Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register controls operation modes of PSN interface.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glb_psn</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>rxpsnvlantagmodeen</code></td>
<td>1: Enable (default) VLAN TAG mode which contain PWID 0:  Disable VLAN TAG mode, normal PSN operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>rxsendlbit2cdren</code></td>
<td>Enable to send Lbit to CDR engine 1: Enable to send Lbit 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>rxpsnmplsoutlabelchecken</code></td>
<td>Enable to check MPLS outer 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>rxpsncpubfdctlen</code></td>
<td>Enable VCCV BFD control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>rxmaccheckdis</code></td>
<td>Disable to check MAC address at Ethernet port receive direction 1: Disable checking 0: Enable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>rxpsncpuicmpen</code></td>
<td>Enable ICMP control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>rxpsncpuarpen</code></td>
<td>Enable ARP control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>pweloopclaen</code></td>
<td>Enable Loop back traffic from PW Encapsulation to Classification 1: Enable Loop back mode 0: Normal, not loop back</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>rxpsnipudpmode</code></td>
<td>This bit is applicable for Ipv4/Ipv6 packet from Ethernet side 1: Classify engine uses RxPsnIpUdpSel to decide which UDP port (Source or Destination) is used to identify pseudowire packet 0: Classify engine will automatically search for value 0x85E in source or destination UDP port. The remaining UDP port is used to identify pseudowire packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>rxpsnipudpsel</code></td>
<td>This bit is applicable for Ipv4/Ipv6 using to select Source or Destination to identify pseudowire packet from Ethernet side. It is not use when RxPsnIpUdpMode is zero 1: Classify engine selects source UDP port to identify pseudowire packet 0: Classify engine selects destination UDP port to identify pseudowire packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>rxpsnipttlchken</code></td>
<td>Enable check TTL field in MPLS/Ipv4 or Hop Limit field in Ipv6 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:0]</code></td>
<td><code>rxpsnmplsoutlabel</code></td>
<td>Received 2-label MPLS packet from PSN side will be discarded when it&rsquo;s outer label is different than RxPsnMplsOutLabel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-pseudowire-type-control">Classify Per Pseudowire Type Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures identification types per pseudowire</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>per_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000B000-0x0000B29F #The address format for these registers is 0x0000C000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000B000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>62</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[61]</code></td>
<td><code>rxethpwonflyvc34</code></td>
<td>CEP EBM on-fly fractional, length changed</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[60:47]</code></td>
<td><code>rxethpwlen</code></td>
<td>length of packet to check malform</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[46:45]</code></td>
<td><code>rxethcepmode</code></td>
<td>CEP mode working 0,1: CEP basic 2: VC3 fractional 3: VC4 fractional</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[44]</code></td>
<td><code>rxethpwen</code></td>
<td>PW enable working 1: Enable PW 0: Disable PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[43:12]</code></td>
<td><code>rxethrtpssrcvalue</code></td>
<td>This value is used to compare with SSRC value in RTP header of received TDM PW packets</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:5]</code></td>
<td><code>rxethrtpptvalue</code></td>
<td>This value is used to compare with PT value in RTP header of received TDM PW packets</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>rxethrtpen</code></td>
<td>Enable RTP 1: Enable RTP 0: Disable RTP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>rxethrtpssrcchken</code></td>
<td>Enable checking SSRC field of RTP header in received TDM PW packet 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>rxethrtpptchken</code></td>
<td>Enable checking PT field of RTP header in received TDM PW packet 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>rxethpwtype</code></td>
<td>this is PW type working 0: CES mode without CAS 1: CES mode with CAS 2: CEP mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-global-control">Classify HBCE Global Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure global for HBCE module</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>hbce_glb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00008000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:4]</code></td>
<td><code>clahbcetimeoutvalue</code></td>
<td>this is time out value for HBCE module, packing be discarded</td>
<td><code>RW</code></td>
<td><code>0x00FF</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>clahbcehashingtableselectedpage</code></td>
<td>this is to select hashing table page to access looking up information buffer 1: PageID 1 0: PageID 0</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>clahbcecodingselectedmode</code></td>
<td>selects mode to code origin id 4/5/6/7: code level 4/5/6/7 3: code level 3 (xor 4 subgroups origin id together) 2: code level 2 1: code level 1 0: none xor origin id</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-hashing-table-control">Classify HBCE Hashing Table Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>HBCE module uses 10 bits for tabindex. tabindex is generated by hasding function applied to the origin id. The collisions due to hashing are handled by pointer to variable size blocks. // // Handling variable  size blocks requires a dynamic memory management scheme. The number of entries in each variable size block is defined by the number of rules that collide within a specific entry of //the tabindex. Hashing function applies an XOR function to all bits of tabindex. The indexes to the tabindex are generated by hashing function and therefore collisions may occur. In order to resolve //these collisions efficiently, HBCE define a complex data structure associated with each entry of the orgin id. Hashing table has two fields, flow number (flownum) (number of labelid mapped to this //particular table entry) and memory start pointer (memsptr) (hold a pointer to the variable size block and the number of  rules that collide). In case, a table entry might be empty  which means that it //is not mapped to any flow address rule, flownum = 0. Moreover, a table entry may be mapped to many flow address rules. In this case, where collisions occur, hashing table have to store a pointer to  //the variable size block and the number of rules that collide. The number of colliding rules also indicates the size of the block. The formating of hashing table page0 in each case is shown as below.%%</p>
<p>Hash ID:%%</p>
<p>PATERN HASH %%</p>
<p>Label ID (20bit)  +  Lookup mode (2bit) + port (1bit)%%</p>
<p>With Lookup Mode: 0/1/2 ~ PSN MEF/UDP/MPLS%%</p>
<ul>
<li>
<p>NOXOR       :  Hashid[10:0]  = Patern Hash [10:0], StoreID[11:0] = Patern Hash [22:11]%%</p>
</li>
<li>
<p>ONEXOR     :  Hashid[10:0]  = Patern Hash [10:0] XOR Patern Hash [21:11],%%</p>
</li>
</ul>
<p>StoreID = Patern Hash [22]%%</p>
<ul>
<li>TWOXOR    :   Hashid  = Patern Hash [10:0] XOR Patern Hash [21:11] XOR {7&rsquo;b0,Patern Hash[22]}%%</li>
</ul>
<p>StoreID = Patern Hash [22:11]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>hbce_hash_table</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00009000 - 0x00009FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00009000 + $PageID*0x1000 + $HashID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$PageID(0-1): Page selection</code></p>
</li>
<li>
<p><code>$HashID(0-2047): HashID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16:13]</code></td>
<td><code>clahbceflownumber</code></td>
<td>this is to identify HashID is empty or win or collision 0: empty format 1: normal format others: collision format</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:0]</code></td>
<td><code>clahbcememorystartpointer</code></td>
<td>this is a MemPtr to read the Classify HBCE Looking Up Information Control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-looking-up-information-control">Classify HBCE Looking Up Information Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>In HBCE module, all operations access this memory in order to examine whether an exact match exists or not. The Memory Pool implements dynamic memory management scheme and supports //variable size blocks. It supports requests for allocation and deallocation of variable size blocks when inserting and deleting lookup address occur. Linking between multiple blocks is implemented by //writing the address of the  next  block  in  the  previous block. In general, HBCE implementation is based on sequential accesses to memory pool and to the dynamically allocated collision nodes. The //formating of memory pool word is shown as below.%%</p>
<p>The format of memory pool word is shown as below. There are two case formats depend on field[23]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>hbce_lkup_info</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000A000 - 0x0000AFFF #The address format for these registers is 0x0000E000 +  $CellID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000A000 +  $CellID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$ CellID(0-8192):  Cell Info Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>37</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config #Normal format</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[35]</code></td>
<td><code>clahbceflowdirect</code></td>
<td>this configure FlowID working in normal mode (not in any group)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[34]</code></td>
<td><code>clahbcegrpworking</code></td>
<td>this configure group working or protection</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33:24]</code></td>
<td><code>clahbcegrpidflow</code></td>
<td>this configure a group ID that FlowID following</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>clahbcememorystatus</code></td>
<td>This is zero for &ldquo;normal format&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:13]</code></td>
<td><code>clahbceflowid</code></td>
<td>a number identifying the output port of HBCE module  this configure a group ID that FlowID following</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>clahbceflowenb</code></td>
<td>The flow is identified in this table, it mean the traffic is identified 1: Flow identified 0: Flow look up fail</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:0]</code></td>
<td><code>clahbcestoreid</code></td>
<td>this is saving some additional information to identify a certain lookup address rule within a particular table entry HBCE and also to be able to distinguish those that collide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 #link format End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-pseudowire-look-up-control">CDR Pseudowire Look Up Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register is used to select PW for CDR function.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_pw_lkup_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00003000 - 0x0000329F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00003000 + PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): pwid</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[11]</code></td>
<td><code>pwcdrslice</code></td>
<td>0: Slice 0 corresponding to sts 0,2,4,&hellip;,46 1: Slice 1 corresponding to sts 1,3,5,&hellip;,47</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>pwcdrdis</code></td>
<td>applicable for pseudowire that is enabled CDR function (eg: ACR/DCR) 0: Enable CDR (default) 1: Disable CDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>pwcdrlineid</code></td>
<td>CDR line ID lookup from pseudowire Ids.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-pseudowire-mef-over-mpls-control">Classify Pseudowire MEF over MPLS Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register is used to configure MEF over MPLS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_mef_over_mpls_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000C000 - 0x0000C29F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000C000 + $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): pwid</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>51</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[50:3]</code></td>
<td><code>rxpwmefomplsdavalue</code></td>
<td>DA value used to compare with DA in Ethernet MEF packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>rxpwmefomplsdachecken</code></td>
<td>1: Enable check  RxPwMEFoMPLSDaValue with DA in Ethernet MEF packet 0: Disable check  RxPwMEFoMPLSDaValue with DA in Ethernet MEF packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>rxpwmefomplsecidchecken</code></td>
<td>1: Enable check  ECID in Ethernet MEF packet with MPLS PW label 0: Disable check  ECID in Ethernet MEF packet with MPLS PW label</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>rxpwmefomplsen</code></td>
<td>1: Enable MEF over MPLS PW mode, in this case, after MPLS PW label is ETH MEF packet 0: Normal case, disable MEF over MPLS PW mode, in this case, after MPLS PW label is PW control word</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-group-enable-control">Classify Per Group Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures Group that Flowid (or Pseudowire ID) is enable or not</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_per_grp_enb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000D000 - 0x0000D29F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000D000 + Working_ID*0x400 + Grp_ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Working_ID(0-1): CLAHbceGrpWorking</code></p>
</li>
<li>
<p><code>$Grp_ID(0-671): CLAHbceGrpIDFlow</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>clagrppwen</code></td>
<td>This indicate the FlowID (or Pseudowire ID) is enable or not 1: FlowID enable 0: FlowID disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>