<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_pda">AF6CNC0011_RD_PDA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire PDA Jitter Buffer Control</code></td>
<td><code>0x00003000 - 0x0000329F</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Ethernet PAD Control</code></td>
<td><code>0x0001000</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Ethernet PAD Control</code></td>
<td><code>0x0001001</code></td>
</tr>
<tr>
<td><code>4.1.4. Pseudowire PDA Reorder Control</code></td>
<td><code>0x0004000-0x0000429F #The address format for these registers is 0x0004000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA TDM Mode Control</code></td>
<td><code>0x0005000-0x0000529F #The address format for these registers is 0x0005000 + $PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Idle Code Control</code></td>
<td><code>0x00005C00</code></td>
</tr>
<tr>
<td><code>Receive OAM CPU Segment Information Status</code></td>
<td><code>0x00002000</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA PW PRBS Generation Control</code></td>
<td><code>0x007000</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA PW PRBS Monitor Control</code></td>
<td><code>0x007800</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA EPAR Control</code></td>
<td><code>0x00009000 - 0x0000929F #The address format for these registers is 0x00009000 + $PWID</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-jitter-buffer-control">Pseudowire PDA Jitter Buffer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register sets jitter buffer parameters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>jitbuf_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00003000 - 0x0000329F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00003000  + $PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PwId(0-671) Pseudowire Identification</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[56:48]</code></td>
<td><code>pwlopspk</code></td>
<td>Number of consecutive empty packets to declare LOPS (lost of packet synchronization) follow rfc4842</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:34]</code></td>
<td><code>pwpayloadlen</code></td>
<td>Payload length of receive pseudowire packet, set 0 for ATM PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33:29]</code></td>
<td><code>pwsetlofs</code></td>
<td>Number of consecutive lost packets to enter lost of frame state(LOFS), set 0 for ATM PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:24]</code></td>
<td><code>pwclearlofs</code></td>
<td>Number of consecutive good packets to exit lost of frame state(LOFS), set 0 for ATM PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:12]</code></td>
<td><code>pdvsizepk</code></td>
<td>Set 0 for ATM PW. This parameter is to prevent packet delay variation(PDV) from PSN. PdvSizePk is packet delay variation measured in packet unit. The formula is as follow: PdvSizePk = (Pw64kbpsSpeed * PDVus)/(125<em>PwPayloadLen) + ((Pw64kbpsSpeed * PDVus)%(125</em>PwPayloadLen) !=0) Case: Pseudowire speed =   Pw64kbpsSpeed * 64kbps PDVus is packet delay variation in microsecond unit. This value should be multiple of 125us for more accurate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:0]</code></td>
<td><code>jitbufsizepk</code></td>
<td>Set default value for ATM PW. Jitter buffer size measured in packet unit. The formula is as follow In common: JitBufSizePk = 2 * PdvSizePk When user want to configure PDV and jitter buffer as independent parameters, the formular is: JitBufSizePk = (Pw64kbpsSpeed * JITBUFus)/(125<em>PwPayloadLen) + ((Pw64kbpsSpeed * JITBUFus)%(125</em>PwPayloadLen) !=0) where: Pseudowire speed =   Pw64kbpsSpeed * 64kbps JITBUFus is jitter buffer size measured in microsecond unit. This value should be multiple of 125us for more accurate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-pad-control">Pseudowire Transmit Ethernet PAD Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>jitbuf_hot_cfg_ctrl1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:1]</code></td>
<td><code>pwid</code></td>
<td>pwid</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>enable</code></td>
<td>enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-pad-control_1">Pseudowire Transmit Ethernet PAD Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>jitbuf_hot_cfg_ctrl2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ready</code></td>
<td>ready</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="414-pseudowire-pda-reorder-control">4.1.4. Pseudowire PDA Reorder Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used for TDM PW. This register configures RTP SSRC value.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>reorder_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004000-0x0000429F #The address format for these registers is 0x0004000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17:12]</code></td>
<td><code>pwreorpdv</code></td>
<td>This value is exact the same as above PdvSizePkt parameter, in case PDVSizePkt &gt; 32 packets, set PwReorPdv to 32 because reorder only support maximum 32 packets</td>
<td><code>// RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>pwreoren</code></td>
<td>0: Enable reorder pseudowire packets from Ethernet side before sending to jitter buffer 1: Disable reorder function</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>pwreortimeout</code></td>
<td>Timer to detect lost of packet sequence. The formula to calculate PwReorTimeOut value from PdvSizePk (defined in Pseudowire PDA Jitter Buffer Control register) is as follow: PwReorTimeout = (Min(32,PdvSizePk) * PwPayloadLen)/ Pw64kbpsSpeed where  Pseudowire speed =   Pw64kbpsSpeed * 64kbps</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-tdm-mode-control">Pseudowire PDA TDM Mode Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register configures modes of TDM Payload De-Assembler function</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>tdm_mode_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0005000-0x0000529F #The address format for these registers is 0x0005000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0005000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:22]</code></td>
<td><code>pdanxds0</code></td>
<td>Number of DS0 allocated for CESoP PW</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:14]</code></td>
<td><code>pdaidlecode</code></td>
<td>Idle pattern to replace data in case of Lost/Lbit packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>pdaaisuneqoff</code></td>
<td>0: Enable sending AIS/Uneq alarms from PW to TDM (default) 1: Disable sending AIS/Uneq alarms from PW to TDM</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:11]</code></td>
<td><code>pdarepmode</code></td>
<td>Mode to replace lost packets 0: Replace by replaying previous good packet (often for voice or video application) 1: Replace by AIS (default) 2: Replace by a configuration idle code</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>pdaslice</code></td>
<td>0: Slice 0, sts 0-23 (Only for DE3 card mapping port 0-23 into 0-23 of engine#0) 1: Slice 1, sts 24-47 (Only for DE3 card mapping port 24-47 into 0-23 of engine#1)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:5]</code></td>
<td><code>pdafirststsid</code></td>
<td>In case of TOH PW  &amp; CES PW: don&rsquo;t care In case of DE3 SAToP PW: this is the STS ID itself In case of  CEP basic , VC4-4c basic: don&rsquo;t care In case of  VC3  fractional (similar STS-1) : this is the STS ID itself In case of  VC4  fractional (similar STS-3) : must be 0(group sts 0,8,16) or 1(group sts 1,9,17) or 2(group sts 2,10,18) or 3(group sts 3,11,19)    to group 7 (total 8 group)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:1]</code></td>
<td><code>pdamode</code></td>
<td>TDM Payload De-Assembler modes 0: SAToP PW 1: TOH PW (similar to SAToP) 2: CESoP without CAS PW 3: CESoP with CAS PW 8: VC3/VC4/VC4-4c basic 9: VC3 fractional VC11/VC12 10: VC3 asynchronous T3/E3 11: VC4 fractional VC11/VC12/VC3 12: VC11/VC12 basic 15: DE3 SAToP Others: Reserved</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pdaebmen</code></td>
<td>In case of VC3/VC4 fractional, we have option EBM enable or not, EBM is field at CEP control word to indicated which VT is unequipped 0: Disable 1: Enable (default)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-idle-code-control">Pseudowire PDA Idle Code Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register configures idle code for TDM Payload De-Assembler replay function</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>idle_code_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00005C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>pdaidlecode</code></td>
<td>Idle code value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-oam-cpu-segment-information-status">Receive OAM CPU Segment Information Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register stores information of OAM packet that will be read and processed by CPU. CPU would serve this address by regularly polling or by scanning OAM interrupt. PDA divides an //received OAM packet into 32-byte segments. CPU has to serve this address to know whether a segment is ready to be read. When a segment (not EOP segment) has just been fullly read by CPU, the maximum //time needed for PDA to prepare next segment is 25 microseconds. CPU can depend on this parameter for polling state machine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>oam_cpu_seg_info_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00002000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:3]</code></td>
<td><code>rxcpuoamseglen</code></td>
<td>Length in byte of OAM segment. Value 0 indicates a 1-byte segment, value 31 indicate a 32-byte segment and so on. This field is useful in case of EOP segment</td>
<td><code>//        RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>rxcpuoamsegsop</code></td>
<td>Set 1 to indicate this is an SOP segment</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>rxcpuoamsegeop</code></td>
<td>Set 1 to indicate this is an EOP segment.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>rxcpuoamsegrdy</code></td>
<td>Set 1 to indicate a segment data is ready to be read by CPU</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-pw-prbs-generation-control">Pseudowire PDA PW PRBS Generation Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register configures modes of PW PRBS Generation function</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_pda_pw_prbs_gen_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x007000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x007000 + 32768*slice + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-0): is OC24 slice</code></p>
</li>
<li>
<p><code>$PwId (0 - 671): Pseudowire Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:3]</code></td>
<td><code>prbsdata</code></td>
<td>Prbs data random</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prbserror</code></td>
<td>Force PRBS Error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prbsmode</code></td>
<td>Prbs modes 0: Prbs15 (x15 + x14 + 1) 1: Prbs31 (x31 + x28 + 1)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbsenb</code></td>
<td>0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-pw-prbs-monitor-control">Pseudowire PDA PW PRBS Monitor Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register configures modes of PW PRBS Generation function</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_pda_pw_prbs_mon_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x007800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x007800 + 32768*slice + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-0): is OC24 slice</code></p>
</li>
<li>
<p><code>$PwId (0 - 671): Pseudowire Identification</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>prbserror</code></td>
<td>Force PRBS Error Sticky, Read to clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>prbssync</code></td>
<td>0: Prbs Loss Status 1: Prbs Sync Status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:1]</code></td>
<td><code>prbsdata</code></td>
<td>Prbs data random</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbsmode</code></td>
<td>Prbs modes 0: Prbs15 (x15 + x14 + 1) 1: Prbs31 (x31 + x28 + 1)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-epar-control">Pseudowire PDA EPAR Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show jitter buffer status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>epar_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00009000 - 0x0000929F #The address format for these registers is 0x00009000 + $PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00009000 +  $PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-671): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[11]</code></td>
<td><code>oeparslice</code></td>
<td>OC24 Slice</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:1]</code></td>
<td><code>oeparlid</code></td>
<td>OC24 TDM ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>oeparen</code></td>
<td>EPAR enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>