<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_xge">AF6CNC0011_RD_XGE</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>FPGA version</code></td>
<td><code>0xF00000</code></td>
</tr>
<tr>
<td><code>FPGA name</code></td>
<td><code>0xF00001</code></td>
</tr>
<tr>
<td><code>FPGA soft reset</code></td>
<td><code>0xF00004</code></td>
</tr>
<tr>
<td><code>FPGA system alarm</code></td>
<td><code>0xF00052</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Generate Configure</code></td>
<td><code>0x0 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet Number Configure</code></td>
<td><code>0x1 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet lengthg Configure</code></td>
<td><code>0x2 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet Data Configure</code></td>
<td><code>0x3 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet generate Counter RO</code></td>
<td><code>0x10 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet generate Counter R2C</code></td>
<td><code>0x20 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer PRBS Sticky Error</code></td>
<td><code>0xB00 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer PRBS Status Error</code></td>
<td><code>0xB01 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer Data Configure</code></td>
<td><code>0xA01 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkttotal</code></td>
<td><code>0x800 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktgood</code></td>
<td><code>0x801 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktfcserr</code></td>
<td><code>0x802 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length err</code></td>
<td><code>0x803 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt PRBS Data err</code></td>
<td><code>0x807 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 0-64</code></td>
<td><code>0x80A Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 65-128</code></td>
<td><code>0x80B Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 129-256</code></td>
<td><code>0x80C Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 257-512</code></td>
<td><code>0x80D Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 513-1024</code></td>
<td><code>0x80E Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 1025-2048</code></td>
<td><code>0x80F Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkttotal</code></td>
<td><code>0x900 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktgood</code></td>
<td><code>0x901 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktfcserr</code></td>
<td><code>0x902 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length err</code></td>
<td><code>0x903 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt PRBS Data err</code></td>
<td><code>0x907 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 0-64</code></td>
<td><code>0x90A Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 65-128</code></td>
<td><code>0x90B Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 129-256</code></td>
<td><code>0x90C Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 257-512</code></td>
<td><code>0x90D Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 513-1024</code></td>
<td><code>0x90E Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 1025-2048</code></td>
<td><code>0x90F Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></td>
</tr>
</tbody>
</table>
<h3 id="fpga-version">FPGA version</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test CPU</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>version_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF00000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Version</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>year</code></td>
<td>Year</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x15</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>Month</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x17</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>day</code></td>
<td>Day</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x14</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>version</code></td>
<td>Version</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x10</code></td>
</tr>
</tbody>
</table>
<h3 id="fpga-name">FPGA name</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test CPU</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>version_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF00001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Version</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>product</code></td>
<td>Product code</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x60210051</code></td>
</tr>
</tbody>
</table>
<h3 id="fpga-soft-reset">FPGA soft reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test CPU</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Master_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF00004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Write 1 to reset, write 0 to unreset</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>soft_reset</code></td>
<td>FPGA soft reset internal</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="fpga-system-alarm">FPGA system alarm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test FPGA</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Card_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF00052</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>reserved</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 8 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 7 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 6 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 5 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 4 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 3 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 2 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>xfi_pcs_block_lock</code></td>
<td>PCS Block status locked for port 1 &lt;1 = RX is synchronized  / 0 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:5]</code></td>
<td><code>reserved</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ser_init_done</code></td>
<td>OCN Serdes init done</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mig1_2x64_init_calib_complete</code></td>
<td>DDR4#1 calib_complete</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mig2_2x64_init_calib_complete</code></td>
<td>DDR4#2 calib_complete</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mig2_2x36_init_calib_complete</code></td>
<td>QDRII calib_complete</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>syspll_locked</code></td>
<td>System PLL locked status</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-generate-configure">XFI PRBS Pattern Generate Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Generate Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x0 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cfgdainc</code></td>
<td>Configure DA Address mode 1 : INC / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cfglengthinc</code></td>
<td>Configure length mode 1 : INC / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cfgnumall</code></td>
<td>Configure Packet number mode 1 : continuity   / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>cfgins_err</code></td>
<td>Configure Packet Insert Error 1 : Insert / 0: Un-insert</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cfgforcsop</code></td>
<td>Configure Force Start of packet 1 : Force / 0: Un-Force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>cfgforceop</code></td>
<td>Configure Force End of packet 1 : Force / 0: Un-Force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:6]</code></td>
<td><code>reserved</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>cfggenen</code></td>
<td>Configure PRBS packet test enable 1 : Enable / 0: Disnable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>flush</code></td>
<td>Configure flush PRBS packet gen  1 : flush / 0: Un-flush</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-number-configure">XFI PRBS Pattern Packet Number Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet Number Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x1 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cfgnumpkt</code></td>
<td>Configure number of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x14</code></td>
<td><code>0x14</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-lengthg-configure">XFI PRBS Pattern Packet lengthg Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet lengthg Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x2 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>cfglengthmin</code></td>
<td>Configure length minimum of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x40</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>cfglengthmax</code></td>
<td>Configure length maximum of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x5DC</code></td>
<td><code>0x5DC</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-data-configure">XFI PRBS Pattern Packet Data Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet Data Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x3 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7:0]</code></td>
<td><code>cfgdatfix</code></td>
<td>Configure Fixed byte Data generate</td>
<td><code>R/W</code></td>
<td><code>0x84</code></td>
<td><code>0x84</code></td>
</tr>
<tr>
<td><code>[9:8]</code></td>
<td><code>cfgdatmod</code></td>
<td>Configure data mode generate  0x1 fixed data / 0x2 : PRBS31 data</td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-generate-counter-ro">XFI PRBS Pattern Packet generate Counter RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet generate Counter RO</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x10 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>penr_opkttotal</code></td>
<td>TX Packet Counterer</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-generate-counter-r2c">XFI PRBS Pattern Packet generate Counter R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet generate Counter R2C</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x20 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x20 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>penr2cpkttotal</code></td>
<td>TX Packet Counterer</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-prbs-sticky-error">XFI PRBS Pattern Packet analyzer PRBS Sticky Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer PRBS Sticky Error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB00 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0xB00 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>err_stk</code></td>
<td>Packet analyzer PRBS Sticky Error &lt;0 = RX is synchronized /1 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-prbs-status-error">XFI PRBS Pattern Packet analyzer PRBS Status Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer PRBS Status Error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB01 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0xB01 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>err_sta</code></td>
<td>Packet analyzer PRBS Status Error &lt;0 = RX is synchronized /1 = RX is not synchronized&gt;</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-data-configure">XFI PRBS Pattern Packet analyzer Data Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer Data Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xA01 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0xA01 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>cfgfcsdrop</code></td>
<td>Configure FCS Drop</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>cfgdatmod</code></td>
<td>Configure data mode analyzer  0x1 fixed data / 0x2 : PRBS31 data</td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkttotal">XFI PRBS Packet analyzer Counter pkttotal</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkttotal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x800 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x800 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pkttotal</code></td>
<td>RX Packet total</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktgood">XFI PRBS Packet analyzer Counter pktgood</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktgood</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x801 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x801 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktgood</code></td>
<td>RX Packet good</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktfcserr">XFI PRBS Packet analyzer Counter pktfcserr</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktfcserr</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x802 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x802 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktfcserr</code></td>
<td>RX Packet FCS error</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-err">XFI PRBS Packet analyzer Counter pkt length err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x803 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x803 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlengtherr</code></td>
<td>RX Packet lengthgth error</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-prbs-data-err">XFI PRBS Packet analyzer Counter pkt PRBS Data err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt PRBS Data err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x807 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x807 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktdaterr</code></td>
<td>RX Packet PRBS data error</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-0-64">XFI PRBS Packet analyzer Counter pkt length 0-64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 0-64</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80A Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80A Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen64</code></td>
<td>RX Counter pkt length 0-64</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-65-128">XFI PRBS Packet analyzer Counter pkt length 65-128</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 65-128</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80B Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80B Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen128</code></td>
<td>RX Counter pkt length 65-128</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-129-256">XFI PRBS Packet analyzer Counter pkt length 129-256</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 129-256</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80C Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80C Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen256</code></td>
<td>RX Counter pkt length 129-256</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-257-512">XFI PRBS Packet analyzer Counter pkt length 257-512</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 257-512</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80D Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80D Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen512</code></td>
<td>RX Counter pkt length 257-215</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-513-1024">XFI PRBS Packet analyzer Counter pkt length 513-1024</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 513-1024</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80E Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80E Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen1024</code></td>
<td>RX Counter pkt length 513-1024</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-1025-2048">XFI PRBS Packet analyzer Counter pkt length 1025-2048</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 1025-2048</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80F Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x80F Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen2048</code></td>
<td>RX Counter pkt length 1025-2048</td>
<td><code>R/O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkttotal_1">XFI PRBS Packet analyzer Counter pkttotal</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkttotal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x900 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x900 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pkttotal</code></td>
<td>RX Packet total</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktgood_1">XFI PRBS Packet analyzer Counter pktgood</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktgood</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x901 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x901 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktgood</code></td>
<td>RX Packet good</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktfcserr_1">XFI PRBS Packet analyzer Counter pktfcserr</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktfcserr</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x902 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x902 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktfcserr</code></td>
<td>RX Packet FCS error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-err_1">XFI PRBS Packet analyzer Counter pkt length err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x903 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x903 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlengtherr</code></td>
<td>RX Packet lengthgth error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-prbs-data-err_1">XFI PRBS Packet analyzer Counter pkt PRBS Data err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt PRBS Data err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x907 Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x907 Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktdaterr</code></td>
<td>RX Packet PRBS data error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-0-64_1">XFI PRBS Packet analyzer Counter pkt length 0-64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 0-64</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90A Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90A Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen64</code></td>
<td>RX Counter pkt length 0-64</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-65-128_1">XFI PRBS Packet analyzer Counter pkt length 65-128</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 65-128</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90B Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90B Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen128</code></td>
<td>RX Counter pkt length 65-128</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-129-256_1">XFI PRBS Packet analyzer Counter pkt length 129-256</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 129-256</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90C Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90C Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen256</code></td>
<td>RX Counter pkt length 129-256</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-257-512_1">XFI PRBS Packet analyzer Counter pkt length 257-512</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 257-512</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90D Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90D Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen512</code></td>
<td>RX Counter pkt length 257-215</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-513-1024_1">XFI PRBS Packet analyzer Counter pkt length 513-1024</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 513-1024</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90E Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90E Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen1024</code></td>
<td>RX Counter pkt length 513-1024</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-1025-2048_1">XFI PRBS Packet analyzer Counter pkt length 1025-2048</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 1025-2048</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90F Base address : 0xF50000 - 0xF57000 &lt;Port : 1-8&gt;</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base address + 0x90F Base address : 0xF50000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen2048</code></td>
<td>RX Counter pkt length 1025-2048</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>