<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_pdhmux_rd">AF6CNC0011_RD_PDHMUX_RD</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Active Regiter</code></td>
<td><code>0x0000</code></td>
</tr>
<tr>
<td><code>Version ID</code></td>
<td><code>0x0001</code></td>
</tr>
<tr>
<td><code>PDH to LIU Look-up Table</code></td>
<td><code>0x1000 - 0x13FF</code></td>
</tr>
<tr>
<td><code>LIU to PDH Look-up Table</code></td>
<td><code>0x1400 - 0x1453</code></td>
</tr>
<tr>
<td><code>NCO mode LIU to PDH</code></td>
<td><code>0x1500 - 0x1553</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation DA bit47_32 Configuration</code></td>
<td><code>0x0002</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation DA bit32_00 Configuration</code></td>
<td><code>0x0003</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation SA bit47_32 Configuration</code></td>
<td><code>0x0004</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation SA bit32_00 Configuration</code></td>
<td><code>0x0005</code></td>
</tr>
<tr>
<td><code>Ethernet Encapsulation EtheType and EtherLength  Configuration</code></td>
<td><code>0x0006</code></td>
</tr>
<tr>
<td><code>TX LIU FIFO Overrun Counter</code></td>
<td><code>0x0200 - 0x0253</code></td>
</tr>
<tr>
<td><code>TX LIU FIFO Underrun Counter</code></td>
<td><code>0x0280 - 0x02D3</code></td>
</tr>
<tr>
<td><code>RX PDH FIFO Overrun</code></td>
<td><code>0x0010</code></td>
</tr>
<tr>
<td><code>AXI4-Stream (PDH to MAC) Packet Counter</code></td>
<td><code>0x0013</code></td>
</tr>
<tr>
<td><code>AXI4-Stream (MAC to PDH) Byte Counter</code></td>
<td><code>0x0014</code></td>
</tr>
<tr>
<td><code>AXI4-Stream (PDH to MAC) Packet Counter</code></td>
<td><code>0x0015</code></td>
</tr>
<tr>
<td><code>AXI4-Stream (PDH to MAC) Byte Counter</code></td>
<td><code>0x0016</code></td>
</tr>
<tr>
<td><code>DA/SA error packet counter</code></td>
<td><code>0x0016</code></td>
</tr>
<tr>
<td><code>Debug Stick 0</code></td>
<td><code>0x0017</code></td>
</tr>
</tbody>
</table>
<h3 id="active-regiter">Active Regiter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures Active for all Arrive modules</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>axi4_stream_loopout</code></td>
<td>AXI4 Stream loop_out</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>axi4_stream_loopin</code></td>
<td>AXI4 Stream loop_in</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>active</code></td>
<td>Module Active - Set 1: Active all modules - Set 0: De-active all modules + Flush all FIFOs + Reset all Status and Control Register</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="version-id">Version ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register shows Version ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>verion_year</code></td>
<td>Version Year</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>verion_month</code></td>
<td>Version Month</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>verion_date</code></td>
<td>Version Date</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>verion_number</code></td>
<td>Version Number</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-to-liu-look-up-table">PDH to LIU Look-up Table</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This configure is used to convert ID PDH to LIU ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_c_0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000 - 0x13FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000 + stsid*32 + vtgid*4 + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-23): stsid</code></p>
</li>
<li>
<p><code>$vtgid(0-6): stsid</code></p>
</li>
<li>
<p><code>$vtid(0-2): $vtid</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>liuenb</code></td>
<td>LIU Enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>liumod</code></td>
<td>LIU Mode - 0: For DE1 - 1: For DE3/EC1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:00]</code></td>
<td><code>liuid</code></td>
<td>Liu ID - 0-83:For DE1 - 0-23:For DE3/EC1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="liu-to-pdh-look-up-table">LIU to PDH Look-up Table</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This configure is used to convert ID PDH to LIU ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_c_1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1400 - 0x1453</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1400 + liuid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$liuid(0-83): liuid</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>liuenb</code></td>
<td>LIU Enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>pdhid</code></td>
<td>PDH ID (STS,VTG,VT)</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="nco-mode-liu-to-pdh">NCO mode LIU to PDH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This configure is used to convert ID PDH to LIU ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_c_2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1500 - 0x1553</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1500 + liuid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$liuid(0-83): liuid</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>txncomd</code></td>
<td>tx_nco_mode - Set 4: EC1. - Set 3: E3. - Set 2: DS3. - Set 1: E1. - Set 0: DS1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-da-bit47_32-configuration">Ethernet Encapsulation DA bit47_32 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the DA bit47_32</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:00]</code></td>
<td><code>da_bit47_32</code></td>
<td>DA bit47_32</td>
<td><code>R/W</code></td>
<td><code>0xCAFE</code></td>
<td><code>0xCAFE End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-da-bit32_00-configuration">Ethernet Encapsulation DA bit32_00 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the DA bit32_00</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>da_bit31_00</code></td>
<td>DA bit31_00</td>
<td><code>R/W</code></td>
<td><code>0xCAFE_CAFE</code></td>
<td><code>0xCAFE_CAFE End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-sa-bit47_32-configuration">Ethernet Encapsulation SA bit47_32 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the SA bit47_32 and Sub_Type</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>ether_subtype</code></td>
<td>Ethernet SubType - 0x0      : DS1/E1 Frames - 0x1-0xF   : reserved - 0x10       : DS3/E3/EC-1 Frames - 0x11-0x7F    : reserved - 0x80-0xFF  : control frames</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>sa_bit47_32</code></td>
<td>SA bit47_32</td>
<td><code>R/W</code></td>
<td><code>0xABCD</code></td>
<td><code>0xABCD End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-sa-bit32_00-configuration">Ethernet Encapsulation SA bit32_00 Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register  is used to configure the SA bit32_00</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>sa_bit31_00</code></td>
<td>SA bit31_00</td>
<td><code>R/W</code></td>
<td><code>0xABCD_ABCD</code></td>
<td><code>0xABCD_ABCD End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-encapsulation-ethetype-and-etherlength-configuration">Ethernet Encapsulation EtheType and EtherLength  Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the EtheType and EtherLength</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>ether_type</code></td>
<td>Ethernet Type</td>
<td><code>R/W</code></td>
<td><code>0x8800</code></td>
<td><code>0x8800</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>ether_len</code></td>
<td>Ethernet Length - DS1/E1: number of DS1/E1 * 2 bytes + 2 (seq num) - DS3/E3/EC-1: number of DS3/E3/EC-1 * 6 bytes + 2 - Control frames: length of control frame payload</td>
<td><code>R/W</code></td>
<td><code>0xAA</code></td>
<td><code>0xAA End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-liu-fifo-overrun-counter">TX LIU FIFO Overrun Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>TX LIU overrun counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0200 - 0x0253</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0200 + liuid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$liuid(0-83):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>txliuoverrun_cnt</code></td>
<td>Tx_LUI_overrun_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-liu-fifo-underrun-counter">TX LIU FIFO Underrun Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>TX LIU Underrun counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0280 - 0x02D3</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0280 + liuid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$liuid(0-83):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>txliuunderrun_cnt</code></td>
<td>Tx_LUI_underrun_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-pdh-fifo-overrun">RX PDH FIFO Overrun</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX LIU FIFO is full. Write 0xFFFF_FFFF to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen9</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rxliufull</code></td>
<td>Rx_Liu_Fifo_Full - Bit#0 for LIU ID#0 - Bit#1 for LIU ID#1 - Bit#31 for LIU ID#31 - Set 1: shown FIFO Full</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="axi4-stream-pdh-to-mac-packet-counter">AXI4-Stream (PDH to MAC) Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>AXI4-Stream Packet Counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen12</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0013</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>axispktcnt</code></td>
<td>axis_packect_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="axi4-stream-mac-to-pdh-byte-counter">AXI4-Stream (MAC to PDH) Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>AXI4-Stream Byte Counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen13</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0014</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>axisbytecnt</code></td>
<td>axis_byte_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="axi4-stream-pdh-to-mac-packet-counter_1">AXI4-Stream (PDH to MAC) Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>AXI4-Stream Packet Counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen14</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0015</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>axispktcnt</code></td>
<td>axis_packect_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="axi4-stream-pdh-to-mac-byte-counter">AXI4-Stream (PDH to MAC) Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>AXI4-Stream Byte Counter. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen15</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0016</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>axisbytecnt</code></td>
<td>axis_byte_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dasa-error-packet-counter">DA/SA error packet counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Counter DA/SA error packet of Decapsulation. Write 0x0 to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen16</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0016</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>pktcnt</code></td>
<td>axis_byte_counter</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="debug-stick-0">Debug Stick 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This sticky is used to debug. Write 0xFFFF_FFFF to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen17</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0017</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>dec_seq_err</code></td>
<td>Dec detect Sequence Error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>dec_eop_err</code></td>
<td>Dec detect EOP Error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>dec_ethlen_err</code></td>
<td>Dec detect Ethernet Lenght Error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>dec_ethtyp_err</code></td>
<td>Dec detect Ethernet Type Error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>dec_subtyp_err</code></td>
<td>Dec detect Sub Type Error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>dec_da_err</code></td>
<td>Dec detect DA error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>dec_sa_err</code></td>
<td>Dec detect SA error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>decbuf_read_err</code></td>
<td>Dec buffer read when buffer is empty</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>decbuf_write_err</code></td>
<td>Dec buffer write when buffer is full</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>encbuf_read_err</code></td>
<td>Enc buffer read when buffer is empty</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>encbuf_write_err</code></td>
<td>Enc buffer write when buffer is full</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>