<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-29</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_rd_bert_gen">AF6CNC0011_RD_BERT_GEN</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Sel Bert ID Gen</code></td>
<td><code>0x8500 - 0x851F</code></td>
</tr>
<tr>
<td><code>Bert Gen Global Register</code></td>
<td><code>0x83FF</code></td>
</tr>
<tr>
<td><code>BERT insert error</code></td>
<td><code>0x83FE</code></td>
</tr>
<tr>
<td><code>Control Bert Generate</code></td>
<td><code>0x8300 - 0x831F</code></td>
</tr>
<tr>
<td><code>Config Fix pattern gen</code></td>
<td><code>0x8310 - 0x832F</code></td>
</tr>
<tr>
<td><code>Config Insert Ber</code></td>
<td><code>0x83C0 - 0x83DF</code></td>
</tr>
<tr>
<td><code>Status of bert</code></td>
<td><code>0x8340 - 0x835F</code></td>
</tr>
<tr>
<td><code>Config nxDS0 enable</code></td>
<td><code>0x8360 - 0x837F</code></td>
</tr>
<tr>
<td><code>Moniter Good Bit</code></td>
<td><code>0x8380 - 0x839F</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-bert-id-gen">Sel Bert ID Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Sel 32 chanel id which enable generate BERT from 12xOC24 channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_id_reg_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8500 - 0x851F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8500 + $id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>gen_en</code></td>
<td>bit enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ds3_bus</code></td>
<td>indicate group DS3 ID &ldquo;0&rdquo; : DS3: bus1 &ldquo;1&rdquo; : DS3: bus2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>gen_id</code></td>
<td>channel id</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="bert-gen-global-register">Bert Gen Global Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>global config</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x83FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>global</code></td>
<td>value of global</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x00 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="bert-insert-error">BERT insert error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Insert single bit error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>errins_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x83FE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>errins_lat</code></td>
<td>enable id insert error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="control-bert-generate">Control Bert Generate</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to select mode operation of bert</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8300 - 0x831F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8300 + $ctrl_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$ctrl_id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>patbit</code></td>
<td>number of bit fix patt use</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x0 : prbs9 # 0x1 : prbs11 # 0x2 : prbs15 # 0x3 : prbs20r # 0x4 : prbs20 # 0x5 : qrss20 # 0x6 : prbs23 # 0x7 : dds1 # 0x8 : dds2 # 0x9 : dds3 # 0xA : dds4 # 0xB : dds5 # 0xC : daly # 0XD : octet55_v2 # 0xE : octet55_v3 # 0xF : fix3in24 # 0x10: fix1in8 # 0x11: fix2in8 # 0x12: fixpat # 0x13: sequence # 0x14: ds0prbs # 0x15: fixnin32</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-fix-pattern-gen">Config Fix pattern gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config fix pattern gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>thrnfix_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8310 - 0x832F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8310 + $genid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$genid (0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>crrthrnfix</code></td>
<td>config fix pattern gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-insert-ber">Config Insert Ber</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Mode of insert error rate</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x83C0 - 0x83DF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x83C0 + $berid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$berid (0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="status-of-bert">Status of bert</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate status of bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>status_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8340 - 0x835F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8340 + $sttid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$sttid (0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:45]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[44:0]</code></td>
<td><code>crr_stt</code></td>
<td>status value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-nxds0-enable">Config nxDS0 enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>enable bert for 32 timeslot E1 or 24timeslot T1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>tsen_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8360 - 0x837F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8360 + $nid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$nid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tsen_pdo</code></td>
<td>set &ldquo;1&rdquo; to enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="moniter-good-bit">Moniter Good Bit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good bit</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8380 - 0x839F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8380 + $gb_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$gb_id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:0]</code></td>
<td><code>goodbit_pdo</code></td>
<td>counter goodbit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>