<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-11</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="es_local_bus_2_1g_mdio">ES_Local_Bus_2_1G_MDIO</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Configure Raise mode for Interrupt Pin</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>Config PHY address</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>Status of Diagnostic Interrupt</code></td>
<td><code>0x11</code></td>
</tr>
<tr>
<td><code>Config Reg address</code></td>
<td><code>0x12</code></td>
</tr>
<tr>
<td><code>Config Reg address</code></td>
<td><code>0x20</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-raise-mode-for-interrupt-pin">Configure Raise mode for Interrupt Pin</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>ack bit status this bit set to 1 when Read/Write OP done and will be clear when ACK_CLR bit set</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ack_bit</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x0 + 0x0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>ack_bit</code></td>
<td>set to 1 when Read/Write OP done and will be clear when ACK_CLR bit set</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-phy-address">Config PHY address</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Config PHY address and Port Select</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_ctl1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x10 + 0x10</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>md_cs</code></td>
<td>Select MDIO control port 1-&gt;4 0 : Un-Select 1 : Select MDIO P1 2 : Select MDIO P2 3 : Select MDIO P3 4 : Select MDIO P4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>md_phyadr</code></td>
<td>MDIO Device Addresses it is fix 0x1 for Xilinx SGMII Serdes</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="status-of-diagnostic-interrupt">Status of Diagnostic Interrupt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Status of Diagnostic Interrupt 1-2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>md_ack_clr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x11 + 0x11</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>ack_clr</code></td>
<td 1>Write to Clear ACK OP<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-reg-address">Config Reg address</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Config Reg address and RNW</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_ctl2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x12 + 0x12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:05]</code></td>
<td><code>md_op</code></td>
<td>OP: operation code 2&rsquo;b00 : Open 2&rsquo;b10 : Read Operation 2&rsquo;b01 : Write Operation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>md_regadr</code></td>
<td>MDIO Register  Addresses</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-reg-address_1">Config Reg address</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Config Reg address and RNW</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_ctl3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x20</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x20 + 0x20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>md_data_read</code></td>
<td>MDIO Data  write to PHY chip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>md_data_read</code></td>
<td>MDIO Data read from PHY chip</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>