<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-11</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="es_mii_rd_diag">ES_MII_RD_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>MiiAlarmGlb</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>MiiStatusGlb</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>EthPacketConfig</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>MiiEthTestControl</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>gatetime config value</code></td>
<td><code>0x04</code></td>
</tr>
<tr>
<td><code>Gatetime Current</code></td>
<td><code>0x05</code></td>
</tr>
<tr>
<td><code>MiiTxCounterR2C.</code></td>
<td><code>0x0C</code></td>
</tr>
<tr>
<td><code>MiiRxCounterR2C..</code></td>
<td><code>0x0D</code></td>
</tr>
<tr>
<td><code>MiiTxCounterRO.</code></td>
<td><code>0x08</code></td>
</tr>
<tr>
<td><code>MiiRxCounterRO.</code></td>
<td><code>0x09</code></td>
</tr>
</tbody>
</table>
<h3 id="miialarmglb">MiiAlarmGlb</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is status of packet diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>MiiAlarmGlb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>opkterr</code></td>
<td 1>Packet Error<br></td>
<td><code>R1W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>olenerr</code></td>
<td 1>Packet Len Error<br></td>
<td><code>R1W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>odaterr</code></td>
<td 1>PRBS payload Data Error ( Not Syn)<br></td>
<td><code>R1W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>link_sta</code></td>
<td 1>PHY Link up status<br></td>
<td><code>R1W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="miistatusglb">MiiStatusGlb</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is status of packet diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>MiiStatusGlb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>opkterr</code></td>
<td 1>Packet Error<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>olenerr</code></td>
<td 1>Packet Len Error<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>odaterr</code></td>
<td 1>PRBS payload Data Error ( Not Syn)<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>link_sta</code></td>
<td 1>PHY Link up status<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ethpacketconfig">EthPacketConfig</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configuration Packet Diagnostic,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>EthPacketConfig</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x00</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>[27:20]</code></td>
<td><code>icfgpat</code></td>
<td>Data fix value for  idatamod = 0x2</td>
<td><code>R/W</code></td>
<td><code>0xBC</code></td>
<td><code>0xBC</code></td>
</tr>
<tr>
<td><code>[19:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x00</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>ibandwidth</code></td>
<td 0>Band Width<br></td>
<td><code>R/W</code></td>
<td><code>0x00</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x00</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>idatamod</code></td>
<td>Payload Data Mode 0:PRBS7 1:PRBS15 2:PRBS23 3:PRBS31</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>ipklen</code></td>
<td>Packet len</td>
<td><code>R/W</code></td>
<td><code>0x40</code></td>
<td><code>0x40</code></td>
</tr>
</tbody>
</table>
<h3 id="miiethtestcontrol">MiiEthTestControl</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configuration Diagnostic,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>MiiEthTestControl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>start_diag</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>iforceerr</code></td>
<td 0>PRBS Data Error Insert<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>test_en</code></td>
<td 0>PRBS test Enable<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="gatetime-config-value">gatetime config value</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Mate serdeses Gatetime for PRBS Raw Diagnostic port 1 to port 4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>gatetime_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16:00]</code></td>
<td><code>time_cfg</code></td>
<td>Gatetime Configuration 1-86400 second</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="gatetime-current">Gatetime Current</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Gatetime_current</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x05</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>status_gatetime_diag</code></td>
<td>Status Gatetime diagnostic port 16 to port1 bit per port 1:Running 0:Done-Ready</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>currert_gatetime_diag</code></td>
<td>Current running time of Gatetime diagnostic</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="miitxcounterr2c">MiiTxCounterR2C.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test MII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>itxpkr2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tx_counter_r2c</code></td>
<td>Tx Packet counter R2C</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="miirxcounterr2c">MiiRxCounterR2C..</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test MII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_counter_r2c</code></td>
<td>Rx counter R2C</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="miitxcounterro">MiiTxCounterRO.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test MII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tx_counter_ro</code></td>
<td>Tx counter RO</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="miirxcounterro">MiiRxCounterRO.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test MII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x09</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_counter_ro</code></td>
<td>Rx counter RO</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>