<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-10-21</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="es_xilinx_serdes_turning_configuration_rd">ES_Xilinx_Serdes_Turning_Configuration_RD</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>SERDES DRP PORT</code></td>
<td><code>0x1000-0x7FFF</code></td>
</tr>
<tr>
<td><code>SERDES LoopBack</code></td>
<td><code>0x0002-0x6002</code></td>
</tr>
<tr>
<td><code>SERDES POWER DOWN</code></td>
<td><code>0x0003-0x6003</code></td>
</tr>
<tr>
<td><code>SERDES PLL Status</code></td>
<td><code>0x000B-0x600B</code></td>
</tr>
<tr>
<td><code>SERDES TX Reset</code></td>
<td><code>0x000C-0x600C</code></td>
</tr>
<tr>
<td><code>SERDES RX Reset</code></td>
<td><code>0x000D-0x600D</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Mode</code></td>
<td><code>0x000E-0x600E</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Reset</code></td>
<td><code>0x000F-0x600F</code></td>
</tr>
<tr>
<td><code>SERDES TXDIFFCTRL</code></td>
<td><code>0x0010-0x6010</code></td>
</tr>
<tr>
<td><code>SERDES TXPOSTCURSOR</code></td>
<td><code>0x0011-0x6011</code></td>
</tr>
<tr>
<td><code>SERDES TXPRECURSOR</code></td>
<td><code>0x0012-0x6012</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-drp-port">SERDES DRP PORT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_DRP_PORT</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000-0x7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000+$G*0x2000+$P*0x400+$DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$G(0-1) : Group of Ports</code></p>
</li>
<li>
<p><code>$P(0-1) : Sub Port ID</code></p>
</li>
<li>
<p><code>$DRP(0-1023) : DRP address, see UG578</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-loopback">SERDES LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002-0x6002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0002+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>lpback_subport3</code></td>
<td 0>Loopback subport 3<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>lpback_subport2</code></td>
<td 0>Loopback subport 2<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>lpback_subport1</code></td>
<td 0>Loopback subport 1<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_subport0</code></td>
<td 0>Loopback subport 0<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-power-down">SERDES POWER DOWN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate Power Down , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_POWER_DOWN</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003-0x6003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>pdown_subport3</code></td>
<td 0>Power Down subport 3<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:04]</code></td>
<td><code>pdown_subport2</code></td>
<td 0>Power Down subport 2<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>pdown_subport1</code></td>
<td 0>Power Down subport 1<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>pdown_subport0</code></td>
<td 0>Power Down subport 0<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-pll-status">SERDES PLL Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>QPLL/CPLL status, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_PLL_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000B-0x600B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000B+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>qpll1_lock_change</code></td>
<td 1>QPLL1 has transition lock/unlock, Group 0-1<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>qpll0_lock_change</code></td>
<td 1>QPLL0 has transition lock/unlock, Group 0-1<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>qpll1_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>qpll0_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>cpll_lock_change</code></td>
<td 1>CPLL has transition lock/unlock, bit per sub port,<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>cpll_lock</code></td>
<td 1>CPLL is Locked, bit per sub port,<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-tx-reset">SERDES TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000C-0x600C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000C+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done, bit per sub port<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>txrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset TX SERDES, bit per sub port</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-rx-reset">SERDES RX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_RX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D-0x600D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done, bit per sub port<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>rxrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset RX SERDES, bit per sub port</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-mode">SERDES LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000E-0x600E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000E+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>bit per sub port<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-reset">SERDES LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F-0x600F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000F+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>bit per sub port, Must be toggled after switching between modes to initialize adaptation<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txdiffctrl">SERDES TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010-0x6010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0010+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txdiffctrl_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txdiffctrl_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txdiffctrl_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txpostcursor">SERDES TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011-0x6011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0011+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txpostcursor_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txpostcursor_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txpostcursor_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txprecursor">SERDES TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0012-0x6012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0012+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txprecursor_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txprecursor_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txprecursor_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>