<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-05-11</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="xilinx_serdes_turning_1x">Xilinx_Serdes_Turning_1x</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>SERDES DRP PORT</code></td>
<td><code>XFI (0x400-0x7FF) - SGMII&amp;Other (0x200-x3FF)</code></td>
</tr>
<tr>
<td><code>SERDES LoopBack</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>SERDES POWER DOWN</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>SERDES TX Reset</code></td>
<td><code>0x0C</code></td>
</tr>
<tr>
<td><code>SERDES RX Reset</code></td>
<td><code>0x0D</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Mode</code></td>
<td><code>0x0E</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Reset</code></td>
<td><code>0x0F</code></td>
</tr>
<tr>
<td><code>SERDES TXDIFFCTRL</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>SERDES TXPOSTCURSOR</code></td>
<td><code>0x11</code></td>
</tr>
<tr>
<td><code>SERDES TXPRECURSOR</code></td>
<td><code>0x12</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-drp-port">SERDES DRP PORT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_DRP_PORT</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>XFI (0x400-0x7FF) - SGMII&amp;Other (0x200-x3FF)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>XFI + $DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>For XFI must control port enable by TOP register control</code></p>
</li>
<li>
<p><code>$DRP(0-1023) : DRP address, see UG578</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-loopback">SERDES LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_serdes</code></td>
<td 0>Loop back mode<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-power-down">SERDES POWER DOWN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate Power Down ,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_POWER_DOWN</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>txelecidle</code></td>
<td 1>TXELECIDLE must be strapped to TXPD[1] and TXPD[0] of Port<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>txpd</code></td>
<td 0>TX Power Down<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>rxpd</code></td>
<td 0>RX Power Down<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-tx-reset">SERDES TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done, bit per sub port<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>txrst_en</code></td>
<td 1>Should reset TX_PMA SERDES about 300-500 ns<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-rx-reset">SERDES RX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_RX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done<br></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>rxrst_en</code></td>
<td 1>Should reset reset RX_PMA SERDES about 300-500 ns<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-mode">SERDES LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode ,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>bit per sub port<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-reset">SERDES LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE ,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>bit per sub port, Must be toggled after switching between modes to initialize adaptation<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txdiffctrl">SERDES TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail, there is  2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txpostcursor">SERDES TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail, there is  2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txprecursor">SERDES TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is  2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>