<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_xfi_rd_diag">AF6CNC0021_XFI_RD_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>XFI PRBS Pattern Generate Configure</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet Number Configure</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet lengthg Configure</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet Data Configure</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>XFI PRBS Diagnostic Gatetime Configuration</code></td>
<td><code>0x8</code></td>
</tr>
<tr>
<td><code>XFI PRBS Diagnostic Gatetime Current</code></td>
<td><code>0x9</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet generate Counter RO</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet generate Counter R2C</code></td>
<td><code>0x20</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer PRBS Sticky Error</code></td>
<td><code>0x700</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer PRBS Status Error</code></td>
<td><code>0x701</code></td>
</tr>
<tr>
<td><code>XFI PRBS Pattern Packet analyzer Data Configure</code></td>
<td><code>0x601</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkttotal</code></td>
<td><code>0x400</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktgood</code></td>
<td><code>0x401</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktfcserr</code></td>
<td><code>0x402</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length err</code></td>
<td><code>0x403</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt PRBS Data err</code></td>
<td><code>0x407</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 0-64</code></td>
<td><code>0x40A</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 65-128</code></td>
<td><code>0x40B</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 129-256</code></td>
<td><code>0x40C</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 257-512</code></td>
<td><code>0x40D</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 513-1024</code></td>
<td><code>0x40E</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 1025-2048</code></td>
<td><code>0x40F</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkttotal</code></td>
<td><code>0x500</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktgood</code></td>
<td><code>0x501</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pktfcserr</code></td>
<td><code>0x502</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length err</code></td>
<td><code>0x503</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt PRBS Data err</code></td>
<td><code>0x507</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 0-64</code></td>
<td><code>0x50A</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 65-128</code></td>
<td><code>0x50B</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 129-256</code></td>
<td><code>0x50C</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 257-512</code></td>
<td><code>0x50D</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 513-1024</code></td>
<td><code>0x50E</code></td>
</tr>
<tr>
<td><code>XFI PRBS Packet analyzer Counter pkt length 1025-2048</code></td>
<td><code>0x50F</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-generate-configure">XFI PRBS Pattern Generate Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Generate Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cfgdainc</code></td>
<td>Configure DA Address mode 1 : INC / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cfglengthinc</code></td>
<td>Configure length mode 1 : INC / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cfgnumall</code></td>
<td>Configure Packet number mode 1 : continuity   / 0: fixed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>cfgins_err</code></td>
<td>Configure Packet Insert Error 1 : Insert / 0: Un-insert</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cfgforcsop</code></td>
<td>Configure Force Start of packet 1 : Force / 0: Un-Force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>cfgforceop</code></td>
<td>Configure Force End of packet 1 : Force / 0: Un-Force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:6]</code></td>
<td><code>reserved</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>cfggenen</code></td>
<td>Configure PRBS packet test enable 1 : Enable / 0: Disnable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>flush</code></td>
<td>Configure flush PRBS packet gen  1 : flush / 0: Un-flush</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-number-configure">XFI PRBS Pattern Packet Number Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet Number Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cfgnumpkt</code></td>
<td>Configure number of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x14</code></td>
<td><code>0x14</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-lengthg-configure">XFI PRBS Pattern Packet lengthg Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet lengthg Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>cfglengthmin</code></td>
<td>Configure length minimum of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x40</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>cfglengthmax</code></td>
<td>Configure length maximum of packet generate</td>
<td><code>R/W</code></td>
<td><code>0x5DC</code></td>
<td><code>0x5DC</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-data-configure">XFI PRBS Pattern Packet Data Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet Data Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7:0]</code></td>
<td><code>cfgdatfix</code></td>
<td>Configure Fixed byte Data generate</td>
<td><code>R/W</code></td>
<td><code>0x84</code></td>
<td><code>0x84</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>cfgdatmod</code></td>
<td>Configure data mode generate 0x0 : Unused 0x1 : Fixed Data 0x2 : PRBS31 data 0x3 : PRBS15 data 0x4 : PRBS7  data</td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-diagnostic-gatetime-configuration">XFI PRBS Diagnostic Gatetime Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Diagnostic Gatetime Configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>icfgtime</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control and Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25]</code></td>
<td><code>status_gatetime_diag</code></td>
<td>Status Gatetime diagnostic 1:Running 0:Done-Ready</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>start_gatetime_diag</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:17]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>time_cfg</code></td>
<td>Gatetime Configuration 1-86400 second</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-diagnostic-gatetime-current">XFI PRBS Diagnostic Gatetime Current</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Diagnostic Gatetime_Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>istatuscfgtime</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>currert_gatetime_diag</code></td>
<td>Current running time of Gatetime diagnostic</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-generate-counter-ro">XFI PRBS Pattern Packet generate Counter RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet generate Counter RO</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>penr_opkttotal</code></td>
<td>TX Packet Counterer</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-generate-counter-r2c">XFI PRBS Pattern Packet generate Counter R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet generate Counter R2C</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x20</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>penr2cpkttotal</code></td>
<td>TX Packet Counterer</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-prbs-sticky-error">XFI PRBS Pattern Packet analyzer PRBS Sticky Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer PRBS Sticky Error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x700</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x700</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>err_stk</code></td>
<td>Packet analyzer PRBS Sticky Error &lt;0 = RX is synchronized /1 = RX is not synchronized&gt;</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-prbs-status-error">XFI PRBS Pattern Packet analyzer PRBS Status Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer PRBS Status Error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x701</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x701</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>err_sta</code></td>
<td>Packet analyzer PRBS Status Error &lt;0 = RX is synchronized /1 = RX is not synchronized&gt;</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-pattern-packet-analyzer-data-configure">XFI PRBS Pattern Packet analyzer Data Configure</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Pattern Packet analyzer Data Configure</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Configure_register_7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x601</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x601</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>cfgfcsdrop</code></td>
<td>Configure FCS Drop</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>cfgdatmod</code></td>
<td>Configure data mode generate 0x0 : Unused 0x1 : Fixed Data 0x2 : PRBS31 data 0x3 : PRBS15 data 0x4 : PRBS7  data</td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkttotal">XFI PRBS Packet analyzer Counter pkttotal</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkttotal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x400</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pkttotal</code></td>
<td>RX Packet total</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktgood">XFI PRBS Packet analyzer Counter pktgood</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktgood</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x401</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x401</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktgood</code></td>
<td>RX Packet good</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktfcserr">XFI PRBS Packet analyzer Counter pktfcserr</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktfcserr</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x402</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x402</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktfcserr</code></td>
<td>RX Packet FCS error</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-err">XFI PRBS Packet analyzer Counter pkt length err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x403</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x403</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlengtherr</code></td>
<td>RX Packet lengthgth error</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-prbs-data-err">XFI PRBS Packet analyzer Counter pkt PRBS Data err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt PRBS Data err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x407</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x407</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktdaterr</code></td>
<td>RX Packet PRBS data error</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-0-64">XFI PRBS Packet analyzer Counter pkt length 0-64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 0-64</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40A</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen64</code></td>
<td>RX Counter pkt length 0-64</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-65-128">XFI PRBS Packet analyzer Counter pkt length 65-128</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 65-128</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_9</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40B</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen128</code></td>
<td>RX Counter pkt length 65-128</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-129-256">XFI PRBS Packet analyzer Counter pkt length 129-256</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 129-256</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_10</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen256</code></td>
<td>RX Counter pkt length 129-256</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-257-512">XFI PRBS Packet analyzer Counter pkt length 257-512</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 257-512</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_11</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40D</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen512</code></td>
<td>RX Counter pkt length 257-215</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-513-1024">XFI PRBS Packet analyzer Counter pkt length 513-1024</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 513-1024</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_12</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40E</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen1024</code></td>
<td>RX Counter pkt length 513-1024</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-1025-2048">XFI PRBS Packet analyzer Counter pkt length 1025-2048</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 1025-2048</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_13</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40F</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen2048</code></td>
<td>RX Counter pkt length 1025-2048</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkttotal_1">XFI PRBS Packet analyzer Counter pkttotal</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkttotal</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_14</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x500</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pkttotal</code></td>
<td>RX Packet total</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktgood_1">XFI PRBS Packet analyzer Counter pktgood</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktgood</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_15</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x501</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x501</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktgood</code></td>
<td>RX Packet good</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pktfcserr_1">XFI PRBS Packet analyzer Counter pktfcserr</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pktfcserr</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_16</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x502</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x502</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktfcserr</code></td>
<td>RX Packet FCS error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-err_1">XFI PRBS Packet analyzer Counter pkt length err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_17</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x503</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x503</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlengtherr</code></td>
<td>RX Packet lengthgth error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-prbs-data-err_1">XFI PRBS Packet analyzer Counter pkt PRBS Data err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt PRBS Data err</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_18</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x507</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x507</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktdaterr</code></td>
<td>RX Packet PRBS data error</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-0-64_1">XFI PRBS Packet analyzer Counter pkt length 0-64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 0-64</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_19</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50A</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen64</code></td>
<td>RX Counter pkt length 0-64</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-65-128_1">XFI PRBS Packet analyzer Counter pkt length 65-128</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 65-128</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_20</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50B</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen128</code></td>
<td>RX Counter pkt length 65-128</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-129-256_1">XFI PRBS Packet analyzer Counter pkt length 129-256</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 129-256</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_21</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen256</code></td>
<td>RX Counter pkt length 129-256</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-257-512_1">XFI PRBS Packet analyzer Counter pkt length 257-512</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 257-512</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_22</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50D</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen512</code></td>
<td>RX Counter pkt length 257-215</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-513-1024_1">XFI PRBS Packet analyzer Counter pkt length 513-1024</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 513-1024</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_23</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50E</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen1024</code></td>
<td>RX Counter pkt length 513-1024</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="xfi-prbs-packet-analyzer-counter-pkt-length-1025-2048_1">XFI PRBS Packet analyzer Counter pkt length 1025-2048</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>XFI PRBS Packet analyzer Counter pkt length 1025-2048</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Status_register_24</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50F</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Control</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pktlen2048</code></td>
<td>RX Counter pkt length 1025-2048</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>