<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_interrupt_diag">AF6CNC0021_Interrupt_Diag</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Configure Raise mode for Interrupt Pin</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>Enable Diagnostic Interrupt</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>Status of Diagnostic Interrupt</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-raise-mode-for-interrupt-pin">Configure Raise mode for Interrupt Pin</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Configure Raise mode for Interrupt Pin  1- 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x0 + 0x0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>out_mode_1_</code></td>
<td>Diagnostic Mode for Interrupt 2 1: Interrupt Level ( Raise when enable signal high ) 0: State change (Raise on pos-edge/neg-edge of config enable signal)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>out_mode_0_</code></td>
<td>Diagnostic Mode for Interrupt 1 1: Interrupt Level ( Raise when enable signal high ) 0: State change  (Raise on pos-edge/neg-edge of config enable signal)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="enable-diagnostic-interrupt">Enable Diagnostic Interrupt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Enable Diagnostic Interrupt 1-2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_glb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x1 + 0x1</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>out_glb_1_</code></td>
<td>Trige 0-&gt;1 to start Enable Diagnostic for Interrupt 2 0-&gt;1 : Active Interrupt 1-&gt;0 : De-active Interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>out_glb_0_</code></td>
<td>Trige 0-&gt;1 to start Diagnostic for Interrupt 1 0-&gt;1 : Active Interrupt 1-&gt;0 : De-active Interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="status-of-diagnostic-interrupt">Status of Diagnostic Interrupt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Status of Diagnostic Interrupt 1-2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stickyx_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x2 + 0x2</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>oint_out</code></td>
<td 1>Interrupt has transition Enabled/ Disable , bit per sub port,<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>