<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_faceplate_serdeses_gatetime">AF6CNC0021_Faceplate_Serdeses_Gatetime</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Faceplate serdeses Gatetime for PRBS Raw Diagnostic</code></td>
<td><code>0x40-0x4F</code></td>
</tr>
<tr>
<td><code>Faceplate serdeses Gatetime</code></td>
<td><code>0x60</code></td>
</tr>
<tr>
<td><code>Faceplate serdeses Gatetime Current</code></td>
<td><code>0x61-0x70</code></td>
</tr>
</tbody>
</table>
<h3 id="faceplate-serdeses-gatetime-for-prbs-raw-diagnostic">Faceplate serdeses Gatetime for PRBS Raw Diagnostic</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Faceplate serdeses Gatetime for PRBS Raw Diagnostic port 1 to port 16</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>gatetime_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40-0x4F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Base_0x40 + 0x40 + PortID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>Port ID ( 0 - 15 )</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>start_diag</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:00]</code></td>
<td><code>time_cfg</code></td>
<td>Gatetime Configuration 1-86400 second</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>
<h3 id="faceplate-serdeses-gatetime">Faceplate serdeses Gatetime</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Faceplate_serdeses_Gatetime_Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Faceplate_serdeses_Gatetime_st</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x60</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>status_gatetime_diag</code></td>
<td>Status Gatetime diagnostic port 16 to port1 bit per port 1:Running 0:Done-Ready</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>
<h3 id="faceplate-serdeses-gatetime-current">Faceplate serdeses Gatetime Current</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Faceplate_serdeses_Gatetime_Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Faceplate_serdeses_Gatetime_current</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x61-0x70</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>Baas0x61 +0x60+Port ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>Port ID ( 1 - 16 )</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>currert_gatetime_diag</code></td>
<td>Current running time of Gatetime diagnostic</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>