<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_top_glb">AF6CNC0021_RD_TOP_GLB</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Device Product ID</code></td>
<td><code>0xF0_0000</code></td>
</tr>
<tr>
<td><code>Device Year Month Day Version ID</code></td>
<td><code>0xF0_0001</code></td>
</tr>
<tr>
<td><code>Device Internal ID</code></td>
<td><code>0xF0_0003</code></td>
</tr>
<tr>
<td><code>general purpose inputs for TX Uart</code></td>
<td><code>0x5</code></td>
</tr>
<tr>
<td><code>general purpose inputs for TX Uart</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>Flow Control Mechanism for Ethernet pass-through Diagnostic Value</code></td>
<td><code>0x41</code></td>
</tr>
<tr>
<td><code>Force Error for Flow Control Mechanism Diagnostic</code></td>
<td><code>0x42</code></td>
</tr>
<tr>
<td><code>Diagnostic Enable Control</code></td>
<td><code>0x43</code></td>
</tr>
<tr>
<td><code>OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Bus Type port 1 to 8</code></td>
<td><code>0x44</code></td>
</tr>
<tr>
<td><code>Raw PRSB test for OC192_OC48_OC12_10G_1G_100FX_16ch Serdes</code></td>
<td><code>0x45</code></td>
</tr>
<tr>
<td><code>unused</code></td>
<td><code>0x46</code></td>
</tr>
<tr>
<td><code>8Khz clock out enable for Diagnostic</code></td>
<td><code>0x47</code></td>
</tr>
<tr>
<td><code>Configure Frequency of Faceplate_Serdeses RX CLK</code></td>
<td><code>0x48</code></td>
</tr>
<tr>
<td><code>Configure Clock monitor output</code></td>
<td><code>0x49</code></td>
</tr>
<tr>
<td><code>Configure MII test enable</code></td>
<td><code>0x4A</code></td>
</tr>
<tr>
<td><code>Configure Lost of Clock Threshold For 10Ge</code></td>
<td><code>0x4D</code></td>
</tr>
<tr>
<td><code>Configure Out of Frequency Threshold For 10Ge</code></td>
<td><code>0x4E</code></td>
</tr>
<tr>
<td><code>general purpose outputs from RX Uart</code></td>
<td><code>0x60</code></td>
</tr>
<tr>
<td><code>unused</code></td>
<td><code>0x61</code></td>
</tr>
<tr>
<td><code>Top Interface Alarm Sticky</code></td>
<td><code>0x50</code></td>
</tr>
<tr>
<td><code>Raw PRSB test for OC192_OC48_OC12_10G_1G_100FX_16ch Serdes Status</code></td>
<td><code>0x51</code></td>
</tr>
<tr>
<td><code>Clock Monitoring Status</code></td>
<td><code>0x46000 - 0x4601F</code></td>
</tr>
<tr>
<td><code>Clock Monitoring Status</code></td>
<td><code>0x43000 - 0x4301F</code></td>
</tr>
<tr>
<td><code>Clock Monitoring Status</code></td>
<td><code>0x47000 - 0x4701f</code></td>
</tr>
</tbody>
</table>
<h3 id="device-product-id">Device Product ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Product ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ProductID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>productid</code></td>
<td>ProductId</td>
<td><code>RO</code></td>
<td><code>0x60290021</code></td>
<td><code>0x60290021 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-year-month-day-version-id">Device Year Month Day Version ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Year Month Day and main version ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>YYMMDD_VerID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>year</code></td>
<td>Year</td>
<td><code>RO</code></td>
<td><code>0x16</code></td>
<td><code>0x16</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>Month</td>
<td><code>RO</code></td>
<td><code>0x09</code></td>
<td><code>0x09</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>day</code></td>
<td>Day</td>
<td><code>RO</code></td>
<td><code>0x17</code></td>
<td><code>0x17</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>version</code></td>
<td>Version</td>
<td><code>RO</code></td>
<td><code>0x01</code></td>
<td><code>0x01 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-internal-id">Device Internal ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates internal ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>InternalID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF0_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>internalid</code></td>
<td>InternalID</td>
<td><code>RO</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="general-purpose-inputs-for-tx-uart">general purpose inputs for TX Uart</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the MIG Reset Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_reset_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x7</code></td>
<td><code>0x7</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>qdr1_reset</code></td>
<td>Reset Control for QDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ddr4_reset</code></td>
<td>Reset Control for DDR#4 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr3_reset</code></td>
<td>Reset Control for DDR#3 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr2_reset</code></td>
<td>Reset Control for DDR#2 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddr1_reset</code></td>
<td>Reset Control for DDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="general-purpose-inputs-for-tx-uart_1">general purpose inputs for TX Uart</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Global Serdes Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>eth_40g_tx_dup</code></td>
<td 0>Duplicate TX for 2 eth 40G<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>fsm_eth_40g_rx_gsel</code></td>
<td 0>global selection between external FSM-RXMAC and inernal selection<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>fsm_eth_40g_rx_isel</code></td>
<td 0>internal selection<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>fsm_card_pw_tx_gsel</code></td>
<td 0>global selection between external FSM-CARD and inernal selection<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:27]</code></td>
<td><code>fsm_card_pw_tx_isel</code></td>
<td 0>internal selection<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>multirate_sel</code></td>
<td 0>select 2 two RX group of Multirate serdes to CORE<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>o_control0</code></td>
<td>Uart TX 8-bit data out</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="flow-control-mechanism-for-ethernet-pass-through-diagnostic-value">Flow Control Mechanism for Ethernet pass-through Diagnostic Value</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for Flow Control Mechanism for Ethernet pass-through Diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>flowctl_gr2</code></td>
<td>FIFO status of Group 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>flowctl_gr1</code></td>
<td>FIFO status of Group 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="force-error-for-flow-control-mechanism-diagnostic">Force Error for Flow Control Mechanism Diagnostic</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration Error register for Flow Control Mechanism for Ethernet pass-through Diagnostic</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:1]</code></td>
<td><code>flowctl_diagen</code></td>
<td>Ethernet pass through flow Control Diagnostic Enable 0: Normal operation, select engine flow control 1: Diagnostic operation, select diagnostic flow control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0:0]</code></td>
<td><code>flowctl_force</code></td>
<td>Force Error for Flow Control Mechanism Diagnostic 0: Release 1: Insert Error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="diagnostic-enable-control">Diagnostic Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the MIG (DDR/QDR) Diagnostic Control</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x43</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x43</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>sfp_ocn_eth_diagen</code></td>
<td>Enable Daignostic for SFP_OCN_ETH #1-#16 (Per bit per port) 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>tsi_mate_diagen</code></td>
<td>Enable Daignostic for TSI_Mate #1-#8 (Per bit per port) 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>ddr4_diagen</code></td>
<td>Enable Daignostic for DDR#2 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ddr3_diagen</code></td>
<td>Enable Daignostic for DDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr2_diagen</code></td>
<td>Enable Daignostic for DDR#2 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr1_diagen</code></td>
<td>Enable Daignostic for DDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>qdr1_diagen</code></td>
<td>Enable Daignostic for QDR#1 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192_oc48_oc12_10g_1g_100fx_16ch_diag-bus-type-port-1-to-8">OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Bus Type port 1 to 8</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Global Serdes Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag port 1 to 8</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x44</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x44</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>bus_type_sel8</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 8 0: OC192 1: XFI 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>bus_type_sel7</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 7 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>bus_type_sel6</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 6 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>bus_type_sel5</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 5 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>bus_type_sel4</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 4 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>bus_type_sel3</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 3 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>bus_type_sel2</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 2 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>bus_type_sel1</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 1 0: OC192 1: XFI 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="raw-prsb-test-for-oc192_oc48_oc12_10g_1g_100fx_16ch-serdes">Raw PRSB test for OC192_OC48_OC12_10G_1G_100FX_16ch Serdes</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register unused</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x45</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x45</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>prbs_ier</code></td>
<td>Insert Error for Raw PRBS for port 16 to port 1 (per port per bit) 1: Insert 0: Normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>prbs_en</code></td>
<td>Enable test for Raw PRBS ( Serdes should init mode OC192 )for port 16 to port 1 (per port per bit) 1: Enable (Must config PRBS Bus_Type_Sel at  o_control4) 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="unused">unused</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration registerunused</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x46</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x46</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>bus_type_sel16</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 16 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>bus_type_sel15</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 15 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>bus_type_sel14</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 14 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>bus_type_sel13</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 13 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>bus_type_sel12</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 12 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>bus_type_sel11</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 11 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>bus_type_sel10</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 10 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>bus_type_sel9</code></td>
<td>Configure Bus Type for Diagnostic OC192_OC48_OC12_10G_1G_100FX_16ch_Diag Port 9 0: unused 1: unused 2: OC48/OC12/OC3 3: 1G 4: 100Fx 5: RAW64 PRBS 7 6: RAW64 PRBS 23 7: RAW64 PRBS 31 8: RAW16 PRBS 7 9: RAW16 PRBS 23 a: RAW16 PRBS 31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="8khz-clock-out-enable-for-diagnostic">8Khz clock out enable for Diagnostic</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x47</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x47</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:25]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>cfgref2mod</code></td>
<td 0>Configure refout2 is output from rxlclk of Faceplate_Serdeses or refout2 is PLL lock status<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>cfgref2pid</code></td>
<td>Configure refout2 source from Faceplate_Serdeses value 0 to 15 for 16 port</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>cfgref1pid</code></td>
<td>Configure refout1 source from Faceplate_Serdeses value 0 to 15 for 16 port</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfgdiagen</code></td>
<td 0>select diag refout8k or user refout8k from core,bit per sub port,<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-frequency-of-faceplate_serdeses-rx-clk">Configure Frequency of Faceplate_Serdeses RX CLK</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x48</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x48</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfgrate</code></td>
<td 0x0>Configure rate for Faceplate Serdeses RX CLK  2 bit per sub port <exp : [1:0] for port 0.....[31:30] for port 15><br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-clock-monitor-output">Configure Clock monitor output</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control9</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x49</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x49</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>cfgrefpid</code></td>
<td 0x0>Configure Source Clock monitor output for clock_mon<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-mii-test-enable">Configure MII test enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control10</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4A</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>channel0_testen</code></td>
<td>Set 1 to enable test MII channel 0</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>channel1_testen</code></td>
<td>Set 1 to enable test MII channel 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>channel2_testen</code></td>
<td>Set 1 to enable test MII channel 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>channel3_testen</code></td>
<td>Set 1 to enable test MII channel 3</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-lost-of-clock-threshold-for-10ge">Configure Lost of Clock Threshold For 10Ge</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control13</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4D</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>lost_clock_thres_10g</code></td>
<td>This value will be multiply PPM value by 156</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="configure-out-of-frequency-threshold-for-10ge">Configure Out of Frequency Threshold For 10Ge</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the TOP global configuration register</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>o_control14</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4E</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>out_of_freq_thres_10g</code></td>
<td>This value will be multiply PPM value by 156</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="general-purpose-outputs-from-rx-uart">general purpose outputs from RX Uart</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is value output from RX Uart</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>c_uart</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x60</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x60</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>fsm_rxmac</code></td>
<td>0: external FSM pin tongle rate 1Mhz to select first mac40g 1: external FSM pin tongle rate 2Mhz to select second mac40g</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>fsm_rxmac_cur</code></td>
<td>0: current selected first mac40g 1: current selected second mac40g</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>fsm_txpw</code></td>
<td>0: external FSM pin tongle rate 1Mhz to active card 1: external FSM pin tongle rate 2Mhz to standby card</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>fsm_txpw_cur</code></td>
<td>0: current card is in active state 1: current card is in standby state</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>i_status0</code></td>
<td>Uart RX 8-bit data in</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="unused_1">unused</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>unused</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x61</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x61</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-interface-alarm-sticky">Top Interface Alarm Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>ot_out</code></td>
<td>Set 1 When Over-Temperature alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>vbram_alarm_out</code></td>
<td>Set 1 When VCCBRAM-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>vccaux_alarm_out</code></td>
<td>Set 1 When VCCAUX-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>vccint_alarm_out</code></td>
<td>Set 1 When VCCINT-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>user_temp_alarm_out</code></td>
<td>Set 1 When Temperature-sensor alarm Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>alarm_out</code></td>
<td>Set 1 When SysMon Error Happens.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>systempll</code></td>
<td>Set 1 while PLL Locked state change event happens when System PLL not locked.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>qdrurst</code></td>
<td>Set 1 while user Reset state Change Happens when QDR   Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>ddr44urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#4 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>ddr43urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#3 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>ddr42urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#2 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>ddr41urst</code></td>
<td>Set 1 while user Reset State Change Happens When DDR#1 Reset User.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>qdrcalib</code></td>
<td>Set 1 while Calib state change event happens when QDR Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>ddr44calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#4 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>ddr43calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#3 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>ddr42calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#2 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddr41calib</code></td>
<td>Set 1 while Calib State Change Event Happens When DDR#1 Calib Fail.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="raw-prsb-test-for-oc192_oc48_oc12_10g_1g_100fx_16ch-serdes-status">Raw PRSB test for OC192_OC48_OC12_10G_1G_100FX_16ch Serdes Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Top Interface Alarm Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>i_sticky1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x51</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>prbs_sta</code></td>
<td>Per bit Set 1 while PRBS Monitor not syn Event Happens(per port per bit).</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="clock-monitoring-status">Clock Monitoring Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x1f : mate_txclk[7]        (155.52 Mhz)</p>
<p>0x1e : mate_txclk[6]        (155.52 Mhz)</p>
<p>0x1d : mate_txclk[5]        (155.52 Mhz)</p>
<p>0x1c : mate_txclk[4]        (155.52 Mhz)</p>
<p>0x1b : mate_txclk[3]        (155.52 Mhz)</p>
<p>0x1a : mate_txclk[2]        (155.52 Mhz)</p>
<p>0x19 : mate_txclk[1]        (155.52 Mhz)</p>
<p>0x18 : mate_txclk[0]        (155.52 Mhz)</p>
<p>0x17 : mate_rxclk[7]        (155.52 Mhz)</p>
<p>0x16 : mate_rxclk[6]        (155.52 Mhz)</p>
<p>0x15 : mate_rxclk[5]        (155.52 Mhz)</p>
<p>0x14 : mate_rxclk[4]        (155.52 Mhz)</p>
<p>0x13 : mate_rxclk[3]        (155.52 Mhz)</p>
<p>0x12 : mate_rxclk[2]        (155.52 Mhz)</p>
<p>0x11 : mate_rxclk[1]        (155.52 Mhz)</p>
<p>0x10 : mate_rxclk[0]        (155.52 Mhz)</p>
<p>0x0f : unused               (0 Mhz)</p>
<p>0x0e : ext_ref clock        (19.44 Mhz)</p>
<p>0x0d : prc_ref clock        (19.44 Mhz)</p>
<p>0x0c : spgmii_clk           (125 Mhz)</p>
<p>0x0b : kbgmii_clk           (125 Mhz)</p>
<p>0x0a : dccgmii_clk          (125 Mhz)</p>
<p>0x09 : eth_40g_1_rxclk      (312.5 Mhz)</p>
<p>0x08 : eth_40g_0_rxclk      (312.5 Mhz)</p>
<p>0x07 : eth_40g_1_rxclk      (312.5 Mhz)</p>
<p>0x06 : eth_40g_0_rxclk      (312.5 Mhz)</p>
<p>0x05 : DDR4#4 user clock    (300 Mhz)</p>
<p>0x04 : DDR4#3 user clock    (300 Mhz)</p>
<p>0x03 : DDR4#2 user clock    (300 Mhz)</p>
<p>0x02 : DDR4#1 user clock    (300 Mhz)</p>
<p>0x01 : qdr1_clk user clock  (250 Mhz)</p>
<p>0x00 : pcie_upclk clock     (62.5 Mhz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>clock_mon_high</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x46000 - 0x4601F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x46000 + port_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$port_id(0-31</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="clock-monitoring-status_1">Clock Monitoring Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x1f : serdes_multi_rate_txclk[15] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x1e : serdes_multi_rate_txclk[14] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x1d : serdes_multi_rate_txclk[13] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x1c : serdes_multi_rate_txclk[12] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x1b : serdes_multi_rate_txclk[11] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x1a : serdes_multi_rate_txclk[10] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x19 : serdes_multi_rate_txclk[9]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x18 : serdes_multi_rate_txclk[8]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x17 : serdes_multi_rate_txclk[7]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x16 : serdes_multi_rate_txclk[6]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x15 : serdes_multi_rate_txclk[5]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x14 : serdes_multi_rate_txclk[4]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x13 : serdes_multi_rate_txclk[3]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x12 : serdes_multi_rate_txclk[2]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x11 : serdes_multi_rate_txclk[1]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x10 : serdes_multi_rate_txclk[0]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0f : serdes_multi_rate_rxclk[15] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0e : serdes_multi_rate_rxclk[14] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0d : serdes_multi_rate_rxclk[13] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0c : serdes_multi_rate_rxclk[12] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0b : serdes_multi_rate_rxclk[11] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x0a : serdes_multi_rate_rxclk[10] (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x09 : serdes_multi_rate_rxclk[9]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x08 : serdes_multi_rate_rxclk[8]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x07 : serdes_multi_rate_rxclk[7]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x06 : serdes_multi_rate_rxclk[6]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x05 : serdes_multi_rate_rxclk[5]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x04 : serdes_multi_rate_rxclk[4]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x03 : serdes_multi_rate_rxclk[3]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x02 : serdes_multi_rate_rxclk[2]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x01 : serdes_multi_rate_rxclk[1]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<p>0x00 : serdes_multi_rate_rxclk[0]  (OC192+OC48=155.52 Mhz/OC12=38.88Mhz/XFI=156.25Mhz/1G+100FX=125Mhz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>clock_mon_highclock_mon_multi</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x43000 - 0x4301F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x43000 + port_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$port_id(0-31</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="clock-monitoring-status_2">Clock Monitoring Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>0x1f : unused (0 Mhz)</p>
<p>0x1e : unused (0 Mhz)</p>
<p>0x1d : pm_tick              (1 Hz) for get value frequency SW must use : F = 155520000/register value</p>
<p>0x1c : one_pps              (1 Hz) for get value frequency SW must use : F = 155520000/register value</p>
<p>0x1b : unused (0 Mhz)</p>
<p>0x1a : unused (0 Mhz)</p>
<p>0x19 : unused (0 Mhz)</p>
<p>0x18 : unused (0 Mhz)</p>
<p>0x17 : unused (0 Mhz)</p>
<p>0x16 : unused (0 Mhz)</p>
<p>0x15 : refout8k_2 (0 Mhz)</p>
<p>0x14 : refout8k_1 (0 Mhz)</p>
<p>0x13 : fsm_pcp[2]            (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x12 : fsm_pcp[1]            (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x11 : fsm_pcp[0]            (1 Mhz or 2 Mhz  frequency clk Diagnostic)</p>
<p>0x10 : spare_gpio[13]       (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0f : spare_gpio[12]       (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0e : spare_gpio[11]       (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0d : spare_gpio[10]       (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0c : spare_gpio[9]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0b : spare_gpio[8]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x0a : spare_gpio[7]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x09 : spare_gpio[6]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x08 : spare_gpio[5]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x07 : spare_gpio[4]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x06 : spare_gpio[3]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x05 : spare_gpio[2]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x04 : spare_gpio[1]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x03 : spare_gpio[0]        (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x02 : spare_clk[3]         (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x01 : spare_clk[2]         (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<p>0x00 : spare_clk0 clock     (1 Mhz or 2 Mhz  frequency clk Diagnostic for Spare PIN)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>clock_mon_slow</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x47000 - 0x4701f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x47000 + port_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$port_id(0-31</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>i_statusx</code></td>
<td>Clock Value Monitor Change from hex format to DEC format to get Clock Value</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>