<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-04-05</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_sgmii_multirate">AF6CNC0021_RD_SGMII_Multirate</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pedit Block Version</code></td>
<td><code>0x0800</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 mode</code></td>
<td><code>0x0801</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 reset</code></td>
<td><code>0x0802</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 enable</code></td>
<td><code>0x0803</code></td>
</tr>
<tr>
<td><code>Config_speed-group0</code></td>
<td><code>0x0804</code></td>
</tr>
<tr>
<td><code>Auto-neg-group00 status</code></td>
<td><code>0x0805</code></td>
</tr>
<tr>
<td><code>Auto-neg-group01 status</code></td>
<td><code>0x0806</code></td>
</tr>
<tr>
<td><code>Link-status-group0</code></td>
<td><code>0x0808</code></td>
</tr>
<tr>
<td><code>Auto-neg RX00-RX01 ability</code></td>
<td><code>0x0A00</code></td>
</tr>
<tr>
<td><code>Auto-neg RX02-RX03 ability</code></td>
<td><code>0x0A01</code></td>
</tr>
<tr>
<td><code>Auto-neg RX04-RX05 ability</code></td>
<td><code>0x0A02</code></td>
</tr>
<tr>
<td><code>Auto-neg RX06-RX07 ability</code></td>
<td><code>0x0A03</code></td>
</tr>
<tr>
<td><code>Auto-neg RX08-RX09 ability</code></td>
<td><code>0x0A04</code></td>
</tr>
<tr>
<td><code>Auto-neg RX10-RX11 ability</code></td>
<td><code>0x0A05</code></td>
</tr>
<tr>
<td><code>Auto-neg RX12-RX13 ability</code></td>
<td><code>0x0A06</code></td>
</tr>
<tr>
<td><code>Auto-neg RX14-RX15 ability</code></td>
<td><code>0x0A07</code></td>
</tr>
<tr>
<td><code>Port Interrupt Enable Control Group0</code></td>
<td><code>0x0031</code></td>
</tr>
<tr>
<td><code>Port Interrupt Status Group0</code></td>
<td><code>0x0032</code></td>
</tr>
<tr>
<td><code>Port  Event Status Sticky Group0</code></td>
<td><code>0x0040-0x004F</code></td>
</tr>
</tbody>
</table>
<h3 id="pedit-block-version">Pedit Block Version</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Pedit Block Version</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>version_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>day</code></td>
<td>day</td>
<td><code>R_O</code></td>
<td><code>0x0E</code></td>
<td><code>0x0E</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>month</td>
<td><code>R_O</code></td>
<td><code>0x0C</code></td>
<td><code>0x0C</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>year</code></td>
<td>year</td>
<td><code>R_O</code></td>
<td><code>0x0D</code></td>
<td><code>0x0D</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>number</code></td>
<td>number</td>
<td><code>R_O</code></td>
<td><code>0x01</code></td>
<td><code>0x01</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-mode">Auto-neg-group0 mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Select Auto-neg mode for 1000Basex or SGMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_mod_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0801</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>tx_enb0</code></td>
<td 1>Enable TX side bit per port, bit[16] port 0, bit[31] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_mod0</code></td>
<td 1>Auto-neg mode, bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-reset">Auto-neg-group0 reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Restart Auto-neg process of group0 from port 0 to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rst_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0802</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_rst0</code></td>
<td 1>Auto-neg reset, bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-enable">Auto-neg-group0 enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>enable/disbale Auto-neg of group 0 from port 0 to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_enb_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0803</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_enb0</code></td>
<td 1>Auto-neg enb , bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0xFFFF</code></td>
<td><code>0xFFFF</code></td>
</tr>
</tbody>
</table>
<h3 id="config_speed-group0">Config_speed-group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure speed when disable Auto-neg of group 0 from port 0 to 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_spd_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0804</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>cfg_spd15</code></td>
<td 3>Speed port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>cfg_spd14</code></td>
<td 3>Speed port 14<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>cfg_spd13</code></td>
<td 3>Speed port 13<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[25:24]</code></td>
<td><code>cfg_spd12</code></td>
<td 3>Speed port 12<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[23:22]</code></td>
<td><code>cfg_spd11</code></td>
<td 3>Speed port 11<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[21:20]</code></td>
<td><code>cfg_spd10</code></td>
<td 3>Speed port 10<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[19:18]</code></td>
<td><code>cfg_spd09</code></td>
<td 3>Speed port 9<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>cfg_spd08</code></td>
<td 3>Speed port 8<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[15:14]</code></td>
<td><code>cfg_spd07</code></td>
<td 3>Speed port 7<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>cfg_spd06</code></td>
<td 3>Speed port 6<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>cfg_spd05</code></td>
<td 3>Speed port 5<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[09:08]</code></td>
<td><code>cfg_spd04</code></td>
<td 3>Speed port 4<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>cfg_spd03</code></td>
<td 3>Speed port 3<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[05:04]</code></td>
<td><code>cfg_spd02</code></td>
<td 3>Speed port 2<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>cfg_spd01</code></td>
<td 3>Speed port 1<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>cfg_spd00</code></td>
<td 3>Speed port 0<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group00-status">Auto-neg-group00 status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>status of Auto-neg of group0 from port 0 to port 7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_sta_pen00</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0805</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>an_sta07</code></td>
<td 15-8>Speed port 7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>an_sta06</code></td>
<td 15-8>Speed port 6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>an_sta05</code></td>
<td 15-8>Speed port 5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>an_sta04</code></td>
<td 15-8>Speed port 4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>an_sta03</code></td>
<td 15-8>Speed port 3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>an_sta02</code></td>
<td 15-8>Speed port 2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>an_sta01</code></td>
<td 15-8>Speed port 1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>an_sta00</code></td>
<td 15-8>Speed port 0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group01-status">Auto-neg-group01 status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>status of Auto-neg of group0 from port 8 to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_sta_pen01</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0806</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>an_sta15</code></td>
<td 15-8>Speed port 15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>an_sta14</code></td>
<td 15-8>Speed port 14<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>an_sta13</code></td>
<td 15-8>Speed port 13<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>an_sta12</code></td>
<td 15-8>Speed port 12<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>an_sta11</code></td>
<td 15-8>Speed port 11<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>an_sta10</code></td>
<td 15-8>Speed port 10<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>an_sta09</code></td>
<td 15-8>Speed port 9<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>an_sta08</code></td>
<td 15-8>Speed port 8<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="link-status-group0">Link-status-group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Link status of group 0 from port 0  to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lnk_sync_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0808</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>lnk_sta0</code></td>
<td 1>Link status, bit per port, bit[0] port  8, bit[9] port 17<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx00-rx01-ability">Auto-neg RX00-RX01 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port00-01 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen00</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link01</code></td>
<td 1>Link status of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex01</code></td>
<td 1>duplex mode of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed01</code></td>
<td 3>speed of SGMII of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link00</code></td>
<td 1>Link status of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex00</code></td>
<td 1>duplex mode of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed00</code></td>
<td 3>speed of SGMII of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx02-rx03-ability">Auto-neg RX02-RX03 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port02-03 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen01</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link03</code></td>
<td 1>Link status of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex03</code></td>
<td 1>duplex mode of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed03</code></td>
<td 3>speed of SGMII of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link02</code></td>
<td 1>Link status of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex02</code></td>
<td 1>duplex mode of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed02</code></td>
<td 3>speed of SGMII of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx04-rx05-ability">Auto-neg RX04-RX05 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port04-05 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen02</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link05</code></td>
<td 1>Link status of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex05</code></td>
<td 1>duplex mode of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed05</code></td>
<td 3>speed of SGMII of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link04</code></td>
<td 1>Link status of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex04</code></td>
<td 1>duplex mode of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed04</code></td>
<td 3>speed of SGMII of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx06-rx07-ability">Auto-neg RX06-RX07 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port00-01 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen03</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link07</code></td>
<td 1>Link status of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex07</code></td>
<td 1>duplex mode of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed07</code></td>
<td 3>speed of SGMII of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link06</code></td>
<td 1>Link status of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex06</code></td>
<td 1>duplex mode of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed06</code></td>
<td 3>speed of SGMII of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx08-rx09-ability">Auto-neg RX08-RX09 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port08-09 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen04</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link09</code></td>
<td 1>Link status of port9<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex09</code></td>
<td 1>duplex mode of port9<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed09</code></td>
<td 3>speed of SGMII of port9<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link08</code></td>
<td 1>Link status of port8<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex08</code></td>
<td 1>duplex mode of port8<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed08</code></td>
<td 3>speed of SGMII of port8<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx10-rx11-ability">Auto-neg RX10-RX11 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port10-11 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen05</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A05</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link11</code></td>
<td 1>Link status of port11<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex11</code></td>
<td 1>duplex mode of port11<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed11</code></td>
<td 3>speed of SGMII of port11<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link10</code></td>
<td 1>Link status of port10<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex10</code></td>
<td 1>duplex mode of port10<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed10</code></td>
<td 3>speed of SGMII of port10<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx12-rx13-ability">Auto-neg RX12-RX13 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port12-13 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen06</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A06</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link13</code></td>
<td 1>Link status of port13<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex13</code></td>
<td 1>duplex mode of port13<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed13</code></td>
<td 3>speed of SGMII of port13<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link12</code></td>
<td 1>Link status of port12<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex12</code></td>
<td 1>duplex mode of port12<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed12</code></td>
<td 3>speed of SGMII of port12<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx14-rx15-ability">Auto-neg RX14-RX15 ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port14-15 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen07</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A07</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link15</code></td>
<td 1>Link status of port15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex15</code></td>
<td 1>duplex mode of port15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed15</code></td>
<td 3>speed of SGMII of port15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link14</code></td>
<td 1>Link status of port14<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex14</code></td>
<td 1>duplex mode of port14<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed14</code></td>
<td 3>speed of SGMII of port14<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="port-interrupt-enable-control-group0">Port Interrupt Enable Control Group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register provides Interrupt Enable for 16 ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>intmsk_grp0_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0031</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>linksyncinten</code></td>
<td>Link-Sync Interrupt Enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>losssignalinten</code></td>
<td>Loss-of-Signal Interrupt Enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>realigninten</code></td>
<td>Re-align Interrupt Enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>portinten</code></td>
<td 1>GMAC Port Interrupt Enable<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="port-interrupt-status-group0">Port Interrupt Status Group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register provides Interrupt Status on 16 ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>intsta_grp0_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0032</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>portintsta</code></td>
<td>Port Interrupt Status</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="port-event-status-sticky-group0">Port  Event Status Sticky Group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register provides Status Sticky on 16 ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>intstk_status_grp0_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0040-0x004F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0040 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15): Port_ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0xX</code></td>
<td><code>0xX</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>linksync_sta</code></td>
<td>Link-SYnc State</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>lossignal_sta</code></td>
<td>Loss-Signal State</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>realign_sta</code></td>
<td>Realign State</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>linksync_stk</code></td>
<td>Link-SYnc State Change Alarm</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lossignal_stk</code></td>
<td>Loss-Signal State Change Alarm</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>realign_stk</code></td>
<td>Realign State Change Alarm</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>