<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_top">AF6CCI0011_RD_TOP</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Top ETH-Port Control 0</code></td>
<td><code>0x00_0040</code></td>
</tr>
<tr>
<td><code>Top ETH-Port Control 1</code></td>
<td><code>0x00_0041</code></td>
</tr>
<tr>
<td><code>Top ETH-Port Status e</code></td>
<td><code>0x00_006e</code></td>
</tr>
</tbody>
</table>
<h3 id="top-eth-port-control-0">Top ETH-Port Control 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates the active ports.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>top_o_control0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>ecsc_mac3_rxsel</code></td>
<td>Ethernet CISCO MAC3 Select Serdes ID 0x0: CISCO_XFI_Serdes#08 0x1: CISCO_XFI_Serdes#09 0x2: CISCO_XFI_Serdes#10 0x3: CISCO_XFI_Serdes#11 0x4: CISCO_XFI_Serdes#12 0x5: CISCO_XFI_Serdes#13 0x6: CISCO_XFI_Serdes#14 0x7: CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:16]</code></td>
<td><code>ecsc_mac2_rxsel</code></td>
<td>Ethernet CISCO MAC2 Select port ID 0x0: CISCO_XFI_Serdes#08 0x1: CISCO_XFI_Serdes#09 0x2: CISCO_XFI_Serdes#10 0x3: CISCO_XFI_Serdes#11 0x4: CISCO_XFI_Serdes#12 0x5: CISCO_XFI_Serdes#13 0x6: CISCO_XFI_Serdes#14 0x7: CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:04]</code></td>
<td><code>earr_mac1_rxsel</code></td>
<td>Ethernet ARRIVE MAC1 Select XFI serdes ID 0x0: ARRIVE_XFI_Serdes#00 0x1: ARRIVE_XFI_Serdes#01 0x2: ARRIVE_XFI_Serdes#02 0x3: ARRIVE_XFI_Serdes#03 0x4: ARRIVE_XFI_Serdes#04 0x5: ARRIVE_XFI_Serdes#05 0x6: ARRIVE_XFI_Serdes#06 0x7: ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:00]</code></td>
<td><code>earr_mac0_rxsel</code></td>
<td>Ethernet ARRIVE MAC0 Select XFI serdes ID 0x0: ARRIVE_XFI_Serdes#00 0x1: ARRIVE_XFI_Serdes#01 0x2: ARRIVE_XFI_Serdes#02 0x3: ARRIVE_XFI_Serdes#03 0x4: ARRIVE_XFI_Serdes#04 0x5: ARRIVE_XFI_Serdes#05 0x6: ARRIVE_XFI_Serdes#06 0x7: ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-eth-port-control-1">Top ETH-Port Control 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates the active ports.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>top_o_control1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0041</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>ecsc_xfi_txen</code></td>
<td>Ethernet CISCO_XFI_Serdes Tx Enable bit_00 correspond for CISCO_XFI_Serdes#08 0x0: Disable 0x1: Enable bit_01 correspond for CISCO_XFI_Serdes#09 bit_02 correspond for CISCO_XFI_Serdes#10 bit_03 correspond for CISCO_XFI_Serdes#11 bit_04 correspond for CISCO_XFI_Serdes#12 bit_05 correspond for CISCO_XFI_Serdes#13 bit_06 correspond for CISCO_XFI_Serdes#14 bit_07 correspond for CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>ecsc_xfi_txsel</code></td>
<td>Ethernet CISCO_XFI_Serdes Select Data from bit_00 correspond for CISCO_XFI_Serdes#08 0x0: ECSC_MAC2_TX 0x1: ECSC_MAC3_TX bit_01 correspond for CISCO_XFI_Serdes#09 bit_02 correspond for CISCO_XFI_Serdes#10 bit_03 correspond for CISCO_XFI_Serdes#11 bit_04 correspond for CISCO_XFI_Serdes#12 bit_05 correspond for CISCO_XFI_Serdes#13 bit_06 correspond for CISCO_XFI_Serdes#14 bit_07 correspond for CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>earr_xfi_txen</code></td>
<td>Ethernet ARRIVE_XFI_Serdes Tx Enable bit_00 correspond for ARRIVE_XFI_Serdes#00 0x0: Disable 0x1: Enable bit_01 correspond for ARRIVE_XFI_Serdes#01 bit_02 correspond for ARRIVE_XFI_Serdes#02 bit_03 correspond for ARRIVE_XFI_Serdes#03 bit_04 correspond for ARRIVE_XFI_Serdes#04 bit_05 correspond for ARRIVE_XFI_Serdes#05 bit_06 correspond for ARRIVE_XFI_Serdes#06 bit_07 correspond for ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>earr_xfi_txsel</code></td>
<td>Ethernet ARRIVE_XFI_Serdes Select Data from bit_00 correspond for ARRIVE_XFI_Serdes#00 0x0: EARR_MAC0_TX 0x1: EARR_MAC1_TX bit_01 correspond for ARRIVE_XFI_Serdes#01 bit_02 correspond for ARRIVE_XFI_Serdes#02 bit_03 correspond for ARRIVE_XFI_Serdes#03 bit_04 correspond for ARRIVE_XFI_Serdes#04 bit_05 correspond for ARRIVE_XFI_Serdes#05 bit_06 correspond for ARRIVE_XFI_Serdes#06 bit_07 correspond for ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="top-eth-port-status-e">Top ETH-Port Status e</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register used to show status of Ethernet Cross-Point</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>top_i_statuse</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_006e</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>ecsc_xfi_txen</code></td>
<td>Status of Ethernet CISCO_XFI_Serdes Tx Enable bit_00 correspond for CISCO_XFI_Serdes#08 0x0: Disable 0x1: Enable bit_01 correspond for CISCO_XFI_Serdes#09 bit_02 correspond for CISCO_XFI_Serdes#10 bit_03 correspond for CISCO_XFI_Serdes#11 bit_04 correspond for CISCO_XFI_Serdes#12 bit_05 correspond for CISCO_XFI_Serdes#13 bit_06 correspond for CISCO_XFI_Serdes#14 bit_07 correspond for CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>ecsc_mac3_rxsel</code></td>
<td>Status Ethernet CISCO MAC1 Select XFI serdes ID 0x0: CISCO_XFI_Serdes#08 0x1: CISCO_XFI_Serdes#09 0x2: CISCO_XFI_Serdes#10 0x3: CISCO_XFI_Serdes#11 0x4: CISCO_XFI_Serdes#12 0x5: CISCO_XFI_Serdes#13 0x6: CISCO_XFI_Serdes#14 0x7: CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:16]</code></td>
<td><code>ecsc_mac2_rxsel</code></td>
<td>Status Ethernet CISCO MAC0 Select XFI serdes ID 0x0: CISCO_XFI_Serdes#08 0x1: CISCO_XFI_Serdes#09 0x2: CISCO_XFI_Serdes#10 0x3: CISCO_XFI_Serdes#11 0x4: CISCO_XFI_Serdes#12 0x5: CISCO_XFI_Serdes#13 0x6: CISCO_XFI_Serdes#14 0x7: CISCO_XFI_Serdes#15</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>earr_xfi_txen</code></td>
<td>Status of Ethernet ARRIVE_XFI_Serdes Tx Enable bit_00 correspond for ARRIVE_XFI_Serdes#00 0x0: Disable 0x1: Enable bit_01 correspond for ARRIVE_XFI_Serdes#01 bit_02 correspond for ARRIVE_XFI_Serdes#02 bit_03 correspond for ARRIVE_XFI_Serdes#03 bit_04 correspond for ARRIVE_XFI_Serdes#04 bit_05 correspond for ARRIVE_XFI_Serdes#05 bit_06 correspond for ARRIVE_XFI_Serdes#06 bit_07 correspond for ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:04]</code></td>
<td><code>earr_mac1_rxsel</code></td>
<td>Status Ethernet ARRIVE MAC1 Select XFI serdes ID 0x0: ARRIVE_XFI_Serdes#00 0x1: ARRIVE_XFI_Serdes#01 0x2: ARRIVE_XFI_Serdes#02 0x3: ARRIVE_XFI_Serdes#03 0x4: ARRIVE_XFI_Serdes#04 0x5: ARRIVE_XFI_Serdes#05 0x6: ARRIVE_XFI_Serdes#06 0x7: ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:00]</code></td>
<td><code>earr_mac0_rxsel</code></td>
<td>Status Ethernet ARRIVE MAC0 Select XFI serdes ID 0x0: ARRIVE_XFI_Serdes#00 0x1: ARRIVE_XFI_Serdes#01 0x2: ARRIVE_XFI_Serdes#02 0x3: ARRIVE_XFI_Serdes#03 0x4: ARRIVE_XFI_Serdes#04 0x5: ARRIVE_XFI_Serdes#05 0x6: ARRIVE_XFI_Serdes#06 0x7: ARRIVE_XFI_Serdes#07</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>