<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_backdoor">AF6CCI0011_RD_BACKDOOR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire PDA Jitter Buffer Control</code></td>
<td><code>0x00010000 - 0x00011FFF #The address format for these registers is 0x00010000 + PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Reorder Control</code></td>
<td><code>0x00020000 - 0x00021FFF #The address format for these registers is 0x00020000 + PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Low Order TDM mode Control</code></td>
<td><code>0x00030000 - 0x0003FFFF #The address format for low order path is 0x00030000 +  LoOc48ID*0x800 + LoOrderoc24Slice*0x400 + TdmOc24Pwid</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Low Order TDM Look Up Control</code></td>
<td><code>0x00040000 - 0x00043FFF #The address format for low order path is 0x00040000 +  LoOc48ID*0x800 + LoOc24Slice*0x400 + TdmOc24Pwid</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA High Order TDM Look Up Control</code></td>
<td><code>0x00044000 - 0x000441FF #The address format for high order path is 0x00044000 +  HoOc48ID*0x40 + HoMasSTS</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA High Order TDM mode Control</code></td>
<td><code>0x00050000 - 0x000501FF #The address format is 0x00050000 +  HoOc48ID*0x100 + HoMasSTS</code></td>
</tr>
<tr>
<td><code>|</code></td>
<td></td>
</tr>
<tr>
<td><code>|</code></td>
<td></td>
</tr>
<tr>
<td><code>|</code></td>
<td></td>
</tr>
<tr>
<td><code>|</code></td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-jitter-buffer-control">Pseudowire PDA Jitter Buffer Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtljitbuf.ramjitbufcfg.ram.ram[]</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00010000 - 0x00011FFF #The address format for these registers is 0x00010000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00010000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-6143): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[Thisregisterconfiguresjitterbufferparametersperpseudo-wireBegin:]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-reorder-control">Pseudowire PDA Reorder Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramreorcfg.ram.ram[]</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00020000 - 0x00021FFF #The address format for these registers is 0x00020000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00020000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-6143): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[Thisregisterconfiguresreorderparametersperpseudo-wireBegin:]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-low-order-tdm-mode-control">Pseudowire PDA Low Order TDM mode Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpdatdm.rtl20glotdm.rtllodeas.ramdeascfg0.ram.ram[],_this_is_for_slice48_1_4_rtlpdatdm.rtl20glotdm.rtllodeas.ramdeascfg1.ram.ram[],_this_is_for_slice48_5_6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00030000 - 0x0003FFFF #The address format for low order path is 0x00030000 +  LoOc48ID*0x800 + LoOrderoc24Slice*0x400 + TdmOc24Pwid</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00030000 + $LoOc48ID*0x800 + $LoOrderoc24Slice*0x400 + $TdmOc24Pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LoOc48ID(0-3): LoOC48 ID</code></p>
</li>
<li>
<p><code>$LoOrderoc24Slice(0-1): Lo-order slice oc24</code></p>
</li>
<li>
<p><code>$TdmOc24Pwid(0-1023): TDM OC24 slice PWID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ThisregisterconfigureTDMmodeforinterworkingbetweenPseudowireandLoTDMBegin:]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-low-order-tdm-look-up-control">Pseudowire PDA Low Order TDM Look Up Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpdatdm.rampwlkcfglo.ram.ram[]</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00040000 - 0x00043FFF #The address format for low order path is 0x00040000 +  LoOc48ID*0x800 + LoOc24Slice*0x400 + TdmOc24Pwid</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00040000 + LoOc48ID*0x800 + LoOc24Slice*0x400 + TdmOc24PwID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LoOc48ID(0-3): LoOC48 ID</code></p>
</li>
<li>
<p><code>$LoOc24Slice(0-1): Lo-order slice oc24</code></p>
</li>
<li>
<p><code>TdmOc24PwID(0-1023): TDM OC24 slice PWID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ThisregisterconfigurelookupfromTDMPWIDtoglobal8192PWIDBegin:]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-high-order-tdm-look-up-control">Pseudowire PDA High Order TDM Look Up Control</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpdatdm.rampwlkcfgho.ram.ram[]</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00044000 - 0x000441FF #The address format for high order path is 0x00044000 +  HoOc48ID*0x40 + HoMasSTS</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00044000 + HoOc48ID*0x40 + HoMasSTS</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HoOc48ID(0-3): HoOC48 ID</code></p>
</li>
<li>
<p><code>$HoMasSTS(0-47): HO TDM per OC48 master STS ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[ThisregisterconfigurelookupfromHOTDMmasterSTSIStoglobal8192PWIDBegin:]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-high-order-tdm-mode-control">Pseudowire PDA High Order TDM mode Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configure TDM mode for interworking between Pseudowire and Ho TDM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rtlpdahotdm.rtl48hodeas[].ramdeascfg.ram.ram[],_where_rtl48hodeas[]_is_module_instant</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00050000 - 0x000501FF #The address format is 0x00050000 +  HoOc48ID*0x100 + HoMasSTS</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00050000 + HoOc48ID*0x100 + HoMasSTS</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HoOc48ID(0-3): HoOC48 ID</code></p>
</li>
<li>
<p><code>$HoMasSTS(0-47): HO TDM per OC48 master STS ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[rtlclapro.iaf6ces96rtlcla_hcbe.irampwmod.array.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtldemap1.demap_pw_cfg_ram.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlmap1.map_pw_cfg_ram.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlmap1.map_src_cfg_ram.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlcdr1.engidcnt.timgen.ram1.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlcdr1.engidcnt.timgen.ram2.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlcdr1.engcdr.slc0_cdrnco_engacr.ramcfg.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.pdhrxmux.vtcnt.stsctrlbuf.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.stsvtdemap.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.rxm13e13.rxm23e23.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.rxm13e13.rxm12e12.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.rxm13e13.rxm12e12.vtcnt.stsctrlbuf.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.ds1e1rxfrm.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.stsvtmap.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.de1txfrm.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.txm13e13.txm23e23.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtllotdmcore0.rtlpdh1.txm13e13.txm12e12.ctrlbuf.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.cpei.ramstctri.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.cpei.ramvctri.array]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="_1"></h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : ``</p>
</li>
<li>
<p><strong>Address</strong>             : ``</p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[POHTermintateInsertControlSTStesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterpro.rtlpohccterctrl.imemrwpxctrlhi.ram]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="_2"></h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : ``</p>
</li>
<li>
<p><strong>Address</strong>             : ``</p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[POHTermintateInsertControlVT/TU3testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterpro.rtlpohccterctrl.iarray113x_ctrllo.ram]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="_3"></h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : ``</p>
</li>
<li>
<p><strong>Address</strong>             : ``</p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[POHTermintateInsertBufferSTStesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterbuflchi0.iarray112xpohbufb0testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterbuflchi0.iarray112xpohbufb1]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="_4"></h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : ``</p>
</li>
<li>
<p><strong>Address</strong>             : ``</p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>n/a</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[POHTermintateInsertBufferTU3/VTtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterbuflo0.iarray112xpohbufb0testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccter.rtlpohccterbuflo0.iarray112xpohbufb1testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.imemrwpctrl.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.imemrwptrsh.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.imemrwpctrl.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.imemrwpctrl.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.iarray112xrep.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohbercore.iarray112xrep.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccinthigrp.rtlpohccinthi0.at6rtlnosegintxwrap0.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccinthigrp.rtlpohccinthi1.at6rtlnosegintxwrap0.array112x.array....testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccinthigrp.rtlpohccinthi0.at6rtlnosegintxwrap3.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccinthigrp.rtlpohccinthi1.at6rtlnosegintxwrap3.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccintlogrp.rtlpohccintlo0.at6rtlintxwrap0.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccintlogrp.rtlpohccintlo1.at6rtlintxwrap0.array112x.array....testtop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccintlogrp.rtlpohccintlo0.at6rtlintxwrap3.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccintdef.rtlpohccintlogrp.rtlpohccintlo1.at6rtlintxwrap3.array112x.arraytesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccpm.rtlpohbercnt224bip.iarray113x_cntdat.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpoh.rtlpohccpm.rtlpohbercnt224rei.iarray113x_cntdat.ramtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl1pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#1,OC24#1(addr=0-1023)--&gt;pwidperslice24testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl1pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#1,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl2pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#2,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl2pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#2,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl3pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#3,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl3pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#3,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl4pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#4,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl4pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#4,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl5pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#5,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl5pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#5,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl6pla1cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#6,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl6pla2cfgpw_ram.array.ramaddr=data17:0--&gt;OC48#6,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl1pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#1(addr=0-2047)--&gt;pwidperslice48testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl2pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#2(addr=0-2047)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl3pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#3(addr=0-2047)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl4pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#4(addr=0-2047)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl5pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#5(addr=0-2047)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl6pwblkcfg_ram.array.ramaddr=data21:0--&gt;OC48#6(addr=0-2047)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl1pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#1,OC24#1(addr=0-1023)--&gt;pwidperslice24testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl1pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#1,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl2pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#2,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl2pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#2,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl3pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#3,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl3pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#3,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl4pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#4,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl4pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#4,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl5pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#5,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl5pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#5,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl6pla1stapw_ram.array.ramaddr=data1:0--&gt;OC48#6,OC24#1(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ilosl6pla2stapw_ram.array.ramaddr=data1:0--&gt;OC48#6,OC24#2(addr=0-1023)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip1pwcfg_ram.array.ramaddr=data--&gt;port#1(addr=0-8191)--&gt;pwidoutputtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip2pwcfg_ram.array.ramaddr=data--&gt;port#2(addr=0-8191)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip3pwcfg_ram.array.ramaddr=data--&gt;port#3(addr=0-8191)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip4pwcfg_ram.array.ramaddr=data--&gt;port#4(addr=0-8191)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip1upsrcfg_ram.array.ramaddr=data15:0--&gt;port#1(addr=0-511)--&gt;upsrgroupper16upsridtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip2upsrcfg_ram.array.ramaddr=data15:0--&gt;port#2(addr=0-511)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip3upsrcfg_ram.array.ramaddr=data15:0--&gt;port#3(addr=0-511)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip4upsrcfg_ram.array.ramaddr=data15:0--&gt;port#4(addr=0-511)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip1hspwcfg_ram.array.ramaddr=data1:0--&gt;port#1(addr=0-4095)--&gt;hspwidtesttop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip2hspwcfg_ram.array.ramaddr=data1:0--&gt;port#2(addr=0-4095)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip3hspwcfg_ram.array.ramaddr=data1:0--&gt;port#3(addr=0-4095)testtop.af6top_0i.iaf6cci0011rtlcore.rtlpla.ip4hspwcfg_ram.array.ramaddr=data1:0--&gt;port#4(addr=0-4095)PSNtesttop.af6top_0i.mem_qdr1.array.ramaddr=data127:0--&gt;(addr=0-131072)--&gt;{psncnt2:0,psnpage,pwid12:0}withpsncnt2:0=0-5(0:first16-byte,1:second16-byte....)]</code></td>
<td>``</td>
<td></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>