<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-10-04</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_epa_rmvlan">AF6CNC0021_RD_EPA_RMVLAN</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG VLAN REMOVED port 1-2</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 3-4</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 5-6</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 7-8</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED  port 9-10</code></td>
<td><code>0x04</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED  port 11-12</code></td>
<td><code>0x05</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 13-14</code></td>
<td><code>0x06</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 15-16</code></td>
<td><code>0x07</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE REMOVE VLAN TPID</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE REMOVE VLAN TPID</code></td>
<td><code>0x11</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-1-2">CONFIG VLAN REMOVED port 1-2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-3-4">CONFIG VLAN REMOVED port 3-4</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-5-6">CONFIG VLAN REMOVED port 5-6</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-7-8">CONFIG VLAN REMOVED port 7-8</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-9-10">CONFIG VLAN REMOVED  port 9-10</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-11-12">CONFIG VLAN REMOVED  port 11-12</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x05</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-13-14">CONFIG VLAN REMOVED port 13-14</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-15-16">CONFIG VLAN REMOVED port 15-16</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x07</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-remove-vlan-tpid">CONFIG ENABLE REMOVE VLAN TPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_enbtpid</code></td>
<td>bit corresponding port to config ( bit 0 is port 0), (0)  use config TPID1, (1) use config TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-remove-vlan-tpid_1">CONFIG ENABLE REMOVE VLAN TPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>out_cfgtpid2</code></td>
<td>valud TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfgtpid1</code></td>
<td>value TPID 1</td>
<td><code>R/W</code></td>
<td><code>0x8100</code></td>
<td><code>0x8100 End:</code></td>
</tr>
</tbody>
</table>