<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_eth10g">AF6CCI0011_RD_ETH10G</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>ETH 10G Version Control</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>ETH 10G Flush Control</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>ETH 10G Protection Control</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>ETH 10G Link Fault Interrupt Enable</code></td>
<td><code>0x1003</code></td>
</tr>
<tr>
<td><code>ETH 10G Link Fault Sticky</code></td>
<td><code>0x100B</code></td>
</tr>
<tr>
<td><code>ETH 10G Link Fault Current Status</code></td>
<td><code>0x100D</code></td>
</tr>
<tr>
<td><code>ETH 10G Loopback Control</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>ETH 10G MAC Reveive Control</code></td>
<td><code>0x42</code></td>
</tr>
<tr>
<td><code>ETH 10G MAC Transmit Control</code></td>
<td><code>0x43</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x0003000(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x0003800(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x0003002(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x0003802(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x0003004(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x0003804(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x0003006(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x0003806(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count512_1023 bytes packet</code></td>
<td><code>0x0003008(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count512_1023 bytes packet</code></td>
<td><code>0x0003808(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1024_1518 bytes packet</code></td>
<td><code>0x000300A(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1024_1518 bytes packet</code></td>
<td><code>0x000380A(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1519_2047 bytes packet</code></td>
<td><code>0x000300C(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1519_2047 bytes packet</code></td>
<td><code>0x000380C(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Jumbo packet</code></td>
<td><code>0x000300E(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Jumbo packet</code></td>
<td><code>0x000380E(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Total packet</code></td>
<td><code>0x0003012(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Total packet</code></td>
<td><code>0x0003812(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000301E(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000381E(RC)</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-version-control">ETH 10G Version Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register checks version ID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_ver_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>eth10gvendor</code></td>
<td>Arrive ETH 10G MAC</td>
<td><code>RO</code></td>
<td><code>0xAF</code></td>
<td><code>0xAF</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>eth10gver</code></td>
<td>Version ID</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-flush-control">ETH 10G Flush Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to flush engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_flush_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>3</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2]</code></td>
<td><code>eth10gflushctrl</code></td>
<td>Flush engine</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-protection-control">ETH 10G Protection Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to flush engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_protect_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>13</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[12]</code></td>
<td><code>eth10grxportctrl</code></td>
<td>Active/Standby port</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>eth10grxdicctrl</code></td>
<td>enable DIC(deficit idle count) funtion</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-link-fault-interrupt-enable">ETH 10G Link Fault Interrupt Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control link fault function</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_link_fault_int_enb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>eth10gforcerf</code></td>
<td 0>Force Remote fault<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>eth10gforcelf</code></td>
<td 0>Force Local fault<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>eth10gdislfault</code></td>
<td 0>Disable Link Fault function<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>eth10gswitchayns</code></td>
<td 0>switch data and code words of link fault is asynchronous<br></td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[15:7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>eth10gdataorframesyncenb</code></td>
<td 0>interrupt enable of Loss of Data Sync<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>eth10gclocklossenb</code></td>
<td 0>interrupt enable of Loss of Clock<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>eth10gclockoutrangeenb</code></td>
<td 0>interrupt enable of Frequency Out of Range<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>eth10gexerrorratioenb</code></td>
<td 0>interrupt enable of Excessive Error Ratio<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>eth10glocalfaultenb</code></td>
<td 0>interrupt enable of local fault<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>eth10gremotefaultenb</code></td>
<td 0>interrupt enable of remote fault<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>eth10ginterrptionenb</code></td>
<td 0>interrupt enable of interruption<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-link-fault-sticky">ETH 10G Link Fault Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to report sticky of link fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_link_fault_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x100B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>eth10gdataorframesyncstk</code></td>
<td>sticky state change of Loss of Data Syncsticky state change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>eth10gclocklossstk</code></td>
<td>sticky state change of Loss of Clocksticky state change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>eth10gclockoutrangestk</code></td>
<td>sticky state change of Frequency Out of Rangesticky state change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>eth10gexerrorratiostk</code></td>
<td>sticky state change of Excessive Error Ratiosticky state change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>eth10glocalfaultstk</code></td>
<td>sticky state change of local fault sticky state change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>eth10gremotefaultstk</code></td>
<td>sticky state change of remote fault</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>eth10ginterrptionstk</code></td>
<td>sticky state change of interruption</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-link-fault-current-status">ETH 10G Link Fault Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to report current status of link fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_link_fault_Cur_Sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x100D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>eth10gdataorframesynccur</code></td>
<td>sticky state change of Loss of Data Syncsticky state change</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>eth10gclocklosscur</code></td>
<td>sticky state change of Loss of Clocksticky state change</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>eth10gclockoutrangecur</code></td>
<td>sticky state change of Frequency Out of Rangesticky state change</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>eth10gexerrorratiocur</code></td>
<td>sticky state change of Excessive Error Ratiosticky state change</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>eth10glocalfaultcur</code></td>
<td>current status of local fault</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>eth10gremotefaultcur</code></td>
<td>current status of remote fault</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>eth10ginterrptioncur</code></td>
<td>current status of interruption</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-loopback-control">ETH 10G Loopback Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure loopback funtion</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_loop_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>eth10gstandportloopoutctrl</code></td>
<td>Standby port loop-out (XGMII rx to XGMII tx)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>eth10gactportloopoutctrl</code></td>
<td>Active  port loop-out (XGMII rx to XGMII tx)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>eth10gstandportloopinctrl</code></td>
<td>Standby port loop-in (XGMII tx to XGMII rx)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>eth10gactportloopinctrl</code></td>
<td>Active  port loop-in (XGMII tx to XGMII rx)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-mac-reveive-control">ETH 10G MAC Reveive Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure MAC at the reveiver direction</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_mac_rx_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>12</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[11:8]</code></td>
<td><code>eth10gmacrxipgctrl</code></td>
<td>RX inter packet gap</td>
<td><code>RW</code></td>
<td><code>0x4</code></td>
<td><code>0x4</code></td>
</tr>
<tr>
<td><code>[7:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>eth10gmacrxfcsbypassctrl</code></td>
<td>Bypass the received FCS 4-byte</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-10g-mac-transmit-control">ETH 10G MAC Transmit Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure MAC at the reveiver direction</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth10g_mac_tx_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x43</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>13</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[12:8]</code></td>
<td><code>eth10gmactxipgctrl</code></td>
<td>TX inter packet gap</td>
<td><code>RW</code></td>
<td><code>0x8</code></td>
<td><code>0x8</code></td>
</tr>
<tr>
<td><code>[7:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>eth10gmactxfcsinsctrl</code></td>
<td>Insert FCS 4-byte</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count0_64-bytes-packet">Transmit Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt0_64_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003000(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003000 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count0_64-bytes-packet_1">Transmit Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt0_64_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003800(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003800 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count65_127-bytes-packet">Transmit Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt65_127_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003002(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003002 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count65_127-bytes-packet_1">Transmit Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt65_127_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003802(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003802 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count128_255-bytes-packet">Transmit Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt128_255_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003004(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003004 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count128_255-bytes-packet_1">Transmit Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt128_255_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003804(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003804 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count256_511-bytes-packet">Transmit Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt256_511_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003006(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003006 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count256_511-bytes-packet_1">Transmit Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt256_511_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003806(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003806 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count512_1023-bytes-packet">Transmit Ethernet port Count512_1023 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt512_1024_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003008(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003008 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count512_1023-bytes-packet_1">Transmit Ethernet port Count512_1023 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt512_1024_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003808(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003808 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1024_1518-bytes-packet">Transmit Ethernet port Count1024_1518 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000300A(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000300A + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1024_1518-bytes-packet_1">Transmit Ethernet port Count1024_1518 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000380A(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000380A + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1519_2047-bytes-packet">Transmit Ethernet port Count1519_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt1529_2047_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000300C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000300C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1519_2047-bytes-packet_1">Transmit Ethernet port Count1519_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt1529_2047_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000380C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000380C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-jumbo-packet">Transmit Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt_jumbo_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000300E(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000300E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-jumbo-packet_1">Transmit Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt_jumbo_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000380E(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000380E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-total-packet">Transmit Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003012(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003012 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-total-packet_1">Transmit Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003812(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003812 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-number-of-bytes-of-packet">Transmit Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt_byte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000301E(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000301E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-number-of-bytes-of-packet_1">Transmit Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>TxEth_cnt_byte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000381E(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000381E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-0): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>txethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>