<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_pdh_prm">AF6CCI0011_RD_PDH_PRM</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG CONTROL TX STUFF 0</code></td>
<td><code>0x06000</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE MONITOR FOR DEBUG BOARD</code></td>
<td><code>0x06005</code></td>
</tr>
<tr>
<td><code>TX CONFIG FORCE ERROR PARITY</code></td>
<td><code>0x06C00</code></td>
</tr>
<tr>
<td><code>TX CONFIG DIS PARITY</code></td>
<td><code>0x06C01</code></td>
</tr>
<tr>
<td><code>TX STICKY PARITY</code></td>
<td><code>0x06C02</code></td>
</tr>
<tr>
<td><code>CONFIG PRM BIT C/R &amp; STANDARD Tx</code></td>
<td><code>0x08000 - 0x094FF</code></td>
</tr>
<tr>
<td><code>CONFIG PRM BIT L/B Tx</code></td>
<td><code>0x0A000 - 0x0B4FF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE TX PRM</code></td>
<td><code>0x10000 - 0x134FF</code></td>
</tr>
<tr>
<td><code>COUNTER PACKET MESSAGE TX PRM</code></td>
<td><code>0x14000 - 0x174FF</code></td>
</tr>
<tr>
<td><code>COUNTER VALID INFO TX PRM</code></td>
<td><code>0x18000 - 0x1B4FF</code></td>
</tr>
<tr>
<td><code>Config Buff Message PRM STANDARD</code></td>
<td><code>0x20000 - 0x214FF</code></td>
</tr>
<tr>
<td><code>CONFIG CONTROL DESTUFF 0</code></td>
<td><code>0x23200</code></td>
</tr>
<tr>
<td><code>COUNTER GOOD MESSAGE RX PRM</code></td>
<td><code>0x30000 - 0x334FF</code></td>
</tr>
<tr>
<td><code>COUNTER DROP MESSAGE RX PRM</code></td>
<td><code>0x34000 - 0x374FF</code></td>
</tr>
<tr>
<td><code>COUNTER MISS MESSAGE RX PRM</code></td>
<td><code>0x38000 - 0x3B4FF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE RX PRM</code></td>
<td><code>0x3C000 - 0x3F4FF</code></td>
</tr>
<tr>
<td><code>RX CONFIG FORCE ERROR PARITY</code></td>
<td><code>0x23600</code></td>
</tr>
<tr>
<td><code>RX CONFIG DIS PARITY</code></td>
<td><code>0x23601</code></td>
</tr>
<tr>
<td><code>RX STICKY PARITY</code></td>
<td><code>0x23602</code></td>
</tr>
<tr>
<td><code>PRM LB per Channel Interrupt Enable Control</code></td>
<td><code>0x28000-0x283FF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Interrupt Status</code></td>
<td><code>0x28400-0x287FF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Current Status</code></td>
<td><code>0x28800-0x28BFF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Interrupt OR Status</code></td>
<td><code>0x28C00-0x28C20</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt OR Status</code></td>
<td><code>0x28FFF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt Enable Control</code></td>
<td><code>0x28FFE</code></td>
</tr>
</tbody>
</table>
<h3 id="config-control-tx-stuff-0">CONFIG CONTROL TX STUFF 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>out_txcfg_ctrl0</code></td>
<td>reserve</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>fcs_err_ins</code></td>
<td>(0): disable,(1): enable insert error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:02]</code></td>
<td><code>reserve1</code></td>
<td>reserve1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>fcsinscfg</code></td>
<td>(1) enable insert FCS, (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-monitor-for-debug-board">CONFIG ENABLE MONITOR FOR DEBUG BOARD</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config enable monitor data before stuff</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_debug</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>out_cfg_selinfo</code></td>
<td>select just 8 bit INFO from PRM FORCE but except 2 bit NmNi, (1) is enable, (0) is disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>out_info_force</code></td>
<td>8 bits info force [07:05] : 3&rsquo;d1 : to set bit G1 3&rsquo;d2 :  to set bit G2 3&rsquo;d3 :  to set bit G3 3&rsquo;d4 : to set bit G4 3&rsquo;d5 : to set bit G5 3&rsquo;d6 :  to set bit G6 [04] : to set bit SE [03] : to set bit FE [02] : to set bit LV [01] : to set bit SL [00] : to set bit LB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-config-force-error-parity">TX CONFIG FORCE ERROR PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control FORCE ERROR PARITY</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txcfg_force</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>cfgforce_mdlbuff2_eng8</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>cfgforce_mdlbuff1_eng8</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>cfgforce_mdl_eng8</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>cfgforce_mdlbuff2_eng7</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>cfgforce_mdlbuff1_eng7</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>cfgforce_mdl_eng7</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>cfgforce_mdlbuff2_eng6</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>cfgforce_mdlbuff1_eng6</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>cfgforce_mdl_eng6</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>cfgforce_mdlbuff2_eng5</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>cfgforce_mdlbuff1_eng5</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>cfgforce_mdl_eng5</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>cfgforce_mdlbuff2_eng4</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfgforce_mdlbuff1_eng4</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>cfgforce_mdl_eng4</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>cfgforce_mdlbuff2_eng3</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>cfgforce_mdlbuff1_eng3</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>cfgforce_mdl_eng3</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>cfgforce_mdlbuff2_eng2</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>cfgforce_mdlbuff1_eng2</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfgforce_mdl_eng2</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfgforce_mdlbuff2_eng1</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfgforce_mdlbuff1_eng1</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfgforce_mdl_eng1</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgforce_lbprm</code></td>
<td>force error PRM LB config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgforce_prm</code></td>
<td>force error PRM config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-config-dis-parity">TX CONFIG DIS PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DIS PARITY</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txcfg_dis</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06C01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>cfgdis_mdlbuff2_eng8</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>cfgdis_mdlbuff1_eng8</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>cfgdis_mdl_eng8</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>cfgdis_mdlbuff2_eng7</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>cfgdis_mdlbuff1_eng7</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>cfgdis_mdl_eng7</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>cfgdis_mdlbuff2_eng6</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>cfgdis_mdlbuff1_eng6</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>cfgdis_mdl_eng6</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>cfgdis_mdlbuff2_eng5</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>cfgdis_mdlbuff1_eng5</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>cfgdis_mdl_eng5</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>cfgdis_mdlbuff2_eng4</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfgdis_mdlbuff1_eng4</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>cfgdis_mdl_eng4</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>cfgdis_mdlbuff2_eng3</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>cfgdis_mdlbuff1_eng3</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>cfgdis_mdl_eng3</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>cfgdis_mdlbuff2_eng2</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>cfgdis_mdlbuff1_eng2</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfgdis_mdl_eng2</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfgdis_mdlbuff2_eng1</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfgdis_mdlbuff1_eng1</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfgdis_mdl_eng1</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgdis_lbprm</code></td>
<td>dis error PRM LB config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgdis_prm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-sticky-parity">TX STICKY PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txsticky_par</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06C02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>stk_mdlbuff2_eng8</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>stk_mdlbuff1_eng8</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>stk_mdl_eng8</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>stk_mdlbuff2_eng7</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>stk_mdlbuff1_eng7</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>stk_mdl_eng7</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>stk_mdlbuff2_eng6</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>stk_mdlbuff1_eng6</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>stk_mdl_eng6</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>stk_mdlbuff2_eng5</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>stk_mdlbuff1_eng5</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>stk_mdl_eng5</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>stk_mdlbuff2_eng4</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>stk_mdlbuff1_eng4</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>stk_mdl_eng4</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>stk_mdlbuff2_eng3</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>stk_mdlbuff1_eng3</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>stk_mdl_eng3</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>stk_mdlbuff2_eng2</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>stk_mdlbuff1_eng2</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>stk_mdl_eng2</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>stk_mdlbuff2_eng1</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>stk_mdlbuff1_eng1</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>stk_mdl_eng1</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>stk_lbprm</code></td>
<td>dis error PRM LB config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>stk_prm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-prm-bit-cr-standard-tx">CONFIG PRM BIT C/R &amp; STANDARD Tx</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Config PRM bit C/R &amp; Standard</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_prm_txcfgcr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08000 - 0x094FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x08000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfg_prmen_tx</code></td>
<td>config enable Tx, (0) is disable (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_prmfcs_tx</code></td>
<td>config mode transmit FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prmstd_tx</code></td>
<td>config standard Tx, (0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_prm_cr</code></td>
<td>config bit command/respond PRM message</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-prm-bit-lb-tx">CONFIG PRM BIT L/B Tx</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>CONFIG PRM BIT L/B Tx</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_prm_txcfglb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A000 - 0x0B4FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0A000+$SLICEID*1024 + $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prm_enlb</code></td>
<td>config enable CPU config LB bit, (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_prm_lb</code></td>
<td>config bit Loopback PRM message</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-tx-prm">COUNTER BYTE MESSAGE TX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txprm_cnt_byte</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10000 - 0x134FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x10000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_byte_prm</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-packet-message-tx-prm">COUNTER PACKET MESSAGE TX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter packet message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txprm_cnt_pkt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x14000 - 0x174FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x14000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_pkt_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-valid-info-tx-prm">COUNTER VALID INFO TX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter valid info PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txprm_cnt_info</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x18000 - 0x1B4FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x18000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_vld_prm_info</code></td>
<td>value counter valid info</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-buff-message-prm-standard">Config Buff Message PRM STANDARD</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config standard message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_cfgstd</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x20000 - 0x214FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x20000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>3</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_prm_cr</code></td>
<td>config C/R bit expected</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prmfcs_rx</code></td>
<td>config mode receive FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_std_prm</code></td>
<td>config standard   (0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-control-destuff-0">CONFIG CONTROL DESTUFF 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_destuff_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23200</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>6</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfg_crmon</code></td>
<td>(0) : disable, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>reserve1</code></td>
<td>reserve</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>fcsmon</code></td>
<td>(0) : disable monitor, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[02:01]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>headermon_en</code></td>
<td>(1) : enable monitor, (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-message-rx-prm">COUNTER GOOD MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_gmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30000 - 0x334FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_gmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-drop-message-rx-prm">COUNTER DROP MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter drop message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_drmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x34000 - 0x374FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x34000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_drmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-miss-message-rx-prm">COUNTER MISS MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter miss message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_mmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x38000 - 0x3B4FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x38000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_mmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-rx-prm">COUNTER BYTE MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_cnt_byte</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3C000 - 0x3F4FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3C000+$STSID[4:3]*7 + $VTGID*256 + $SLICEID*32 + $STSID[2:0]*4 + $VTID + $UPRO * 8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_byte_rxprm</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-config-force-error-parity">RX CONFIG FORCE ERROR PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxcfg_force</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23600</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgforce_rxmdl</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgforce_rxprm</code></td>
<td>force error PRM config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-config-dis-parity">RX CONFIG DIS PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxcfg_dis</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23601</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgdis_rxmdl</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgdis_rxprm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-sticky-parity">RX STICKY PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxsticky_par</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23602</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>stk_rxmdl</code></td>
<td>sticky for mdl config error parity</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>stk_rxprm</code></td>
<td>sticky for prm config error parity</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-per-channel-interrupt-enable-control">PRM LB per Channel Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_cfg_lben_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28000-0x283FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x28000+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>prm_cfglben_int7</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>prm_cfglben_int6</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>prm_cfglben_int5</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>prm_cfglben_int4</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>prm_cfglben_int3</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_cfglben_int2</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_cfglben_int1</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_cfglben_int0</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-interrupt-status">PRM LB Interrupt per Channel Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_int_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28400-0x287FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x28400+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>prm_lbint_sta7</code></td>
<td>Set 1 if there is a change event slice 7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>prm_lbint_sta6</code></td>
<td>Set 1 if there is a change event slice 6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>prm_lbint_sta5</code></td>
<td>Set 1 if there is a change event slice 5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>prm_lbint_sta4</code></td>
<td>Set 1 if there is a change event slice 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>prm_lbint_sta3</code></td>
<td>Set 1 if there is a change event slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_lbint_sta2</code></td>
<td>Set 1 if there is a change event slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_lbint_sta1</code></td>
<td>Set 1 if there is a change event slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_lbint_sta0</code></td>
<td>Set 1 if there is a change event slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-current-status">PRM LB Interrupt per Channel Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel Current status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_int_crrsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28800-0x28BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x28800+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>prm_lbint_crrsta7</code></td>
<td>Current status of event slice 7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>prm_lbint_crrsta6</code></td>
<td>Current status of event slice 6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>prm_lbint_crrsta5</code></td>
<td>Current status of event slice 5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>prm_lbint_crrsta4</code></td>
<td>Current status of event slice 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>prm_lbint_crrsta3</code></td>
<td>Current status of event slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_lbint_crrsta2</code></td>
<td>Current status of event slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_lbint_crrsta1</code></td>
<td>Current status of event slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_lbint_crrsta0</code></td>
<td>Current status of event slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-interrupt-or-status">PRM LB Interrupt per Channel Interrupt OR Status</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_intsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28C00-0x28C20</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x28C00 +  $GID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$GID (0-31) : group ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lbintsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding channel is set and its interrupt is enabled.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-or-status">PRM LB Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 bits. Each bit is used to store Interrupt OR status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_sta_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lbsta_int</code></td>
<td>Set to 1 if any interrupt status bit is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-enable-control">PRM LB Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 interrupt enable bits .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_en_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x28FFE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lben_int</code></td>
<td>Set to 1 to enable to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>