<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_ddr_additional_rd_diag">AF6CNC0021_DDR_additional_RD_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>DDR PRBS Force Error</code></td>
<td><code>0x0 (THIS IS JUST ADDTION BIT FIELD TO ADDRESS #0, NOT FULL REGISTER)</code></td>
</tr>
<tr>
<td><code>DDR PRBS Error Counter</code></td>
<td><code>0x40</code></td>
</tr>
<tr>
<td><code>DDR PRBS read command counter</code></td>
<td><code>0x41</code></td>
</tr>
<tr>
<td><code>DDR PRBS Write command counter</code></td>
<td><code>0x42</code></td>
</tr>
<tr>
<td><code>DDR Error Data Latch</code></td>
<td><code>0x80 - 0x8F</code></td>
</tr>
<tr>
<td><code>DDR Expected Data Latch</code></td>
<td><code>0x90 - 0x9F</code></td>
</tr>
<tr>
<td><code>DDR Error Data Bit</code></td>
<td><code>0xA0 - 0xAF</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-prbs-force-error">DDR PRBS Force Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>PRBS Force Error Enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_ctl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0 (THIS IS JUST ADDTION BIT FIELD TO ADDRESS #0, NOT FULL REGISTER)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2]</code></td>
<td><code>force_error_enable</code></td>
<td>PRBS Force Error Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-prbs-error-counter">DDR PRBS Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>PRBS Error counters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_cnt0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x40</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_cnt</code></td>
<td>DDR PRBS error counter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-prbs-read-command-counter">DDR PRBS read command counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>PRBS read command counters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_cnt1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x41</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rdvl_cnt</code></td>
<td>DDR PRBS read counter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-prbs-write-command-counter">DDR PRBS Write command counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>PRBS Write command counters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pcfg_cnt2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x42</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>wrvl_cnt</code></td>
<td>DDR PRBS Write counter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-error-data-latch">DDR Error Data Latch</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Fist error pattern latch register, includes maximum 16x32bit words for 64b DDR interface. Write to clear the latched value, and start the next latched pattern</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_err_dat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80 - 0x8F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x80 + word_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$word_id(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_data</code></td>
<td>DDR Error Data  Latch</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-expected-data-latch">DDR Expected Data Latch</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Expected pattern latch register, latched with the first error occur, includes maximumx 16x32bit words for 64b DDR interface. This register is cleared and latched for the next error/expected value, when the Error Data Latch register is cleared.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_exp_dat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x90 - 0x9F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x90 + word_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$word_id(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>exp_data</code></td>
<td>DDR Expected Data Latched</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddr-error-data-bit">DDR Error Data Bit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>maximum 16x32bit words for 64b DDR interface. Used to accumulated indicate the error position. When Error occur, the correlative bit of this register is set when the read data and the expected data is unmatch. Write 0 to clear the whole pattern.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_err_pat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xA0 - 0xAF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xA0 + word_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$word_id(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>err_pat</code></td>
<td>DDR Error Data Bit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>