<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-10-04</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_epa_flowctrl">AF6CNC0021_RD_EPA_FLOWCTRL</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG THRESHOLD</code></td>
<td><code>0x00-0x0F</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE FLOW CONTROL</code></td>
<td><code>0x10</code></td>
</tr>
</tbody>
</table>
<h3 id="config-threshold">CONFIG THRESHOLD</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgthreshold</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00-0x0F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:08]</code></td>
<td><code>val_thres2</code></td>
<td>threshold for 3/4 of max buffer contain (256*3/4)kbytes</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>val_thes1</code></td>
<td>threshold for 1/4 of max buffer contain (256/4)kbytes</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-flow-control">CONFIG ENABLE FLOW CONTROL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbflwctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>0</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00:00]</code></td>
<td><code>out_enbflw</code></td>
<td>(0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>