<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_pdh_lpc">AF6CCI0011_RD_PDH_LPC</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>LC test reg1</code></td>
<td><code>0x0000</code></td>
</tr>
<tr>
<td><code>LC test reg2</code></td>
<td><code>0x0001</code></td>
</tr>
<tr>
<td><code>Config Limit error</code></td>
<td><code>0x0002</code></td>
</tr>
<tr>
<td><code>Config limit match</code></td>
<td><code>0x0003</code></td>
</tr>
<tr>
<td><code>Config thresh fdl parttern</code></td>
<td><code>0x0004</code></td>
</tr>
<tr>
<td><code>Config thersh error</code></td>
<td><code>0x0005</code></td>
</tr>
<tr>
<td><code>Sticky pattern detected</code></td>
<td><code>0x13FF</code></td>
</tr>
<tr>
<td><code>Config User programmble Pattern User Codes</code></td>
<td><code>0x13F0</code></td>
</tr>
<tr>
<td><code>Number of pattern</code></td>
<td><code>0x13FE</code></td>
</tr>
<tr>
<td><code>Pattern Inband Detected</code></td>
<td><code>0x0C00 - 0x0FFF</code></td>
</tr>
<tr>
<td><code>Sticky FDL message detected</code></td>
<td><code>0x0BFF</code></td>
</tr>
<tr>
<td><code>Config User programmble Pattern User Codes</code></td>
<td><code>0x0BFD</code></td>
</tr>
<tr>
<td><code>Number of message</code></td>
<td><code>0x0BFE</code></td>
</tr>
<tr>
<td><code>Message FDL Detected</code></td>
<td><code>0x0400 - 0x_07FF</code></td>
</tr>
<tr>
<td><code>Config Theshold Pattern Report</code></td>
<td><code>0x0006</code></td>
</tr>
</tbody>
</table>
<h3 id="lc-test-reg1">LC test reg1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>For testing only</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_test1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>test_reg1</code></td>
<td>value of reg1</td>
<td><code>RW</code></td>
<td><code>0x1004_2015</code></td>
<td><code>0x1004_2015 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="lc-test-reg2">LC test reg2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>For testing only</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_test2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>test_reg2</code></td>
<td>value of reg2</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x00 End; Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-limit-error">Config Limit error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Check pattern error in state matching pattern</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_lim_err</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>cfg_lim_err</code></td>
<td>if cnt err more than limit error,search failed</td>
<td><code>R/W</code></td>
<td><code>0xF</code></td>
<td><code>0xF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-limit-match">Config limit match</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to check parttern match</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_lim_mat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_lim_mat</code></td>
<td>if cnt match more than limit mat, serch ok</td>
<td><code>R/W</code></td>
<td><code>0xFFE</code></td>
<td><code>0xFFE End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-thresh-fdl-parttern">Config thresh fdl parttern</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Check fdl message codes match</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_th_fdl_mat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>cfg_th_fdl_mat</code></td>
<td>if message codes repeat more than thresh, search ok,</td>
<td><code>R/W</code></td>
<td><code>0x5</code></td>
<td><code>0x5 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-thersh-error">Config thersh error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Max error for one pattern</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_th_err</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:00]</code></td>
<td><code>cfg_th_err</code></td>
<td>if pattern error more than thresh , change to check another pattern</td>
<td><code>R/W</code></td>
<td><code>0xF</code></td>
<td><code>0xF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-pattern-detected">Sticky pattern detected</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate status of fifo inband partern empty or full</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x13FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>updo_stk</code></td>
<td>bit[0] = 1 :empty, bit[1] = 1 :full, bit[2] = 1 :interrupt</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-user-programmble-pattern-user-codes">Config User programmble Pattern User Codes</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config patter search</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x13F0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x13F0 + $pat</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pat(0-7)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>updo_pat</code></td>
<td>patt codes</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="number-of-pattern">Number of pattern</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate number of pattern is detected</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_len</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x13FE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:00]</code></td>
<td><code>info_len_l</code></td>
<td>number patt detected</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pattern-inband-detected">Pattern Inband Detected</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to report pattern detected to cpu</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_info</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C00 - 0x0FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C00 + len</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$len (0-1023)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>pat_info_l</code></td>
<td>bit [15:5] channel id, bit [4:0] == 0x8  CSU UP bit [4:0] == 0x9  CSU DOWN bit [4:0] == 0xA  FAC1 UP bit [4:0] == 0xB  FAC1 DOWN bit [4:0] == 0xC  FAC2 UP bit [4:0] == 0xD  FAC2 DOWN</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-fdl-message-detected">Sticky FDL message detected</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate status of fifo fdl message empty or full</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_fdl_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>updo_fdlstk</code></td>
<td>bit[0] = 1 :empty, bit[1] = 1 :full, bit[2] = 1 :interrupt</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-user-programmble-pattern-user-codes_1">Config User programmble Pattern User Codes</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>check fdl message codes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_fdlpat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0BFD</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:56]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[55:00]</code></td>
<td><code>updo_fdl_mess</code></td>
<td>mess codes</td>
<td><code>RO</code></td>
<td><code>0x284C_701C</code></td>
<td><code>0x284C_701C End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="number-of-message">Number of message</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate number of message codes is detected</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_len_mess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0BFE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:00]</code></td>
<td><code>info_len_l</code></td>
<td>number patt detected</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="message-fdl-detected">Message FDL Detected</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Info fdl message detected</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_fdl_info</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0400 - 0x_07FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0400 + $fdl_len</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$fdl_len (0-1023)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:00]</code></td>
<td><code>mess_info_l</code></td>
<td>message info bit [14:4] chanel id, bit[3:0]== 0x0 11111111_01111110 bit[3:0]== 0x1 line loop up bit[3:0]== 0x2 line loop down bit[3:0]== 0x3 payload loop up bit[3:0]== 0x4 payload loop down bit[3:0]== 0x5 network loop up bit[3:0]== 0x6 network loop down</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-theshold-pattern-report">Config Theshold Pattern Report</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Maximum Pattern Report</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_th_stt_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>updo_th_stt_int</code></td>
<td>if number of pattern detected more than threshold, interrupt enable</td>
<td><code>R/W</code></td>
<td><code>0xFF</code></td>
<td><code>0xFF End:</code></td>
</tr>
</tbody>
</table>