<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0012_rd_ptp">AF6CCI0012_RD_PTP</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Hold Register 1</code></td>
<td><code>0x00_0000</code></td>
</tr>
<tr>
<td><code>Hold Register 2</code></td>
<td><code>0x00_0001</code></td>
</tr>
<tr>
<td><code>Hold Register 3</code></td>
<td><code>0x00_0002</code></td>
</tr>
<tr>
<td><code>PTP enable</code></td>
<td><code>0x00_0003</code></td>
</tr>
<tr>
<td><code>PTP enable</code></td>
<td><code>0x00_0004</code></td>
</tr>
<tr>
<td><code>PTP enable</code></td>
<td><code>0x00_0005</code></td>
</tr>
<tr>
<td><code>PTP Device</code></td>
<td><code>0x00_0006</code></td>
</tr>
<tr>
<td><code>Config Master SPID</code></td>
<td><code>0x00_0007</code></td>
</tr>
<tr>
<td><code>Config Slaver ReqPID</code></td>
<td><code>0x00_0008</code></td>
</tr>
<tr>
<td><code>Config chsv4 bypass</code></td>
<td><code>0x00_0009</code></td>
</tr>
<tr>
<td><code>config uni MAC global ingress</code></td>
<td><code>0x00_000A</code></td>
</tr>
<tr>
<td><code>config mul MAC global 1 ingress</code></td>
<td><code>0x00_000B</code></td>
</tr>
<tr>
<td><code>config mul MAC global 2 ingress</code></td>
<td><code>0x00_000C</code></td>
</tr>
<tr>
<td><code>config uni MAC matching enable</code></td>
<td><code>0x00_000D</code></td>
</tr>
<tr>
<td><code>config multi MAC matching enable</code></td>
<td><code>0x00_000E</code></td>
</tr>
<tr>
<td><code>config any MAC enable</code></td>
<td><code>0x00_000F</code></td>
</tr>
<tr>
<td><code>Config mul ipv4 global 1</code></td>
<td><code>0x00_0010</code></td>
</tr>
<tr>
<td><code>Config mul ipv4 global 2</code></td>
<td><code>0x00_0011</code></td>
</tr>
<tr>
<td><code>Config mul ipv6 global 1</code></td>
<td><code>0x00_0012</code></td>
</tr>
<tr>
<td><code>Config mul ipv6 global 2</code></td>
<td><code>0x00_0013</code></td>
</tr>
<tr>
<td><code>config any IP enable</code></td>
<td><code>0x00_0014</code></td>
</tr>
<tr>
<td><code>PTP Ready</code></td>
<td><code>0x00_0015</code></td>
</tr>
<tr>
<td><code>cfg protocol</code></td>
<td><code>0x00_0060-0x00_006F</code></td>
</tr>
<tr>
<td><code>cfg tpid</code></td>
<td><code>0x00_0070-0x00_007F</code></td>
</tr>
<tr>
<td><code>cfg uni/mul mac</code></td>
<td><code>0x00_0080-0x00_009F</code></td>
</tr>
<tr>
<td><code>cfg uni ip 1</code></td>
<td><code>0x00_00A0-0x00_00AF</code></td>
</tr>
<tr>
<td><code>cfg uni ip 2</code></td>
<td><code>0x00_00B0-0x00_00BF</code></td>
</tr>
<tr>
<td><code>cfg uni ip 3</code></td>
<td><code>0x00_00C0-0x00_00CF</code></td>
</tr>
<tr>
<td><code>cfg uni ip 4</code></td>
<td><code>0x00_00D0-0x00_00DF</code></td>
</tr>
<tr>
<td><code>cfg mul ip</code></td>
<td><code>0x00_00E0-0x00_00EF</code></td>
</tr>
<tr>
<td><code>cfg ip matching enable</code></td>
<td><code>0x00_00F0-0x00_00FF</code></td>
</tr>
<tr>
<td><code>Counter PTP Classify Err</code></td>
<td><code>0x00_0200-0x00_020F</code></td>
</tr>
<tr>
<td><code>Counter PTP Packet</code></td>
<td><code>0x00_0210-0x00_021F</code></td>
</tr>
<tr>
<td><code>Counter Sync Received</code></td>
<td><code>0x00_0240-0x00_024F</code></td>
</tr>
<tr>
<td><code>Counter Folu Received</code></td>
<td><code>0x00_0250-0x00_025F</code></td>
</tr>
<tr>
<td><code>Counter dreq Received</code></td>
<td><code>0x00_0260-0x00_026F</code></td>
</tr>
<tr>
<td><code>Counter dres Received</code></td>
<td><code>0x00_0270-0x00_027F</code></td>
</tr>
<tr>
<td><code>Counter Rx Sync Extract Err</code></td>
<td><code>0x00_0280-0x00_028F</code></td>
</tr>
<tr>
<td><code>Counter Rx Folu Extract Err</code></td>
<td><code>0x00_0290-0x00_029F</code></td>
</tr>
<tr>
<td><code>Counter Rx Dreq Extract Err</code></td>
<td><code>0x00_02A0-0x00_02AF</code></td>
</tr>
<tr>
<td><code>Counter Rx Dres Extract Err</code></td>
<td><code>0x00_02B0-0x00_02BF</code></td>
</tr>
<tr>
<td><code>Counter Rx Sync Chsum Err</code></td>
<td><code>0x00_02C0-0x00_02CF</code></td>
</tr>
<tr>
<td><code>Counter Rx Folu Chsum Err</code></td>
<td><code>0x00_02D0-0x00_02DF</code></td>
</tr>
<tr>
<td><code>Counter Rx Dreq Chsum Err</code></td>
<td><code>0x00_02E0-0x00_02EF</code></td>
</tr>
<tr>
<td><code>Counter Rx Dres Chsum Err</code></td>
<td><code>0x00_02F0-0x00_02FF</code></td>
</tr>
<tr>
<td><code>Counter Sync Transmit</code></td>
<td><code>0x00_0300-0x00_030F</code></td>
</tr>
<tr>
<td><code>Counter Folu Transmit</code></td>
<td><code>0x00_0310-0x00_031F</code></td>
</tr>
<tr>
<td><code>Counter dreq transmit</code></td>
<td><code>0x00_0320-0x00_032F</code></td>
</tr>
<tr>
<td><code>Counter dres transmit</code></td>
<td><code>0x00_0330-0x00_033F</code></td>
</tr>
<tr>
<td><code>Counter sop eop</code></td>
<td><code>0x00_0220-0x00_022F</code></td>
</tr>
<tr>
<td><code>classify sticky</code></td>
<td><code>0x00_0230</code></td>
</tr>
<tr>
<td><code>PTP check sticky</code></td>
<td><code>0x00_0231</code></td>
</tr>
<tr>
<td><code>ptp getinfo sticky</code></td>
<td><code>0x00_0232</code></td>
</tr>
<tr>
<td><code>trans sticky</code></td>
<td><code>0x00_0233</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3000</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3001</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3002</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3003</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3004</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3005</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3006</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3007</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3008</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3009</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300A</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300B</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300C</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300D</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300E</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_300F</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3010</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3011</code></td>
</tr>
<tr>
<td>``</td>
<td><code>0x00_3012</code></td>
</tr>
<tr>
<td><code>cpu queue sticky</code></td>
<td><code>0x00_0234</code></td>
</tr>
<tr>
<td><code>Config t1t3mode</code></td>
<td><code>0x00_0017</code></td>
</tr>
<tr>
<td><code>Config cpu flush</code></td>
<td><code>0x00_0018</code></td>
</tr>
<tr>
<td><code>Read CPU Queue</code></td>
<td><code>0x00_0016</code></td>
</tr>
</tbody>
</table>
<h3 id="hold-register-1">Hold Register 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register hold value 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hold1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cfg_hold1</code></td>
<td>hold value 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="hold-register-2">Hold Register 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register hold value 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hold2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cfg_hold2</code></td>
<td>hold value 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="hold-register-3">Hold Register 3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register hold value</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_hold3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>cfg_hold3</code></td>
<td>hold value 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-enable">PTP enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>used to enable ptp for 16 port ingress</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptp_en</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_ptp_en</code></td>
<td>&lsquo;1&rsquo; : enable, &lsquo;0&rsquo;: disable</td>
<td><code>RW</code></td>
<td><code>0xFFFF</code></td>
<td><code>0xFFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-enable_1">PTP enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>used to indicate 1-step/2-step mode for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptp_stmode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_ptp_stmode</code></td>
<td>&lsquo;1&rsquo; : 2-step, &lsquo;0&rsquo;: 1-step</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-enable_2">PTP enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>used to indicate master/slaver mode for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptp_ms</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_ptp_ms</code></td>
<td>&lsquo;1&rsquo; : master, &lsquo;0&rsquo;: slaver</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-device">PTP Device</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config PTP device</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptp_dev</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>device_mode</code></td>
<td>&lsquo;00&rsquo;: BC mode, &lsquo;01&rsquo;: reserved &lsquo;10&rsquo;: TC Separate mode, &lsquo;11&rsquo;: TC General mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-master-spid">Config Master SPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to checking sourcePortIdentity of Sync, Follow-up and Delay Response packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ms_srcpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>96</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[95:80]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[79:00]</code></td>
<td><code>cfg_ms_srcpid</code></td>
<td>sourcePortIdentity value of Master</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-slaver-reqpid">Config Slaver ReqPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to checking requestingPortIdentity of Delay Response packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sl_reqpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0008</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>96</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[95:80]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[79:00]</code></td>
<td><code>cfg_sl_reqpid</code></td>
<td>RequestingPortIdentity value of Slaver</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-chsv4-bypass">Config chsv4 bypass</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to indicate bypass ipv4 header checksum error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_chsv4_bypass</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0009</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_chsv4_bypass</code></td>
<td>&lsquo;1&rsquo;: enable, &lsquo;0&rsquo;: disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-uni-mac-global-ingress">config uni MAC global ingress</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config uni MAC address global for ingress ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ingunimac_glb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_ingunimac_glb</code></td>
<td>uni MAC address global for ingress ports</td>
<td><code>RW</code></td>
<td><code>0xFFFF_FFFF_FFFF</code></td>
<td><code>0xFFFF_FFFF_FFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-mac-global-1-ingress">config mul MAC global 1 ingress</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config mul MAC address global 1 for ingress ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ingmulmac1_glb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_ingmulmac1_glb</code></td>
<td>mul MAC address global 1 for ingress ports</td>
<td><code>RW</code></td>
<td><code>0xFFFF_FFFF_FFFF</code></td>
<td><code>0xFFFF_FFFF_FFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-mac-global-2-ingress">config mul MAC global 2 ingress</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config mul MAC address global 2 for ingress ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ingmulmac2_glb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_ingmulmac2_glb</code></td>
<td>mul MAC address global 2 for ingress ports</td>
<td><code>RW</code></td>
<td><code>0xFFFF_FFFF_FFFF</code></td>
<td><code>0xFFFF_FFFF_FFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-uni-mac-matching-enable">config uni MAC matching enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>is used to indicate unicast MAC matching enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_unimac_en</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:00]</code></td>
<td><code>cfg_unimac_en</code></td>
<td>[16]   : en/dis uni mac matching global for all port [15:0] : en/dis uni mac matching for port 0 to port 15</td>
<td><code>RW</code></td>
<td><code>0x1_FFFF</code></td>
<td><code>0x1_FFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-multi-mac-matching-enable">config multi MAC matching enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>is used to indicate multicast MAC matching enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mulmac_en</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>cfg_mulmac_en</code></td>
<td>[17]   : en/dis mul mac matching global 2 for all port [16]   : en/dis mul mac matching global 1 for all port [15:0] : en/dis mul mac matching for port 0 to port 15</td>
<td><code>RW</code></td>
<td><code>0x3_FFFF</code></td>
<td><code>0x3_FFFF End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-any-mac-enable">config any MAC enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>is used to enable any mac for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_anymac_en</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_anymac_en</code></td>
<td>&lsquo;1&rsquo;: enable , &lsquo;0&rsquo;: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-ipv4-global-1">Config mul ipv4 global 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config multicast ipv4 address global 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_v4mulip1_global</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_v4mulip1_global</code></td>
<td>used to check multicast ip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-ipv4-global-2">Config mul ipv4 global 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config multicast ipv4 address global 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_v4mulip2_global</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_v4mulip2_global</code></td>
<td>used to check multicast ip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-ipv6-global-1">Config mul ipv6 global 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config multicast ipv6 address global 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_v6mulip1_global</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_v6mulip1_global</code></td>
<td>used to check multicast ip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mul-ipv6-global-2">Config mul ipv6 global 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config multicast ipv6 address global 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_v6mulip2_global</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0013</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_v6mulip2_global</code></td>
<td>used to check multicast ip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-any-ip-enable">config any IP enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>is used to enable any ip for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_anyip_en</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0014</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>cfg_anyip_en</code></td>
<td>&lsquo;1&rsquo;: enable , &lsquo;0&rsquo;: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-ready">PTP Ready</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to indicate config ptp done</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptp_rdy</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0015</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>ptp_rdy</code></td>
<td>&lsquo;1&rsquo; : ready</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x00 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-protocol">cfg protocol</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config protocol for each port at BC mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ptl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0060-0x00_006F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0060 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:00]</code></td>
<td><code>cfg_ptl</code></td>
<td>protocol value: &lsquo;000&rsquo;: L2 &lsquo;001&rsquo;: ipv4 &lsquo;010&rsquo;: ipv6 &lsquo;011&rsquo;: ipv4 vpn &lsquo;100&rsquo;: ipv6 vpn</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-tpid">cfg tpid</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config tpid for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_tpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0070-0x00_007F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0070 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:00]</code></td>
<td><code>cfg_tpid</code></td>
<td>[63:48]: tpid value 4 [47:32]: tpid value 3 [31:16]: tpid value 2 [15:00]: tpid value 1 tpid value: 88a8, 8100, 9100 or 9200</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-unimul-mac">cfg uni/mul mac</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config uni/mul MAC for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mac</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0080-0x00_009F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0080 + $transtype*16 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$transtype(0-1)</code></p>
</li>
<li>
<p><code>$pid(0-15)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_mac</code></td>
<td>unicast/multicast mac for each port</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-uni-ip-1">cfg uni ip 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config unicast IP 1 for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_uniip1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00A0-0x00_00AF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00A0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_uniip1</code></td>
<td 96_b0_="96'b0," ipv4_31:0_="ipv4[31:0]">unicast ip 1 for each port ipv4:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-uni-ip-2">cfg uni ip 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config unicast IP 2 for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_uniip2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00B0-0x00_00BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00B0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_uniip2</code></td>
<td 96_b0_="96'b0," ipv4_31:0_="ipv4[31:0]">unicast ip 2 for each port ipv4:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-uni-ip-3">cfg uni ip 3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config unicast IP 3 for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_uniip3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00C0-0x00_00CF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00C0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_uniip3</code></td>
<td 96_b0_="96'b0," ipv4_31:0_="ipv4[31:0]">unicast ip 3 for each port ipv4:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-uni-ip-4">cfg uni ip 4</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config unicast IP 4 for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_uniip4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00D0-0x00_00DF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00D0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_uniip4</code></td>
<td 96_b0_="96'b0," ipv4_31:0_="ipv4[31:0]">unicast ip 4 for each port ipv4:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-mul-ip">cfg mul ip</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config multicast IP for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mulip</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00E0-0x00_00EF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00E0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_mulip</code></td>
<td 96_b0_="96'b0," ipv4_31:0_="ipv4[31:0]">multicast ip for each port ipv4:<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cfg-ip-matching-enable">cfg ip matching enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config IPv4/IPv6 matching for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_ipen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_00F0-0x00_00FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_00F0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:00]</code></td>
<td><code>cfg_ipen</code></td>
<td>config ip matching for each port [6]: ena/dis mul ip global 2 matching [5]: ena/dis mul ip global 1 matching [4]: ena/dis mul ip matching [3]: ena/dis uni ip 4 matching [2]: ena/dis uni ip 3 matching [1]: ena/dis uni ip 2 matching [0]: ena/dis uni ip 1 matching</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-ptp-classify-err">Counter PTP Classify Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of classify err packet in classify module</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_claerr_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0200-0x00_020F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0200 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_claerr_cnt</code></td>
<td>Number classify error packet</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-ptp-packet">Counter PTP Packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of ptp packet in classify module</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_ptp_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0210-0x00_021F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0210 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_ptp_cnt</code></td>
<td>Number ptp packet</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-sync-received">Counter Sync Received</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Sync message received</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_sync_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0240-0x00_024F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0240 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>syncrx_cnt</code></td>
<td>number sync packet at Rx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-folu-received">Counter Folu Received</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of folu message received</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_folu_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0250-0x00_025F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0250 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>folurx_cnt</code></td>
<td>number folu packet at Rx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-dreq-received">Counter dreq Received</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of dreq message received</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_dreq_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0260-0x00_026F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0260 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dreqrx_cnt</code></td>
<td>number dreq packet at Rx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-dres-received">Counter dres Received</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of dres message received</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_dres_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0270-0x00_027F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0270 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dresrx_cnt</code></td>
<td>number dres packet at Rx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-sync-extract-err">Counter Rx Sync Extract Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of extr err sync mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_extr_err_syncnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0280-0x00_028F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0280 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_extrerr_synccnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-folu-extract-err">Counter Rx Folu Extract Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of extr err folu mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_extr_err_folucnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0290-0x00_029F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0290 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_extrerr_foluccnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-dreq-extract-err">Counter Rx Dreq Extract Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of extr err dreq mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_extr_err_dreqcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02A0-0x00_02AF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02A0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_extrerr_dreqcnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-dres-extract-err">Counter Rx Dres Extract Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of extr err dres mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_extr_err_drescnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02B0-0x00_02BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02B0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_extrerr_drescnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-sync-chsum-err">Counter Rx Sync Chsum Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Chs err sync mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_chs_err_syncnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02C0-0x00_02CF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02C0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_cherr_synccnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-folu-chsum-err">Counter Rx Folu Chsum Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Chs err folu mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_chs_err_folucnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02D0-0x00_02DF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02D0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_cherr_folucnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-dreq-chsum-err">Counter Rx Dreq Chsum Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Chs err dreq mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_chs_err_dreqcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02E0-0x00_02EF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02E0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_cherr_dreqcnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-rx-dres-chsum-err">Counter Rx Dres Chsum Err</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Chs err dres mess</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rx_chs_err_drescnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_02F0-0x00_02FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_02F0 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx_cherr_drescnt</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-sync-transmit">Counter Sync Transmit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of Sync message transmit</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_tx_sync_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0300-0x00_030F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0300 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>synctx_cnt</code></td>
<td>number sync packet at Tx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-folu-transmit">Counter Folu Transmit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of folu message transmit</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_tx_folu_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0310-0x00_031F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0310 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>folutx_cnt</code></td>
<td>number folu packet at Tx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-dreq-transmit">Counter dreq transmit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of dreq message transmit</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_tx_dreq_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0320-0x00_032F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0320 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dreqtx_cnt</code></td>
<td>number dreq packet at Tx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-dres-transmit">Counter dres transmit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Number of dres message transmit</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_tx_dres_cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0330-0x00_033F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0330 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>drestx_cnt</code></td>
<td>number dres packet at Tx</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-sop-eop">Counter sop eop</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>number of mac_sop and mac_eop for each port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_staend_num</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0220-0x00_022F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00_0220 + $pid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pid(0-15)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>num_sta_end</code></td>
<td>Number sop eop of packet</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-sticky">classify sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>sticky of classify</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cla_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0230</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cla_stk</code></td>
<td>sticky ge_classify</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-check-sticky">PTP check sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>sticky of ptp check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_chk_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0231</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>chk_stk</code></td>
<td>sticky ptp check</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ptp-getinfo-sticky">ptp getinfo sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>sticky of ptp get info</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_getinf_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0232</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>getinf_stk</code></td>
<td>sticky ptp get info</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="trans-sticky">trans sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>sticky of ptp trans</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_trans_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0233</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>trans_stk</code></td>
<td>sticky ptp trans</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_1"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>enable for any MAC/IPv4/IPv6</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ptp_bypass</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:00]</code></td>
<td><code>cfg_ptp_bypass</code></td>
<td>bit[0] l2_sa bit[1] l2_da bit[2] ip4_sa bit[3] ip4_da bit[4] ip6_sa bit[5] ip6_da</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0  End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_2"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp mac sa</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_mac_sa</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_mac_sa</code></td>
<td>MAC SA</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_3"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp mac da</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_mac_da</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:00]</code></td>
<td><code>cfg_mac_da</code></td>
<td>MAC DA</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_4"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv4 sa1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_sa1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ipv4_sa1</code></td>
<td>IPv4 SA1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_5"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv4 sa2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_sa2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ipv4_sa2</code></td>
<td>IPv4 SA2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_6"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv4 sa3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_sa3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ipv4_sa3</code></td>
<td>IPv4 SA3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_7"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv4 sa4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_sa4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ipv4_sa4</code></td>
<td>IPv4 SA4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_8"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ip4 da1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_da1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ip4_da1</code></td>
<td>MAC DA1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_9"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ip4 da2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_da2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3008</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ip4_da2</code></td>
<td>MAC DA2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_10"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ip4 da3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_da3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3009</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ip4_da3</code></td>
<td>MAC DA3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_11"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ip4 da4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip4_da4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cfg_ip4_da4</code></td>
<td>MAC DA4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_12"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 sa1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_sa1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_sa1</code></td>
<td>IPv6 SA1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_13"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 sa2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_sa2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_sa2</code></td>
<td>IPv6 SA2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_14"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 sa3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_sa3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_sa3</code></td>
<td>IPv6 SA3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_15"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 sa4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_sa4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv4_sa4</code></td>
<td>IPv4 SA4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_16"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 da1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_da1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_300F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_da1</code></td>
<td>IPv6 DA1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_17"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 da2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_da2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_da2</code></td>
<td>IPv6 DA2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_18"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 da3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_da3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_da3</code></td>
<td>IPv6 DA3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="_19"></h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>cfg ptp ipv6 da4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ip6_da4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_3012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:00]</code></td>
<td><code>cfg_ipv6_da4</code></td>
<td>IPv6 DA4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cpu-queue-sticky">cpu queue sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>sticky of cpu que</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cpuque_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0234</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cpuque_stk</code></td>
<td>sticky of cpu queue</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-t1t3mode">Config t1t3mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to config t1t3mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_t1t3mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0017</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_t1t3mode</code></td>
<td>0: send timestamp to cpu queue 1: send back ptp packet mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-cpu-flush">Config cpu flush</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to config cpu flush</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cpu_flush</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0018</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_cpu_flush</code></td>
<td>cpu flush</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-cpu-queue">Read CPU Queue</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to read CPU queue</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cpuque</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0016</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:102]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[101:100]</code></td>
<td><code>typ</code></td>
<td>typ of ptp packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[99:84]</code></td>
<td><code>seqid</code></td>
<td>sequence of packet from sequenceId field</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[83:80]</code></td>
<td><code>egr_pid</code></td>
<td>egress port id</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[79:00]</code></td>
<td><code>egr_tmr_tod</code></td>
<td>egress timer tod</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>