<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_sem">AF6CNC0021_RD_SEM</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>SEU PCI Configuration 0</code></td>
<td><code>0x000-0x200</code></td>
</tr>
<tr>
<td><code>SEU PCI Configuration 1</code></td>
<td><code>0x001-0x201</code></td>
</tr>
<tr>
<td><code>SEU Alarm</code></td>
<td><code>0x002-0x202</code></td>
</tr>
<tr>
<td><code>SEU PCI Status</code></td>
<td><code>0x003-0x203</code></td>
</tr>
<tr>
<td><code>SEU Interrupt enable</code></td>
<td><code>0x004-0x204</code></td>
</tr>
<tr>
<td><code>SEU Essential Counter R2C</code></td>
<td><code>0x008-0x208</code></td>
</tr>
<tr>
<td><code>SEU Essential Counter RO</code></td>
<td><code>0x009-0x209</code></td>
</tr>
<tr>
<td><code>SEU Uncorrectable Counter R2C</code></td>
<td><code>0x00A-0x20A</code></td>
</tr>
<tr>
<td><code>SEU Uncorrectable Counter RO</code></td>
<td><code>0x00B-0x20B</code></td>
</tr>
<tr>
<td><code>SEU Correctable Counter R2C</code></td>
<td><code>0x00C-0x20C</code></td>
</tr>
<tr>
<td><code>SEU Correctable Counter RO</code></td>
<td><code>0x00D-0x20D</code></td>
</tr>
<tr>
<td><code>SEM SLRID</code></td>
<td><code>0x010-0x210</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Status FiFo TX Side</code></td>
<td><code>0x011-0x211</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Value FiFo TX Side</code></td>
<td><code>0x012-0x212</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Control RX Side</code></td>
<td><code>0x013-0x213</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Command Value Part0 RX Side</code></td>
<td><code>0x014-0x214</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Command Value Part1 RX Side</code></td>
<td><code>0x015-0x215</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Command Value Part2 RX Side</code></td>
<td><code>0x016-0x216</code></td>
</tr>
<tr>
<td><code>SEM Monitor Interface Command Value Part3 RX Side</code></td>
<td><code>0x017-0x217</code></td>
</tr>
<tr>
<td><code>SEM Heartbeat Status</code></td>
<td><code>0x018-0x218</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-pci-configuration-0">SEU PCI Configuration 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Control Command Interface bus of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_cmd_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000-0x200</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>cmd_ctrl_done</code></td>
<td 1>Command Interface status<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>cmd_ctrl_busy</code></td>
<td 1>Command Interface status<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>seu_inject_strobe</code></td>
<td>Trigger 1-&gt;0 to start command</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>op</code></td>
<td 0xA>Command type, other values are unused<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="seu-pci-configuration-1">SEU PCI Configuration 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Command Interface bus value part0 of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_cmd_val0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x001-0x201</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x001+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>sem_cmd_slr</code></td>
<td>Hardware slr number (2-bit),valid range [0:2]</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:05]</code></td>
<td><code>sem_cmd_wradr</code></td>
<td>Word Address  :  7bit, valid range [0:122]</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-alarm">SEU Alarm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEM controller sticky state of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_ctrl_stk_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x002-0x202</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x002+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[26:26]</code></td>
<td><code>slr2_status_heartbeat</code></td>
<td>SLR2 status_heartbeat : Set 1 indicate to SEM IP got heartbeat event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>slr1_status_heartbeat</code></td>
<td>SLR1 status_heartbeat : Set 1 indicate to SEM IP got heartbeat event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>slr0_status_heartbeat</code></td>
<td>SLR0 status_heartbeat : Set 1 indicate to SEM IP got heartbeat event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>slr2_sem_act</code></td>
<td>SLR2 Sem_Act : Set 1 indicate to SEM IP got Active State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>slr1_sem_act</code></td>
<td>SLR1 Sem_Act : Set 1 indicate to SEM IP got Active State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>slr0_sem_act</code></td>
<td>SLR0 Sem_Act : Set 1 indicate to SEM IP got Active State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>status_uncorrectable</code></td>
<td>status_uncorrectable : Set 1 indicate to SEM IP got uncorrectable event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>status_correctable</code></td>
<td>status_correctable : Set 1 indicate to SEM IP got correctable event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>status_essential</code></td>
<td>status_essential : Set 1 indicate to SEM IP got essential event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>status_idle</code></td>
<td>status_idle : Set 1 indicate to SEM IP got IDLE State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>status_initialization</code></td>
<td>status_initialization : Set 1 indicate to SEM IP got initialization State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>status_injection</code></td>
<td>status_injection : Set 1 indicate to SEM IP got injection State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>status_classification</code></td>
<td>status_classification : Set 1 indicate to SEM IP got classification State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>fatal_sem_err</code></td>
<td>Fatal_Sem_Err : Set 1 indicate to SEM IP has fatal error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>status_observation</code></td>
<td>status_observation : Set 1 indicate to SEM IP got observation State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>status_correction</code></td>
<td>status_correction : Set 1 indicate to SEM IP got Correction State event</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-pci-status">SEU PCI Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEM controller current state of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_ctrl_cur_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x003-0x203</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x003+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>slr2_sem_act</code></td>
<td>SLR2 Sem_Act: Set 1 indicate  status FSM of SEM IP is active</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>slr1_sem_act</code></td>
<td>SLR1 Sem_Act: Set 1 indicate  status FSM of SEM IP is active</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>slr0_sem_act</code></td>
<td>SLR0 Sem_Act: Set 1 indicate  status FSM of SEM IP is active</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>status_idle</code></td>
<td>status_idle: Set 1 indicate status FSM of SEM IP is IDLE</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>status_initialization</code></td>
<td>status_Initialization: Set 1 indicate status FSM of SEM IP is INIITIALIZATION</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>status_injection</code></td>
<td>status_injection: Set 1 indicate status FSM of SEM IP is injection</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>status_classification</code></td>
<td>status_classification: Set 1 indicate status FSM of SEM IP is Classification</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>fatal_sem_err</code></td>
<td>fatal_sem_err: Set 1 indicate status FSM of SEM IP is Falal Error</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>status_observation</code></td>
<td>status_observation: Set 1 indicate status FSM of SEM IP is OBSERVATION</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>status_correction</code></td>
<td>status_correction: Set 1 indicate status FSM of SEM IP is Correction</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-interrupt-enable">SEU Interrupt enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEM controller enable interrupt of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_int_enb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x004-0x204</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x004+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[26:26]</code></td>
<td><code>slr2_status_heartbeat</code></td>
<td>Set 1 to SLR2 enable heartbeat interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>slr1_status_heartbeat</code></td>
<td>Set 1 to SLR1 enable heartbeat interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>slr0_status_heartbeat</code></td>
<td>Set 1 to SLR0 enable heartbeat interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>status_uncorrectable</code></td>
<td>Set 1 to enable uncorrectable interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>status_correctable</code></td>
<td>Set 1 to enable correctable interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>status_essential</code></td>
<td>Set 1 to enable essential interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>status_idle</code></td>
<td>Set 1 to enable idle interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>status_initialization</code></td>
<td>Set 1 to enable initialization interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>status_injection</code></td>
<td>Set 1 to enable injection interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>status_classification</code></td>
<td>Set 1 to enable classification interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>fatal_sem_err</code></td>
<td>Set 1 to enable fatal interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>status_observation</code></td>
<td>Set 1 to enable observation interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>corst</code></td>
<td>Set 1 to enable correction interrupt</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-essential-counter-r2c">SEU Essential Counter R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Essential Counter R2C of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_essen_cnt_r2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x008-0x208</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x008+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_essential_cnt_r2c</code></td>
<td>Sem_Essential_Cnt: Counter Essential of SEM IP</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-essential-counter-ro">SEU Essential Counter RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Essential Counter RO of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_essen_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x009-0x209</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x009+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_essential_cnt_ro</code></td>
<td>Sem_Essential_Cnt: Counter Essential of SEM IP</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-uncorrectable-counter-r2c">SEU Uncorrectable Counter R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Uncorrectable Counter R2C of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_uncorr_cnt_r2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00A-0x20A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00A+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_uncorrectable_cnt_r2c</code></td>
<td>Sem_UnCorrectable_Cnt: Counter UnCorrectable of SEM IP</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-uncorrectable-counter-ro">SEU Uncorrectable Counter RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Uncorrectable Counter RO of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_uncorr_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00B-0x20B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00B+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_uncorrectable_cnt_ro</code></td>
<td>Sem_UnCorrectable_Cnt: Counter UnCorrectable of SEM IP</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-correctable-counter-r2c">SEU Correctable Counter R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Correctable Counter R2C of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_corr_cnt_r2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00C-0x20C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00C+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_correctable_cnt_r2c</code></td>
<td>Sem_Correctable_Cnt: Counter Correctable of SEM IP</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="seu-correctable-counter-ro">SEU Correctable Counter RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SEU Correctable Counter RO of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_corr_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00D-0x20D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00D+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>sem_correctable_cnt_ro</code></td>
<td>Sem_Correctable_Cnt: Counter Correctable of SEM IP</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-slrid">SEM SLRID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read HW SLR of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_slrid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x010-0x210</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x010+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>slrid</code></td>
<td>HW SLR ID</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-status-fifo-tx-side">SEM Monitor Interface Status FiFo TX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at TX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x011-0x211</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x011+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>mon_tx_ctrl_trig</code></td>
<td>Trigger 0-&gt;1 to start reseting FiFo</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>mon_tx_eful_stk</code></td>
<td 1>Sticky Commnon TX fifo is early full<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>mon_tx_full_stk</code></td>
<td 1>Sticky Common TX fifo is full<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>mon_tx_ept_stk</code></td>
<td 1>Sticky Common TX fifo is empty<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>mon_tx_nept_stk</code></td>
<td 1>Sticky Common TX fifo is not empty<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>mon_tx_eful_cur</code></td>
<td 1>Current Commnon TX fifo is early full<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>mon_tx_full_cur</code></td>
<td 1>Current Common TX fifo is full<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>mon_tx_ept_cur</code></td>
<td 1>Current Common TX fifo is empty<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>mon_tx_nept_cur</code></td>
<td 1>Current Common TX fifo is not empty<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>mon_tx_len_cur</code></td>
<td>Current length of Common fifo</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-value-fifo-tx-side">SEM Monitor Interface Value FiFo TX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at TX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_val</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x012-0x212</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x012+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>mon_tx_val</code></td>
<td>Status of SEM controller, ASCII format, you have to monitor status of FiFo TX to get valid value</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-control-rx-side">SEM Monitor Interface Control RX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at RX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x013-0x213</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x013+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>mon_rx_ctrl_done</code></td>
<td 1>Trigger is done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>mon_rx_ctrl_trig</code></td>
<td>Trigger 1-&gt;0 to HW start sending command to SEM controller via Monitor interface</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>mon_rx_ctrl_len</code></td>
<td>Command length</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-command-value-part0-rx-side">SEM Monitor Interface Command Value Part0 RX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at RX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_cmd_part0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x014-0x214</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x014+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mon_rx_cmd_val0</code></td>
<td>Command value part0, this is MSB, ASCII format</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-command-value-part1-rx-side">SEM Monitor Interface Command Value Part1 RX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at RX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_cmd_part1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x015-0x215</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x015+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mon_rx_cmd_val1</code></td>
<td>Command value part1, it is followed Part0, ASCII format</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-command-value-part2-rx-side">SEM Monitor Interface Command Value Part2 RX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at RX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_cmd_part2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x016-0x216</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x016+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mon_rx_cmd_val2</code></td>
<td>Command value part2, it is followed Part1, ASCII format</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-monitor-interface-command-value-part3-rx-side">SEM Monitor Interface Command Value Part3 RX Side</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Monitor Interface bus at RX side of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_mon_cmd_part3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x017-0x217</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x017+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mon_rx_cmd_val3</code></td>
<td>Command value part3, it is followed Part2, this is LSB part, ASCII format</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sem-heartbeat-status">SEM Heartbeat Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Heartbeat status of each SLR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sem_hrtb_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x018-0x218</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x018+$slrid*0x100</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slrid(0) : Hardware SLR</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>slr2_hrtb_err_obsv</code></td>
<td>SLR2 Heartbeat is observation error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>slr2_hrtb_err_diag</code></td>
<td>SLR2 Heartbeat is diagnostic error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>slr2_hrtb_err_dete</code></td>
<td>SLR2 Heartbeat is detect-only error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>slr1_hrtb_err_obsv</code></td>
<td>SLR1 Heartbeat is observation error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>slr1_hrtb_err_diag</code></td>
<td>SLR1 Heartbeat is diagnostic error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>slr1_hrtb_err_dete</code></td>
<td>SLR1 Heartbeat is detect-only error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>slr0_hrtb_err_obsv</code></td>
<td>SLR0 Heartbeat is observation error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>slr0_hrtb_err_diag</code></td>
<td>SLR0 Heartbeat is diagnostic error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>slr0_hrtb_err_dete</code></td>
<td>SLR0 Heartbeat is detect-only error</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>