<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_ethpass">AF6CNC0021_RD_ETHPASS</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG VLAN REMOVED port 1-2</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 3-4</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 5-6</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 7-8</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED  port 9-10</code></td>
<td><code>0x04</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED  port 11-12</code></td>
<td><code>0x05</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 13-14</code></td>
<td><code>0x06</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED port 15-16</code></td>
<td><code>0x07</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN REMOVED PW</code></td>
<td><code>0x08</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE REMOVE VLAN TPID</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE REMOVE VLAN TPID</code></td>
<td><code>0x11</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE REMOVE VLAN TPID</code></td>
<td><code>0x12</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN INSERTED</code></td>
<td><code>0x100-0x107</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x110</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x111</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x112</code></td>
</tr>
<tr>
<td><code>CONFIG THRESHOLD</code></td>
<td><code>0x200-0x20F</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE FLOW CONTROL</code></td>
<td><code>0x210</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Hold Register Status</code></td>
<td><code>0x80</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group1 Counter</code></td>
<td><code>0xA00 - 0xA2F(RO)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group2 Counter</code></td>
<td><code>0xA80 - 0xAAF(RO)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group3 Counter</code></td>
<td><code>0xB00 - 0xB2F(RC)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group1 Counter</code></td>
<td><code>0xE00 - 0xE2F(RO)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group2 Counter</code></td>
<td><code>0xE80 - 0xEAF(RO)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group3 Counter</code></td>
<td><code>0xF00 - 0xF2F(RO)</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Group4 Counter</code></td>
<td><code>0xF80 - 0xFBF(RO)</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN1 INSERTED PW</code></td>
<td><code>0x0A0</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN2 INSERTED PW</code></td>
<td><code>0x0A1</code></td>
</tr>
<tr>
<td><code>CONFIG VLAN INSERTED PW ENABLE</code></td>
<td><code>0x0A2</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through MAC Address Control</code></td>
<td><code>0xC30 - 0xC37 #The address format for these registers is 0xC30 + ethpid</code></td>
</tr>
<tr>
<td><code>Ethernet Pass Through Port Enable and MTU Control</code></td>
<td><code>0xC40 - 0xC47 #The address format for these registers is 0xC40 + ethpid</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-1-2">CONFIG VLAN REMOVED port 1-2</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-3-4">CONFIG VLAN REMOVED port 3-4</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-5-6">CONFIG VLAN REMOVED port 5-6</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-7-8">CONFIG VLAN REMOVED port 7-8</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-9-10">CONFIG VLAN REMOVED  port 9-10</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-11-12">CONFIG VLAN REMOVED  port 11-12</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x05</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-13-14">CONFIG VLAN REMOVED port 13-14</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-port-15-16">CONFIG VLAN REMOVED port 15-16</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x07</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_p2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_p2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_p2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_p1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_p1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_p1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-removed-pw">CONFIG VLAN REMOVED PW</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_pwvlan</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>prior_2</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>cfi_2</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[27:16]</code></td>
<td><code>vlanid_2</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior_1</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi_1</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid_1</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-remove-vlan-tpid">CONFIG ENABLE REMOVE VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>18</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17:17]</code></td>
<td><code>out_enbtpid_pw</code></td>
<td 1>enable compare PW VLAN,<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfg_tpid</code></td>
<td 0>bit corresponding port to config ( bit 0 is port 0),<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-remove-vlan-tpid_1">CONFIG ENABLE REMOVE VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgrmtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>out_cfgtpid2</code></td>
<td>value TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfgtpid1</code></td>
<td>value TPID 1</td>
<td><code>R/W</code></td>
<td><code>0x8100</code></td>
<td><code>0x8100 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-remove-vlan-tpid_2">CONFIG ENABLE REMOVE VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgrmtpid_pw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>out_cfgtpid_pw2</code></td>
<td>value TPID PW 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfgtpid_pw1</code></td>
<td>value TPID PW 1</td>
<td><code>R/W</code></td>
<td><code>0x8100</code></td>
<td><code>0x8100 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-inserted">CONFIG VLAN INSERTED</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfginsvlan</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x100-0x107</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x100+ $PID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PID(0-7) : Port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbinstpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x110</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_enbtpid</code></td>
<td>bit corresponding port to config ( bit 0 is port 0),(0)  use config TPID1, (1) use config TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid_1">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfginstpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x111</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>out_cfgtpid2</code></td>
<td>valud TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfgtpid1</code></td>
<td>value TPID 1</td>
<td><code>R/W</code></td>
<td><code>0x8100</code></td>
<td><code>0x8100 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid_2">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbins</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x112</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_enbins</code></td>
<td>bit corresponding port to config ( bit 0 is port 0), (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-threshold">CONFIG THRESHOLD</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgthreshold</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x200-0x20F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x200+ $PID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PID(0-15) : Port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:08]</code></td>
<td><code>val_thres2</code></td>
<td>threshold for 3/4 of max buffer contain (256*3/4)kbytes</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>val_thes1</code></td>
<td>threshold for 1/4 of max buffer contain (256/4)kbytes</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-flow-control">CONFIG ENABLE FLOW CONTROL</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbflwctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x210</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00:00]</code></td>
<td><code>out_enbflw</code></td>
<td>(0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-hold-register-status">Ethernet Pass Through Hold Register Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for hold remain that more than 128bits</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>epa_hold_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x80</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x80 +  HID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HID(0-0): Hold ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>epaholdstatus</code></td>
<td>Hold 32bits</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group1-counter">Ethernet Pass Through Group1 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txepagrp1cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xA00 - 0xA2F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xA00 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:24]</code></td>
<td><code>txethgrp1cnt1</code></td>
<td>cntoffset = 0 : txpkt255byte cntoffset = 1 : txpkt1023byte cntoffset = 2 : txpktjumbo</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>txethgrp1cnt0</code></td>
<td>cntoffset = 0 : txpkt127byte cntoffset = 1 : txpkt511byte cntoffset = 2 : txpkt1518byte</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group2-counter">Ethernet Pass Through Group2 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txepagrp2cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xA80 - 0xAAF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xA80 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:32]</code></td>
<td><code>txethgrp2cnt1</code></td>
<td>cntoffset = 0 : txpktgood cntoffset = 1 : unused cntoffset = 2 : txoversize</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>txethgrp2cnt0</code></td>
<td>cntoffset = 0 : txbytecnt cntoffset = 1 : txpkttotaldis cntoffset = 2 : txundersize</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group3-counter">Ethernet Pass Through Group3 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txepagrp3cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB00 - 0xB2F(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xB00 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:24]</code></td>
<td><code>txethgrp1cnt1</code></td>
<td>cntoffset = 0 : txpktoverrun cntoffset = 1 : txpktmulticast cntoffset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>txethgrp1cnt0</code></td>
<td>cntoffset = 0 : txpktpausefrm cntoffset = 1 : txpktbroadcast cntoffset = 2 : txpkt64byte</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group1-counter_1">Ethernet Pass Through Group1 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxepagrp1cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE00 - 0xE2F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE00 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:24]</code></td>
<td><code>rxethgrp1cnt1</code></td>
<td>cntoffset = 0 : rxpkt255byte cntoffset = 1 : rxpkt1023byte cntoffset = 2 : rxpktjumbo</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>rxethgrp1cnt0</code></td>
<td>cntoffset = 0 : rxpkt127byte cntoffset = 1 : rxpkt511byte cntoffset = 2 : rxpkt1518byte</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group2-counter_1">Ethernet Pass Through Group2 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxepagrp2cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE80 - 0xEAF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE80 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:40]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:32]</code></td>
<td><code>rxethgrp2cnt1</code></td>
<td>cntoffset = 0 : rxpkttotal cntoffset = 1 : unused cntoffset = 2 : rxpktdaloop</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>rxethgrp2cnt0</code></td>
<td>cntoffset = 0 : rxbytecnt cntoffset = 1 : rxpktfcserr cntoffset = 2 : rxpkttotaldis</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group3-counter_1">Ethernet Pass Through Group3 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxepagrp3cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF00 - 0xF2F(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xF00 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:24]</code></td>
<td><code>rxethgrp2cnt1</code></td>
<td>cntoffset = 0 : rxpktjabber cntoffset = 1 : rxpktpausefrm cntoffset = 2 : rxpktoversize</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>rxethgrp2cnt0</code></td>
<td>cntoffset = 0 : rxpktpcserr cntoffset = 1 : rxpktfragment cntoffset = 2 : rxpktundersize</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-group4-counter">Ethernet Pass Through Group4 Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on cntoffset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxepagrp4cnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF80 - 0xFBF(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xF80 + 16*$cntoffset + $ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$ethpid(0-15)</code></p>
</li>
<li>
<p><code>$cntoffset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>64</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[63:48]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[47:24]</code></td>
<td><code>rxethgrp2cnt1</code></td>
<td>cntoffset = 0 : rxpktbroadcast cntoffset = 1 : rxpkt64byte cntoffset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>rxethgrp2cnt0</code></td>
<td>cntoffset = 0 : rxpktoverrun cntoffset = 1 : rxpktmulticast cntoffset = 2 : unused</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan1-inserted-pw">CONFIG VLAN1 INSERTED PW</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgpwvlan1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pwsubvlan1</code></td>
<td>Pw subport VLAN1 value</td>
<td><code>R/W</code></td>
<td><code>0x8100_0000</code></td>
<td><code>0x81000000 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan2-inserted-pw">CONFIG VLAN2 INSERTED PW</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgpwvlan2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A1</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pwsubvlan2</code></td>
<td>Pw subport VLAN2 value</td>
<td><code>R/W</code></td>
<td><code>0x81000000</code></td>
<td><code>0x81000000 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-inserted-pw-enable">CONFIG VLAN INSERTED PW ENABLE</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgpwvlaninsen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A2</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>pwvlansel</code></td>
<td>Select VLAN to insert 0: select VLAN1 1: select VLAN2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pwvlaninsen</code></td>
<td>Enable insert VLAN 0: disable insert 1: enable insert</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-mac-address-control">Ethernet Pass Through MAC Address Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures parameters per ethernet pass through port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramrxepacfg0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xC30 - 0xC37 #The address format for these registers is 0xC30 + ethpid</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xC30 +  ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$ethpid(0-7): Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:0]</code></td>
<td><code>ethpassmacadd</code></td>
<td>Ethernet pass through MAC address used for Loop DA counter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ethernet-pass-through-port-enable-and-mtu-control">Ethernet Pass Through Port Enable and MTU Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures parameters per ethernet pass through port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramrxepacfg1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xC40 - 0xC47 #The address format for these registers is 0xC40 + ethpid</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xC40 +  ethpid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$ethpid(0-7): Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>21</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[20]</code></td>
<td><code>ethpassporten</code></td>
<td>Ethernet pass port enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable 0: Disable</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>ethpasspcserrdropen</code></td>
<td>Ethernet PCS error drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop PCS error packet 0: Disable drop PCS error packet</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>ethpassfcserrdropen</code></td>
<td>Ethernet FCS error drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop FCS error packet 0: Disable drop FCS error packet</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>ethpassundersizedropen</code></td>
<td>Ethernet Undersize drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop undersize packet 0: Disable drop undersize packet</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>ethpassoversizedropen</code></td>
<td>Ethernet Oversize drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop oversize packet 0: Disable drop oversize packet</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>ethpasspausefrmdropen</code></td>
<td>Ethernet Pausefrm drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop pause frame 0: Disable drop pause frame</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>ethpassdaloopdropen</code></td>
<td>Ethernet Daloop drop enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable drop DA loop packet 0: Disable drop DA loop packet</code></td>
</tr>
<tr>
<td><code>[13:0]</code></td>
<td><code>ethpassmtusize</code></td>
<td>Ethernet pass through MTU size</td>
<td><code>RW</code></td>
<td><code>0x2588</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>