<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_pla">AF6CCI0011_RD_PLA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Payload Assembler Low-Order Payload Control</code></td>
<td><code>0x0_2000-0x3_63FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Low-Order Pseudowire Control</code></td>
<td><code>0x0_D000-0x3_DBFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Low-Order Add/Remove Pseudowire Protocol Control</code></td>
<td><code>0x0_2800-0x3_6BFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler High-Order Payload Control</code></td>
<td><code>0x8_0100-0x8_0B2F</code></td>
</tr>
<tr>
<td><code>Payload Assembler High-Order Pseudowire Control</code></td>
<td><code>0x8_0680-0x8_10AF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Hig-Order Add/Remove Pseudowire Protocol Control</code></td>
<td><code>0x8_0140-0x8_0B6F</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output Pseudowire Control</code></td>
<td><code>0x9_0000-0xA_17FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output UPSR Control</code></td>
<td><code>0x9_4000-0xC_5FFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output HSPW Control</code></td>
<td><code>0x9_8000-0xC_8FFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Process Control</code></td>
<td><code>0x8_4000</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Buffer Control</code></td>
<td><code>0x8_4010-0x8_4015</code></td>
</tr>
<tr>
<td><code>Payload Assembler Hold Register Control</code></td>
<td><code>0x8_C000-0x8_C002</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit3_0 Control</code></td>
<td><code>0x8C100 - 0x8C10F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit7_4 Control</code></td>
<td><code>0x8C110 - 0x8C11F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit11_8 Control</code></td>
<td><code>0x8C120 - 0x8C12F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit15_12 Control</code></td>
<td><code>0x08C130 - 0x8C13F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit19_16 Control</code></td>
<td><code>0x8C140 - 0x8C14F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit23_20 Control</code></td>
<td><code>0x8C150 - 0x8C15F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit24 and Data Control</code></td>
<td><code>0x8C160 - 0x8C161</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data63_32</code></td>
<td><code>0x8C170</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data95_64</code></td>
<td><code>0x8C171</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data127_96</code></td>
<td><code>0x8C172</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Process Control</code></td>
<td><code>0x8_4001</code></td>
</tr>
<tr>
<td><code>Payload Assembler Force Parity Error Control0</code></td>
<td><code>0x88040</code></td>
</tr>
<tr>
<td><code>Payload Assembler Disable Parity Check Control0</code></td>
<td><code>0x88041</code></td>
</tr>
<tr>
<td><code>Payload Assembler Parity Error Sticky0</code></td>
<td><code>0x88042</code></td>
</tr>
<tr>
<td><code>Payload Assembler Force Parity Error Control1</code></td>
<td><code>0x88044</code></td>
</tr>
<tr>
<td><code>Payload Assembler Disable Parity Check Control1</code></td>
<td><code>0x88045</code></td>
</tr>
<tr>
<td><code>Payload Assembler Parity Error Sticky1</code></td>
<td><code>0x88046</code></td>
</tr>
<tr>
<td><code>Payload Assembler Force CRC Error Control</code></td>
<td><code>0x88048</code></td>
</tr>
<tr>
<td><code>Payload Assembler Disable CRC Check Control</code></td>
<td><code>0x88049</code></td>
</tr>
<tr>
<td><code>Payload Assembler CRC Error Sticky</code></td>
<td><code>0x8804A</code></td>
</tr>
<tr>
<td><code>Pseudowire PLA FSM Control</code></td>
<td><code>0x88020</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-payload-control">Payload Assembler Low-Order Payload Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure payload in each LO Pseudowire channels</p>
<p>HDL_PATH: begin:</p>
<p>IF(($LoOc48Slice==0) &amp;&amp; ($$LoOc24Slice==0))</p>
<p>ilosl1pla1cfgpw_ram.array.ram[$$LoPwid]</p>
<p>ELSEIF(($LoOc48Slice==0) &amp;&amp; ($$LoOc24Slice==1))</p>
<p>ilosl1pla2cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==1) &amp;&amp; ($$LoOc24Slice==0))</p>
<p>ilosl2pla1cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==1) &amp;&amp; ($$LoOc24Slice==1))</p>
<p>ilosl2pla2cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==2) &amp;&amp; ($$LoOc24Slice==0))</p>
<p>ilosl3pla1cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==2) &amp;&amp; ($$LoOc24Slice==1))</p>
<p>ilosl3pla2cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==3) &amp;&amp; ($$LoOc24Slice==0))</p>
<p>ilosl4pla1cfgpw_ram.array.ram[$$LoPwid]</p>
<p>IF(($LoOc48Slice==3) &amp;&amp; ($$LoOc24Slice==1))</p>
<p>ilosl4pla2cfgpw_ram.array.ram[$$LoPwid]</p>
<p>HDL_PATH: end:</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lo_pld_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_2000-0x3_63FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_2000 + $LoOc48Slice*65536 + $LoOc24Slice*16384 + $LoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LoOc48Slice(0-3): LO OC-48 slices, there are total 4xOC-48 slices for LO 10G</code></p>
</li>
<li>
<p><code>$LoOc24Slice(0-1): LO OC-24 slices, there are total 2xOC-24 slices per LO OC-48 slice</code></p>
</li>
<li>
<p><code>$LoPwid(0-1343): pseudowire channel for each LO OC-24 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>18</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>plalopldtssrcctrl</code></td>
<td>Timestamp Source 0: PRC global 1: TS from CDR engine</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:15]</code></td>
<td><code>plalopldtypectrl</code></td>
<td>Payload Type 0: satop 1: ces without cas 2: cep</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:0]</code></td>
<td><code>plalopldsizectrl</code></td>
<td>Payload Size satop/cep mode: bit[13:0] payload size (ex: value as 0x100 is payload size 256 bytes) ces mode: bit[5:0] number of DS0 timeslot bit[14:6] number of NxDS0 frame</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-pseudowire-control">Payload Assembler Low-Order Pseudowire Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure some pseudowire properties in each LO Pseudowire channels</p>
<p>HDL_PATH: begin:</p>
<p>IF($LoOc48Slice==0)</p>
<p>ilosl1pwblkcfg_ram.array.ram[$LoOc24Slice*1024 + $LoPwid]</p>
<p>IF($LoOc48Slice==1)</p>
<p>ilosl2pwblkcfg_ram.array.ram[$LoOc24Slice*1024 + $LoPwid]</p>
<p>IF($LoOc48Slice==2)</p>
<p>ilosl3pwblkcfg_ram.array.ram[$LoOc24Slice*1024 + $LoPwid]</p>
<p>IF($LoOc48Slice==3)</p>
<p>ilosl4pwblkcfg_ram.array.ram[$LoOc24Slice*1024 + $LoPwid]</p>
<p>HDL_PATH: end:</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lo_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_D000-0x3_DBFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_D000 + $LoOc48Slice*65536 + $LoOc24Slice*2048 + $LoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LoOc48Slice(0-3): LO OC-48 slices, there are total 4xOC-48 slices for LO 10G</code></p>
</li>
<li>
<p><code>$LoOc24Slice(0-1): LO OC-24 slices, there are total 2xOC-24 slices per LO OC-48 slice</code></p>
</li>
<li>
<p><code>$LoPwid(0-1343): pseudowire channel for each LO OC-24 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>22</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21:20]</code></td>
<td><code>plalopwpidctrl</code></td>
<td>Port ID output</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:07]</code></td>
<td><code>plalopwpwidctrl</code></td>
<td>real PW id lookup</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>plalopwsuprctrl</code></td>
<td>Suppresion Enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>plalopwmbitdisctrl</code></td>
<td>M or NP bits disable 1: disable M or NP bits in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>plalopwlbitdisctrl</code></td>
<td>L bit disable 1: disable L bit in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:2]</code></td>
<td><code>plalopwmbitcpuctrl</code></td>
<td>M or NP bits value from CPU (low priority than PlaLoPwMbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plalopwlbitcpuctrl</code></td>
<td>L bit value from CPU (low priority than PlaLoPwLbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plalopwenctrl</code></td>
<td>LO Pseudowire enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-addremove-pseudowire-protocol-control">Payload Assembler Low-Order Add/Remove Pseudowire Protocol Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to add/remove pseudowire to prevent burst packets to other packet processing engines in each LO OC-24 slice</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lo_add_rmv_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_2800-0x3_6BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_2800 + $LoOc48Slice*65536 + $LoOc24Slice*16384 + $LoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LoOc48Slice(0-3): LO OC-48 slices, there are total 4xOC-48 slices for LO 10G</code></p>
</li>
<li>
<p><code>$LoOc24Slice(0-1): LO OC-24 slices, there are total 2xOC-24 slices per LO OC-48 slice</code></p>
</li>
<li>
<p><code>$LoPwid(0-1343): pseudowire channel for each LO OC-24 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1:0]</code></td>
<td><code>plalostaaddrmvctrl</code></td>
<td>protocol state to add/remove pw Step1: Add intitial or pw idle, the protocol state value is &ldquo;zero&rdquo; Step2: For adding the pw, CPU will Write &ldquo;1&rdquo; value for the protocol state to start adding pw. The protocol state value is &ldquo;1&rdquo;. Step3: CPU enables pw at demap to finish the adding pw process. HW will automatically change the protocol state value to &ldquo;2&rdquo; to run the pw, and keep this state. Step4: For removing the pw, CPU will write &ldquo;3&rdquo; value for the protocol state to start removing pw. The protocol state value is &ldquo;3&rdquo;. Step5: Poll the protocol state until return value &ldquo;0&rdquo; value, after that CPU disables pw at demap to finish the removing pw process</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-high-order-payload-control">Payload Assembler High-Order Payload Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure payload in each HO Pseudowire channels</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_ho_pldd_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0100-0x8_0B2F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0100 + $HoOc96Slice*2048 + $HoOc48Slice*512 + $HoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HoOc96Slice(0-1): HO OC-96 slices, there are total 2xOC-96 slices for HO 10G or 4xOC-96 slices for HO 20G</code></p>
</li>
<li>
<p><code>$HoOc48Slice(0-1): HO OC-48 slices, there are total 2xOC-48 slices per HO OC-96 slice</code></p>
</li>
<li>
<p><code>$HoPwid(0-47): pseudowire channel for each HO OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16:15]</code></td>
<td><code>plalopldtypectrl</code></td>
<td>Payload Type 0: satop 2: cep</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:0]</code></td>
<td><code>plalopldsizectrl</code></td>
<td>Payload Size</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-high-order-pseudowire-control">Payload Assembler High-Order Pseudowire Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure some pseudowire properties in each HO Pseudowire channels</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_ho_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0680-0x8_10AF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0680 + $HoOc96Slice*2048 + $HoOc48Slice*64 + $HoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HoOc96Slice(0-1): HO OC-96 slices, there are total 2xOC-96 slices for HO 10G or 4xOC-96 slices for HO 20G</code></p>
</li>
<li>
<p><code>$HoOc48Slice(0-1): HO OC-48 slices, there are total 2xOC-48 slices per HO OC-96 slice</code></p>
</li>
<li>
<p><code>$HoPwid(0-47): pseudowire channel for each HO OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>22</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21:20]</code></td>
<td><code>plahopwpidctrl</code></td>
<td>Port ID output</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:07]</code></td>
<td><code>plahopwpwidctrl</code></td>
<td>real PW id lookup</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>plahopwsuprctrl</code></td>
<td>Suppresion Enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>plahopwnpbitdisctrl</code></td>
<td>NP bits disable 1: disable NP bits in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>plahopwlbitdisctrl</code></td>
<td>L bit disable 1: disable L bit in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:2]</code></td>
<td><code>plahopwmbitcpuctrl</code></td>
<td>NP bits value from CPU (low priority than PlaHoPwNPbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plahopwlbitcpuctrl</code></td>
<td>L bit value from CPU (low priority than PlaHoPwLbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plahopwenctrl</code></td>
<td>HO Pseudowire enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-hig-order-addremove-pseudowire-protocol-control">Payload Assembler Hig-Order Add/Remove Pseudowire Protocol Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to add/remove pseudowire to prevent burst packets to other packet processing engines in each HO OC-48 slice</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_ho_add_rmv_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0140-0x8_0B6F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0140 + $HoOc96Slice*2048 + $HoOc48Slice*512 + $HoPwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HoOc96Slice(0-1): HO OC-96 slices, there are total 2xOC-96 slices for HO 10G or 4xOC-96 slices for HO 20G</code></p>
</li>
<li>
<p><code>$HoOc48Slice(0-1): HO OC-48 slices, there are total 2xOC-48 slices per HO OC-96 slice</code></p>
</li>
<li>
<p><code>$HoPwid(0-47): pseudowire channel for each HO OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1:0]</code></td>
<td><code>plalostaaddrmvctrl</code></td>
<td>protocol state to add/remove pw Step1: Add intitial or pw idle, the protocol state value is &ldquo;zero&rdquo; Step2: For adding the pw, CPU will Write &ldquo;1&rdquo; value for the protocol state to start adding pw. The protocol state value is &ldquo;1&rdquo;. Step3: CPU enables pw at demap to finish the adding pw process. HW will automatically change the protocol state value to &ldquo;2&rdquo; to run the pw, and keep this state. Step4: For removing the pw, CPU will write &ldquo;3&rdquo; value for the protocol state to start removing pw. The protocol state value is &ldquo;3&rdquo;. Step5: Poll the protocol state until return value &ldquo;0&rdquo; value, after that CPU disables pw at demap to finish the removing pw process</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-pseudowire-control">Payload Assembler Output Pseudowire Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config psedowire at output</p>
<p>HDL_PATH : ip1pwcfg_ram.array.ram[$pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0000-0xA_17FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0000 + $pid*65536 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pid(0-1): output port which the PW will be sent out</code></p>
</li>
<li>
<p><code>$pwid(0-6143): pseudowire channel</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>37</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[36]</code></td>
<td><code>plaouthspwusedctr</code></td>
<td>HSPW is used or not 0:not used, all configurations for HSPW will be not effected 1:used</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[35]</code></td>
<td><code>plaoutupsrusedctr</code></td>
<td>UPSR is used or not 0:not used, all configurations for UPSR will be not effected 1:used</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[34]</code></td>
<td><code>plaoutcepctr</code></td>
<td>PW is in a CEP mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33:22]</code></td>
<td><code>plaouthspwgrpctr</code></td>
<td>HSPW group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:9]</code></td>
<td><code>plaoutupsrgrpctr</code></td>
<td>UPRS group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plaoutrbitdisctrl</code></td>
<td>R bit disable 1: disable R bit in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plaoutrbitcpuctrl</code></td>
<td>R bit value from CPU (low priority than PlaOutRbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:0]</code></td>
<td><code>plaoutpsnlenctrl</code></td>
<td>PSN length</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-upsr-control">Payload Assembler Output UPSR Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config UPSR group</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_upsr_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_4000-0xC_5FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_4000 + $upsrgrp</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$upsrgrp(0-511): UPSR group address</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>plaoutupsrenctr</code></td>
<td>Total is 8092 upsrID, divide into 512 group address for configuration, 16-bit is correlative with 16 upsrID each group. Bit#0 is for upsrID#0, bit#1 is for upsrID#1&hellip; 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-hspw-control">Payload Assembler Output HSPW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config HSPW group</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_hspw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_8000-0xC_8FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_8000 + $hspwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$hspwid(0-4095): HSPW group</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>plaouthspwpsnctr</code></td>
<td>PSN location for HSPW group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-process-control">Payload Assembler Output PSN Process Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control PSN configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnpro_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_4000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>Request to process PSN 1: request to write/read PSN header buffer. The CPU need to prepare a complete PSN header into PSN buffer before request write OR read out a complete PSN header in PSN buffer after request read done 0: HW will automatically set to 0 when a request done</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>plaoutpsnprornwctr</code></td>
<td>read or write PSN 1: read PSN 0: write PSN</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:16]</code></td>
<td><code>plaoutpsnprolenctr</code></td>
<td>Length of a complete PSN need to read/write</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plaoutpsnpropagectr</code></td>
<td>there is 2 pages PSN location per PWID, depend on the configuration of &ldquo;PlaOutHspwPsnCtr&rdquo;, the engine will choice which the page to encapsulate into the packet.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:0]</code></td>
<td><code>plaoutpsnpropwidctr</code></td>
<td>Pseudowire channel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-buffer-control">Payload Assembler Output PSN Buffer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store PSN data which is before CPU request write or after CPU request read %%</p>
<p>The header format from entry#0 to entry#4 is as follow: %%</p>
<p>{DA(6-byte),SA(6-byte),VLAN1(4-byte,optional),VLAN2(4-byte, optional),EthType(2-byte),PSN Header(4 to 96 bytes)} %%</p>
<p>Depends on specific PSN selected for each pseudowire, the EthType and PSN Header field may have the following values and formats: %%</p>
<p>PSN header is MEF-8: %%</p>
<p>EthType:  0x88D8 %%</p>
<p>4-byte PSN Header with format: {ECID[19:0], 0x102} where ECID is pseodowire identification for  remote  receive side. %%</p>
<p>PSN header is MPLS:  %%</p>
<p>EthType:  0x8847 %%</p>
<p>4/8/12-byte PSN Header with format: {OuterLabel2<a href="optional">31:0</a>, OuterLabel1<a href="optional">31:0</a>,  InnerLabel[31:0]}   %%</p>
<p>Where InnerLabel[31:12] is pseodowire identification for remote receive side. %%</p>
<p>Label format: {Idenfifier[19:0],Exp[2:0],StackBit,TTL[7:0]} where StackBit =  for InnerLabel %%</p>
<p>PSN header is UDP/Ipv4:  %%</p>
<p>EthType:  0x0800 %%</p>
<p>28-byte PSN Header with format {Ipv4 Header(20 bytes), UDP Header(8 byte)} as below: %%</p>
<p>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0], IP_Header_Sum[31:16]} %%</p>
<p>{IP_Iden[15:0], IP_Flag[2:0], IP_Frag_Offset[12:0]}  %%</p>
<p>{IP_TTL[7:0], IP_Protocol[7:0], IP_Header_Sum[15:0]} %%</p>
<p>{IP_SrcAdr[31:0]} %%</p>
<p>{IP_DesAdr[31:0]} %%</p>
<p>{UDP_SrcPort[15:0], UDP_DesPort[15:0]} %%</p>
<p>{UDP_Sum[31:0] (optional)} %%</p>
<p>Case: %%</p>
<p>IP_Protocol[7:0]: 0x11 to signify UDP  %%</p>
<p>IP_Protocol[7:0]: 0x11 to signify UDP  %%</p>
<p>IP_Header_Sum[31:0]:  CPU calculate these fields as a temporarily for HW before plus rest fields %%</p>
<p>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0]} +%%</p>
<p>IP_Iden[15:0] + {IP_Flag[2:0], IP_Frag_Offset[12:0]}  +%%</p>
<p>{IP_TTL[7:0], IP_Protocol[7:0]} + %%</p>
<p>IP_SrcAdr[31:16] + IP_SrcAdr[15:0] +%%</p>
<p>IP_DesAdr[31:16] + IP_DesAdr[15:0]%%</p>
<p>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_Sum[31:0] (optional): CPU calculate these fields as a temporarily for HW before plus rest fields%%</p>
<p>IP_SrcAdr[127:112] +    IP_SrcAdr[111:96] +     %%</p>
<p>IP_SrcAdr[95:80]  + IP_SrcAdr[79:64] +  %%</p>
<p>IP_SrcAdr[63:48]  + IP_SrcAdr[47:32] +  %%</p>
<p>IP_SrcAdr[31:16]  + IP_SrcAdr[15:0] +   %%</p>
<p>IP_DesAdr[127:112] +    IP_DesAdr[111:96] +     %%</p>
<p>IP_DesAdr[95:80]  + IP_DesAdr[79:64] +  %%</p>
<p>IP_DesAdr[63:48]  + IP_DesAdr[47:32] +  %%</p>
<p>IP_DesAdr[31:16]  + IP_DesAdr[15:0] +%%</p>
<p>{8-bit zeros, IP_Protocol[7:0]} +%%</p>
<p>UDP_SrcPort[15:0] +  UDP_DesPort[15:0]%%</p>
<p>PSN header is UDP/Ipv6:  %%</p>
<p>EthType:  0x86DD%%</p>
<p>48-byte PSN Header with format {Ipv6 Header(40 bytes), UDP Header(8 byte)} as below:%%</p>
<p>{IP_Ver[3:0], IP_Traffic_Class[7:0], IP_Flow_Label[19:0]}%%</p>
<p>{16-bit zeros, IP_Next_Header[7:0], IP_Hop_Limit[7:0]} %%</p>
<p>{IP_SrcAdr[127:96]}%%</p>
<p>{IP_SrcAdr[95:64]}%%</p>
<p>{IP_SrcAdr[63:32]}%%</p>
<p>{IP_SrcAdr[31:0]}%%</p>
<p>{IP_DesAdr[127:96]}%%</p>
<p>{IP_DesAdr[95:64]}%%</p>
<p>{IP_DesAdr[63:32]}%%</p>
<p>{IP_DesAdr[31:0]}%%</p>
<p>{UDP_SrcPort[15:0], UDP_DesPort[15:0]}%%</p>
<p>{UDP_Sum[31:0]}%%</p>
<p>Case:%%</p>
<p>IP_Next_Header[7:0]: 0x11 to signify UDP %%</p>
<p>UDP_Sum[31:0]:  CPU calculate these fields as a temporarily for HW before plus rest fields%%</p>
<p>IP_SrcAdr[127:112] +    IP_SrcAdr[111:96] +     %%</p>
<p>IP_SrcAdr[95:80]  + IP_SrcAdr[79:64] +  %%</p>
<p>IP_SrcAdr[63:48]  + IP_SrcAdr[47:32] +  %%</p>
<p>IP_SrcAdr[31:16]  + IP_SrcAdr[15:0] +   %%</p>
<p>IP_DesAdr[127:112] +    IP_DesAdr[111:96] +     %%</p>
<p>IP_DesAdr[95:80]  + IP_DesAdr[79:64] +  %%</p>
<p>IP_DesAdr[63:48]  + IP_DesAdr[47:32] +  %%</p>
<p>IP_DesAdr[31:16]  + IP_DesAdr[15:0] +%%</p>
<p>{8-bit zeros, IP_Next_Header[7:0]} +%%</p>
<p>UDP_SrcPort[15:0] +  UDP_DesPort[15:0]%%</p>
<p>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused%%</p>
<p>User can select either source or destination port for pseodowire identification. See IP/UDP standards for more description about other field. %%</p>
<p>PSN header is MPLS over Ipv4:%%</p>
<p>IPv4 header must have IP_Protocol[7:0] value 0x89 to signify MPLS%%</p>
<p>After IPv4 header is MPLS labels where inner label is used for PW identification%%</p>
<p>PSN header is MPLS over Ipv6:%%</p>
<p>IPv6 header must have IP_Next_Header[7:0] value 0x89 to signify MPLS%%</p>
<p>After IPv6 header is MPLS labels where inner label is used for PW identification%%</p>
<p>PSN header (all modes) with RTP enable: RTP used for TDM PW (define in RFC3550), is in the first 8-byte of this buffer (bit[127:64] of segid == 0), following is PSN header (start from bit[63:0] of segid = 0)%%</p>
<p>Case:%%</p>
<p>RTPSSRC[31:0] : This is the SSRC value of RTP header%%</p>
<p>RtpPtValue[6:0]: This is the PT value of RTP header, define in http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xml</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnbuf_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_4010-0x8_4015</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_4010 + $segid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$segid(0-5): segment 16-byte PSN, total is 6 segments for maximum 96 bytes PSN  %</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:0]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>PSN buffer</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-hold-register-control">Payload Assembler Hold Register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control hold register.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_hold_reg_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_C000-0x8_C002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_C000 + $holdreg</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$holdreg(0-2): hold register with (holdreg=0) for bit63_32, (holdreg=1) for bit95_64, (holdreg=2) for bit127_96</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>plaholdregctr</code></td>
<td>hold register value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit3_0-control">Read HA Address Bit3_0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit3_0 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha3_0_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C100 - 0x8C10F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C100 + HaAddr3_0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr3_0(0-F): HA Address Bit3_0</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr3_0</code></td>
<td>Read value will be 0x8C100 plus HaAddr3_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit7_4-control">Read HA Address Bit7_4 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit7_4 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha7_4_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C110 - 0x8C11F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C110 + HaAddr7_4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr7_4(0-F): HA Address Bit7_4</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr7_4</code></td>
<td>Read value will be 0x8C100 plus HaAddr7_4</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit11_8-control">Read HA Address Bit11_8 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit11_8 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha11_8_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C120 - 0x8C12F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C120 + HaAddr11_8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr11_8(0-F): HA Address Bit11_8</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr11_8</code></td>
<td>Read value will be 0x8C100 plus HaAddr11_8</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit15_12-control">Read HA Address Bit15_12 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit15_12 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha15_12_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08C130 - 0x8C13F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x08C130 + HaAddr15_12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr15_12(0-F): HA Address Bit15_12</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr15_12</code></td>
<td>Read value will be 0x8C100 plus HaAddr15_12</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit19_16-control">Read HA Address Bit19_16 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit19_16 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha19_16_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C140 - 0x8C14F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C140 + HaAddr19_16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr19_16(0-F): HA Address Bit19_16</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr19_16</code></td>
<td>Read value will be 0x8C100 plus HaAddr19_16</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit23_20-control">Read HA Address Bit23_20 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit23_20 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha23_20_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C150 - 0x8C15F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C150 + HaAddr23_20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr23_20(0-F): HA Address Bit23_20</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr23_20</code></td>
<td>Read value will be 0x8C100 plus HaAddr23_20</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit24-and-data-control">Read HA Address Bit24 and Data Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit24 to HA engine to read data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha24data_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C160 - 0x8C161</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8C160 + HaAddr24</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr24(0-1): HA Address Bit24</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata31_0</code></td>
<td>HA read data bit31_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data63_32">Read HA Hold Data63_32</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword2 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha_hold63_32</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C170</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata63_32</code></td>
<td>HA read data bit63_32</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data95_64">Read HA Hold Data95_64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword3 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold95_64</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C171</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata95_64</code></td>
<td>HA read data bit95_64</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data127_96">Read HA Hold Data127_96</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword4 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold127_96</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8C172</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata127_96</code></td>
<td>HA read data bit127_96</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-process-control_1">Payload Assembler Output PSN Process Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control PSN configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnpro_ha_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_4001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>Request to process PSN 1: request to write/read PSN header buffer. The CPU need to prepare a complete PSN header into PSN buffer before request write OR read out a complete PSN header in PSN buffer after request read done 0: HW will automatically set to 0 when a request done</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:16]</code></td>
<td><code>plaoutpsnprolenctr</code></td>
<td>Length of a complete PSN need to read/write</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plaoutpsnpropagectr</code></td>
<td>there is 2 pages PSN location per PWID, depend on the configuration of &ldquo;PlaOutHspwPsnCtr&rdquo;, the engine will choice which the page to encapsulate into the packet.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:0]</code></td>
<td><code>plaoutpsnpropwidctr</code></td>
<td>Pseudowire channel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-force-parity-error-control0">Payload Assembler Force Parity Error Control0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to force parity error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_force_par_err_control0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>forceparerrlopwectrregoc96_1</code></td>
<td>Force Parity Error HO PWE Control Register of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>forceparerrlopldctrregoc96_1_oc48_1</code></td>
<td>Force Parity Error HO Payload Control Register of OC96#1 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>forceparerrlopldctrregoc96_1_oc48_0</code></td>
<td>Force Parity Error HO Payload Control Register of OC96#1 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>forceparerrlopwectrregoc96_0</code></td>
<td>Force Parity Error HO PWE Control Register of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>forceparerrlopldctrregoc96_0_oc48_1</code></td>
<td>Force Parity Error HO Payload Control Register of OC96#0 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>forceparerrlopldctrregoc96_0_oc48_0</code></td>
<td>Force Parity Error HO Payload Control Register of OC96#0 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>forceparerrlopwectrregoc48_3</code></td>
<td>Force Parity Error LO PWE Control Register of OC48#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>forceparerrlopldctrregoc48_3_oc24_1</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#3 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>forceparerrlopldctrregoc48_3_oc24_0</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#3 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>forceparerrlopwectrregoc48_2</code></td>
<td>Force Parity Error LO PWE Control Register of OC48#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>forceparerrlopldctrregoc48_2_oc24_1</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#2 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>forceparerrlopldctrregoc48_2_oc24_0</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#2 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>forceparerrlopwectrregoc48_1</code></td>
<td>Force Parity Error LO PWE Control Register of OC48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>forceparerrlopldctrregoc48_1_oc24_1</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#1 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>forceparerrlopldctrregoc48_1_oc24_0</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#1 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>forceparerrlopwectrregoc48_0</code></td>
<td>Force Parity Error LO PWE Control Register of OC48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>forceparerrlopldctrregoc48_0_oc24_1</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#0 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>forceparerrlopldctrregoc48_0_oc24_0</code></td>
<td>Force Parity Error LO Payload Control Register of OC48#0 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-disable-parity-check-control0">Payload Assembler Disable Parity Check Control0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to disable parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_dis_par_control0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88041</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>disparlopwectrregoc96_1</code></td>
<td>Disable Parity HO PWE Control Register of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>disparlopldctrregoc96_1_oc48_1</code></td>
<td>Disable Parity HO Payload Control Register of OC96#1 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>disparlopldctrregoc96_1_oc48_0</code></td>
<td>Disable Parity Error HO Payload Control Register of OC96#1 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>disparlopwectrregoc96_0</code></td>
<td>Disable Parity Error HO PWE Control Register of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>disparlopldctrregoc96_0_oc48_1</code></td>
<td>Disable Parity Error HO Payload Control Register of OC96#0 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>disparlopldctrregoc96_0_oc48_0</code></td>
<td>Disable Parity Error HO Payload Control Register of OC96#0 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>disparlopwectrregoc48_3</code></td>
<td>Disable Parity Error LO PWE Control Register of OC48#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>disparlopldctrregoc48_3_oc24_1</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#3 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>disparlopldctrregoc48_3_oc24_0</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#3 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>disparlopwectrregoc48_2</code></td>
<td>Disable Parity Error LO PWE Control Register of OC48#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>disparlopldctrregoc48_2_oc24_1</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#2 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>disparlopldctrregoc48_2_oc24_0</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#2 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>disparlopwectrregoc48_1</code></td>
<td>Disable Parity Error LO PWE Control Register of OC48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>disparlopldctrregoc48_1_oc24_1</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#1 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>disparlopldctrregoc48_1_oc24_0</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#1 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>disparlopwectrregoc48_0</code></td>
<td>Disable Parity Error LO PWE Control Register of OC48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>disparlopldctrregoc48_0_oc24_1</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#0 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>disparlopldctrregoc48_0_oc24_0</code></td>
<td>Disable Parity Error LO Payload Control Register of OC48#0 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-parity-error-sticky0">Payload Assembler Parity Error Sticky0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to sticky parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_par_stk0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88042</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>parlopwectrregoc96_1stk</code></td>
<td>Sticky Parity HO PWE Control Register of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>parlopldctrregoc96_1_oc48_1stk</code></td>
<td>Sticky Parity HO Payload Control Register of OC96#1 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>parlopldctrregoc96_1_oc48_0stk</code></td>
<td>Sticky Parity Error HO Payload Control Register of OC96#1 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>parlopwectrregoc96_0stk</code></td>
<td>Sticky Parity Error HO PWE Control Register of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>parlopldctrregoc96_0_oc48_1stk</code></td>
<td>Sticky Parity Error HO Payload Control Register of OC96#0 OC#48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>parlopldctrregoc96_0_oc48_0stk</code></td>
<td>Sticky Parity Error HO Payload Control Register of OC96#0 OC#48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>parlopwectrregoc48_3stk</code></td>
<td>Sticky Parity Error LO PWE Control Register of OC48#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>parlopldctrregoc48_3_oc24_1stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#3 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>parlopldctrregoc48_3_oc24_0stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#3 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>parlopwectrregoc48_2stk</code></td>
<td>Sticky Parity Error LO PWE Control Register of OC48#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>parlopldctrregoc48_2_oc24_1stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#2 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>parlopldctrregoc48_2_oc24_0stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#2 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>parlopwectrregoc48_1stk</code></td>
<td>Sticky Parity Error LO PWE Control Register of OC48#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>parlopldctrregoc48_1_oc24_1stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#1 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>parlopldctrregoc48_1_oc24_0stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#1 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>parlopwectrregoc48_0stk</code></td>
<td>Sticky Parity Error LO PWE Control Register of OC48#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>parlopldctrregoc48_0_oc24_1stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#0 OC#24#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>parlopldctrregoc48_0_oc24_0stk</code></td>
<td>Sticky Parity Error LO Payload Control Register of OC48#0 OC#24#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-force-parity-error-control1">Payload Assembler Force Parity Error Control1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to force parity error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_force_par_err_control1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88044</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>forceparerrhspwp2ctrreg</code></td>
<td>Force Parity Error HSPW Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>forceparerrupsrp2ctrreg</code></td>
<td>Force Parity Error UPSR Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>forceparerroutpwep2ctrreg</code></td>
<td>Force Parity Error Output PWE Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>forceparerrhspwp1ctrreg</code></td>
<td>Force Parity Error HSPW Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>forceparerrupsrp1ctrreg</code></td>
<td>Force Parity Error UPSR Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>forceparerroutpwep1ctrreg</code></td>
<td>Force Parity Error Output PWE Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-disable-parity-check-control1">Payload Assembler Disable Parity Check Control1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to disable parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_dis_par_control1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88045</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>disparhspwp2ctrreg</code></td>
<td>Disable Parity HSPW Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>disparupsrp2ctrreg</code></td>
<td>Disable Parity UPSR Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>disparoutpwep2ctrreg</code></td>
<td>Disable Parity Output PWE Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>disparhspwp1ctrreg</code></td>
<td>Disable Parity HSPW Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>disparupsrp1ctrreg</code></td>
<td>Disable Parity UPSR Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>disparoutpwep1ctrreg</code></td>
<td>Disable Parity Output PWE Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-parity-error-sticky1">Payload Assembler Parity Error Sticky1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to sticky parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_par_err_stk1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88046</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>parhspwp2ctrregstk</code></td>
<td>Sticky Parity HSPW Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>parupsrp2ctrregstk</code></td>
<td>Sticky Parity UPSR Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>paroutpwep2ctrregstk</code></td>
<td>Sticky Parity Output PWE Port2 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>parhspwp1ctrregstk</code></td>
<td>Sticky Parity HSPW Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>parupsrp1ctrregstk</code></td>
<td>Sticky Parity UPSR Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>paroutpwep1ctrregstk</code></td>
<td>Sticky Parity Output PWE Port1 Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-force-crc-error-control">Payload Assembler Force CRC Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to force CRC error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_force_crc_err_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88048</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>forcecrcerrctr</code></td>
<td>Force CRC Error Control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-disable-crc-check-control">Payload Assembler Disable CRC Check Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to disable CRC check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_dis_crc_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88049</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>discrcchkctr</code></td>
<td>Disable CRC check Control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-crc-error-sticky">Payload Assembler CRC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to check CRC error sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_crc_err_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8804A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>crccheckstk</code></td>
<td>Sticky CRC check Port1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pla-fsm-control">Pseudowire PLA FSM Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control FSM TX PW</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pwe_pla_fsm_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x88020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>forcefsm</code></td>
<td>Force FSM state for selftest</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>fsmpinen</code></td>
<td>Enable FSM from pin outside</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>