<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_bert_mon">AF6CNC0021_RD_BERT_MON</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Sel Bert ID Mon</code></td>
<td><code>0x8500 - 0x851F</code></td>
</tr>
<tr>
<td><code>Bert Gen Global Register</code></td>
<td><code>0x8400</code></td>
</tr>
<tr>
<td><code>Sticky Enable</code></td>
<td><code>0x8401</code></td>
</tr>
<tr>
<td><code>Sticky Error</code></td>
<td><code>0x8402</code></td>
</tr>
<tr>
<td><code>Sticky Error</code></td>
<td><code>0x8412</code></td>
</tr>
<tr>
<td><code>Counter Error</code></td>
<td><code>0x8404</code></td>
</tr>
<tr>
<td><code>Counter Good</code></td>
<td><code>0x8405</code></td>
</tr>
<tr>
<td><code>Counter Lost</code></td>
<td><code>0x8406</code></td>
</tr>
<tr>
<td><code>Mon Control Bert Generate</code></td>
<td><code>0x8420 - 0x843F</code></td>
</tr>
<tr>
<td><code>Config expected Fix pattern gen</code></td>
<td><code>0x8440 - 0x845F</code></td>
</tr>
<tr>
<td><code>Status of mon bert</code></td>
<td><code>0x84E0 - 0x84FF</code></td>
</tr>
<tr>
<td><code>counter error</code></td>
<td><code>0x8540 - 0x855F</code></td>
</tr>
<tr>
<td><code>Moniter Good Bit</code></td>
<td><code>0x8580 - 0x859F</code></td>
</tr>
<tr>
<td><code>Moniter Lost Bit</code></td>
<td><code>0x85C0 - 0x85DF</code></td>
</tr>
<tr>
<td><code>Config nxDS0 moniter</code></td>
<td><code>0x84C0 - 0x84CF</code></td>
</tr>
<tr>
<td><code>moniter counter load id</code></td>
<td><code>0x8403</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-bert-id-mon">Sel Bert ID Mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Sel 32 chanel id which enable moniter BERT from 12xOC24 channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_id_reg_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8500 - 0x851F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8500 + $mid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$mid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>mon_en</code></td>
<td>bit enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>mslide_id</code></td>
<td>OC48 slide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:00]</code></td>
<td><code>mon_id</code></td>
<td>channel id</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="bert-gen-global-register">Bert Gen Global Register</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>global mon config</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mglb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8400</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:06]</code></td>
<td><code>lopthrcfg</code></td>
<td>Threshold for lost pattern moniter</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>[05:02]</code></td>
<td><code>synthrcfg</code></td>
<td>Threshold for gosyn state of pattern moniter</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0C</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>swapmode</code></td>
<td>enable swap data</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>invmode</code></td>
<td>enable invert data</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-enable">Sticky Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the test pattern sticky mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stkcfg_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8401</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>stkcfg_reg</code></td>
<td></td>
<td><code>RC</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-error">Sticky Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Bert sticky error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stk_pen_first</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8402</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>stkdi</code></td>
<td>bitmap [15:0] indicate error of  id from 1-16</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-error_1">Sticky Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Bert sticky error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stk_pen_first</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8412</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>stkdi</code></td>
<td>bitmap [31:16] indicate error of  from id 17-32</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin :</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-error">Counter Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Latch error counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>errlat_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8404</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>errcnt_lat</code></td>
<td>counter err</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good">Counter Good</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Latch good counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodlat_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8405</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>goodcnt_lat</code></td>
<td>counter good</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-lost">Counter Lost</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lostlat_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8406</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>lostcnt_lat</code></td>
<td>counter good</td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mon-control-bert-generate">Mon Control Bert Generate</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Used to control bert gen mode of 16 id</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mon_ctrl_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8420 - 0x843F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8420 + $mctrl_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$mctrl_id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>mswapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>minvmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>mpatbit</code></td>
<td>number of bit fix patt use</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>mpatt_mode</code></td>
<td>sel pattern gen # 0x0 : Prbs9 # 0x1 : Prbs11 # 0x2 : Prbs15 # 0x3 : Prbs20r # 0x4 : Prbs20 # 0x5 : qrss20 # 0x6 : Prbs23 # 0x7 : dds1 # 0x8 : dds2 # 0x9 : dds3 # 0xA : dds4 # 0xB : dds5 # 0xC : daly # 0XD : octet55_v2 # 0xE : octet55_v3 # 0xF : fix3in24 # 0x10: fix1in8 # 0x11: fix2in8 # 0x12: fixpat # 0x13: sequence # 0x14: ds0prbs # 0x15: fixnin32</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-expected-fix-pattern-gen">Config expected Fix pattern gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config fix pattern gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>thrnfix_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8440 - 0x845F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8440 + $genid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$genid (0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>crrthrnfix</code></td>
<td>config fix pattern gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="status-of-mon-bert">Status of mon bert</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Indicate current status of bert mon</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mon_status_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x84E0 - 0x84FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x84E0 + $msttid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$msttid (0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>mon_crr_stt</code></td>
<td>Status [1:0]: Prbs status LOPSTA = 2&rsquo;d0; SRCSTA = 2&rsquo;d1; VERSTA = 2&rsquo;d2; INFSTA = 2&rsquo;d3;</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-error_1">counter error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Moniter error bert counter of 16 chanel id</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>merrcnt_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8540 - 0x855F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8540 + $errid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$errid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>errcnt_pdo</code></td>
<td>value of err counter</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="moniter-good-bit">Moniter Good Bit</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Moniter good bert counter of 16 chanel id</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mgoodbit_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8580 - 0x859F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8580 + $mgb_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$mgb_id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>goodbit_pdo</code></td>
<td>value of good cnt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="moniter-lost-bit">Moniter Lost Bit</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mlostbit_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x85C0 - 0x85DF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x85C0 + $mlos_id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$mlos_id(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>lostbit_pdo</code></td>
<td>Value of lost cnt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-nxds0-moniter">Config nxDS0 moniter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>enable moniter 32 timeslot E1 or 24timeslot T1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mtsen_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x84C0 - 0x84CF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x84C0 + $mid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$mid(0-31)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>mtsen_pdo</code></td>
<td>set &ldquo;1&rdquo; to en moniter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="moniter-counter-load-id">moniter counter load id</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>used to load the error/good/loss counter report of bert id which the channel ID is value of register.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cntld_strb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8403</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>idload</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x00</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>