<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_pla_debug">AF6CCI0011_RD_PLA_DEBUG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Payload Assembler Low-Order clk155 Sticky</code></td>
<td><code>0x0_8000 + $LoOc48Slice*65536</code></td>
</tr>
<tr>
<td><code>Payload Assembler High-Order clk311 Sticky</code></td>
<td><code>0x8_0400-0x8_2C00</code></td>
</tr>
<tr>
<td><code>Payload Assembler High-Order Block Process Sticky</code></td>
<td><code>0x8_0601-0x8_2E01</code></td>
</tr>
<tr>
<td><code>Payload Assembler Low-Order Block Process Sticky</code></td>
<td><code>0x8_8001</code></td>
</tr>
<tr>
<td><code>Payload Assembler Interface Sticky</code></td>
<td><code>0x8_8002</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-clk155-sticky">Payload Assembler Low-Order clk155 Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug per OC-48 Lo-order @clk155.52 domain</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lo_clk155_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_8000 + $LoOc48Slice*65536</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>14</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[13]</code></td>
<td><code>plalo155oc24_1converr</code></td>
<td>OC24#1 convert 155to233 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plalo155oc24_0converr</code></td>
<td>OC24#0 convert 155to233 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plalo155oc24_1pwvld</code></td>
<td>OC24#1 input of expected pwid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plalo155oc24_0pwvld</code></td>
<td>OC24#0 input of expected pwid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plalo155oc24_0invld</code></td>
<td>OC24#0 input data from demap</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plalo155oc24_1invld</code></td>
<td>OC24#1 input data from demap</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plalo155oc24_0infst</code></td>
<td>OC24#0 input first-timeslot</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plalo155oc24_1infst</code></td>
<td>OC24#1 input first-timeslot</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plalo155oc24_0inais</code></td>
<td>OC24#0 input AIS</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plalo155oc24_1inais</code></td>
<td>OC24#1 input AIS</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plalo155oc24_0inpos</code></td>
<td>OC24#0 input CEP Pos Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plalo155oc24_0inneg</code></td>
<td>OC24#0 input CEP Neg Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plalo155oc24_0inpos</code></td>
<td>OC24#1 input CEP Pos Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plalo155oc24_0inneg</code></td>
<td>OC24#1 input CEP Neg Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-high-order-clk311-sticky">Payload Assembler High-Order clk311 Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug per OC-96 Hi-order @clk311.04 domain</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_ho_clk311_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0400-0x8_2C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0400 + $HoOc96Slice*2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HoOc96Slice(0-5): HO OC-96 slices, there are total 6xOC-96 slices for HO 30G or 4xOC-96 slices for HO 20G</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>14</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[13]</code></td>
<td><code>plalo311oc48_1converr</code></td>
<td>OC48#1 convert 311to233 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plalo311oc48_0converr</code></td>
<td>OC48#0 convert 311to233 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plalo311oc48_1pwvld</code></td>
<td>OC48#1 input of expected pwid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plalo311oc48_0pwvld</code></td>
<td>OC48#0 input of expected pwid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plalo311oc48_0invld</code></td>
<td>OC48#0 input data from demap</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plalo311oc48_1invld</code></td>
<td>OC48#1 input data from demap</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plalo311oc48_0infst</code></td>
<td>OC48#0 input first-timeslot</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plalo311oc48_1infst</code></td>
<td>OC48#1 input first-timeslot</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plalo311oc48_0inais</code></td>
<td>OC48#0 input AIS</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plalo311oc48_1inais</code></td>
<td>OC48#1 input AIS</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plalo311oc48_0inpos</code></td>
<td>OC48#0 input CEP Pos Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plalo311oc48_0inneg</code></td>
<td>OC48#0 input CEP Neg Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plalo311oc48_0inpos</code></td>
<td>OC48#1 input CEP Pos Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plalo311oc48_0inneg</code></td>
<td>OC48#1 input CEP Neg Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-high-order-block-process-sticky">Payload Assembler High-Order Block Process Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug per OC-96 Hi-order block processing</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_ho_block_pro_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0601-0x8_2E01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0601 + $HoOc96Slice*2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HoOc96Slice(0-5): HO OC-96 slices, there are total 6xOC-96 slices for HO 30G or 4xOC-96 slices for HO 20G</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>plahoblkpkinforeq</code></td>
<td>OC96 packet infor request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plahoblkpkinfoack</code></td>
<td>OC96 packet infor Ack</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plahoblkpkinfovld</code></td>
<td>OC96 packet infor Valid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plahoblkmaxlength</code></td>
<td>OC96 max length violation</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plahopla2converr</code></td>
<td>OC96 OC48#2 Convert Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plahopla1converr</code></td>
<td>OC96 OC48#1 Convert Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plahoblkemp</code></td>
<td>OC96 block empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plahoblksame</code></td>
<td>OC96 block same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-block-process-sticky">Payload Assembler Low-Order Block Process Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug low-order block processing</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lo_block_pro_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_8001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>plaloblkallcacheemp</code></td>
<td>LO all cache empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plaloblkmaxlengtherr</code></td>
<td>LO Max Length Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>plaloddrmuxrdfull</code></td>
<td>LO DDR Mux Read Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>plaloddrmuxwrfull</code></td>
<td>LO DDR Mux Write Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>plaloddrstaerr</code></td>
<td>LO DDR Status Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>plaloddrbuf1stcaful</code></td>
<td>LO DDR Buffer 1st Cache Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>plaloddrbuf2ndcaful</code></td>
<td>LO DDR Buffer 2nd Cache Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>plaloddrmuxackful</code></td>
<td>LO DDR Mux Ack Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plaloddrbak7ful</code></td>
<td>LO DDR Buffer Bank7 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>plaloddrbak6ful</code></td>
<td>LO DDR Buffer Bank6 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>plaloddrbak5ful</code></td>
<td>LO DDR Buffer Bank5 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>plaloddrbak4ful</code></td>
<td>LO DDR Buffer Bank4 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plaloddrbak3ful</code></td>
<td>LO DDR Buffer Bank3 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>plaloddrbak2ful</code></td>
<td>LO DDR Buffer Bank2 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plaloddrbak1ful</code></td>
<td>LO DDR Buffer Bank1 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plaloddrbak0ful</code></td>
<td>LO DDR Buffer Bank0 Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plaloblkoutvld</code></td>
<td>LO Block output valid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plaloblkca256same</code></td>
<td>LO Block Cache256 same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plaloblkca128same</code></td>
<td>LO Block Cache128 same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plaloblkca64same</code></td>
<td>LO Block Cache64 same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plaloblkpkinfovld</code></td>
<td>LO Block Pkt Info valid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plaloblkca256emp</code></td>
<td>LO Block Cache256 Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plaloblkca128emp</code></td>
<td>LO Block Cache128 Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plaloblkca64emp</code></td>
<td>LO Block Cache64 Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plaloblkhiblkemp</code></td>
<td>LO Block High Size Block Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plaloblkloblkemp</code></td>
<td>LO Block Low Size Block Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plaloblkhiblksame</code></td>
<td>LO Block High Size Block same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plaloblkloblksame</code></td>
<td>LO Block Low Size Block same</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-interface-sticky">Payload Assembler Interface Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug low-order block processing</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_interface_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_8002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plaport4querdy</code></td>
<td>Port4 output Queue Pkt ready</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>plaport4queack</code></td>
<td>Port4 output Queue Pkt ack</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>plaport3querdy</code></td>
<td>Port3 output Queue Pkt ready</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>plaport3queack</code></td>
<td>Port3 output Queue Pkt ack</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>plaport2querdy</code></td>
<td>Port2 output Queue Pkt ready</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plaport2queack</code></td>
<td>Port2 output Queue Pkt ack</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>plaport1querdy</code></td>
<td>Port1 output Queue Pkt ready</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>plaport1queack</code></td>
<td>Port1 output Queue Pkt ack</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>plapsnreqqdr</code></td>
<td>Request PSN to QDR</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>plapsnackqdr</code></td>
<td>Ack for PSN request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>plapsnvldqdr</code></td>
<td>Valid for PSN request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plapkinfreqqdrlenwrerr</code></td>
<td>Request write pkt info len err</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>plapkinfreqqdr</code></td>
<td>Request Pkt info to QDR</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>plapkinfackqdr</code></td>
<td>Ack for pkt info request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>plapkinfvldqdr</code></td>
<td>Valid for pkt info request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plapkinfreqqdrlenrderr</code></td>
<td>Request read pkt info len err</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>plardreqddr</code></td>
<td>Request read data to DDR</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plardackddr</code></td>
<td>Ack for read data request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plardvldddr</code></td>
<td>Valid for read data request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plap1pweeoperr</code></td>
<td>PWE interface end packet err</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plawrreqddr</code></td>
<td>Request write data to DDR</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plawrackddr</code></td>
<td>Ack for write data request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plawrvldddr</code></td>
<td>Valid for write data request</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plap4pwereq</code></td>
<td>Port4 PLA ready packet for PWE</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plap4pweget</code></td>
<td>Port4 PWE get packet</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plap3pwereq</code></td>
<td>Port3 PLA ready packet for PWE</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plap3pweget</code></td>
<td>Port3 PWE get packet</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plap2pwereq</code></td>
<td>Port2 PLA ready packet for PWE</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plap2pweget</code></td>
<td>Port2 PWE get packet</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plap1pwereq</code></td>
<td>Port1 PLA ready packet for PWE</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plap1pweget</code></td>
<td>Port1 PWE get packet</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>