<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_prbs">AF6CNC0021_RD_PRBS</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>PRBS_LOMAP Generator Control</code></td>
<td><code>0x50_0000 - 0x50_5fff</code></td>
</tr>
<tr>
<td><code>PRBS_LOMAP Monitor</code></td>
<td><code>0x50_0800 - 0x50_ffff</code></td>
</tr>
<tr>
<td><code>PRBS_HOMAP Generator Control</code></td>
<td><code>0x06_8000 - 0x06_F03F</code></td>
</tr>
<tr>
<td><code>PRBS_HOMAP Monitor</code></td>
<td><code>0x06_8040 - 0x06_F07F</code></td>
</tr>
</tbody>
</table>
<h3 id="prbs_lomap-generator-control">PRBS_LOMAP Generator Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Each register is used to configure PRBS generator at MAP.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prbslogenctl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50_0000 - 0x50_5fff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50_0000 + 65536*2*Slice48Id + 1024*Slice24Id + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Slice48Id(0-3):</code></p>
</li>
<li>
<p><code>$Slice24Id(0-1):</code></p>
</li>
<li>
<p><code>$PwId(0-1023)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prbslogenctlseqmod</code></td>
<td>Configure types of PRBS generator . 1: Sequence mode 0: PRBS mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbslogenctlenb</code></td>
<td>Enable PRBS generator. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prbs_lomap-monitor">PRBS_LOMAP Monitor</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Each register is used for PRBS monitor at DEMAP.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prbslomon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x50_0800 - 0x50_ffff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x50_0800 + 65536*2*Slice48Id + 1024*Slice24Id + PwId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Slice48Id(0-3):</code></p>
</li>
<li>
<p><code>$Slice24Id(0-1):</code></p>
</li>
<li>
<p><code>$PwId(0-1023)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>prbslomonerr</code></td>
<td>PRBS error. 1: Error 0: Not error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>prbslomonsync</code></td>
<td>PRBS monitor sync. Only used for PRBS mode 1: Data PRBS sync (Not error) 0: Not sync</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbslomonctlseqmod</code></td>
<td>Configure types of PRBS generator . 1: Sequence mode 0: PRBS mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prbs_homap-generator-control">PRBS_HOMAP Generator Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Each register is used to configure PRBS generator at MAP.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prbshogenctl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_8000 - 0x06_F03F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_8000 + 2048*Slice48Id + stsId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Slice48Id(0-7):</code></p>
</li>
<li>
<p><code>$stsId(0-47) :</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prbshogenctlseqmod</code></td>
<td>Configure types of PRBS generator . 1: Sequence mode 0: PRBS mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbshogenctlenb</code></td>
<td>Enable PRBS generator. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prbs_homap-monitor">PRBS_HOMAP Monitor</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Each register is used for PRBS monitor at DEMAP.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prbshomon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06_8040 - 0x06_F07F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06_8040 + 2048*Slice48Id + stsId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Slice48Id(0-7):</code></p>
</li>
<li>
<p><code>$stsId(0-47) :</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>prbshomonerr</code></td>
<td>PRBS error. 1: Error 0: Not error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>prbshomonsync</code></td>
<td>PRBS monitor sync. Only used for PRBS mode 1: Data PRBS sync (Not error) 0: Not sync</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prbshomonctlseqmod</code></td>
<td>Configure types of PRBS generator . 1: Sequence mode 0: PRBS mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>