<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_ocn_diag">AF6CCI0011_RD_OCN_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>OCN Global Rx Framer Control</code></td>
<td><code>0xf43000</code></td>
</tr>
<tr>
<td><code>OCN Global Tx Framer Control</code></td>
<td><code>0xf43001</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer Status</code></td>
<td><code>0xf43100 - 0xf43170</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer Sticky</code></td>
<td><code>0xf43101 - 0xf43171</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer B1 error counter read only</code></td>
<td><code>0xf43102 - 0xf43172</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer B1 error counter read to clear</code></td>
<td><code>0xf43103 - 0xf43173</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-rx-framer-control">OCN Global Rx Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Rx Framer</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbrfm_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:24]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>rxlinesyncsel</code></td>
<td>Select line id for synchronization 8 rx lines. Bit[0] for line 0. Note that must only 1 bit is set</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>rxfrmlosaisen</code></td>
<td>Enable/disable forwarding P_AIS when LOS detected at Rx Framer. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>rxfrmoofaisen</code></td>
<td>Enable/disable forwarding P_AIS when OOF detected at Rx Framer. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>rxfrmb1blockcntmod</code></td>
<td>B1 Counter Mode. 1: Block mode 0: Bit-wise mode</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:8]</code></td>
<td><code>rxfrmbadfrmthresh</code></td>
<td>Threshold for A1A2 missing counter, that is used to change state from FRAMED to HUNT.</td>
<td><code>RW</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:4]</code></td>
<td><code>rxfrmb1goodthresh</code></td>
<td>Threshold for B1 good counter, that is used to change state from CHECK to FRAMED.</td>
<td><code>RW</code></td>
<td><code>0x4</code></td>
<td><code>0x4</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>rxfrmdescren</code></td>
<td>Enable/disable de-scrambling of the Rx coming data stream. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>rxfrmb1chkfrmen</code></td>
<td>Enable/disable B1 check option is added to the required framing algorithm. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>rxfrmessimodeen</code></td>
<td>TFI-5 mode. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-tx-framer-control">OCN Global Tx Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Tx Framer</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbtfm_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:24]</code></td>
<td><code>txlineooffrc</code></td>
<td>Enable/disble force OOF for 8 tx lines. Bit[0] for line 0.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>txlineb1errfrc</code></td>
<td>Enable/disble force B1 error for 8 tx lines. Bit[0] for line 0.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:4]</code></td>
<td><code>txlinesyncsel</code></td>
<td>Select line id for synchronization 8 tx lines. Bit[0] for line 0. Note that must only 1 bit is set</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[3:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>txfrmscren</code></td>
<td>Enable/disable scrambling of the Tx data stream. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-status">OCN Rx Framer Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43100 - 0xf43170</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xf43100 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-7)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>staoof</code></td>
<td>Out of Frame that is detected at RxFramer</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-sticky">OCN Rx Framer Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmstk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43101 - 0xf43171</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xf43101 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-7)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>stkoof</code></td>
<td>Out of Frame sticky change</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-b1-error-counter-read-only">OCN Rx Framer B1 error counter read only</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer B1 error counter read only</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmb1cntro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43102 - 0xf43172</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xf43102 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-7)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:32]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:0]</code></td>
<td><code>rxfrmb1errro</code></td>
<td>Number of B1 error - read only</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-b1-error-counter-read-to-clear">OCN Rx Framer B1 error counter read to clear</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer B1 error counter read to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmb1cntr2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xf43103 - 0xf43173</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xf43103 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-7)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:32]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:0]</code></td>
<td><code>rxfrmb1errr2c</code></td>
<td>Number of B1 error - read to clear</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>