<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_parity_ecc_crc">AF6CCI0011_RD_PARITY_ECC_CRC</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>QDR ECC Force Error Control</code></td>
<td><code>0xF26000</code></td>
</tr>
<tr>
<td><code>QDR ECC Error Sticky</code></td>
<td><code>0xF26001</code></td>
</tr>
<tr>
<td><code>QDR ECC Correctable Error Counter</code></td>
<td><code>0xF26002</code></td>
</tr>
<tr>
<td><code>QDR ECC NonCorrectable Error Counter</code></td>
<td><code>0xF26004</code></td>
</tr>
<tr>
<td><code>DDRno1 PDA ECC Force Error Control</code></td>
<td><code>0x500020</code></td>
</tr>
<tr>
<td><code>DDRno1 PDA ECC Error Sticky</code></td>
<td><code>0x500021</code></td>
</tr>
<tr>
<td><code>DDRno1 PDA ECC Correctable Error Counter</code></td>
<td><code>0x500022</code></td>
</tr>
<tr>
<td><code>DDRno1 PDA ECC NonCorrectable Error Counter</code></td>
<td><code>0x500024</code></td>
</tr>
<tr>
<td><code>DDRno1 PLA CRC Force Error Control</code></td>
<td><code>0x488050</code></td>
</tr>
<tr>
<td><code>DDRno1 PLA CRC Error Sticky</code></td>
<td><code>0x488051</code></td>
</tr>
<tr>
<td><code>DDRno1 CRC Error Counter</code></td>
<td><code>0x488052</code></td>
</tr>
<tr>
<td><code>DDRno2 PDA CRC Force Error Control</code></td>
<td><code>0x500030</code></td>
</tr>
<tr>
<td><code>DDRno2 PDA CRC Error Sticky</code></td>
<td><code>0x500031</code></td>
</tr>
<tr>
<td><code>DDRno2 CRC Error Counter</code></td>
<td><code>0x500032</code></td>
</tr>
</tbody>
</table>
<h3 id="qdr-ecc-force-error-control">QDR ECC Force Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures QDR ECC force error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>qdr_ecc_force_error_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF26000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>30</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[29]</code></td>
<td><code>qdreccnoncorrectcfg</code></td>
<td>Ecc error mode  1: Non-correctable  0: Correctable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>qdreccerrforevercfg</code></td>
<td>Force ecc error mode  1: forever when field QDREccErrNumber differ zero 0: burst</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>qdreccerrnumbercfg</code></td>
<td>number of ECC error inserted to QDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="qdr-ecc-error-sticky">QDR ECC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register report sticky of QDR ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>qdr_ecc_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF26001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>qdreccnoncorrecterror</code></td>
<td>QDR non-correctable error</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>qdrecccorrecterror</code></td>
<td></td>
<td><code>QDR correctable error</code></td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="qdr-ecc-correctable-error-counter">QDR ECC Correctable Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts QDR ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>qdr_ecc_correctable_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF26002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xF26002 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>qdreccerrorcounter</code></td>
<td></td>
<td><code>QDR Ecc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="qdr-ecc-noncorrectable-error-counter">QDR ECC NonCorrectable Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts QDR ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>qdr_ecc_noncorrectable_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xF26004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xF26004 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>qdreccerrorcounter</code></td>
<td></td>
<td><code>QDR Ecc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pda-ecc-force-error-control">DDRno1 PDA ECC Force Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures DDRno1 ECC force error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_ecc_force_error_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>30</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[29]</code></td>
<td><code>ddrno1eccnoncorrectcfg</code></td>
<td>Ecc error mode  1: Non-correctable  0: Correctable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>ddrno1eccerrforevercfg</code></td>
<td>Force ecc error mode  1: forever when field DDRno1EccErrNumber differ zero 0: burst</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno1eccerrnumbercfg</code></td>
<td>number of ECC error inserted to DDRno1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pda-ecc-error-sticky">DDRno1 PDA ECC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register report sticky of DDRno1 ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_ecc_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500021</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>ddrno1eccnoncorrecterror</code></td>
<td>DDRno1 non-correctable error</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ddrno1ecccorrecterror</code></td>
<td></td>
<td><code>DDRno1 correctable error</code></td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pda-ecc-correctable-error-counter">DDRno1 PDA ECC Correctable Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts DDRno1 ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_ecc_correctable_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500022</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x500022 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno1eccerrorcounter</code></td>
<td></td>
<td><code>DDRno1 Ecc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pda-ecc-noncorrectable-error-counter">DDRno1 PDA ECC NonCorrectable Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts DDRno1 ECC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_ecc_noncorrectable_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500024</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x500024 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno1eccerrorcounter</code></td>
<td></td>
<td><code>DDRno1 Ecc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pla-crc-force-error-control">DDRno1 PLA CRC Force Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures DDRno1 PLA CRC force error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_crc_force_error_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x488050</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>29</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>ddrno1crcerrforevercfg</code></td>
<td>Force crc error mode  1: forever when field DDRno1CrcErrNumber differ zero 0: burst</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno1crcerrnumbercfg</code></td>
<td>number of CRC error inserted to DDRno1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-pla-crc-error-sticky">DDRno1 PLA CRC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register report sticky of DDRno1 CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_crc_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x488051</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>ddrno1crcerror</code></td>
<td></td>
<td><code>DDRno1 CRC error</code></td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno1-crc-error-counter">DDRno1 CRC Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts DDRno1 CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno1_crc_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x488052</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x488052 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno1crcerrorcounter</code></td>
<td></td>
<td><code>DDRno1 Crc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno2-pda-crc-force-error-control">DDRno2 PDA CRC Force Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures DDRno2 PDA CRC force error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno2_crc_force_error_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500030</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>29</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>ddrno2crcerrforevercfg</code></td>
<td>Force crc error mode  1: forever when field DDRno2CrcErrNumber differ zero 0: burst</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno2crcerrnumbercfg</code></td>
<td>number of CRC error inserted to DDRno2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno2-pda-crc-error-sticky">DDRno2 PDA CRC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register report sticky of DDRno2 CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno2_crc_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500031</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>ddrno2crcerror</code></td>
<td></td>
<td><code>DDRno2 CRC error</code></td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ddrno2-crc-error-counter">DDRno2 CRC Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts DDRno2 CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ddrno2_crc_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x500032</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x500032 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>ddrno2crcerrorcounter</code></td>
<td></td>
<td><code>DDRno2 Crc error counter</code></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>