<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-10-04</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_epa_insvlan">AF6CNC0021_RD_EPA_INSVLAN</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG VLAN INSERTED</code></td>
<td><code>0x00-0x0F</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x11</code></td>
</tr>
<tr>
<td><code>CONFIG ENABLE INSERT VLAN TPID</code></td>
<td><code>0x12</code></td>
</tr>
</tbody>
</table>
<h3 id="config-vlan-inserted">CONFIG VLAN INSERTED</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfgvlan</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00-0x0F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:13]</code></td>
<td><code>prior</code></td>
<td>priority</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfi</code></td>
<td>CFI bit</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>vlanid</code></td>
<td>VLan ID</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_enbtpid</code></td>
<td>bit corresponding port to config ( bit 0 is port 0),(0)  use config TPID1, (1) use config TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid_1">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbtpid</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>out_cfgtpid2</code></td>
<td>valud TPID 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_cfgtpid1</code></td>
<td>value TPID 1</td>
<td><code>R/W</code></td>
<td><code>0x8100</code></td>
<td><code>0x8100 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-enable-insert-vlan-tpid_2">CONFIG ENABLE INSERT VLAN TPID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_enbins</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>out_enbins</code></td>
<td>bit corresponding port to config ( bit 0 is port 0), (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>