<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_pwe">AF6CNC0022_RD_PWE</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire Transmit Ethernet Header Mode Control</code></td>
<td><code>0x00000000 - 0x001FFF #The address format for these registers is 0x00000000 + PWID</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x0004000(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x0004800(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x0004002(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x0004802(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x0004004(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x0004804(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x0004006(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x0004806(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count512_1023 bytes packet</code></td>
<td><code>0x0004008(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count512_1023 bytes packet</code></td>
<td><code>0x0004808(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1024_1518 bytes packet</code></td>
<td><code>0x000400A(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1024_1518 bytes packet</code></td>
<td><code>0x000480A(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1519_2047 bytes packet</code></td>
<td><code>0x000400C(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count1519_2047 bytes packet</code></td>
<td><code>0x000480C(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Jumbo packet</code></td>
<td><code>0x000400E(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Jumbo packet</code></td>
<td><code>0x000480E(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Unicast packet</code></td>
<td><code>0x0004010(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Unicast packet</code></td>
<td><code>0x0004810(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Total packet</code></td>
<td><code>0x0004012(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Total packet</code></td>
<td><code>0x0004812(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Broadcast packet</code></td>
<td><code>0x0004014(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Broadcast packet</code></td>
<td><code>0x0004814(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Multicast packet</code></td>
<td><code>0x0004016(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count Multicast packet</code></td>
<td><code>0x0004816(RC)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000401E(RO)</code></td>
</tr>
<tr>
<td><code>Transmit Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000481E(RC)</code></td>
</tr>
<tr>
<td><code>Pseudowire Parity Register Control</code></td>
<td><code>0x000F000</code></td>
</tr>
<tr>
<td><code>Pseudowire Parity Disable register Control</code></td>
<td><code>0x000F001</code></td>
</tr>
<tr>
<td><code>Pseudowire Parity sticky error</code></td>
<td><code>0x000F002</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-ethernet-header-mode-control">Pseudowire Transmit Ethernet Header Mode Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control read/write Pseudowire Transmit Ethernet Header Value from/to DDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pw_txeth_hdr_mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000000 - 0x001FFF #The address format for these registers is 0x00000000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00000000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-8191): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[9]</code></td>
<td><code>txethpwsubvlansel</code></td>
<td>Tx PW Subport VLAN selection 1: Select second global transmit PW subport VLAN 0: Select first global transmit PW subport VLAN</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:7]</code></td>
<td><code>txethpadmode</code></td>
<td>this is configuration for insertion PAD in short packets 0: Insert PAD when total Ethernet packet length is less than 64 bytes. Refer to IEEE 802.3 1: Insert PAD when control word plus payload length is less than 64 bytes 2: Insert PAD when total Ethernet packet length minus VLANs and MPLS outer labels(if exist) is less than 64 bytes</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>txethpwrtpen</code></td>
<td>this is RTP enable for TDM PW packet 1: Enable RTP 0: Disable RTP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5:2]</code></td>
<td><code>txethpwpsntype</code></td>
<td>this is Transmit PSN header mode working 1: PW PSN header is UDP/IPv4 2: PW PSN header is UDP/IPv6 3: PW MPLS no outer label over Ipv4 (total 1 MPLS label) 4: PW MPLS no outer label over Ipv6 (total 1 MPLS label) 5: PW MPLS one outer label over Ipv4 (total 2 MPLS label) 6: PW MPLS one outer label over Ipv6 (total 2 MPLS label) 7: PW MPLS two outer label over Ipv4 (total 3 MPLS label) 8: PW MPLS two outer label over Ipv6 (total 3 MPLS label) Others: for other PW PSN header type</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>txethpwnumvlan</code></td>
<td>This is number of vlan in Transmit Ethernet packet 0: no vlan 1: 1 vlan 2: 2 vlan</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:   Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count0_64-bytes-packet">Transmit Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt0_64_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004000(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004000 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count0_64-bytes-packet_1">Transmit Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt0_64_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004800(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004800 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count65_127-bytes-packet">Transmit Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt65_127_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004002(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004002 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count65_127-bytes-packet_1">Transmit Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt65_127_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004802(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004802 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count128_255-bytes-packet">Transmit Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt128_255_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004004(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004004 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count128_255-bytes-packet_1">Transmit Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt128_255_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004804(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004804 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count256_511-bytes-packet">Transmit Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt256_511_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004006(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004006 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count256_511-bytes-packet_1">Transmit Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt256_511_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004806(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004806 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count512_1023-bytes-packet">Transmit Ethernet port Count512_1023 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt512_1024_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004008(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004008 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count512_1023-bytes-packet_1">Transmit Ethernet port Count512_1023 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt512_1024_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004808(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004808 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1024_1518-bytes-packet">Transmit Ethernet port Count1024_1518 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000400A(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000400A + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1024_1518-bytes-packet_1">Transmit Ethernet port Count1024_1518 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000480A(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000480A + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1519_2047-bytes-packet">Transmit Ethernet port Count1519_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1529_2047_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000400C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000400C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count1519_2047-bytes-packet_1">Transmit Ethernet port Count1519_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1529_2047_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000480C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000480C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-jumbo-packet">Transmit Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_jumbo_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000400E(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000400E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-jumbo-packet_1">Transmit Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_jumbo_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000480E(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000480E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-unicast-packet">Transmit Ethernet port Count Unicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the unicast packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_Unicast_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004010(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004010 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntunicast</code></td>
<td>This is statistic counter for the unicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-unicast-packet_1">Transmit Ethernet port Count Unicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the unicast packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_Unicast_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004810(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004810 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntunicast</code></td>
<td>This is statistic counter for the unicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-total-packet">Transmit Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004012(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004012 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-total-packet_1">Transmit Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004812(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004812 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-broadcast-packet">Transmit Ethernet port Count Broadcast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Broadcast packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_bcast_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004014(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004014 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbroadcast</code></td>
<td>This is statistic counter broadcast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-broadcast-packet_1">Transmit Ethernet port Count Broadcast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Broadcast packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_bcast_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004814(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004814 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbroadcast</code></td>
<td>This is statistic counter broadcast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-multicast-packet">Transmit Ethernet port Count Multicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Multicast packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_mcast_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004016(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004016 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntmulticast</code></td>
<td>This is statistic counter multicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-multicast-packet_1">Transmit Ethernet port Count Multicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Multicast packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>eth_tx_mcast_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0004816(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0004816 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntmulticast</code></td>
<td>This is statistic counter multicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-number-of-bytes-of-packet">Transmit Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_byte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000401E(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000401E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="transmit-ethernet-port-count-number-of-bytes-of-packet_1">Transmit Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at Transmit side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_byte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000481E(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000481E + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Transmit Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-parity-register-control">Pseudowire Parity Register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for Force Parity</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pwe_Parity_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>pwforceerr</code></td>
<td>Force parity error enable for &ldquo;Pseudowire Transmit Ethernet Header Mode Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: enable force 0: not force End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-parity-disable-register-control">Pseudowire Parity Disable register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for Disable Parity</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pwe_Parity_Disable_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>pwdischkerr</code></td>
<td>Disable parity error check for &ldquo;Pseudowire Transmit Ethernet Header Mode Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-parity-sticky-error">Pseudowire Parity sticky error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for checking sticky error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pwe_Parity_stk_err</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>pwstkerr</code></td>
<td>parity error for &ldquo;Pseudowire Transmit Ethernet Header Mode Control&rdquo;</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>