<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_upsr">AF6CNC0021_RD_UPSR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>UPSR SF/SD Alarm Mask Registers</code></td>
<td><code>0x01000 - 0x0172f</code></td>
</tr>
<tr>
<td><code>UPSR SF/SD Hold_Off/Hold_On timer Registers</code></td>
<td><code>0x02000 - 0x02f2f</code></td>
</tr>
<tr>
<td><code>UPSR State Machine Engine Registers 1</code></td>
<td><code>0x03000 - 0x0317f</code></td>
</tr>
<tr>
<td><code>UPSR State Machine Engine Registers 2</code></td>
<td><code>0x03800 - 0x0397f</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm Interrupt Enable Control</code></td>
<td><code>0x04000 - 0x041ff</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm Interrupt Status</code></td>
<td><code>0x04200 - 0x043ff</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm Current Status</code></td>
<td><code>0x04400 - 0x045ff</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm per Selector Interrupt_OR Status</code></td>
<td><code>0x04600 - 0x0460f</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm Selector Group Interrupt_OR Status</code></td>
<td><code>0x047ff - 0x047ff</code></td>
</tr>
<tr>
<td><code>UPSR per Alarm Selector Group Interrupt_OR Enable Control</code></td>
<td><code>0x047fe - 0x047fe</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-sfsd-alarm-mask-registers">UPSR SF/SD Alarm Mask Registers</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These configuration registers are used to assign these alarms {plm,tim,ber_sd,ber_sf,uneq,lop,ais} into SF/SD events for 8 lines OCn_Path.</p>
<p>If each alarm is not assigned to SD and SF, this means that this alarm is disabled.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsralrmmasksfsdramctl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01000 - 0x0172f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01000 + 64*LineId + StsId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LineId(0-7)</code></p>
</li>
<li>
<p><code>$StsId(0-47)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>upsrplmmasksf</code></td>
<td>Assign PLM defect alarm to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>upsrtimmasksf</code></td>
<td>Assign TIM defect alarm to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>upsrbersdmasksf</code></td>
<td>Assign Ber_SD to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>upsrbersfmasksf</code></td>
<td>Assign Ber_SF to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>upsruneqmasksf</code></td>
<td>Assign UNEQ defect to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>upsrlopmasksf</code></td>
<td>Assign LOP defect to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>upsraismasksf</code></td>
<td>Assign AIS defect to SF event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>upsrplmmasksd</code></td>
<td>Assign PLM defect alarm to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>upsrtimmasksd</code></td>
<td>Assign TIM defect alarm to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>upsrbersdmasksd</code></td>
<td>Assign Ber_SD to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[03]</code></td>
<td><code>upsrbersfmasksd</code></td>
<td>Assign Ber_SF to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02]</code></td>
<td><code>upsruneqmasksd</code></td>
<td>Assign UNEQ defect to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>upsrlopmasksd</code></td>
<td>Assign LOP defect to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>upsraismasksd</code></td>
<td>Assign AIS defect to SD event, set 1 to choose. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-sfsd-hold_offhold_on-timer-registers">UPSR SF/SD Hold_Off/Hold_On timer Registers</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These configuration registers are used to configure hold_off/hold_On for 8 lines OCn_Path (LineId:0-7) and 8 lines MATE (LineId:8-15).</p>
<p>Hold_off Timer          = UpsrHoldOffTmUnit * UpsrHoldOffTmMax</p>
<p>Hold_on  Timer          = UpsrHoldOnnTmUnit * UpsrHoldOnnTmMax</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrholdwtrtimerramctl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02000 - 0x02f2f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02000 + 64*LineId + StsId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$LineId(0-15)</code></p>
</li>
<li>
<p><code>$StsId(0-47)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>upsrholdonntmunit</code></td>
<td>Hold_on Timer Unit. (Scale down 5 times for simulation) 7,6: Unused. 5: Timer Unit is 100 ms. 4: Timer Unit is 50  ms. 3: Timer Unit is 10  ms. 2: Timer Unit is 5   ms. 1: Timer Unit is 1      ms. 0: Timer Unit is 0.5 ms.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:16]</code></td>
<td><code>upsrholdofftmunit</code></td>
<td>Hold_off Timer Unit. (Scale down 5 times for simulation) 7,6: Unused. 5: Timer Unit is 100 ms. 4: Timer Unit is 50  ms. 3: Timer Unit is 10  ms. 2: Timer Unit is 5   ms. 1: Timer Unit is 1     ms. 0: Timer Unit is 0.5 ms.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>upsrholdonntmmax</code></td>
<td>Hold_on Unit_Timer Maximum Value.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0xC8</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>upsrholdofftmmax</code></td>
<td>Hold_off Unit_Timer Maximum Value.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0xC8 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-state-machine-engine-registers-1">UPSR State Machine Engine Registers 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These configuration registers are used to configure for UPSR state machine engine, They are configured per Path Selector</p>
<p>Wait_to_Restore Timer   = UpsrWtrTmUnit     * UpsrWtrTmMax</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmramctl1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03000 - 0x0317f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x03000 + SelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$SelectorId(0-383)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>upsrsmwtrtmunit</code></td>
<td>Wait_to_Restore Timer Unit.(Scale down (10ms/5, or 5ms/5 for simulation) 1: Timer Unit is 1 minute. 0: Timer Unit is 0.5 minute.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:22]</code></td>
<td><code>upsrsmwtrtmmax</code></td>
<td>Wait_to_Restore Unit_Timer Maximum Value.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x78</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>upsrsmenable</code></td>
<td>UPSR enable per selector. When any selector is disable, all off status is reset to Reset value (0x0). and no interrupt is sent. 1: Enable. 0: Disable.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>upsrsmrevertmode</code></td>
<td>Configure Path Selector is revertive or nonrevertive mode. Default is nonrevertive mode 1: Revertive Mode. 0: Nonrevertive Mode.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:10]</code></td>
<td><code>upsrsmwokpathid</code></td>
<td SliceId_3:0_="SliceId[3:0]," StsId_5:0_="StsId[5:0]">Working Path Sonet_ID<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>upsrsmpropathid</code></td>
<td SliceId_3:0_="SliceId[3:0]," StsId_5:0_="StsId[5:0]">Protection Path Sonet_ID<br></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-state-machine-engine-registers-2">UPSR State Machine Engine Registers 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These configuration registers are used to configure for UPSR state machine engine, They are configured per Path Selector</p>
<p>Wait_to_Restore Timer   = UpsrWtrTmUnit     * UpsrWtrTmMax</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmramctl2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03800 - 0x0397f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x03800 + SelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$SelectorId(0-383)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:00]</code></td>
<td><code>upsrsmmanualcmd</code></td>
<td>Manually Protection Switching Commands. 7,6: Unused. 5: Lockout of Protection. 4: Forced Switch to Working. 3: Forced Switch to Protection. 2: Manual Switch to Working. 1: Manual Switch to Protection. 0: Clear.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-interrupt-enable-control">UPSR per Alarm Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These are the per Alarm interrupt enable. Each register is used to store bits to enable interrupts when the related alarms/events in UPSR engine happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmintenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04000 - 0x041ff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04000 + SelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$SelectorId(0-383)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:00]</code></td>
<td><code>upsrsmintenb</code></td>
<td>Set 1 to enable alarm/event in UPSR engine to generate an interrupt when having any local state or active path is changed. [12] : SDSF to NRQ Condition: Current state changed from SDSF to NRQ. [11] : WTR to NRQ Condition:  Current state changed from WTR to NRQ. [10] : WTR Condition: Current state changed from NRQ to WTR OR from SDSF to WTR. [9]  : Manual Switch Command. [8]  : SD Condition. [7]  : SF Condition. [6]  : Forced Switch Command. [5]  : Lockout of Protection Command. [4]  : Clear command when current state at External Command Switching. [3:1]: Unused. [0]  : Active path change from working to protection or protection to working.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-interrupt-status">UPSR per Alarm Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These are the per Alarm interrupt status. Each register is used to store sticky bits for each alarms/events in UPSR engine.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmintint</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04200 - 0x043ff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04200 + SelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$SelectorId(0-383)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:00]</code></td>
<td><code>upsrsmintint</code></td>
<td>Set 1 while alarm/event detected in the related UPSR selector, and it is generated an interrupt if it is enabled. [12] : SDSF to NRQ Condition:Current state changed from SDSF to NRQ. [11] : WTR to NRQ Condition:Current state changed from WTR to NRQ. [10] : WTR Condition: Current state changed from NRQ to WTR OR from SDSF to WTR. [9]  : Manual Switch Command. [8]  : SD Condition. [7]  : SF Condition. [6]  : Forced Switch Command. [5]  : Lockout of Protection Command. [4]  : Clear command when current state at External Command Switching. [3:1]: Unused. [0]  : Active path change from working to protection or protection to working.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-current-status">UPSR per Alarm Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>These are the per Alarm Current status. Each register include Local state and actived path indication.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmcursta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04400 - 0x045ff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04400 + SelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$SelectorId(0-383)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>upsrsmstacurstate</code></td>
<td>This field indicate Local State of Path Seletor. 7: Unused. 6: Lockout of Protection. 5: Forced Switch. 4: SF. 3: SD. 2: Manual Switch. 1: Wait_to_Restore. 0: No Request.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>upsrsmstaactpath</code></td>
<td>This field indicate Active Path is Working Path or Protection Path. 1: Protection Path. 0: Working Path.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-per-selector-interrupt_or-status">UPSR per Alarm per Selector Interrupt_OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>There are 12 groups(0-11) of selector, These group consists of 32 bits for 32 selectors. Group #0 for SelectorId from 0 to 31, respectively. Each bit is used to store Interrupt_OR status of the related Selector.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmselorint</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04600 - 0x0460f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04600 + GroupSelectorId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$GroupSelectorId(0-11)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>upsrsmstaintselor</code></td>
<td>Set to 1 to indicate that there is any interrupt status bit in the &ldquo;UPSR per Alarm Interrupt Status&rdquo; registers of the related Selector to be //                                     set and they are enabled to raise interrupt. Bit 0 for Selector #0, respectively.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-selector-group-interrupt_or-status">UPSR per Alarm Selector Group Interrupt_OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 12 bits for 12 Selector Groups. Each bit is used to store Interrupt_OR status of the related Selector Group.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmgrporint</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x047ff - 0x047ff</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>upsrsmstaintgrpor</code></td>
<td>Set to 1 to indicate that there is any interrupt status bit in the &ldquo;UPSR per Alarm per Selector Interrupt_OR Status&rdquo; register of the related //                                     Selector Group to be set and they are enabled to raise interrupt Bit 0 for Selector Group #0, respectively.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="upsr-per-alarm-selector-group-interrupt_or-enable-control">UPSR per Alarm Selector Group Interrupt_OR Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 12 bits for 12 Selector Groups to enable interrupts when alarms in related Selector Group happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upsrsmgrporintenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x047fe - 0x047fe</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:00]</code></td>
<td><code>upsrsmstaintgrporen</code></td>
<td>Set to 1 to enable the related Selector Group to generate interrupt. Bit 0 for Selector Group #0, respectively.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>