<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_cla">AF6CCI0011_RD_CLA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Classify Global PSN Control</code></td>
<td><code>0x00000000 - 0x00000003</code></td>
</tr>
<tr>
<td><code>Classify Per Pseudowire Type Control</code></td>
<td><code>0x00050000 - 0x00051FFF #The address format for these registers is 0x00050000 + PWID</code></td>
</tr>
<tr>
<td><code>Classify HBCE Hashing Table Control</code></td>
<td><code>0x00020000 - 0x00023FFF</code></td>
</tr>
<tr>
<td><code>Classify HBCE Looking Up Information Control</code></td>
<td><code>0x00080000 - 0x00083FFF</code></td>
</tr>
<tr>
<td><code>Classify Per Group Enable Control</code></td>
<td><code>0x00070000 - 0x00071FFF</code></td>
</tr>
<tr>
<td><code>Classify Per Ethernet port Enable Control</code></td>
<td><code>0x000D0000</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x000D1000(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count0_64 bytes packet</code></td>
<td><code>0x000D1800(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x000D1004(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count65_127 bytes packet</code></td>
<td><code>0x000D1804(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x000D1008(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count128_255 bytes packet</code></td>
<td><code>0x000D1808(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x000D100C(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count256_511 bytes packet</code></td>
<td><code>0x000D180C(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count512_1024 bytes packet</code></td>
<td><code>0x000D1010(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count512_1024 bytes packet</code></td>
<td><code>0x000D1810(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count1025_1528 bytes packet</code></td>
<td><code>0x000D1014(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count1025_1528 bytes packet</code></td>
<td><code>0x000D1814(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count1529_2047 bytes packet</code></td>
<td><code>0x000D1018(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count1529_2047 bytes packet</code></td>
<td><code>0x000D1818(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Jumbo packet</code></td>
<td><code>0x000D101C(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Jumbo packet</code></td>
<td><code>0x000D181C(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Unicast packet</code></td>
<td><code>0x000D1020(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Unicast packet</code></td>
<td><code>0x000D1820(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Total packet</code></td>
<td><code>0x000D1024(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Total packet</code></td>
<td><code>0x000D1824(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Broadcast packet</code></td>
<td><code>0x000D1028(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Broadcast packet</code></td>
<td><code>0x000D1828(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Multicast packet</code></td>
<td><code>0x000D102C(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Multicast packet</code></td>
<td><code>0x000D182C(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Under size packet</code></td>
<td><code>0x000D1030(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Under size packet</code></td>
<td><code>0x000D1830(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Over size packet</code></td>
<td><code>0x000D1034(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count Over size packet</code></td>
<td><code>0x000D1834(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count FCS error packet</code></td>
<td><code>0x000D1038(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count FCS error packet</code></td>
<td><code>0x000D1838(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000D103C(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count number of bytes of packet</code></td>
<td><code>0x000D183C(RC)</code></td>
</tr>
<tr>
<td><code>Classify HBCE Looking Up Information Control2</code></td>
<td><code>0x0040000 - 0x0047FFF</code></td>
</tr>
<tr>
<td><code>Classify Per Pseudowire Slice to CDR Control</code></td>
<td><code>0x00C0000 - 0x00C1FFF</code></td>
</tr>
<tr>
<td><code>Classify Hold Register Status</code></td>
<td><code>0x00000A - 0x00000C</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit3_0 Control</code></td>
<td><code>0xE0000 - 0xE000F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit7_4 Control</code></td>
<td><code>0xE0010 - 0xE001F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit11_8 Control</code></td>
<td><code>0xE0020 - 0xE002F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit15_12 Control</code></td>
<td><code>0xE0030 - 0xE003F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit19_16 Control</code></td>
<td><code>0xE0040 - 0xE004F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit23_20 Control</code></td>
<td><code>0xE0050 - 0xE005F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit24 and Data Control</code></td>
<td><code>0xE0060 - 0xE0061</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data63_32</code></td>
<td><code>0xE0070</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data95_64</code></td>
<td><code>0xE0071</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data127_96</code></td>
<td><code>0xE0072</code></td>
</tr>
<tr>
<td><code>Classify Parity Register Control</code></td>
<td><code>0x000F8000</code></td>
</tr>
<tr>
<td><code>Classify Parity Disable register Control</code></td>
<td><code>0x000F8001</code></td>
</tr>
<tr>
<td><code>Classify Parity sticky error</code></td>
<td><code>0x000F8002</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count PSN error packet</code></td>
<td><code>0x00000005(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count PSN error packet</code></td>
<td><code>0x00000006(RC)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count PSN error packet</code></td>
<td><code>0x00000007(RO)</code></td>
</tr>
<tr>
<td><code>Receive Ethernet port Count PSN error packet</code></td>
<td><code>0x00000008(RC)</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-global-psn-control">Classify Global PSN Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures identification per Ethernet port</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_glb_psn</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000000 - 0x00000003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00000000 +  eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>78</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[77:30]</code></td>
<td><code>rxpsndaexp</code></td>
<td>Mac Address expected at Rx Ethernet port</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>rxsendlbit2cdren</code></td>
<td>Enable to send Lbit to CDR engine 1: Enable to send Lbit 0: Disable</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>rxpsnmplsoutlabelchecken</code></td>
<td>Enable to check MPLS outer 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>rxpsncpubfdctlen</code></td>
<td>Enable VCCV BFD control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>rxmaccheckdis</code></td>
<td>Disable to check MAC address at Ethernet port receive direction 1: Disable checking 0: Enable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>rxpsncpuicmpen</code></td>
<td>Enable ICMP control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>rxpsncpuarpen</code></td>
<td>Enable ARP control packet sending to CPU for processing 1: Enable sending 0: Discard</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>pweloopclaen</code></td>
<td>Enable Loop back traffic from PW Encapsulation to Classification 1: Enable Loop back mode 0: Normal, not loop back</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>rxpsnipudpmode</code></td>
<td>This bit is applicable for Ipv4/Ipv6 packet from Ethernet side 1: Classify engine uses RxPsnIpUdpSel to decide which UDP port (Source or Destination) is used to identify pseudowire packet 0: Classify engine will automatically search for value 0x85E in source or destination UDP port. The remaining UDP port is used to identify pseudowire packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>rxpsnipudpsel</code></td>
<td>This bit is applicable for Ipv4/Ipv6 using to select Source or Destination to identify pseudowire packet from Ethernet side. It is not use when RxPsnIpUdpMode is zero 1: Classify engine selects source UDP port to identify pseudowire packet 0: Classify engine selects destination UDP port to identify pseudowire packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>rxpsnipttlchken</code></td>
<td>Enable check TTL field in MPLS/Ipv4 or Hop Limit field in Ipv6 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:0]</code></td>
<td><code>rxpsnmplsoutlabel</code></td>
<td>Received 2-label MPLS packet from PSN side will be discarded when it&rsquo;s outer label is different than RxPsnMplsOutLabel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-pseudowire-type-control">Classify Per Pseudowire Type Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures identification types per pseudowire</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_per_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00050000 - 0x00051FFF #The address format for these registers is 0x00050000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00050000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-8191): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>61</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[60]</code></td>
<td><code>rxethpwonflyvc34</code></td>
<td>CEP EBM on-fly fractional, length changed</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[59:46]</code></td>
<td><code>rxethpwlen</code></td>
<td>length of packet to check malform</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[45]</code></td>
<td><code>rxethsupen</code></td>
<td>Suppress Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[44]</code></td>
<td><code>rxethcepmode</code></td>
<td>CEP mode working 0,1: CEP basic</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[43:12]</code></td>
<td><code>rxethrtpssrcvalue</code></td>
<td>This value is used to compare with SSRC value in RTP header of received TDM PW packets</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:5]</code></td>
<td><code>rxethrtpptvalue</code></td>
<td>This value is used to compare with PT value in RTP header of received TDM PW packets</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>rxethrtpen</code></td>
<td>Enable RTP 1: Enable RTP 0: Disable RTP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>rxethrtpssrcchken</code></td>
<td>Enable checking SSRC field of RTP header in received TDM PW packet 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>rxethrtpptchken</code></td>
<td>Enable checking PT field of RTP header in received TDM PW packet 1: Enable checking 0: Disable checking</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>rxethpwtype</code></td>
<td>this is PW type working 0: CES mode without CAS 1: CES mode with CAS 2: CEP mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: #The address format for these registers is 0x00060000 + PWID Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-hashing-table-control">Classify HBCE Hashing Table Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>HBCE module uses 14 bits for tab-index. Tab-index is generated by hashing function applied to the original id. %%</p>
<p>Hashing function applies an XOR function to all bits of tab-index. %%</p>
<p>The indexes to the tab-index are generated by hashing function and therefore collisions may occur. %%</p>
<p>There are maximum fours (4) entries for every hash to identify flow traffic whether match or not. %%</p>
<p>If the collisions are more than fours (4), they are handled by pointer to link another memory. %%</p>
<p>The formula of hash pattern is {label ID(20bits), PSN mode (2bits), eth_port(2bits)}, call HashPattern (24bits)%%</p>
<p>The HashID formula has two case depend on CLAHbceCodingSelectedMode%%</p>
<p>CLAHbceCodingSelectedMode = 1: HashID = HashPattern[13:0] XOR {4&rsquo;d0,HashPattern[23:14]}, CLAHbceStoreID = HashPattern[23:14]%%</p>
<p>CLAHbceCodingSelectedMode = 0: HashID = HashPattern[13:0], CLAHbceStoreID = HashPattern[23:14]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_hbce_hash_table</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00020000 - 0x00023FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00020000 + HashID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HashID(0-16383): HashID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>13</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[12]</code></td>
<td><code>clahbcelink</code></td>
<td>this is pointer to link extra location for conflict hash more than fours 1: Link to another memory 0: not link more</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:0]</code></td>
<td><code>clahbcememoryextrastartpointer</code></td>
<td>this is a MemExtraPtr to read the Classify HBCE Looking Up Information Extra Control in case the number of collisions are more than 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-looking-up-information-control">Classify HBCE Looking Up Information Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This memory contain 4 entries (collisions) to examine one Pseudowire label whether match or not.%%</p>
<p>In general, One hashing(HashID) contain 4 entries (collisions). If the collisions are over 4, it will jump to the another extra memory.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_hbce_lkup_info</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00080000 - 0x00083FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00080000 + CollisHashID*0x10000 + HashID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$HashID(0-16383): HashID</code></p>
</li>
<li>
<p><code>$CollisHashID(0-3): Collision</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>38</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[37]</code></td>
<td><code>clahbceflowdirect</code></td>
<td>this configure FlowID working in normal mode (not in any group)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[36]</code></td>
<td><code>clahbcegrpworking</code></td>
<td>this configure group working or protection</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[35:24]</code></td>
<td><code>clahbcegrpidflow</code></td>
<td>this configure a group ID that FlowID following</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:11]</code></td>
<td><code>clahbceflowid</code></td>
<td>This is PW ID identification</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>clahbceflowenb</code></td>
<td>The flow is identified in this table, it mean the traffic is identified 1: Flow identified 0: Flow look up fail</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>clahbcestoreid</code></td>
<td>this is saving some additional information to identify a certain lookup address rule within a particular table entry HBCE and also to be able to distinguish those that collide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-group-enable-control">Classify Per Group Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures Group that Flowid (or Pseudowire ID) is enable or not</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_per_grp_enb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00070000 - 0x00071FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00070000 + Working_ID*0x1000 + Grp_ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Working_ID(0-1): CLAHbceGrpWorking</code></p>
</li>
<li>
<p><code>$Grp_ID(0-4095): CLAHbceGrpIDFlow</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>clagrppwen</code></td>
<td>This indicate the FlowID (or Pseudowire ID) is enable or not 1: FlowID enable 0: FlowID disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-ethernet-port-enable-control">Classify Per Ethernet port Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures specific Ethernet port is enable or not</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_per_eth_enb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>claethport4en</code></td>
<td>This indicate Ethernet port 4 is enable or not 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>claethport3en</code></td>
<td>This indicate Ethernet port 3 is enable or not 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>claethport2en</code></td>
<td>This indicate Ethernet port 2 is enable or not 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>claethport1en</code></td>
<td>This indicate Ethernet port 1 is enable or not 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count0_64-bytes-packet">Receive Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt0_64_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1000(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1000 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count0_64-bytes-packet_1">Receive Ethernet port Count0_64 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 0 to 64 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt0_64_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1800(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1800 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt0_64</code></td>
<td>This is statistic counter for the packet having 0 to 64 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count65_127-bytes-packet">Receive Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt65_127_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1004(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1004 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count65_127-bytes-packet_1">Receive Ethernet port Count65_127 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 65 to 127 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt65_127_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1804(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1804 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt65_127</code></td>
<td>This is statistic counter for the packet having 65 to 127 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count128_255-bytes-packet">Receive Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt128_255_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1008(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1008 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count128_255-bytes-packet_1">Receive Ethernet port Count128_255 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 128 to 255 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt128_255_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1808(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1808 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt128_255</code></td>
<td>This is statistic counter for the packet having 128 to 255 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count256_511-bytes-packet">Receive Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt256_511_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D100C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D100C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count256_511-bytes-packet_1">Receive Ethernet port Count256_511 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 256 to 511 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt256_511_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D180C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D180C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt256_511</code></td>
<td>This is statistic counter for the packet having 256 to 511 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count512_1024-bytes-packet">Receive Ethernet port Count512_1024 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt512_1024_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1010(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1010 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count512_1024-bytes-packet_1">Receive Ethernet port Count512_1024 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 512 to 1023 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt512_1024_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1810(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1810 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt512_1024</code></td>
<td>This is statistic counter for the packet having 512 to 1023 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count1025_1528-bytes-packet">Receive Ethernet port Count1025_1528 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1014(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1014 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count1025_1528-bytes-packet_1">Receive Ethernet port Count1025_1528 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1024 to 1518 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1025_1528_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1814(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1814 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1025_1528</code></td>
<td>This is statistic counter for the packet having 1024 to 1518 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count1529_2047-bytes-packet">Receive Ethernet port Count1529_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1529_2047_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1018(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1018 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count1529_2047-bytes-packet_1">Receive Ethernet port Count1529_2047 bytes packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having 1519 to 2047 bytes</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt1529_2047_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1818(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1818 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnt1529_2047</code></td>
<td>This is statistic counter for the packet having 1519 to 2047 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-jumbo-packet">Receive Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_jumbo_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D101C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D101C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-jumbo-packet_1">Receive Ethernet port Count Jumbo packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the packet having more than 2048 bytes (jumbo)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_jumbo_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D181C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D181C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntjumbo</code></td>
<td>This is statistic counter for the packet more than 2048 bytes</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-unicast-packet">Receive Ethernet port Count Unicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the unicast packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_Unicast_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1020(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1020 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntunicast</code></td>
<td>This is statistic counter for the unicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-unicast-packet_1">Receive Ethernet port Count Unicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the unicast packet</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_Unicast_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1820(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1820 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntunicast</code></td>
<td>This is statistic counter for the unicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-total-packet">Receive Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1024(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1024 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-total-packet_1">Receive Ethernet port Count Total packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the total packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1824(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1824 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcnttotal</code></td>
<td>This is statistic counter total packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-broadcast-packet">Receive Ethernet port Count Broadcast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Broadcast packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_bcast_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1028(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1028 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbroadcast</code></td>
<td>This is statistic counter broadcast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-broadcast-packet_1">Receive Ethernet port Count Broadcast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Broadcast packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_bcast_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1828(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1828 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbroadcast</code></td>
<td>This is statistic counter broadcast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-multicast-packet">Receive Ethernet port Count Multicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Multicast packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_mcast_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D102C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D102C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntmulticast</code></td>
<td>This is statistic counter multicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-multicast-packet_1">Receive Ethernet port Count Multicast packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the Multicast packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_mcast_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D182C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D182C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntmulticast</code></td>
<td>This is statistic counter multicast packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-under-size-packet">Receive Ethernet port Count Under size packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the under size packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_under_size_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1030(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1030 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntundersize</code></td>
<td>This is statistic counter under size packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-under-size-packet_1">Receive Ethernet port Count Under size packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the under size packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_under_size_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1830(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1830 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntundersize</code></td>
<td>This is statistic counter under size packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-over-size-packet">Receive Ethernet port Count Over size packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the over size packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_over_size_pkt_cnt_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1034(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1034 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntoversize</code></td>
<td>This is statistic counter over size packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-over-size-packet_1">Receive Ethernet port Count Over size packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic counter for the over size packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rx_port_over_size_pkt_cnt_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1834(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1834 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntoversize</code></td>
<td>This is statistic counter over size packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-fcs-error-packet">Receive Ethernet port Count FCS error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count FCS error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_phy_err_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1038(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1038 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntphyerr</code></td>
<td>This is statistic counter FCS error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-fcs-error-packet_1">Receive Ethernet port Count FCS error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count FCS error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_phy_err_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D1838(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D1838 + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntphyerr</code></td>
<td>This is statistic counter FCS error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-number-of-bytes-of-packet">Receive Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_byte_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D103C(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D103C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-number-of-bytes-of-packet_1">Receive Ethernet port Count number of bytes of packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count number of bytes of packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_byte_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D183C(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D183C + eth_port</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$eth_port(0-3): Receive Ethernet port ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntbyte</code></td>
<td>This is statistic counter number of bytes of packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hbce-looking-up-information-control2">Classify HBCE Looking Up Information Control2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This memory contain maximum 8 entries extra to examine one Pseudowire label whether match or not</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_hbce_lkup_info_extra</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0040000 - 0x0047FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0040000 + CollisHashIDExtra*0x1000  + MemExtraPtr</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$MemExtraPtr(0-4095): MemExtraPtr</code></p>
</li>
<li>
<p><code>$CollisHashIDExtra (0-7): Collision</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>38</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[37]</code></td>
<td><code>claextrahbceflowdirect</code></td>
<td>this configure FlowID working in normal mode (not in any group)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[36]</code></td>
<td><code>claextrahbcegrpworking</code></td>
<td>this configure group working or protection</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[35:24]</code></td>
<td><code>claextrahbcegrpidflow</code></td>
<td>this configure a group ID that FlowID following</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:11]</code></td>
<td><code>claextrahbceflowid</code></td>
<td>This is PW ID identification</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>claextrahbceflowenb</code></td>
<td>The flow is identified in this table, it mean the traffic is identified 1: Flow identified 0: Flow look up fail</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>claextrahbcestoreid</code></td>
<td>this is saving some additional information to identify a certain lookup address rule within a particular table entry HBCE and also to be able to distinguish those that collide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-per-pseudowire-slice-to-cdr-control">Classify Per Pseudowire Slice to CDR Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures Slice ID to CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_2_cdr_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00C0000 - 0x00C1FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00C0000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-8191): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>pwcdren</code></td>
<td>Indicate Pseudowire enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable 0: Disable</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>pwhoen</code></td>
<td>Indicate 8x Hi order OC48 enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>pwholooc48id</code></td>
<td>Indicate 8x Hi order OC48 or 6x Low order OC48 slice</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>pwloslice24sel</code></td>
<td>Pseudo-wire Low order OC24 slice selection, only valid in Lo Pseudo-wire 1: This PW belong to Slice24 that trasnport STS 1,3,5,&hellip;,47 within a Lo OC48 0: This PW belong to Slice24 that trasnport STS 0,2,4,&hellip;,46 within a Lo OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>pwtdmlineid</code></td>
<td>Pseudo-wire(PW) corresponding TDM line ID. If the PW belong to Low order path, this is the OC24 TDM line ID that is using in Lo CDR,PDH and MAP. If the PW belong to Hi order CEP path, this is the OC48 master STS ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-hold-register-status">Classify Hold Register Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for hold remain that more than 128bits</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_hold_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000A - 0x00000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00000A +  HID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HID(0-2): Hold ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pwholdstatus</code></td>
<td>Hold 32bits</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit3_0-control">Read HA Address Bit3_0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit3_0 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha3_0_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0000 - 0xE000F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0000 + HaAddr3_0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr3_0(0-F): HA Address Bit3_0</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr3_0</code></td>
<td>Read value will be 0xE00000 plus HaAddr3_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit7_4-control">Read HA Address Bit7_4 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit7_4 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha7_4_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0010 - 0xE001F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0010 + HaAddr7_4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr7_4(0-F): HA Address Bit7_4</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr7_4</code></td>
<td>Read value will be 0xE00000 plus HaAddr7_4</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit11_8-control">Read HA Address Bit11_8 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit11_8 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha11_8_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0020 - 0xE002F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0020 + HaAddr11_8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr11_8(0-F): HA Address Bit11_8</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr11_8</code></td>
<td>Read value will be 0xE00000 plus HaAddr11_8</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit15_12-control">Read HA Address Bit15_12 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit15_12 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha15_12_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0030 - 0xE003F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0030 + HaAddr15_12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr15_12(0-F): HA Address Bit15_12</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr15_12</code></td>
<td>Read value will be 0xE00000 plus HaAddr15_12</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit19_16-control">Read HA Address Bit19_16 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit19_16 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha19_16_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0040 - 0xE004F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0040 + HaAddr19_16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr19_16(0-F): HA Address Bit19_16</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr19_16</code></td>
<td>Read value will be 0xE00000 plus HaAddr19_16</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit23_20-control">Read HA Address Bit23_20 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit23_20 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha23_20_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0050 - 0xE005F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0050 + HaAddr23_20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr23_20(0-F): HA Address Bit23_20</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr23_20</code></td>
<td>Read value will be 0xE00000 plus HaAddr23_20</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit24-and-data-control">Read HA Address Bit24 and Data Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit24 to HA engine to read data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha24data_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0060 - 0xE0061</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE0060 + HaAddr24</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr24(0-1): HA Address Bit24</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata31_0</code></td>
<td>HA read data bit31_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data63_32">Read HA Hold Data63_32</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword2 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha_hold63_32</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0070</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata63_32</code></td>
<td>HA read data bit63_32</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data95_64">Read HA Hold Data95_64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword3 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold95_64</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0071</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata95_64</code></td>
<td>HA read data bit95_64</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data127_96">Read HA Hold Data127_96</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword4 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold127_96</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE0072</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata127_96</code></td>
<td>HA read data bit127_96</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-parity-register-control">Classify Parity Register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for Force Parity</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_Parity_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F8000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16]</code></td>
<td><code>claforceerr7</code></td>
<td>Enable parity error force for &ldquo;Classify Per Pseudowire Identification to CDR Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>claforceerr6</code></td>
<td>Enable parity error force for &ldquo;Classify HBCE Hashing Table Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:7]</code></td>
<td><code>claforceerr5</code></td>
<td>Enable parity error force for &ldquo;Classify HBCE Looking Up Information Control2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>claforceerr4</code></td>
<td>Enable parity error force for &ldquo;Classify Per Group Enable Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>claforceerr2</code></td>
<td>Enable parity error force for &ldquo;Classify Per Pseudowire Type Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>claforceerr1</code></td>
<td>Enable parity error force for &ldquo;Classify HBCE Looking Up Information Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: enable force 0: not force End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-parity-disable-register-control">Classify Parity Disable register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for Disable Parity</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_Parity_Disable_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F8001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16]</code></td>
<td><code>cladischkerr7</code></td>
<td>Disable parity error check for &ldquo;Classify Per Pseudowire Identification to CDR Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>cladischkerr6</code></td>
<td>Disable parity error check for &ldquo;Classify HBCE Hashing Table Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:7]</code></td>
<td><code>cladischkerr5</code></td>
<td>Disable parity error check for &ldquo;Classify HBCE Looking Up Information Control2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>cladischkerr4</code></td>
<td>Disable parity error check for &ldquo;Classify Per Group Enable Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cladischkerr2</code></td>
<td>Disable parity error check for &ldquo;Classify Per Pseudowire Type Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>cladischkerr1</code></td>
<td>Disable parity error check for &ldquo;Classify HBCE Looking Up Information Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Disable error check 0: Enable error check End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="classify-parity-sticky-error">Classify Parity sticky error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for checking sticky error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cla_Parity_stk_err</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F8002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>17</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16]</code></td>
<td><code>claparstkerr7</code></td>
<td>Parity sticky error check for &ldquo;Classify Per Pseudowire Identification to CDR Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>claparstkerr6</code></td>
<td>Parity sticky error check for &ldquo;Classify HBCE Hashing Table Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:7]</code></td>
<td><code>claparstkerr5</code></td>
<td>Parity sticky error check for &ldquo;Classify HBCE Looking Up Information Control2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>claparstkerr4</code></td>
<td>Parity sticky error check for &ldquo;Classify Per Group Enable Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>claparstkerr2</code></td>
<td>Parity sticky error check for &ldquo;Classify Per Pseudowire Type Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>claparstkerr1</code></td>
<td>Parity sticky error check for &ldquo;Classify HBCE Looking Up Information Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-psn-error-packet">Receive Ethernet port Count PSN error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count PSN error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_psn_err1_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000005(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntpsnerr1</code></td>
<td>This is statistic counter PSN error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-psn-error-packet_1">Receive Ethernet port Count PSN error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count PSN error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_psn_err1_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000006(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntpsnerr1</code></td>
<td>This is statistic counter PSN error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-psn-error-packet_2">Receive Ethernet port Count PSN error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count PSN error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_psn_err2_ro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000007(RO)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntpsnerr2</code></td>
<td>This is statistic counter PSN error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>
<h3 id="receive-ethernet-port-count-psn-error-packet_3">Receive Ethernet port Count PSN error packet</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is statistic count PSN error packet at receive side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Eth_cnt_psn_err2_rc</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000008(RC)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>claethcntpsnerr2</code></td>
<td>This is statistic counter PSN error packet</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>