<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_xilinx_serdes_turning_configuration_rd">AF6CNC0021_Xilinx_Serdes_Turning_Configuration_RD</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>SERDES DRP PORT</code></td>
<td><code>0x1000-0x7FFF</code></td>
</tr>
<tr>
<td><code>SERDES LoopBack</code></td>
<td><code>0x0002-0x6002</code></td>
</tr>
<tr>
<td><code>SERDES POWER DOWN</code></td>
<td><code>0x0003-0x6003</code></td>
</tr>
<tr>
<td><code>SERDES PLL Status</code></td>
<td><code>0x000B-0x600B</code></td>
</tr>
<tr>
<td><code>SERDES TX Reset</code></td>
<td><code>0x000C-0x600C</code></td>
</tr>
<tr>
<td><code>SERDES RX Reset</code></td>
<td><code>0x000D-0x600D</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Mode</code></td>
<td><code>0x000E-0x600E</code></td>
</tr>
<tr>
<td><code>SERDES LPMDFE Reset</code></td>
<td><code>0x000F-0x600F</code></td>
</tr>
<tr>
<td><code>SERDES TXDIFFCTRL</code></td>
<td><code>0x0010-0x6010</code></td>
</tr>
<tr>
<td><code>SERDES TXPOSTCURSOR</code></td>
<td><code>0x0011-0x6011</code></td>
</tr>
<tr>
<td><code>SERDES TXPRECURSOR</code></td>
<td><code>0x0012-0x6012</code></td>
</tr>
<tr>
<td><code>SERDES PRBS generator test pattern control</code></td>
<td><code>0x0020-0x6020</code></td>
</tr>
<tr>
<td><code>SERDES prbsctr_pen</code></td>
<td><code>0x0021-0x6021</code></td>
</tr>
<tr>
<td><code>SERDES PRBS Diag Status</code></td>
<td><code>0x0022-0x6022</code></td>
</tr>
<tr>
<td><code>SERDES PRBS RX_PRBS_ERR_CNT RO</code></td>
<td><code>0x23 - 0x26</code></td>
</tr>
<tr>
<td><code>SERDES PRBS RX_PRBS_ERR_CNT R2C</code></td>
<td><code>0x33 - 0x36</code></td>
</tr>
<tr>
<td><code>Mate serdeses Gatetime for PRBS Raw Diagnostic</code></td>
<td><code>0x37</code></td>
</tr>
<tr>
<td><code>gatetime config value</code></td>
<td><code>0x38 - 0x3b</code></td>
</tr>
<tr>
<td><code>Gatetime Current</code></td>
<td><code>0x3c - 0x3f</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-drp-port">SERDES DRP PORT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_DRP_PORT</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000-0x7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000+$G*0x2000+$P*0x400+$DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$G(0-1) : Group of Ports</code></p>
</li>
<li>
<p><code>$P(0-1) : Sub Port ID</code></p>
</li>
<li>
<p><code>$DRP(0-1023) : DRP address, see UG578</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-loopback">SERDES LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002-0x6002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0002+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>lpback_subport3</code></td>
<td 0>Loopback subport 3<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>lpback_subport2</code></td>
<td 0>Loopback subport 2<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>lpback_subport1</code></td>
<td 0>Loopback subport 1<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_subport0</code></td>
<td 0>Loopback subport 0<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-power-down">SERDES POWER DOWN</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate Power Down , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_POWER_DOWN</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0003-0x6003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0003+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:14]</code></td>
<td><code>txpd3</code></td>
<td 0>Power Down subport 3<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>txpd2</code></td>
<td 0>Power Down subport 2<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>txpd1</code></td>
<td 0>Power Down subport 1<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[09:08]</code></td>
<td><code>txpd0</code></td>
<td 0>Power Down subport 0<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>rxpd3</code></td>
<td 0>Power Down subport 3<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[05:04]</code></td>
<td><code>rxpd2</code></td>
<td 0>Power Down subport 2<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>rxpd1</code></td>
<td 0>Power Down subport 1<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>rxpd0</code></td>
<td 0>Power Down subport 0<br></td>
<td><code>R/W</code></td>
<td><code>0x3</code></td>
<td><code>0x3</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-pll-status">SERDES PLL Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>QPLL/CPLL status, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_PLL_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000B-0x600B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000B+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>qpll1_lock_change</code></td>
<td 1>QPLL1 has transition lock/unlock, Group 0-1<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>qpll0_lock_change</code></td>
<td 1>QPLL0 has transition lock/unlock, Group 0-1<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>qpll1_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>qpll0_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>cpll_lock_change</code></td>
<td 1>CPLL has transition lock/unlock, bit per sub port,<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>cpll_lock</code></td>
<td 1>CPLL is Locked, bit per sub port,<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-tx-reset">SERDES TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000C-0x600C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000C+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done, bit per sub port<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>txrst_trig</code></td>
<td 1>Should reset TX_PMA SERDES about 300-500 ns , bit per sub port<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-rx-reset">SERDES RX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_RX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D-0x600D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done, bit per sub port<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>rxrst_trig</code></td>
<td 1>Should reset reset RX_PMA SERDES about 300-500 ns , bit per sub port<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-mode">SERDES LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000E-0x600E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000E+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>bit per sub port<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-lpmdfe-reset">SERDES LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE , there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F-0x600F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000F+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>bit per sub port, Must be toggled after switching between modes to initialize adaptation<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txdiffctrl">SERDES TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010-0x6010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0010+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txdiffctrl_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txdiffctrl_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txdiffctrl_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txpostcursor">SERDES TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011-0x6011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0011+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txpostcursor_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txpostcursor_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txpostcursor_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-txprecursor">SERDES TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0012-0x6012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0012+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txprecursor_subport3</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txprecursor_subport2</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txprecursor_subport1</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor_subport0</code></td>
<td></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-prbs-generator-test-pattern-control">SERDES PRBS generator test pattern control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prbsctr_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0020-0x6020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0020+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>prbssel_subport3</code></td>
<td 0>Transmitter PRBS generator and Receiver PRBS checker test pattern control.After changing patterns, perform a reset of the RX (GTRXRESET, RXPMARESET) or a reset of the PRBS error counter (RXPRBSCNTRESET) such that the RX pattern checker can attempt to reestablish the link acquired. No checking is done for non-PRBS patterns.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>prbssel_subport2</code></td>
<td 0>Transmitter PRBS generator and Receiver PRBS checker test pattern control.After changing patterns, perform a reset of the RX (GTRXRESET, RXPMARESET) or a reset of the PRBS error counter (RXPRBSCNTRESET) such that the RX pattern checker can attempt to reestablish the link acquired. No checking is done for non-PRBS patterns.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>prbssel_subport1</code></td>
<td 0>Transmitter PRBS generator and Receiver PRBS checker test pattern control.After changing patterns, perform a reset of the RX (GTRXRESET, RXPMARESET) or a reset of the PRBS error counter (RXPRBSCNTRESET) such that the RX pattern checker can attempt to reestablish the link acquired. No checking is done for non-PRBS patterns.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>prbssel_subport0</code></td>
<td 0>Transmitter PRBS generator and Receiver PRBS checker test pattern control.After changing patterns, perform a reset of the RX (GTRXRESET, RXPMARESET) or a reset of the PRBS error counter (RXPRBSCNTRESET) such that the RX pattern checker can attempt to reestablish the link acquired. No checking is done for non-PRBS patterns.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-prbsctr_pen">SERDES prbsctr_pen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is 2 group (0-1), each group has 2 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_prbsctr_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021-0x6021</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07]</code></td>
<td><code>rxprbscntreset_subport3</code></td>
<td>Resets the PRBS error counter.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>rxprbscntreset_subport2</code></td>
<td>Resets the PRBS error counter.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>rxprbscntreset_subport1</code></td>
<td>Resets the PRBS error counter.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>rxprbscntreset_subport0</code></td>
<td>Resets the PRBS error counter.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03]</code></td>
<td><code>txprbsforceerr_subport3</code></td>
<td>When this port is driven High, errors are forced in the PRBS transmitter. While this port is asserted, the output data pattern contains errors. When PRBSSEL_subportx is set to 0, this port does not affect TXDATA</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02]</code></td>
<td><code>txprbsforceerr_subport2</code></td>
<td>When this port is driven High, errors are forced in the PRBS transmitter. While this port is asserted, the output data pattern contains errors. When PRBSSEL_subportx is set to 0, this port does not affect TXDATA</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>txprbsforceerr_subport1</code></td>
<td>When this port is driven High, errors are forced in the PRBS transmitter. While this port is asserted, the output data pattern contains errors. When PRBSSEL_subportx is set to 0, this port does not affect TXDATA</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>txprbsforceerr_subport0</code></td>
<td>When this port is driven High, errors are forced in the PRBS transmitter. While this port is asserted, the output data pattern contains errors. When PRBSSEL_subportx is set to 0, this port does not affect TXDATA</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-prbs-diag-status">SERDES PRBS Diag Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>QPLL/CPLL status, there is 2 group (0-1), each group has 2 sub ports Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7,</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_PRBS_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0022-0x6022</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0022+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>rxprbslocked</code></td>
<td 1>Output to indicate that the RX PRBS checker has been error free after reset. Once asserted High, RXPRBSLOCKED does not deassert until reset of the RX pattern checker via a reset of the RX (GTRXRESET, RXPMARESET, or RXPCSRESET in sequential mode) or a reset of the PRBS error counter (RXPRBSCNTRESET), bit per sub port,<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>rxprbserr</code></td>
<td 1>This non-sticky status output indicates that PRBS errors have occurred. , bit per sub port,<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>rxprbslocked_change</code></td>
<td 1>This sticky status output indicates that PRBS not locked, bit per sub port,<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>rxprbserr_change</code></td>
<td 1>This sticky status output indicates that PRBS errors have occurred. , bit per sub port,<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-prbs-rx_prbs_err_cnt-ro">SERDES PRBS RX_PRBS_ERR_CNT RO</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is counter RX PRBS error RO for Port 1-4 ( 0x23 :Port 1 ....0x26 Port 4)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_PRBS_RX_PRBS_ERR_CNT_RO</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23 - 0x26</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x23+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rx_prbs_err_cnt_ro</code></td>
<td>PRBS error counter.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="serdes-prbs-rx_prbs_err_cnt-r2c">SERDES PRBS RX_PRBS_ERR_CNT R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is counter RX PRBS error R2C for Port 1-4 ( 0x23 :Port 1 ....0x26 Port 4)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>SERDES_PRBS_RX_PRBS_ERR_CNT_R2C</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x33 - 0x36</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x33+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rx_prbs_err_cnt_r2c</code></td>
<td>PRBS error counter.</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mate-serdeses-gatetime-for-prbs-raw-diagnostic">Mate serdeses Gatetime for PRBS Raw Diagnostic</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Mate serdeses Gatetime for PRBS Raw Diagnostic port 1 to port 4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>gatetime_ctr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x37</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x37+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>start_diag4</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>start_diag3</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>start_diag2</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>start_diag1</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="gatetime-config-value">gatetime config value</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is Mate serdeses Gatetime for PRBS Raw Diagnostic port 1 to port 4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>gatetime_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x38 - 0x3b</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x38+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16:00]</code></td>
<td><code>time_cfg</code></td>
<td>Gatetime Configuration 1-86400 second</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="gatetime-current">Gatetime Current</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Gatetime_current</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3c - 0x3f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3c+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-1) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>status_gatetime_diag</code></td>
<td>Status Gatetime diagnostic port 16 to port1 bit per port 1:Running 0:Done-Ready</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>currert_gatetime_diag</code></td>
<td>Current running time of Gatetime diagnostic</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>