<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_sgmii_multirate">AF6CNC0021_RD_SGMII_Multirate</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pedit Block Version</code></td>
<td><code>0x0800</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 mode</code></td>
<td><code>0x0801</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 reset</code></td>
<td><code>0x0802</code></td>
</tr>
<tr>
<td><code>Auto-neg-group0 enable</code></td>
<td><code>0x0803</code></td>
</tr>
<tr>
<td><code>Config_speed-group0</code></td>
<td><code>0x0804</code></td>
</tr>
<tr>
<td><code>Auto-neg-group00 status</code></td>
<td><code>0x0805</code></td>
</tr>
<tr>
<td><code>Link-status-group0</code></td>
<td><code>0x0808</code></td>
</tr>
<tr>
<td><code>Auto-neg RX00-RX01 SGMII ability</code></td>
<td><code>0x0A00</code></td>
</tr>
<tr>
<td><code>Auto-neg RX02-RX03 SGMII ability</code></td>
<td><code>0x0A01</code></td>
</tr>
<tr>
<td><code>Auto-neg RX04-RX05 SGMII ability</code></td>
<td><code>0x0A02</code></td>
</tr>
<tr>
<td><code>Auto-neg RX06-RX07 SGMII ability</code></td>
<td><code>0x0A03</code></td>
</tr>
<tr>
<td><code>Auto-neg RX00-RX01 1000Basex ability</code></td>
<td><code>0x0A00</code></td>
</tr>
<tr>
<td><code>Auto-neg RX02-RX03 1000Basex ability</code></td>
<td><code>0x0A01</code></td>
</tr>
<tr>
<td><code>Auto-neg RX04-RX05 1000Basex ability</code></td>
<td><code>0x0A02</code></td>
</tr>
<tr>
<td><code>Auto-neg RX06-RX07 1000Basex ability</code></td>
<td><code>0x0A03</code></td>
</tr>
<tr>
<td><code>GE Loss Of Synchronization Sticky</code></td>
<td><code>0x080B</code></td>
</tr>
<tr>
<td><code>GE Loss Of Synchronization Status</code></td>
<td><code>0x080A</code></td>
</tr>
<tr>
<td><code>GE Loss Of Synchronization Interrupt Enb</code></td>
<td><code>0x0818</code></td>
</tr>
<tr>
<td><code>GE Auto-neg Sticky</code></td>
<td><code>0x0807</code></td>
</tr>
<tr>
<td><code>GE Auto-neg Interrupt Enb</code></td>
<td><code>0x0817</code></td>
</tr>
<tr>
<td><code>GE Remote Fault Sticky</code></td>
<td><code>0x0819</code></td>
</tr>
<tr>
<td><code>GE Remote Fault Interrupt Enb</code></td>
<td><code>0x081A</code></td>
</tr>
<tr>
<td><code>GE Excessive Error Ratio Status</code></td>
<td><code>0x081C</code></td>
</tr>
<tr>
<td><code>GE Excessive Error Ratio Sticky</code></td>
<td><code>0x081D</code></td>
</tr>
<tr>
<td><code>GE Excessive Error Ratio Enble</code></td>
<td><code>0x081E</code></td>
</tr>
<tr>
<td><code>GE Interrupt OR</code></td>
<td><code>0x0830</code></td>
</tr>
<tr>
<td><code>GE Loss Of Sync AND MASK</code></td>
<td><code>0x0831</code></td>
</tr>
<tr>
<td><code>GE Auto_neg State Change AND MASK</code></td>
<td><code>0x0832</code></td>
</tr>
<tr>
<td><code>GE Remote Fault AND MASK</code></td>
<td><code>0x0833</code></td>
</tr>
<tr>
<td><code>GE Excessive Error Ratio AND MASK</code></td>
<td><code>0x0834</code></td>
</tr>
<tr>
<td><code>GE 1000basex Force K30_7</code></td>
<td><code>0x0822</code></td>
</tr>
<tr>
<td><code>ENABLE TX 100base FX</code></td>
<td><code>0x0A08</code></td>
</tr>
<tr>
<td><code>Sticky Rx PATTERN DETECT</code></td>
<td><code>0x0A09</code></td>
</tr>
<tr>
<td><code>Sticky Rx CODE ERROR DETECT</code></td>
<td><code>0x0A0A</code></td>
</tr>
</tbody>
</table>
<h3 id="pedit-block-version">Pedit Block Version</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Pedit Block Version</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>version_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>day</code></td>
<td>day</td>
<td><code>R_O</code></td>
<td><code>0x0E</code></td>
<td><code>0x0E</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>month</td>
<td><code>R_O</code></td>
<td><code>0x0C</code></td>
<td><code>0x0C</code></td>
</tr>
<tr>
<td><code>[15:08]</code></td>
<td><code>year</code></td>
<td>year</td>
<td><code>R_O</code></td>
<td><code>0x0D</code></td>
<td><code>0x0D</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>number</code></td>
<td>number</td>
<td><code>R_O</code></td>
<td><code>0x01</code></td>
<td><code>0x01</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-mode">Auto-neg-group0 mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Select Auto-neg mode for 1000Basex or SGMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_mod_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0801</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>tx_enb0</code></td>
<td 1>Enable TX side bit per port, bit[16] port 0, bit[31] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_mod0</code></td>
<td 1>Auto-neg mode, bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-reset">Auto-neg-group0 reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Restart Auto-neg process of group0 from port 0 to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rst_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0802</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_rst0</code></td>
<td 1>Auto-neg reset, sw write 1 then write 0 to restart auto-neg bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group0-enable">Auto-neg-group0 enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>enable/disbale Auto-neg of group 0 from port 0 to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_enb_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0803</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>an_enb0</code></td>
<td 1>Auto-neg enb , bit per port, bit[0] port 0, bit[15] port 15<br></td>
<td><code>R/W</code></td>
<td><code>0xFFFF</code></td>
<td><code>0xFFFF</code></td>
</tr>
</tbody>
</table>
<h3 id="config_speed-group0">Config_speed-group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure speed when disable Auto-neg of group 0 from port 0 to 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_spd_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0804</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>cfg_spd15</code></td>
<td 3>Speed port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>cfg_spd14</code></td>
<td 3>Speed port 14<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>cfg_spd13</code></td>
<td 3>Speed port 13<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[25:24]</code></td>
<td><code>cfg_spd12</code></td>
<td 3>Speed port 12<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[23:22]</code></td>
<td><code>cfg_spd11</code></td>
<td 3>Speed port 11<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[21:20]</code></td>
<td><code>cfg_spd10</code></td>
<td 3>Speed port 10<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[19:18]</code></td>
<td><code>cfg_spd09</code></td>
<td 3>Speed port 9<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>cfg_spd08</code></td>
<td 3>Speed port 8<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[15:14]</code></td>
<td><code>cfg_spd07</code></td>
<td 3>Speed port 7<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>cfg_spd06</code></td>
<td 3>Speed port 6<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>cfg_spd05</code></td>
<td 3>Speed port 5<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[09:08]</code></td>
<td><code>cfg_spd04</code></td>
<td 3>Speed port 4<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>cfg_spd03</code></td>
<td 3>Speed port 3<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[05:04]</code></td>
<td><code>cfg_spd02</code></td>
<td 3>Speed port 2<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>cfg_spd01</code></td>
<td 3>Speed port 1<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[01:00]</code></td>
<td><code>cfg_spd00</code></td>
<td 3>Speed port 0<br></td>
<td><code>R/W</code></td>
<td><code>0x2</code></td>
<td><code>0x2</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-group00-status">Auto-neg-group00 status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>status of Auto-neg of group0 from port 0 to port 7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_sta_pen00</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0805</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:28]</code></td>
<td><code>an_sta07</code></td>
<td 15-8>Speed port 7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>an_sta06</code></td>
<td 15-8>Speed port 6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>an_sta05</code></td>
<td 15-8>Speed port 5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>an_sta04</code></td>
<td 15-8>Speed port 4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>an_sta03</code></td>
<td 15-8>Speed port 3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>an_sta02</code></td>
<td 15-8>Speed port 2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>an_sta01</code></td>
<td 15-8>Speed port 1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>an_sta00</code></td>
<td 15-8>Speed port 0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="link-status-group0">Link-status-group0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Link status of group 0 from port 0  to port 15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lnk_sync_pen0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0808</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>lnk_sta0</code></td>
<td 1>Link status, bit per port, bit[0] port  0, bit[7] port 7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx00-rx01-sgmii-ability">Auto-neg RX00-RX01 SGMII ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port00-01 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen00</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link01</code></td>
<td 1>Link status of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex01</code></td>
<td 1>duplex mode of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed01</code></td>
<td 3>speed of SGMII of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link00</code></td>
<td 1>Link status of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex00</code></td>
<td 1>duplex mode of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed00</code></td>
<td 3>speed of SGMII of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx02-rx03-sgmii-ability">Auto-neg RX02-RX03 SGMII ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port02-03 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen01</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link03</code></td>
<td 1>Link status of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex03</code></td>
<td 1>duplex mode of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed03</code></td>
<td 3>speed of SGMII of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link02</code></td>
<td 1>Link status of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex02</code></td>
<td 1>duplex mode of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed02</code></td>
<td 3>speed of SGMII of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx04-rx05-sgmii-ability">Auto-neg RX04-RX05 SGMII ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port04-05 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen02</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link05</code></td>
<td 1>Link status of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex05</code></td>
<td 1>duplex mode of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed05</code></td>
<td 3>speed of SGMII of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link04</code></td>
<td 1>Link status of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex04</code></td>
<td 1>duplex mode of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed04</code></td>
<td 3>speed of SGMII of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx06-rx07-sgmii-ability">Auto-neg RX06-RX07 SGMII ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port06-07 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen03</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>link07</code></td>
<td 1>Link status of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:29]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>duplex07</code></td>
<td 1>duplex mode of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>speed07</code></td>
<td 3>speed of SGMII of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>link06</code></td>
<td 1>Link status of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>duplex06</code></td>
<td 1>duplex mode of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>speed06</code></td>
<td 3>speed of SGMII of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx00-rx01-1000basex-ability">Auto-neg RX00-RX01 1000Basex ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port00-01 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen00</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>np01</code></td>
<td>Next page of port1</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>ack01</code></td>
<td>Acknowledge of port1</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>refault01</code></td>
<td 0>Remote Fault of port1<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>hduplex01</code></td>
<td>Half duplex of port1</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>fduplex01</code></td>
<td>Full duplex of port1</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[20:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>np00</code></td>
<td>Next page of port0</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>ack00</code></td>
<td>Acknowledge of port0</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>refault00</code></td>
<td 0>Remote Fault of port0<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>hduplex00</code></td>
<td>Half duplex of port0</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>fduplex00</code></td>
<td>Full duplex of port0</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx02-rx03-1000basex-ability">Auto-neg RX02-RX03 1000Basex ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port02-03 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen01</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>np03</code></td>
<td>Next page  of port3</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>ack03</code></td>
<td>Acknowledge of port3</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>refault03</code></td>
<td 0>Remote Fault of port3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>hduplex03</code></td>
<td>Half duplex of port3</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>fduplex03</code></td>
<td>Full duplex of port3</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[20:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>np02</code></td>
<td>Next page of port2</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>ack02</code></td>
<td>Acknowledge of port2</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>refault02</code></td>
<td 0>Remote Fault of port2<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>hduplex02</code></td>
<td>Half duplex of port2</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>fduplex02</code></td>
<td>Full duplex of port2</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx04-rx05-1000basex-ability">Auto-neg RX04-RX05 1000Basex ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port04-05 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen02</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>np05</code></td>
<td>Next page  of port5</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>ack05</code></td>
<td>Acknowledge of port5</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>refault05</code></td>
<td 0>Remote Fault of port5<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>hduplex05</code></td>
<td>Half duplex of port5</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>fduplex05</code></td>
<td>Full duplex of port5</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[20:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>np04</code></td>
<td>Next page of port4</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>ack04</code></td>
<td>Acknowledge of port4</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>refault04</code></td>
<td 0>Remote Fault of port4<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>hduplex04</code></td>
<td>Half duplex of port4</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>fduplex04</code></td>
<td>Full duplex of port4</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="auto-neg-rx06-rx07-1000basex-ability">Auto-neg RX06-RX07 1000Basex ability</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>RX ability of RX-Port06-07 after Auto-neg succeed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rxab_pen03</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:31]</code></td>
<td><code>np07</code></td>
<td>Next page  of port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30:30]</code></td>
<td><code>ack07</code></td>
<td>Acknowledge of port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:28]</code></td>
<td><code>refault07</code></td>
<td 0>Remote Fault of port7<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>hduplex07</code></td>
<td>Half duplex of port7</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>fduplex07</code></td>
<td>Full duplex of port7</td>
<td><code>R_O</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[20:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>np06</code></td>
<td>Next page of port6</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>ack06</code></td>
<td>Acknowledge of port6</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:12]</code></td>
<td><code>refault06</code></td>
<td 0>Remote Fault of port6<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:07]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>hduplex06</code></td>
<td>Half duplex of port6</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>fduplex06</code></td>
<td>Full duplex of port6</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="ge-loss-of-synchronization-sticky">GE Loss Of Synchronization Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Sticky state change Loss of synchronization</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>los_sync_stk_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x080B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>gelossofsync_stk</code></td>
<td>Sticky state change of Loss Of Synchronization, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-loss-of-synchronization-status">GE Loss Of Synchronization Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Current status of Loss of synchronization</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>los_sync_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x080A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>gelossofsync_cur</code></td>
<td>Current status of Loss Of Synchronization, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-loss-of-synchronization-interrupt-enb">GE Loss Of Synchronization Interrupt Enb</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Loss of synchronization</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>los_sync_int_enb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0818</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>gelossofsync_enb</code></td>
<td>Interrupt enable of Loss of synchronization, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-auto-neg-sticky">GE Auto-neg Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Sticky state change Auto-neg</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_sta_stk_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0807</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geauto_neg_stk</code></td>
<td>Sticky state change of Auto-neg , bit per port, bit0 is port0, bit7 is port7</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-auto-neg-interrupt-enb">GE Auto-neg Interrupt Enb</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Loss of synchronization</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_int_enb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0817</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geauto_neg_enb</code></td>
<td>Interrupt enable of Auto-neg, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-remote-fault-sticky">GE Remote Fault Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Sticky state change Remote Fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rfi_stk_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0819</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geremote_fault_stk</code></td>
<td>Sticky state change of Remote Fault , bit per port, bit0 is port0, bit7 is port7</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-remote-fault-interrupt-enb">GE Remote Fault Interrupt Enb</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Remote Fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>an_rfi_int_enb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x081A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geremote_fault_enb</code></td>
<td>Interrupt enable of Remote Fault, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-excessive-error-ratio-status">GE Excessive Error Ratio Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Excessive Error Ratio Status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxexcer_sta_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x081C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>rxexcer_sta</code></td>
<td>Interrupt status of Excessive Error Ratio, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-excessive-error-ratio-sticky">GE Excessive Error Ratio Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Excessive Error Ratio Sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxexcer_stk_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x081D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>rxexcer_stk</code></td>
<td>Interrupt sticky of Excessive Error Ratio, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-excessive-error-ratio-enble">GE Excessive Error Ratio Enble</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Excessive Error Ratio Enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxexcer_enb_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x081E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>rxexcer_enb</code></td>
<td>Interrupt Enable of Excessive Error Ratio, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-interrupt-or">GE Interrupt OR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt OR of all port per interrupt type</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_Interrupt_OR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0830</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>rxexcer_int_or</code></td>
<td>Interrupt OR of Excessive Error Ratio</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>an_rfi_int_or</code></td>
<td>Interrupt OR of Remote fault</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>ant_int_or</code></td>
<td>Interrupt OR of Auto-neg state change</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>los_sync_int_or</code></td>
<td>Interrupt OR of Loss of sync</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-loss-of-sync-and-mask">GE Loss Of Sync AND MASK</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Loss of sync current status AND MASK</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_Loss_Of_Sync_AND_MASK</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0831</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>gelossofsync_and_mask</code></td>
<td>Interrupt Loss of sync, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-auto_neg-state-change-and-mask">GE Auto_neg State Change AND MASK</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Auto-neg state change current status AND MASK</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_Auto_neg_State_Change_AND_MASK</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0832</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geauto_neg_and_mask</code></td>
<td>Interrupt Auto-neg state change, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-remote-fault-and-mask">GE Remote Fault AND MASK</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Remote Fault current status AND MASK</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_Remote_Fault_AND_MASK</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0833</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>geremote_fault_and_mask</code></td>
<td>Interrupt Enable of Remote Fault, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-excessive-error-ratio-and-mask">GE Excessive Error Ratio AND MASK</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt Excessive Error Ratio current status AND MASK</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_Excessive_Error_Ratio_AND_MASK</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0834</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>rxexcer_and_mask</code></td>
<td>Interrupt Enable of Excessive Error Ratio, bit per port, bit0 is port0, bit7 is port7</td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="ge-1000basex-force-k30_7">GE 1000basex Force K30_7</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Forcing countinuous K30.7 for 1000basex mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>GE_1000basex_Force_K30_7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0822</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>tx_fk30_7</code></td>
<td 1>Force K30.7 code, bit per port, bit0 is port0, bit7 is port7<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="enable-tx-100base-fx">ENABLE TX 100base FX</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Remote Fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>fx_txenb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A08</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:00]</code></td>
<td><code>fx_entx</code></td>
<td>(1) is enable, (0) is disable,  bit0 is port0, bit15 is port15</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-rx-pattern-detect">Sticky Rx PATTERN DETECT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Remote Fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>fx_patstken</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A09</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:00]</code></td>
<td><code>fx_patstk</code></td>
<td>sticky pattern detect</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-rx-code-error-detect">Sticky Rx CODE ERROR DETECT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Interrupt enable of Remote Fault</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>fx_codestken</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A0A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:00]</code></td>
<td><code>fx_codeerrstk</code></td>
<td>sticky code error detect</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>