<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0011_oc192_mux_oc48_16ch_wrap_rd">AF6CNC0011_OC192_MUX_OC48_16ch_wrap_RD</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>OC192 MUX OC48 Change Mode</code></td>
<td><code>0x0080-0x6080</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 Current Mode</code></td>
<td><code>0x0090-0x6090</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 DRP</code></td>
<td><code>0x1000-0x7FFF</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 LoopBack</code></td>
<td><code>0x0002-0x6002</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 PLL Status</code></td>
<td><code>0x000B-0x600B</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 TX Reset</code></td>
<td><code>0x000C-0x600C</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 TX Reset</code></td>
<td><code>0x000D-0x600D</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 LPMDFE Mode</code></td>
<td><code>0x000E-0x600E</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 LPMDFE Reset</code></td>
<td><code>0x000F-0x600F</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 TXDIFFCTRL</code></td>
<td><code>0x0010-0x6010</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 TXPOSTCURSOR</code></td>
<td><code>0x0011-0x6011</code></td>
</tr>
<tr>
<td><code>OC192 MUX OC48 TXPRECURSOR</code></td>
<td><code>0x0011-0x6011</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-change-mode">OC192 MUX OC48 Change Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate Port mode, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_Change_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0080-0x6080</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0080+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>chg_done</code></td>
<td 1>Change mode has done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:09]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>chg_trig</code></td>
<td>Trigger 0-&gt;1 to start changing mode</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>chg_mode</code></td>
<td 0>Port mode<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>chg_port</code></td>
<td 0-3>Sub Port ID<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-current-mode">OC192 MUX OC48 Current Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Current Port mode, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_Current_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0090-0x6090</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0090+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>cur_mode_subport3</code></td>
<td 0>Current mode subport3, Group 0 =&gt; Port3, Group 1 =&gt; Port 7, Group 2 =&gt; Port 11, Group 3 =&gt; Port 15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>cur_mode_subport2</code></td>
<td 0>Current mode subport2, Group 0 =&gt; Port2, Group 1 =&gt; Port 6, Group 2 =&gt; Port 10, Group 3 =&gt; Port 14<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>cur_mode_subport1</code></td>
<td 0>Current mode subport1, Group 0 =&gt; Port1, Group 1 =&gt; Port 5, Group 2 =&gt; Port 9, Group 3 =&gt; Port 13<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>cur_mode_subport0</code></td>
<td 0>Current mode subport0, Group 0 =&gt; Port0, Group 1 =&gt; Port 4, Group 2 =&gt; Port 8, Group 3 =&gt; Port 12<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-drp">OC192 MUX OC48 DRP</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_DRP</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000-0x7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000+$G*0x2000+$P*0x400+$DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$G(0-3) : Group of Ports</code></p>
</li>
<li>
<p><code>$P(0-3) : Sub Port ID</code></p>
</li>
<li>
<p><code>$DRP(0-0x3FF) : DRP address, see UG578</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-loopback">OC192 MUX OC48 LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002-0x6002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0002+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>lpback_subport3</code></td>
<td 0>Loopback subport 3, Group 0 =&gt; Port3, Group 1 =&gt; Port 7, Group 2 =&gt; Port 11, Group 3 =&gt; Port 15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>lpback_subport2</code></td>
<td 0>Loopback subport 2, Group 0 =&gt; Port2, Group 1 =&gt; Port 6, Group 2 =&gt; Port 10, Group 3 =&gt; Port 14<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>lpback_subport1</code></td>
<td 0>Loopback subport 1, Group 0 =&gt; Port1, Group 1 =&gt; Port 5, Group 2 =&gt; Port 9, Group 3 =&gt; Port 13<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_subport0</code></td>
<td 0>Loopback subport 0, Group 0 =&gt; Port0, Group 1 =&gt; Port 4, Group 2 =&gt; Port 8, Group 3 =&gt; Port 12<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-pll-status">OC192 MUX OC48 PLL Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>QPLL/CPLL status, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_PLL_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000B-0x600B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000B+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>qpll1_lock_change</code></td>
<td 1>QPLL1 has transition lock/unlock, Group 0-3<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>qpll0_lock_change</code></td>
<td 1>QPLL0 has transition lock/unlock, Group 0-3<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>qpll1_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>qpll0_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>cpll_lock_change</code></td>
<td 1>CPLL has transition lock/unlock, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>cpll_lock</code></td>
<td 1>CPLL is Locked, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-tx-reset">OC192 MUX OC48 TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000C-0x600C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000C+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>txrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset TX SERDES, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-tx-reset_1">OC192 MUX OC48 TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D-0x600D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000D+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>rxrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset RX SERDES, bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-lpmdfe-mode">OC192 MUX OC48 LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode , there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000E-0x600E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000E+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>bit per sub port, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, , Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-lpmdfe-reset">OC192 MUX OC48 LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE , there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F-0x600F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000F+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:04]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>bit per sub port, Must be toggled after switching between modes to initialize adaptation, Group 0 =&gt; Port0-3, Group 1 =&gt; Port 4-7, , Group 2 =&gt; Port 8-11, Group 3 =&gt; Port 12-15<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-txdiffctrl">OC192 MUX OC48 TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010-0x6010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0010+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txdiffctrl_subport3</code></td>
<td>Group 3 =&gt; Port 12-15</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txdiffctrl_subport2</code></td>
<td>Group 2 =&gt; Port 8-11</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txdiffctrl_subport1</code></td>
<td>Group 1 =&gt; Port 4-7</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl_subport0</code></td>
<td>Group 0 =&gt; Port 0-3</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-txpostcursor">OC192 MUX OC48 TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011-0x6011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0011+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txpostcursor_subport3</code></td>
<td>Group 3 =&gt; Port 12-15</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txpostcursor_subport2</code></td>
<td>Group 2 =&gt; Port 8-11</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txpostcursor_subport1</code></td>
<td>Group 1 =&gt; Port 4-7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor_subport0</code></td>
<td>Group 0 =&gt; Port 0-3</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="oc192-mux-oc48-txprecursor">OC192 MUX OC48 TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail, there is 4 group (0-3), each group has 4 sub ports</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OC192_MUX_OC48_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011-0x6011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0011+$G*0x2000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$G(0-3) : Group of Ports</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[19:15]</code></td>
<td><code>txprecursor_subport3</code></td>
<td>Group 3 =&gt; Port 12-15</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:10]</code></td>
<td><code>txprecursor_subport2</code></td>
<td>Group 2 =&gt; Port 8-11</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:05]</code></td>
<td><code>txprecursor_subport1</code></td>
<td>Group 1 =&gt; Port 4-7</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor_subport0</code></td>
<td>Group 0 =&gt; Port 0-3</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>