<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-09-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0011_rd_pdh_mdl">AF6CCI0011_RD_PDH_MDL</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Buff Message MDL BUFFER1</code></td>
<td><code>0x0000 - 0x012F</code></td>
</tr>
<tr>
<td><code>Buff Message MDL BUFFER1_2</code></td>
<td><code>0x0130 - 0x01C7</code></td>
</tr>
<tr>
<td><code>Config Buff Message MDL BUFFER2</code></td>
<td><code>0x0200 - 0x032F</code></td>
</tr>
<tr>
<td><code>Config Buff Message MDL BUFFER2_2</code></td>
<td><code>0x0330 - 0x03C7</code></td>
</tr>
<tr>
<td><code>SET TO HAVE PACKET MDL BUFFER 1</code></td>
<td><code>0x0420 - 0x437</code></td>
</tr>
<tr>
<td><code>SET TO HAVE PACKET MDL BUFFER 2</code></td>
<td><code>0x0440 - 0x457</code></td>
</tr>
<tr>
<td><code>CONFIG MDL Tx</code></td>
<td><code>0x0460 - 0x477</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE TX MDL IDLE</code></td>
<td><code>0x0700 - 0x0717</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE TX MDL PATH</code></td>
<td><code>0x0720 - 0x0737</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE TX MDL TEST</code></td>
<td><code>0x0740 - 0x0757</code></td>
</tr>
<tr>
<td><code>COUNTER VALID MESSAGE TX MDL IDLE</code></td>
<td><code>0x0600 - 0x0697</code></td>
</tr>
<tr>
<td><code>COUNTER VALID MESSAGE TX MDL PATH</code></td>
<td><code>0x0620 - 0x06B7</code></td>
</tr>
<tr>
<td><code>COUNTER VALID MESSAGE TX MDL TEST R2C</code></td>
<td><code>0x0640 - 0x06D7</code></td>
</tr>
<tr>
<td><code>Buff Message MDL with configuration type</code></td>
<td><code>0x24000 - 0x25FFF</code></td>
</tr>
<tr>
<td><code>Config Buff Message MDL TYPE</code></td>
<td><code>0x23000 - 0x230BF</code></td>
</tr>
<tr>
<td><code>CONFIG CONTROL DESTUFF 0</code></td>
<td><code>0x23200</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF CONFIG1</code></td>
<td><code>0x23210</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 2</code></td>
<td><code>0x23211</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 3</code></td>
<td><code>0x23212</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 4</code></td>
<td><code>0x23213</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 5</code></td>
<td><code>0x23214</code></td>
</tr>
<tr>
<td><code>STICKY TO RECEIVE PACKET MDL BUFF CONFIG 6</code></td>
<td><code>0x23215</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE RX MDL IDLE</code></td>
<td><code>0x26000 - 0x264BF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE RX MDL PATH</code></td>
<td><code>0x26100 - 0x265BF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE RX MDL TEST</code></td>
<td><code>0x26200 - 0x266BF</code></td>
</tr>
<tr>
<td><code>COUNTER GOOD MESSAGE RX MDL IDLE</code></td>
<td><code>0x27000 - 0x278BF</code></td>
</tr>
<tr>
<td><code>COUNTER GOOD MESSAGE RX MDL PATH</code></td>
<td><code>0x27100 - 0x279BF</code></td>
</tr>
<tr>
<td><code>COUNTER GOOD MESSAGE RX MDL TEST</code></td>
<td><code>0x27200 - 0x27ABF</code></td>
</tr>
<tr>
<td><code>COUNTER DROP MESSAGE RX MDL IDLE</code></td>
<td><code>0x27300 - 0x27BBF</code></td>
</tr>
<tr>
<td><code>COUNTER DROP MESSAGE RX MDL PATH</code></td>
<td><code>0x27400 - 0x27CBF</code></td>
</tr>
<tr>
<td><code>COUNTER DROP MESSAGE RX MDL TEST R2C</code></td>
<td><code>0x27500 - 0x27DBF</code></td>
</tr>
<tr>
<td><code>MDL per Channel Interrupt Enable Control</code></td>
<td><code>0x29000-0x290FF</code></td>
</tr>
<tr>
<td><code>MDL Interrupt per Channel Interrupt Status</code></td>
<td><code>0x29100-0x291FF</code></td>
</tr>
<tr>
<td><code>MDL Interrupt per Channel Current Status</code></td>
<td><code>0x29200-0x292FF</code></td>
</tr>
<tr>
<td><code>MDL Interrupt per Channel Interrupt OR Status</code></td>
<td><code>0x29300-0x29307</code></td>
</tr>
<tr>
<td><code>MDL Interrupt OR Status</code></td>
<td><code>0x293FF</code></td>
</tr>
<tr>
<td><code>MDL Interrupt Enable Control</code></td>
<td><code>0x293FE</code></td>
</tr>
</tbody>
</table>
<h3 id="buff-message-mdl-buffer1">Buff Message MDL BUFFER1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config message MDL BUFFER Channel ID 0-15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_buffer1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000 - 0x012F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000+ $SLICEID*0x800 + $DWORDID*16 + $DE3ID1</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DWORDID (0-18) : DWORD ID</code></p>
</li>
<li>
<p><code>$DE3ID1(0-15)  : DE3 ID1</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>idle_byte13</code></td>
<td>MS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>ilde_byte12</code></td>
<td>BYTE 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>idle_byte11</code></td>
<td>BYTE 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>idle_byte10</code></td>
<td>LS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="buff-message-mdl-buffer1_2">Buff Message MDL BUFFER1_2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config message MDL BUFFER Channel ID 16-23</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_buffer1_2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0130 - 0x01C7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0130+ $SLICEID*0x800 + $DWORDID*8 + $DE3ID2</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DWORDID (0-18) : DWORD ID</code></p>
</li>
<li>
<p><code>$DE3ID2 (0-7) : DE3 ID2</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>idle_byte23</code></td>
<td>MS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>idle_byte22</code></td>
<td>BYTE 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>idle_byte21</code></td>
<td>BYTE 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>idle_byte20</code></td>
<td>LS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-buff-message-mdl-buffer2">Config Buff Message MDL BUFFER2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config message MDL BUFFER2 Channel ID 0-15</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_tp1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0200 - 0x032F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0200+$SLICEID*0x800 + $DE3ID1 + $DWORDID*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DWORDID (0-18) : DWORD ID</code></p>
</li>
<li>
<p><code>$DE3ID1(0-15)  : DS3 E3 ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>tp_byte13</code></td>
<td>MS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>tp_byte12</code></td>
<td>BYTE 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>tp_byte11</code></td>
<td>BYTE 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>tp_byte10</code></td>
<td>LS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-buff-message-mdl-buffer2_2">Config Buff Message MDL BUFFER2_2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config message MDL BUFFER2 Channel ID 16-23</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_tp2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0330 - 0x03C7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0330+$SLICEID*0x800 + $DWORDID*8+ $DE3ID2</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DWORDID (0-18) : DWORD ID</code></p>
</li>
<li>
<p><code>$DE3ID2 (0-7) : DE3 ID2</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>tp_byte23</code></td>
<td>MS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>tp_byte22</code></td>
<td>BYTE 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>tp_byte21</code></td>
<td>BYTE 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>tp_byte20</code></td>
<td>LS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="set-to-have-packet-mdl-buffer-1">SET TO HAVE PACKET MDL BUFFER 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SET/CLEAR to ALRM STATUS MESSAGE in BUFFER 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sta_idle_alren</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0420 - 0x437</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0420+$SLICEID*0x800 +$DE3ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00:00]</code></td>
<td><code>idle_cfgen</code></td>
<td>(0) : engine clear for indication to have sent, (1) CPU set for indication to have new message which must send for buffer 0</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="set-to-have-packet-mdl-buffer-2">SET TO HAVE PACKET MDL BUFFER 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>SET/CLEAR to ALRM STATUS MESSAGE in BUFFER 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sta_tp_alren</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0440 - 0x457</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0440+$SLICEID*0x800 +$DE3ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[00:00]</code></td>
<td><code>tp_cfgen</code></td>
<td>(0) : engine clear for indication to have sent, (1) CPU set for indication to have new message which must send for buffer 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-mdl-tx">CONFIG MDL Tx</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Config Tx MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_mdl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0460 - 0x477</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0460+$SLICEID*0x800 +$DE3ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>6</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[05:05]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfg_seq_tx</code></td>
<td>config enable Tx continous, (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfg_entx</code></td>
<td>config enable Tx, (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_fcs_tx</code></td>
<td>config mode transmit FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_mdlstd_tx</code></td>
<td>config standard Tx, (0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_mdl_cr</code></td>
<td>config bit command/respond MDL message, bit 0 is channel 0 of DS3</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-tx-mdl-idle">COUNTER BYTE MESSAGE TX MDL IDLE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear IDLE message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_byteidle1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0700 - 0x0717</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0700+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_idle_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-tx-mdl-path">COUNTER BYTE MESSAGE TX MDL PATH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear PATH message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_bytepath</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0720 - 0x0737</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0720+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_path_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-tx-mdl-test">COUNTER BYTE MESSAGE TX MDL TEST</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear TEST message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_bytetest</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0740 - 0x0757</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0740+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_test_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-valid-message-tx-mdl-idle">COUNTER VALID MESSAGE TX MDL IDLE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter valid read to clear IDLE message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_valididle</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0600 - 0x0697</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0600+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>18</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17:00]</code></td>
<td><code>cntr2c_valid_idle_mdl</code></td>
<td>value counter valid</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-valid-message-tx-mdl-path">COUNTER VALID MESSAGE TX MDL PATH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter valid read to clear PATH message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_validpath</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0620 - 0x06B7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0620+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17:00]</code></td>
<td><code>cntr2c_valid_path_mdl</code></td>
<td>value counter valid</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-valid-message-tx-mdl-test-r2c">COUNTER VALID MESSAGE TX MDL TEST R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter valid read to clear TEST message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txmdl_cntr2c_validtest</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0640 - 0x06D7</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0640+ $SLICEID*0x800 + $DE3ID + $UPRO * 128</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$DE3ID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17:00]</code></td>
<td><code>cntr2c_valid_test_mdl</code></td>
<td>value counter valid</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="buff-message-mdl-with-configuration-type">Buff Message MDL with configuration type</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>buffer message MDL which is configured type</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_typebuff</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x24000 - 0x25FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x24000 + $STSID* 256 + $SLICEID*32 + $RXDWORDID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$RXDWORDID (0-19) : RX Double WORD ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>mdl_tbyte3</code></td>
<td>MS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>mdl_tbyte2</code></td>
<td>BYTE 2</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>mdl_tbyte1</code></td>
<td>BYTE 1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>mdl_tbyte0</code></td>
<td>LS BYTE</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-buff-message-mdl-type">Config Buff Message MDL TYPE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config type message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cfgtype</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23000 - 0x230BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x23000+ $STSID*8 + $SLICEID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfg_fcs_rx</code></td>
<td>config mode receive FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfg_mdl_cr</code></td>
<td>config C/R bit expected</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfg_mdl_std</code></td>
<td>(0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_mdl_mask_test</code></td>
<td>config enable mask to moitor test massage (1): enable, (0): disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_mdl_mask_path</code></td>
<td>config enable mask to moitor path massage (1): enable, (0): disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_mdl_mask_idle</code></td>
<td>config enable mask to moitor idle massage (1): enable, (0): disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-control-destuff-0">CONFIG CONTROL DESTUFF 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_destuff_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23200</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>6</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfg_crmon</code></td>
<td>(0) : disable, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>reserve1</code></td>
<td>reserve</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>fcsmon</code></td>
<td>(0) : disable monitor, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[02:01]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>headermon_en</code></td>
<td>(1) : enable monitor, (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config1">STICKY TO RECEIVE PACKET MDL BUFF CONFIG1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23210</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 0-31</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config-2">STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23211</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 32 -63</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config-3">STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23212</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 64 -95</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config-4">STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 4</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23213</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 96 -127</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config-5">STICKY TO RECEIVE PACKET MDL BUFF  CONFIG 5</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23214</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 128 -159</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sticky-to-receive-packet-mdl-buff-config-6">STICKY TO RECEIVE PACKET MDL BUFF CONFIG 6</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>engine set to alarm message event, and CPU clear to be received new messase</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_mdl_stk_cfg6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x23215</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mdl_cfg_alr</code></td>
<td>sticky for new message channel 160 -191</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-rx-mdl-idle">COUNTER BYTE MESSAGE RX MDL IDLE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear IDLE message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_byteidle</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x26000 - 0x264BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x26000+ $STSID*8 + $SLICEID + $UPRO * 1024</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_idle_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-rx-mdl-path">COUNTER BYTE MESSAGE RX MDL PATH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear PATH message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_bytepath</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x26100 - 0x265BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x26100+ $STSID*8 + $SLICEID + $UPRO * 1024</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_path_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-rx-mdl-test">COUNTER BYTE MESSAGE RX MDL TEST</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte read to clear TEST message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_bytetest</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x26200 - 0x266BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x26200+ $STSID*8 + $SLICEID + $UPRO * 1024</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_byte_test_mdl</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-message-rx-mdl-idle">COUNTER GOOD MESSAGE RX MDL IDLE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good read to clear IDLE message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_goodidle</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27000 - 0x278BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27000+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_good_idle_mdl</code></td>
<td>value counter good</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-message-rx-mdl-path">COUNTER GOOD MESSAGE RX MDL PATH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good read to clear PATH message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_goodpath</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27100 - 0x279BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27100+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_good_path_mdl</code></td>
<td>value counter good</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-message-rx-mdl-test">COUNTER GOOD MESSAGE RX MDL TEST</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good read to clear TEST message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_goodtest</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27200 - 0x27ABF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27200+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_good_test_mdl</code></td>
<td>value counter good</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-drop-message-rx-mdl-idle">COUNTER DROP MESSAGE RX MDL IDLE</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter drop read to clear IDLE message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_dropidle</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27300 - 0x27BBF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27300+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_drop_idle_mdl</code></td>
<td>value counter drop</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-drop-message-rx-mdl-path">COUNTER DROP MESSAGE RX MDL PATH</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter drop read to clear PATH message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_droppath</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27400 - 0x27CBF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27400+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_drop_path_mdl</code></td>
<td>value counter drop</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-drop-message-rx-mdl-test-r2c">COUNTER DROP MESSAGE RX MDL TEST R2C</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter drop read to clear TEST message MDL</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxmdl_cntr2c_droptest</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x27500 - 0x27DBF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x27500+ $STSID*8 + $SLICEID + $UPRO * 2048</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : STS ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$UPRO (0-1) : UP READ ONLY</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cntr2c_drop_test_mdl</code></td>
<td>value counter drop</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-per-channel-interrupt-enable-control">MDL per Channel Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_cfgen_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x29000-0x290FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x29000 +  $STSID + $SLICEID * 32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>mdl_cfgen_int</code></td>
<td>Set 1 to enable change event to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-interrupt-per-channel-interrupt-status">MDL Interrupt per Channel Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_int_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x29100-0x291FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x29100 +  $STSID + $SLICEID * 32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>mdlint_sta</code></td>
<td>Set 1 if there is a change event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-interrupt-per-channel-current-status">MDL Interrupt per Channel Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel Current status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_int_crrsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x29200-0x292FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x29200 +  $STSID + $SLICEID * 32</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-23) : DE3 ID</code></p>
</li>
<li>
<p><code>$SLICEID(0-7) : SLICE ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>mdlint_crrsta</code></td>
<td>Current status of event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-interrupt-per-channel-interrupt-or-status">MDL Interrupt per Channel Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 32 bits for 32 VT/TUs of the related STS/VC in the Rx DS1/E1/J1 Framer. Each bit is used to store Interrupt OR tus of the related DS1/E1/J1.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_intsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x29300-0x29307</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x29300 +  $GID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$GID (0-7) : group ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>mdlintsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding channel is set and its interrupt is enabled.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-interrupt-or-status">MDL Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 bits. Each bit is used to store Interrupt OR status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_sta_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x293FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7:0]</code></td>
<td><code>mdlsta_int</code></td>
<td>Set to 1 if any interrupt status bit is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mdl-interrupt-enable-control">MDL Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 interrupt enable bits .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>mdl_en_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x293FE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7:0]</code></td>
<td><code>mdlen_int</code></td>
<td>Set to 1 to enable to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>