<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-09-27</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="gmii_rd_diag">GMII_RD_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>SGMII/QSGMII Channels Enable.</code></td>
<td><code>0x00 - 0x30</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Burst test enable gen packet.</code></td>
<td><code>0x0f - 0x3f</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Sticky alarm.</code></td>
<td><code>0x01 - 0x31</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Status alarm.</code></td>
<td><code>0x0E - 0x3E</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Test mode control.</code></td>
<td><code>0x02 - 0x32</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Configure Mac DA MSB.</code></td>
<td><code>0x03 - 0x33</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Configure Mac DA LSB.</code></td>
<td><code>0x04 - 0x34</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Configure Mac SA MSB.</code></td>
<td><code>0x05 - 0x35</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Configure Mac SA LSB.</code></td>
<td><code>0x06 - 0x36</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Channels Configure Mac Type.</code></td>
<td><code>0x07 - 0x37</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Tx counter R2C.</code></td>
<td><code>0x08 - 0x38</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Rx counter R2C.</code></td>
<td><code>0x09 - 0x39</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII FCS error counter R2C.</code></td>
<td><code>0x0A - 0x3A</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Tx counter RO.</code></td>
<td><code>0x0B - 0x3B</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII Rx counter RO.</code></td>
<td><code>0x0C - 0x3C</code></td>
</tr>
<tr>
<td><code>SGMII/QSGMII FCS error counter RO.</code></td>
<td><code>0x0D - 0x3D</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-enable">SGMII/QSGMII Channels Enable.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00 - 0x30</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>test enable</code></td>
<td>Set 1 to enable Tx test generator</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:1]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-burst-test-enable-gen-packet">SGMII/QSGMII Burst test enable gen packet.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0f - 0x3f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0f + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>burst gen packet number</code></td>
<td>Burst gen packet number, must configure burst number &gt; 0 to generator packet, hardware will clear number packet configure when finish.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-sticky-alarm">SGMII/QSGMII Channels Sticky alarm.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Alarm_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01 - 0x31</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Sticky</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>mon packet error</code></td>
<td>Set 1 when monitor packet error.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mon packet len error</code></td>
<td>Set 1 when monitor packet len error.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mon fcs error</code></td>
<td>Set 1 when monitor FCS error.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mon data error</code></td>
<td>Set 1 when monitor data error.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mon mac header error</code></td>
<td>Set 1 when monitor MAC header error.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mon data sync</code></td>
<td>Set 1 when monitor Data sync.</td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:6]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>R/W/C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-status-alarm">SGMII/QSGMII Channels Status alarm.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Alarm_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0E - 0x3E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0E + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>mon packet error</code></td>
<td>Set 1 when monitor packet error.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mon packet len error</code></td>
<td>Set 1 when monitor packet len error.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mon fcs error</code></td>
<td>Set 1 when monitor FCS error.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mon data error</code></td>
<td>Set 1 when monitor data error.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mon mac header error</code></td>
<td>Set 1 when monitor MAC header error.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mon data sync</code></td>
<td>Set 1 when monitor Data sync.</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:6]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-test-mode-control">SGMII/QSGMII Channels Test mode control.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02 - 0x32</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x02 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>loopout enable</code></td>
<td>FPGA loopout enable: 0/1 -&gt; Dis/En.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mac header check enable</code></td>
<td>Mac header check enable: 0/1 -&gt; Dis/En.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>configure test mode</code></td>
<td>Configure test mode: 0/1 -&gt; Continues/Burst.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>invert fcs enable</code></td>
<td>Invert FCS enable: 0/1 -&gt; Dis/En.</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[5:4]</code></td>
<td><code>force error</code></td>
<td>Force error: 0/1/2/3 -&gt; Normal/Data/Force FCS/Force Framer.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:6]</code></td>
<td><code>bandwidth</code></td>
<td>Bandwidth: 0/1/2/3 -&gt; 100%/90%/80%/70%.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:8]</code></td>
<td><code>data mode</code></td>
<td>Data mode: 0/1/2/3 -&gt; PRBS15/PRBS23/FIX/SEQ.</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:12]</code></td>
<td><code>fix data value</code></td>
<td>Fix data value.</td>
<td><code>R/W</code></td>
<td><code>0xAA</code></td>
<td><code>0xAA</code></td>
</tr>
<tr>
<td><code>[31:20]</code></td>
<td><code>payload size</code></td>
<td>Payload size.</td>
<td><code>R/W</code></td>
<td><code>0x40</code></td>
<td><code>0x40 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-configure-mac-da-msb">SGMII/QSGMII Channels Configure Mac DA MSB.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03 - 0x33</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x03 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>mac da configure msb</code></td>
<td>Mac DA MSB configure value</td>
<td><code>R/W</code></td>
<td><code>0x01010101</code></td>
<td><code>0x01010101 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-configure-mac-da-lsb">SGMII/QSGMII Channels Configure Mac DA LSB.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04 - 0x34</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x04 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>mac da configure lsb</code></td>
<td>Mac DA LSB configure value</td>
<td><code>R/W</code></td>
<td><code>0xC0CA</code></td>
<td><code>0xC0CA End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-configure-mac-sa-msb">SGMII/QSGMII Channels Configure Mac SA MSB.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x05 - 0x35</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x05 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>mac sa configure msb</code></td>
<td>Mac SA MSB configure value</td>
<td><code>R/W</code></td>
<td><code>0x01010101</code></td>
<td><code>0x01010101 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-configure-mac-sa-lsb">SGMII/QSGMII Channels Configure Mac SA LSB.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06 - 0x36</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>mac sa configure lsb</code></td>
<td>Mac SA LSB configure value</td>
<td><code>R/W</code></td>
<td><code>0xC0CA</code></td>
<td><code>0xC0CA End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-channels-configure-mac-type">SGMII/QSGMII Channels Configure Mac Type.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>control_pen8</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x07 - 0x37</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x07 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>mac type configure</code></td>
<td>Mac Type configure value</td>
<td><code>R/W</code></td>
<td><code>0x0800</code></td>
<td><code>0x0800 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-tx-counter-r2c">SGMII/QSGMII Tx counter R2C.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08 - 0x38</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x08 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tx counter r2c</code></td>
<td>Tx counter R2C</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-rx-counter-r2c">SGMII/QSGMII Rx counter R2C.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x09 - 0x39</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x09 + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx counter r2c</code></td>
<td>Rx counter R2C</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-fcs-error-counter-r2c">SGMII/QSGMII FCS error counter R2C.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0A - 0x3A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0A + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>fcs error counter r2c</code></td>
<td>FCS error counter R2C</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-tx-counter-ro">SGMII/QSGMII Tx counter RO.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0B - 0x3B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0B + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tx counter ro</code></td>
<td>Tx counter RO</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-rx-counter-ro">SGMII/QSGMII Rx counter RO.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter5</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0C - 0x3C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0C + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rx counter ro</code></td>
<td>Rx counter RO</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sgmiiqsgmii-fcs-error-counter-ro">SGMII/QSGMII FCS error counter RO.</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Register to test SGMII/QSGMII interface</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter6</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0D - 0x3D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0D + channel_id*16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$channel_id(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Counter</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>fcs error counter ro</code></td>
<td>FCS error counter RO</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>