<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2016-09-27</td>
<td>Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="oc192_oc48_oc12_oc3_rd_diag">OC192_OC48_OC12_OC3_RD_DIAG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>OCN Global Rx Framer Control</code></td>
<td><code>0x00000</code></td>
</tr>
<tr>
<td><code>OCN Global Rx Framer LOS Detecting Control 1</code></td>
<td><code>0x00006</code></td>
</tr>
<tr>
<td><code>OCN Global Rx Framer LOS Detecting Control 2</code></td>
<td><code>0x00007</code></td>
</tr>
<tr>
<td><code>OCN Global Rx Framer LOF Threshold</code></td>
<td><code>0x00008</code></td>
</tr>
<tr>
<td><code>OCN Global Tx Framer Control</code></td>
<td><code>0x00001</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer Status</code></td>
<td><code>0x00010 - 0x00040</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer Sticky</code></td>
<td><code>0x00011 - 0x00041</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer B1 error counter read only</code></td>
<td><code>0x00012 - 0x00042</code></td>
</tr>
<tr>
<td><code>OCN Rx Framer B1 error counter read to clear</code></td>
<td><code>0x00013 - 0x00043</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-rx-framer-control">OCN Global Rx Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Rx Framer</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbrfm_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>rxfrmbadfrmthresh</code></td>
<td>Threshold for A1A2 missing counter, that is used to change state from FRAMED to HUNT.</td>
<td><code>RW</code></td>
<td><code>0x4</code></td>
<td><code>0x4</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>rxfrmdescren</code></td>
<td>Enable/disable de-scrambling of the Rx coming data stream for 4 lines. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0xf</code></td>
<td><code>0xf</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>rxfrmstmocnmode</code></td>
<td>STM rate mode for Rx of  4 lines, each line use 2 bits.Bits[1:0] for line 0 0: OC48 1: OC12 2: OC3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-rx-framer-los-detecting-control-1">OCN Global Rx Framer LOS Detecting Control 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Rx Framer LOS detecting 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbclkmon_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>rxfrmlosdetmod</code></td>
<td>Detected LOS mode. 1: the LOS declare when all zero or all one detected 0: the LOS declare when all zero detected</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>rxfrmlosdetdis</code></td>
<td>Disable detect LOS. 1: Disable 0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>rxfrmclkmondis</code></td>
<td>Disable to generate LOS to Rx Framer if detecting error on Rx line clock. 1: Disable 0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>rxfrmclkmonthr</code></td>
<td>Threshold to generate LOS to Rx Framer if detecting error on Rx line clock.(Threshold = PPM * 155.52/8 for STM16 and STM1). Default 0x3cc ~ 50ppm for STM16 and STM1. With STM4 must config value that is this default value divide by 4.</td>
<td><code>RW</code></td>
<td><code>0x3cc</code></td>
<td><code>0x3cc End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-rx-framer-los-detecting-control-2">OCN Global Rx Framer LOS Detecting Control 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Rx Framer LOS detecting 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbdetlos_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>rxfrmlosclr2thr</code></td>
<td>Configure the period of time during which there is no period of consecutive data without transition, used for reset no transition counter. The recommended value is 0x30 (~2.5ms) for STM16 and STM1. With STM4 must config value that is this default value divide by 4.</td>
<td><code>RW</code></td>
<td><code>0x30</code></td>
<td><code>0x30</code></td>
</tr>
<tr>
<td><code>[23:12]</code></td>
<td><code>rxfrmlossetthr</code></td>
<td>Configure the value that define the period of time in which there is no transition detected from incoming data from SERDES. The recommended value is 0x3cc (~50ms) for STM16 and STM1. With STM4 must config value that is this default value divide by 4.</td>
<td><code>RW</code></td>
<td><code>0x3cc</code></td>
<td><code>0x3cc</code></td>
</tr>
<tr>
<td><code>[11:0]</code></td>
<td><code>rxfrmlosclr1thr</code></td>
<td>Configure the period of time during which there is no period of consecutive data without transition, used for counting at INFRM to change state to OOF The recommended value is 0x3cc (~50ms) for STM16 and STM1. With STM4 must config value that is this default value divide by 4.</td>
<td><code>RW</code></td>
<td><code>0x3cc</code></td>
<td><code>0x3cc End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-rx-framer-lof-threshold">OCN Global Rx Framer LOF Threshold</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure thresholds for LOF detection at receive SONET/SDH framer,There are two thresholds</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glblofthr_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00008</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>rxfrmlofdetmod</code></td>
<td>Detected LOF mode.Set 1 to clear OOF counter when state into INFRAMED</td>
<td><code>RW</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>rxfrmlofsetthr</code></td>
<td>Configure the OOF time counter threshold for entering LOF state. Resolution of this threshold is one frame.</td>
<td><code>RW</code></td>
<td><code>0x18</code></td>
<td><code>0x18</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>rxfrmlofclrthr</code></td>
<td>Configure the In-frame time counter threshold for exiting LOF state. Resolution of this threshold is one frame.</td>
<td><code>RW</code></td>
<td><code>0x18</code></td>
<td><code>0x18 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-global-tx-framer-control">OCN Global Tx Framer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the global configuration register for the Tx Framer</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>glbtfm_reg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>txlineooffrc</code></td>
<td>Enable/disable force OOF for 4 tx lines. Bit[0] for line 0.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>txlineb1errfrc</code></td>
<td>Enable/disable force B1 error for 4 tx lines. Bit[0] for line 0.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>txfrmscren</code></td>
<td>Enable/disable scrambling for 4 tx lines. Bit[0] for line 0. 1: Enable 0: Disable</td>
<td><code>RW</code></td>
<td><code>0xf</code></td>
<td><code>0xf</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>txfrmstmocnmode</code></td>
<td>STM rate mode for Tx of 4 lines, each line use 2 bits.Bits[1:0] for line 0 0: OC48 1: OC12 2: OC3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-status">OCN Rx Framer Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00010 - 0x00040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00010 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>oofcurstatus</code></td>
<td>OOF current status in the related line. 1: OOF state 0: Not OOF state.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lofcurstatus</code></td>
<td>LOF current status in the related line. 1: LOF state 0: Not LOF state.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>loscurstatus</code></td>
<td>LOS current status in the related line. 1: LOS state 0: Not LOS state.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-sticky">OCN Rx Framer Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer sticky</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmstk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00011 - 0x00041</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00011 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>oc3algerrstk</code></td>
<td>Set 1 while any error detected at OC3 Aligner engine.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>clkmonerrstk</code></td>
<td>Set 1 while any error detected at Error clock monitor engine.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>oofstatechgstk</code></td>
<td>Set 1 while OOF state change event happens in the related line.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lofstatechgstk</code></td>
<td>Set 1 while LOF state change event happens in the related line.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>losstatechgstk</code></td>
<td>Set 1 while LOS state change event happens in the related line.</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-b1-error-counter-read-only">OCN Rx Framer B1 error counter read only</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer B1 error counter read only</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmb1cntro</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00012 - 0x00042</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00012 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rxfrmb1errro</code></td>
<td>Number of B1 error - read only</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End : Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ocn-rx-framer-b1-error-counter-read-to-clear">OCN Rx Framer B1 error counter read to clear</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Rx Framer B1 error counter read to clear</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfrmb1cntr2c</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00013 - 0x00043</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00013 + 16*LineId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$LineId(0-3)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>rxfrmb1errr2c</code></td>
<td>Number of B1 error - read to clear</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End :</code></td>
</tr>
</tbody>
</table>