<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_pla_debug">AF6CNC0022_RD_PLA_DEBUG</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Payload Assembler clk311 Control</code></td>
<td><code>0x0_0000 - 0x1A000</code></td>
</tr>
<tr>
<td><code>Payload Assembler OC48 clk311 Sticky</code></td>
<td><code>0x0_0001 - 0x1_A001</code></td>
</tr>
<tr>
<td><code>Payload Assembler Buffer Sticky 1</code></td>
<td><code>0x4_2000</code></td>
</tr>
<tr>
<td><code>Payload Assembler Buffer Sticky 2</code></td>
<td><code>0x4_2001</code></td>
</tr>
<tr>
<td><code>Payload Assembler Buffer Sticky 3</code></td>
<td><code>0x4_2002</code></td>
</tr>
<tr>
<td><code>Payload Assembler Buffer Block Number Status</code></td>
<td><code>0x4_2010</code></td>
</tr>
<tr>
<td><code>Payload Assembler Buffer Cache Number Status</code></td>
<td><code>0x4_2011</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-clk311-control">Payload Assembler clk311 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control pwid for debug</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_clk311_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_0000 - 0x1A000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_0000 + $Oc96Slice*32768 + $Oc48Slice*8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc96Slice(0-3): OC-96 slices, there are total 4xOC-96 slices for 20G</code></p>
</li>
<li>
<p><code>$Oc48Slice(0-1): OC-48 slices, there are total 2xOC-48 slices per OC-96 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[22:12]</code></td>
<td><code>pwid_for_debug</code></td>
<td></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:0]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-oc48-clk311-sticky">Payload Assembler OC48 clk311 Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug per OC-48 @clk311.02 domain</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_oc48_clk311_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_0001 - 0x1_A001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_0001 + $Oc96Slice*32768 + $Oc48Slice*8192</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc96Slice(0-3): OC-96 slices, there are total 4xOC-96 slices for 20G</code></p>
</li>
<li>
<p><code>$Oc48Slice(0-1): OC-48 slices, there are total 2xOC-48 slices per OC-96 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>14</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[11]</code></td>
<td><code>pla311oc48_converr</code></td>
<td>OC48 conver clock error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>pla311oc48_inpospw</code></td>
<td>OC48 input CEP Pos based PW</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>pla311oc48_innegpw</code></td>
<td>OC48 input CEP Neg based PW</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>pla311oc48_invalodpw</code></td>
<td>OC48 input Valid based PW</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>pla311oc48_invalid</code></td>
<td>OC48 input valid</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pla311oc48_inaispw</code></td>
<td>OC48 input AIS based PW</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pla311oc48_inais</code></td>
<td>OC48 input AIS</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pla311oc48_inj1pospw</code></td>
<td>OC48 input CEP J1 Posiion based PW</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pla311oc48_inpos</code></td>
<td>OC48 input CEP Pos Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pla311oc48_inneg</code></td>
<td>OC48 input CEP Neg Pointer</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pla311oc48_inj1pos</code></td>
<td>OC48 input CEP J1 Position</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-buffer-sticky-1">Payload Assembler Buffer Sticky 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug#1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_buf_stk1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_2000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[30]</code></td>
<td><code>plagetallblkerr</code></td>
<td>Get All Block Type Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>plagethiblkerr</code></td>
<td>Get Hi-Block Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>plagetloblkerr</code></td>
<td>Get Lo-Block Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>plaallcaempt</code></td>
<td>All Cache Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plagetca512err</code></td>
<td>Get cache-512 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>plagetca256err</code></td>
<td>Get cache-256 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>plagetca128err</code></td>
<td>Get cache-128 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>plawrhiblknearful</code></td>
<td>Monitor high block near full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>plawrloblknearful</code></td>
<td>Monitor low block near full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>plawrcanearful</code></td>
<td>Monitor total cache near full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>plawrblkerr</code></td>
<td>block fail due to near empty cache/block</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plawrddrfifoful</code></td>
<td>Write DDR Fifo Full (due to 1st or 2nd buffer)</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>plawrddrlenerr</code></td>
<td>Write DDR Check Length Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>plahiblkempt</code></td>
<td>High Block Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>plaloblkempt</code></td>
<td>Low Block Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plawrddrreorrdfifoful</code></td>
<td>Write DDR Reorder Mux Read Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>plawrddrreorwrfifoful</code></td>
<td>Write DDR Reorder Mux Write Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plahiblksame</code></td>
<td>High Block Same Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plaloblksame</code></td>
<td>Low Block Same Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>placa512empt</code></td>
<td>Cache 512 Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>placa256empt</code></td>
<td>Cache 256 Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>placa128empt</code></td>
<td>Cache 128 Empty Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>placa512same</code></td>
<td>Cache 512 Same Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>placa256same</code></td>
<td>Cache 256 Same Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>placa128same</code></td>
<td>Cache 128 Same Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plamaxlengtherr</code></td>
<td>Max Length Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plareqwrddrnearful</code></td>
<td>Request write DDR near full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plafreeblockset</code></td>
<td>Free Block Set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plafreecacheset</code></td>
<td>Free Cache Set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-buffer-sticky-2">Payload Assembler Buffer Sticky 2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug#2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_buf_stk2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_2001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plawrddrreordererr</code></td>
<td>Write DDR Reorder Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>plawrddrbuf1stfifoful</code></td>
<td>Write DDR Buffer 1st Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>plawrddrbuf2ndfifoful</code></td>
<td>Write DDR Buffer 2nd Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>plawrddrackfifoful</code></td>
<td>Write DDR ACK Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>plapkbufffful</code></td>
<td>Packet Buffer Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plapkbufffrdy</code></td>
<td>Packet Buffer Fifo Ready</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>plapkbuffull</code></td>
<td>Packet Buffer Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>plapkbufnotempt</code></td>
<td>Packet Buffer Not Empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plardportpktdis</code></td>
<td>Read Port Side Packet Disabled</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>plardportpktfferr</code></td>
<td>Read Port Side Packet Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>plardportdatfferr</code></td>
<td>Read Port Side Data Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>plardportinffferr</code></td>
<td>Read Port Side Info Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plardbufdatpkvldfferr</code></td>
<td>Read Buf Side Pkt Vld Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>plardbufdatreqvldfferr</code></td>
<td>Read Buf Side Data Request Vld Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plardbufpsnackfferr</code></td>
<td>Read Buf Side PSN Ack Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>plardbufpsnvldfferr</code></td>
<td>Read Buf Side PSN Vld Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plamuxpwsl96_3_sl48_1_err</code></td>
<td>Fifo Mux PW SLice48#1 of Slice96#3 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plamuxpwsl96_3_sl48_0_err</code></td>
<td>Fifo Mux PW Slice48#0 of Slice96#3 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plamuxpwsl96_2_sl48_1_err</code></td>
<td>Fifo Mux PW Slice48#1 of Slice96#2 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plamuxpwsl96_2_sl48_0_err</code></td>
<td>Fifo Mux PW Slice48#0 of Slice96#2 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plamuxpwsl96_1_sl48_1_err</code></td>
<td>Fifo Mux PW SLice48#1 of Slice96#1 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plamuxpwsl96_1_sl48_0_err</code></td>
<td>Fifo Mux PW Slice48#0 of Slice96#1 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plamuxpwsl96_0_sl48_1_err</code></td>
<td>Fifo Mux PW Slice48#1 of Slice96#0 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plamuxpwsl96_0_sl48_0_err</code></td>
<td>Fifo Mux PW Slice48#0 of Slice96#0 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plamuxpwsl96_3_err</code></td>
<td>Fifo Mux PW Slice96#3 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plamuxpwsl96_2_err</code></td>
<td>Fifo Mux PW Slice96#2 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plamuxpwsl96_1_err</code></td>
<td>Fifo Mux PW Slice96#1 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plamuxpwsl96_0_err</code></td>
<td>Fifo Mux PW Slice96#0 Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-buffer-sticky-3">Payload Assembler Buffer Sticky 3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to used to sticky some alarms for debug#3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_buf_stk3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_2002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plawrddrbak7fifoful</code></td>
<td>Write DDR Bak#7 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>plawrddrbak6fifoful</code></td>
<td>Write DDR Bak#6 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>plawrddrbak5fifoful</code></td>
<td>Write DDR Bak#5 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>plawrddrbak4fifoful</code></td>
<td>Write DDR Bak#4 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>plawrddrbak3fifoful</code></td>
<td>Write DDR Bak#3 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plawrddrbak2fifoful</code></td>
<td>Write DDR Bak#2 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>plawrddrbak1fifoful</code></td>
<td>Write DDR Bak#1 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>plawrddrbak0fifoful</code></td>
<td>Write DDR Bak#0 Fifo Full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>plapktinfofifonearful</code></td>
<td>Packet Info Fifo near full</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>plaqdrpsnreqset</code></td>
<td>QDR PSN Request set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>plaqdrpsnackset</code></td>
<td>QDR PSN Ack set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>plaqdrpsnvldset</code></td>
<td>QDR PSN valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>plafreblkrefifoerr</code></td>
<td>Free Block Return Fifo Error</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>pladdrrdreqset</code></td>
<td>DDR Read Request set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>pladdrrdackset</code></td>
<td>DDR Read Ack set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>pladdrrdvldset</code></td>
<td>DDR Read valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plablkmdouteopset</code></td>
<td>Output block module EOP set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>pladdrwrreqset</code></td>
<td>DDR Write Request set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>pladdrwrackset</code></td>
<td>DDR Write Ack set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>pladdrwrvldset</code></td>
<td>DDR Write valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>plablkmdinvldset</code></td>
<td>Input block module valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>plablkmdineopset</code></td>
<td>Input block module EOP set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>plapwegetpsnerr1</code></td>
<td>PWE to get PSN Error due to empty</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plapwegetpsnerr0</code></td>
<td>PWE to get PSN Error due to PSN len</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plapwegetpsn</code></td>
<td>PWE to get PSN from PLA</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plareadydat4pwe</code></td>
<td>Ready data for PWE</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plapwegetdat</code></td>
<td>PWE to get data from PLA</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plaready2rdpkt</code></td>
<td>Read Port ready to read packet Info</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>plardpkinfvldset</code></td>
<td>Read Packet Info Valid Set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>plawrpkinfvldset</code></td>
<td>Write Packet Info Valid Set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plablkmdoutvldset</code></td>
<td>Output block module valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plapwcoreoutvldset</code></td>
<td>Output pwcore valid set</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-buffer-block-number-status">Payload Assembler Buffer Block Number Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store current blocks number</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_buf_blk_num_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_2010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[35:20]</code></td>
<td><code>hiblknum</code></td>
<td>Current High Block Number (init value is 0x6000)</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>loblknum</code></td>
<td>Current Low Block Number (init value is 0x10000)</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-buffer-cache-number-status">Payload Assembler Buffer Cache Number Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store current caches number</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_buf_blk_cache_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_2011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[43:32]</code></td>
<td><code>ca512num</code></td>
<td>Current Cache-512 Number (init value is 0x800)</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:16]</code></td>
<td><code>ca256num</code></td>
<td>Current Cache-256 Number (init value is 0x2000)</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:0]</code></td>
<td><code>ca128num</code></td>
<td>Current Cache-128 Number (init value is 0x2A00)</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>