<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_glbpmc">AF6CNC0022_RD_GLBPMC</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CPU Reg Hold 0</code></td>
<td><code>0x3_B319</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x0_0000-0x0_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x8_0000-0x8_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x0_8000-0x0_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x8_8000-0x8_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x1_0000-0x1_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x9_0000-0x9_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x1_8000-0x1_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x9_8000-0x9_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Byte Counter</code></td>
<td><code>0x6_8000-0x6_A9FF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Byte Counter</code></td>
<td><code>0x7_0000-0x7_29FF(RW)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0x3_B040-0x3_B06F(RW)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0xB_B040-0xB_B06F(RW)</code></td>
</tr>
<tr>
<td><code>POH path sts ERDI Counter1</code></td>
<td><code>0x3_D800-0x3_DDFF (RW)</code></td>
</tr>
<tr>
<td><code>POH path sts ERDI Counter1</code></td>
<td><code>0xB_D800-0xB_DDFF (RW)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter0</code></td>
<td><code>0x6_4000 - 0x6_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter0</code></td>
<td><code>0xE_4000 - 0xE_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter1</code></td>
<td><code>0x4_4000 - 0x4_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH path vt ERDI Counter1</code></td>
<td><code>0xC_4000 - 0xC_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 0</code></td>
<td><code>0x5_4000-0x5_7EFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 0</code></td>
<td><code>0xD_4000-0xD_7EFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 1</code></td>
<td><code>0x4_C000-0x4_FEFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 1</code></td>
<td><code>0xC_C000-0xC_FEFF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x3_F800-0x3_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0xB_F800-0xB_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus1</code></td>
<td><code>0x3_0800-0x3_0FDF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus1</code></td>
<td><code>0x3_1800-0x3_1FDF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus2</code></td>
<td><code>0x3_0000-0x3_07FF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter Bus2</code></td>
<td><code>0x3_1000-0x3_17FF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0x3_8800-0x3_8DFF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0xB_8800-0xB_8DFF(RW)</code></td>
</tr>
<tr>
<td><code>Global PMC 2page Interrupt Sticky</code></td>
<td><code>0x3_BFFB</code></td>
</tr>
</tbody>
</table>
<h3 id="cpu-reg-hold-0">CPU Reg Hold 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides hold register from [63:32]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>hold_reg0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B319</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>hold0</code></td>
<td>Hold from  [63:32]bit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_0000-0x0_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : Unused in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : txpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter_1">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0000-0x8_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : Unused in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : txpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_8000-0x0_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxlate + offset = 1 : rxpbit + offset = 2 : rxlbit in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0_1">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_8000-0x8_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxlate + offset = 1 : rxpbit + offset = 2 : rxlbit in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_0000-0x1_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxearly + offset = 1 : rxlops + offset = 2 : Unused in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxlost + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1_1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0000-0x9_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxearly + offset = 1 : rxlops + offset = 2 : Unused in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxlost + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_8000-0x1_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info2</code></td>
<td>in case of rxpwcnt_info2_cnt0 side: + offset = 0 : rxoverrun + offset = 1 : rxunderrun + offset = 2 : rxmalform in case of rxpwcnt_info2_cnt1 side: + offset = 0 : Unused + offset = 1 : Unused + offset = 2 : rxstray</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2_1">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_8000-0x9_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info2</code></td>
<td>in case of rxpwcnt_info2_cnt0 side: + offset = 0 : rxoverrun + offset = 1 : rxunderrun + offset = 2 : rxmalform in case of rxpwcnt_info2_cnt1 side: + offset = 0 : Unused + offset = 1 : Unused + offset = 2 : rxstray</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-byte-counter">Pseudowire Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pwcntbyte_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_8000-0x6_A9FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_8000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>pwcntbyte</code></td>
<td>txpwcntbyte (rxpwcntbyte)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-byte-counter_1">Pseudowire Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pwcntbyte_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_0000-0x7_29FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_0000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>pwcntbyte</code></td>
<td>txpwcntbyte (rxpwcntbyte)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_B040-0x3_B06F(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_B040 + 16*$offset + $lineid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$lineid(0-15)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b2 + offset = 2 : b1 in case of pmr_err_cnt1 side: + offset = 0 : rei_l_block_err + offset = 1 : b2_block_err + offset = 2 : b1_block_err</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter_1">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB_B040-0xB_B06F(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xB_B040 + 16*$offset + $lineid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$lineid(0-15)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b2 + offset = 2 : b1 in case of pmr_err_cnt1 side: + offset = 0 : rei_l_block_err + offset = 1 : b2_block_err + offset = 2 : b1_block_err</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-sts-erdi-counter1">POH path sts ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_sts_ber_erdi1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_D800-0x3_DDFF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_D800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : sts_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : sts_bip(B3) + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-sts-erdi-counter1_1">POH path sts ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_sts_ber_erdi1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB_D800-0xB_DDFF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xB_D800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : sts_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : sts_bip(B3) + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter0">POH path vt ERDI Counter0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_4000 - 0x6_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter0_1">POH path vt ERDI Counter0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xE_4000 - 0xE_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xE_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter1">POH path vt ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_4000 - 0x4_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-erdi-counter1_1">POH path vt ERDI Counter1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pohpmdat_vt_ber_erdi1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xC_4000 - 0xC_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xC_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_ber_erdi</code></td>
<td>in case of pohpath_ber_erdi_cnt2 side: + offset = 0 : vt_rei + offset = 1 : Unused + offset = 2 : Unused in case of pohpath_ber_erdi_cnt3 side: + offset = 0 : vt_bip + offset = 1 : Unused + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-0">POH vt pointer Counter 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_4000-0x5_7EFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-0_1">POH vt pointer Counter 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xD_4000-0xD_7EFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xD_4000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-1">POH vt pointer Counter 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_C000-0x4_FEFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_C000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-1_1">POH vt pointer Counter 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xC_C000-0xC_FEFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xC_C000 + 5376*$offset + 672*$slcid +  28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + offset = 0 : pohtx_vt_dec + offset = 1 : pohrx_vt_dec + offset = 2 : Unused in case of poh_vt_cnt1 side: + offset = 0 : pohtx_vt_inc + offset = 1 : pohrx_vt_inc + offset = 2 : Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_F800-0x3_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_F800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_sts_cnt0 side: + offset = 0 :  pohtx_sts_dec + offset = 1 :  pohrx_sts_dec + offset = 2 :  Unused in case of poh_sts_cnt1 side: + offset = 0 :  pohtx_sts_inc + offset = 1 :  pohrx_sts_inc + offset = 2 :  Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter_1">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB_F800-0xB_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xB_F800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_sts_cnt0 side: + offset = 0 :  pohtx_sts_dec + offset = 1 :  pohrx_sts_dec + offset = 2 :  Unused in case of poh_sts_cnt1 side: + offset = 0 :  pohtx_sts_inc + offset = 1 :  pohrx_sts_inc + offset = 2 :  Unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus1">PDH ds1 cntval Counter Bus1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_0800-0x3_0FDF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_0800 + 4096*$slcid + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>in case of ds1_cntval_bus1_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus1_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus1_1">PDH ds1 cntval Counter Bus1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_1800-0x3_1FDF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_1800 + 4096*$slcid + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>in case of ds1_cntval_bus1_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus1_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus2">PDH ds1 cntval Counter Bus2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval74_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_0000-0x3_07FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_0000 + 4096*$slcid + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus2_cnt</code></td>
<td>in case of ds1_cntval_bus2_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus2_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter-bus2_1">PDH ds1 cntval Counter Bus2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval74_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_1000-0x3_17FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_1000 + 4096*$slcid + 672*$offset + 28*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$stsid(0-23)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus2_cnt</code></td>
<td>in case of ds1_cntval_bus2_cnt0 side: + offset = 0 : fe + offset = 1 : rei + offset = 2 : unused in case of ds1_cntval_bus2_cnt1 side: + offset = 0 : crc + offset = 1 : lcv + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_8800-0x3_8DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_8800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>in case of ds3_cntval_cnt0 side: + offset = 0 : fe + offset = 1 : pb + offset = 2 : lcv in case of ds3_cntval_cnt1 side: + offset = 0 : rei + offset = 1 : cb + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter_1">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0xB_8800-0xB_8DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0xB_8800 + 512*$offset +  64*$slcid + $stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-63)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>in case of ds3_cntval_cnt0 side: + offset = 0 : fe + offset = 1 : pb + offset = 2 : lcv in case of ds3_cntval_cnt1 side: + offset = 0 : rei + offset = 1 : cb + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-pmc-2page-interrupt-sticky">Global PMC 2page Interrupt Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides hold register from [63:32]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_glbpmcint</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_BFFB</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>R1C</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>pmrintsticky</code></td>
<td>Pmr     Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pohpmvtintsticky</code></td>
<td>Pohpmvt Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pohpmstsintsticky</code></td>
<td>Pohpmsts Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pohintsticky</code></td>
<td>Poh    Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdhde1intsticky</code></td>
<td>Pdhde1 Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdhde3intsticky</code></td>
<td>Pdhde3 Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pwcntintsticky</code></td>
<td>Pwcnt  Interrupt Sticky  1: Set  0: Clear</td>
<td><code>R1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>