<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_map">AF6CNC0022_RD_MAP</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Demap Channel Control</code></td>
<td><code>0x000000-0x007FFF</code></td>
</tr>
<tr>
<td><code>Demap HO Channel Control</code></td>
<td><code>0x8300</code></td>
</tr>
<tr>
<td><code>Map Line Control</code></td>
<td><code>0x010000-0x0107FF</code></td>
</tr>
<tr>
<td><code>Map Channel Control</code></td>
<td><code>0x018000-0x01FFFF</code></td>
</tr>
<tr>
<td><code>Map IDLE Code</code></td>
<td><code>0x010800</code></td>
</tr>
<tr>
<td><code>RAM Map Parity Force Control</code></td>
<td><code>0x10808</code></td>
</tr>
<tr>
<td><code>RAM Map Parity Disable Control</code></td>
<td><code>0x10809</code></td>
</tr>
<tr>
<td><code>RAM Map parity Error Sticky</code></td>
<td><code>0x1080a</code></td>
</tr>
<tr>
<td><code>RAM DeMap Parity Force Control</code></td>
<td><code>0x08218</code></td>
</tr>
<tr>
<td><code>RAM DeMap Parity Disable Control</code></td>
<td><code>0x08219</code></td>
</tr>
<tr>
<td><code>RAM DeMap parity Error Sticky</code></td>
<td><code>0x0821a</code></td>
</tr>
</tbody>
</table>
<h3 id="demap-channel-control">Demap Channel Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers are used by the hardware to convert channel identification number to STS/VT/PDH identification number. All STS/VT/PDHs of a concatenation are assigned the same channel identification number.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>demap_channel_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000000-0x007FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000000 + 672*stsid + 96*vtgid + 24*vtid + slotid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47): is STS identification number)</code></p>
</li>
<li>
<p><code>$vtgid(0-6): is VT Group identification number</code></p>
</li>
<li>
<p><code>$vtid(0-3): is VT identification number</code></p>
</li>
<li>
<p><code>$slotid(0-23): is time slot number. It varies from 0 to 23 in DS1 and from 0 to 31 in E1</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>demapfirstts</code></td>
<td>First timeslot indication. Use for CESoP mode only</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>demapchanneltype</code></td>
<td>Specify which type of mapping for this. Specify which type of mapping for this. 0: SAToP encapsulation from DS1/E1, DS3/E3 1: CESoP encapsulation from DS1/E1 2: ATM over DS1/ E1, SONET/SDH (unused) 3: IMA over DS1/E1, SONET/SDH(unused) 4: HDLC/PPP/LAPS over DS1/E1, SONET/SDH(unused) 5: MLPPP over DS1/E1, SONET/SDH(unused) 6: CEP encapsulation from SONET/SDH 7: VCAT/LCAS/PLCP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>demappwen</code></td>
<td>PW/Channels Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>demappwidfield</code></td>
<td>PW ID field that uses for Encapsulation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="demap-ho-channel-control">Demap HO Channel Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers are used by the hardware to configure PW channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>demapho_channel_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8300</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8300 + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$stsid(0-47): is STS in OC48 HDL_PATH     : rtldemap1.hodemap.demap_pw_cfg_ins.membuf.array.ram[$stsid]</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:8]</code></td>
<td><code>demappwidfield</code></td>
<td>PW ID field that uses for Encapsulation</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>demapchen</code></td>
<td>0:Disable,  1:Enable as HO path</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5:3]</code></td>
<td><code>demapchanneltype</code></td>
<td>Specify which type of mapping for this. Specify which type of mapping for this. 0: Unused 1: Unused 2: Unused 3: Unused 4: HDLC/PPP/LAPS over DS1/E1, SONET/SDH(unused) 5: MLPPP over DS1/E1, SONET/SDH(unused) 6: CEP encapsulation from SONET/SDH 7: VCAT/LCAS/PLCP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>demapsr_vc3n3c</code></td>
<td>0:slave of VC3_N3c  1:master of VC3-N3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>demapsrctype</code></td>
<td>0:VC3 1:VC3-3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>demappwen</code></td>
<td>PW Channels Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="map-line-control">Map Line Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers provide the per line configurations for STS/VT/DS1/E1 line.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>map_line_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x010000-0x0107FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x010000 + 32*stsid + 4*vtgid + vtid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47): is STS identification number</code></p>
</li>
<li>
<p><code>$vtgid(0-6): is VT Group identification number</code></p>
</li>
<li>
<p><code>$vtid(0-3): is VT identification number HDL_PATH     : rtlmap1.map_src_cfg_ram.array.ram[32*stsid + 4*vtgid + vtid]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[20:18]</code></td>
<td><code>mapds1lcen</code></td>
<td>DS1E1 Loop code insert enable 0: Disable 1: CSU Loop up 2: CSU Loop down 3: FA1 Loop up 4: FA1 Loop down 5: FA2 Loop up 6: FA2 Loop down</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:16]</code></td>
<td><code>mapframetype</code></td>
<td>depend on MapSigType[3:0], the MapFrameType[1:0] bit field can have difference meaning. 0: DS1 SF/E1 BF/E3 G.751(unused) /DS3 framing(unused)/VT1.5,VT2,VT6 normal/STS no POH, no Stuff 1: DS1 ESF/E1 CRC/E3 G.832(unused)/DS1,E1,VT1.5,VT2 fractional 2: CEP DS3/E3/VC3 fractional 3:CEP basic mode or VT with POH/STS with POH, Stuff/DS1,E1,DS3,E3 unframe mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>mapsigtype</code></td>
<td>0: DS1 1: E1 2: DS3 (unused) 3: E3 (unused) 4: VT 1.5 5: VT 2 6: unused 7: unused 8: VC3 9: VC4 10: STS12c/VC4_4c 11: STS48c/VC4_16c 12: TU3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>maptimesrcmaster</code></td>
<td>This bit is used to indicate the master timing or the master VC3 in VC4/VC4-Xc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>maptimesrcid</code></td>
<td>The reference line ID used for timing reference or the master VC3 ID in VC4/VC4-Xc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="map-channel-control">Map Channel Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers are used by the hardware to convert channel identification number to STS/VT/PDH identification number. All STS/VT/PDHs of a concatenation are assigned the same channel identification number.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>map_channel_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x018000-0x01FFFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x018000 + 672*stsid + 96*vtgid + 24*vtid + slotid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47): is STS identification number)</code></p>
</li>
<li>
<p><code>$vtgid(0-6): is VT Group identification number</code></p>
</li>
<li>
<p><code>$vtid(0-3): is VT identification number</code></p>
</li>
<li>
<p><code>$slotid(0-23): is time slot number. It varies from 0 to 23 in DS1 and from 0 to 31 in E1</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>mapfirstts</code></td>
<td>First timeslot indication. Use for CESoP mode only</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:12]</code></td>
<td><code>mapchanneltype</code></td>
<td>Specify which type of mapping for this. Specify which type of mapping for this. 0: SAToP encapsulation from DS1/E1, DS3/E3 1: CESoP encapsulation from DS1/E1 2: CESoP with CAS 3: ATM(unused) 4: HDLC/PPP/LAPS over DS1/E1, SONET/SDH(unused) 5: MLPPP over DS1/E1, SONET/SDH(unused) 6: CEP encapsulation from SONET/SDH 7: VCAT/LCAS/PLCP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>mapchen</code></td>
<td>PW/Channels Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>mappwidfield</code></td>
<td>PW ID field that uses for Encapsulation.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="map-idle-code">Map IDLE Code</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers provide the idle pattern</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>map_idle_code</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x010800</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7:0]</code></td>
<td><code>idlecode</code></td>
<td>Idle code</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-force-control">RAM Map Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10808</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>maplinectrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;MAP Thalassa Map Line Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapchlctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;MAP Thalassa Map Channel Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-disable-control">RAM Map Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Disable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10809</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>maplinectrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;MAP Thalassa Map Line Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapchlctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;MAP Thalassa Map Channel Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-error-sticky">RAM Map parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1080a</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>maplinectrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;MAP Thalassa Map Line Control&rdquo;</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapchlctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;MAP Thalassa Map Channel Control&rdquo;</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-force-control">RAM DeMap Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08218</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>demapchlctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;DeMAP Thalassa DeMap Channel Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-disable-control">RAM DeMap Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Disable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x08219</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>demapchlctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;DeMAP Thalassa DeMap Channel Control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-error-sticky">RAM DeMap parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0821a</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>demapchlctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;DeMAP Thalassa DeMap Channel Control&rdquo;</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>