<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-08-06</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_eth40g_rd">AF6CNC0022_ETH40G_RD</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>ETH 40G DRP</code></td>
<td><code>0x1000-0x1FFF</code></td>
</tr>
<tr>
<td><code>ETH 40G LoopBack</code></td>
<td><code>0x0002</code></td>
</tr>
<tr>
<td><code>ETH 40G QLL Status</code></td>
<td><code>0x000B</code></td>
</tr>
<tr>
<td><code>ETH 40G TX Reset</code></td>
<td><code>0x000C</code></td>
</tr>
<tr>
<td><code>ETH 40G RX Reset</code></td>
<td><code>0x000D</code></td>
</tr>
<tr>
<td><code>ETH 40G LPMDFE Mode</code></td>
<td><code>0x000E</code></td>
</tr>
<tr>
<td><code>ETH 40G LPMDFE Reset</code></td>
<td><code>0x000F</code></td>
</tr>
<tr>
<td><code>ETH 40G TXDIFFCTRL</code></td>
<td><code>0x0010</code></td>
</tr>
<tr>
<td><code>ETH 40G TXPOSTCURSOR</code></td>
<td><code>0x0011</code></td>
</tr>
<tr>
<td><code>ETH 40G TXPRECURSOR</code></td>
<td><code>0x0012</code></td>
</tr>
<tr>
<td><code>ETH 40G Ctrl FCS</code></td>
<td><code>0x0080</code></td>
</tr>
<tr>
<td><code>ETH 40G AutoNeg</code></td>
<td><code>0x0081</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl0</code></td>
<td><code>0x0020</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl1</code></td>
<td><code>0x0021</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl2</code></td>
<td><code>0x0022</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl3</code></td>
<td><code>0x0023</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl4</code></td>
<td><code>0x0024</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Ctrl7</code></td>
<td><code>0x0027</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag Sta0</code></td>
<td><code>0x0040</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag TXPKT</code></td>
<td><code>0x0042</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag TXNOB</code></td>
<td><code>0x0043</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag RXPKT</code></td>
<td><code>0x0044</code></td>
</tr>
<tr>
<td><code>ETH 40G Diag RXNOB</code></td>
<td><code>0x0045</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-drp">ETH 40G DRP</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Read/Write DRP address of SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>OETH_40G_DRP</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1000-0x1FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1000+$P*0x400+$DRP</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$P(0-3) : Lane ID</code></p>
</li>
<li>
<p><code>$DRP(0-1023) : DRP address, see UG578</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:00]</code></td>
<td><code>drp_rw</code></td>
<td>DRP read/write value</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-loopback">ETH 40G LoopBack</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configurate LoopBack</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_LoopBack</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>lpback_lane3</code></td>
<td 0>Loopback lane3<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:08]</code></td>
<td><code>lpback_lane2</code></td>
<td 0>Loopback lane2<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:04]</code></td>
<td><code>lpback_lane1</code></td>
<td 0>Loopback lane1<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>lpback_lane0</code></td>
<td 0>Loopback lane0<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-qll-status">ETH 40G QLL Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>QPLL status</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_QLL_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[29:29]</code></td>
<td><code>qpll1_lock_change</code></td>
<td 1>QPLL1 has transition lock/unlock, Group 0-3<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28:28]</code></td>
<td><code>qpll0_lock_change</code></td>
<td 1>QPLL0 has transition lock/unlock, Group 0-3<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:26]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[25:25]</code></td>
<td><code>qpll1_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>qpll0_lock</code></td>
<td 1>QPLL0 is Locked, Group 0-3<br></td>
<td><code>R_O</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:00]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-tx-reset">ETH 40G TX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset TX SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_TX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>txrst_done</code></td>
<td 1>TX Reset Done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>txrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset TX SERDES</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-rx-reset">ETH 40G RX Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset RX SERDES</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_49G_RX_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000D</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:17]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>rxrst_done</code></td>
<td 1>RX Reset Done<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>rxrst_trig</code></td>
<td>Trige 0-&gt;1 to start reset RX SERDES</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-lpmdfe-mode">ETH 40G LPMDFE Mode</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Configure LPM/DFE mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_LPMDFE_Mode</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000E</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_mode</code></td>
<td 0>LPM/DFE mode<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-lpmdfe-reset">ETH 40G LPMDFE Reset</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Reset LPM/DFE</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_LPMDFE_Reset</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>lpmdfe_reset</code></td>
<td 1>LPM/DFE reset<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-txdiffctrl">ETH 40G TXDIFFCTRL</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Driver Swing Control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 158 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_TXDIFFCTRL</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txdiffctrl</code></td>
<td>TXDIFFCTRL</td>
<td><code>R/W</code></td>
<td><code>0x18</code></td>
<td><code>0x18</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-txpostcursor">ETH 40G TXPOSTCURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter post-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 160 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_TXPOSTCURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txpostcursor</code></td>
<td>TXPOSTCURSOR</td>
<td><code>R/W</code></td>
<td><code>0x15</code></td>
<td><code>0x15</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-txprecursor">ETH 40G TXPRECURSOR</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Transmitter pre-cursor TX pre-emphasis control, see &ldquo;Table 3-35: TX Configurable Driver Ports&rdquo; page 161 of UG578 for more detail</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_TXPRECURSOR</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:05]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[04:00]</code></td>
<td><code>txprecursor</code></td>
<td>TXPRECURSOR</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-ctrl-fcs">ETH 40G Ctrl FCS</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure FCS mode</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Ctrl_FCS</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0080</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>txfcs_ignore</code></td>
<td 1>TX ignore check FCS when txfcs_ins is low<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>txfcs_ins</code></td>
<td 1>TX inserts 4bytes FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[03:02]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>rxfcs_ignore</code></td>
<td 1>RX ignore check FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>rxfcs_rmv</code></td>
<td 1>RX remove 4bytes FCS<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-autoneg">ETH 40G AutoNeg</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>configure Auto-Neg</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_AutoNeg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0081</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[09:08]</code></td>
<td><code>an_lt_sta</code></td>
<td 0>Link Control outputs from the auto-negotiationcontroller for the various Ethernet protocols.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>lt_restart</code></td>
<td 1>This signal triggers a restart of link training regardless of the current state.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>lt_enb</code></td>
<td 1>Enables link training. When link training is disabled, all PCS lanes function in mission mode.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>an_restart</code></td>
<td 1>This input is used to trigger a restart of the auto-negotiation, regardless of what state the circuit is currently in.<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>an_bypass</code></td>
<td 1>Input to disable auto-negotiation and bypass the auto-negotiation function. If this input is asserted, auto-negotiation is turned off, but the PCS is connected to the output to allow operation.<br></td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>an_enb</code></td>
<td 1>Enable signal for auto-negotiation<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl0">ETH 40G Diag Ctrl0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 0</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:25]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>diag_err</code></td>
<td 1>Error detection<br></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:21]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>diag_ferr</code></td>
<td 1>Enable force error data of diagnostic packet<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[05:04]</code></td>
<td><code>diag_datmod</code></td>
<td 2>payload mod of ethernet frame<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>diag_enb</code></td>
<td 1>enable diagnostic block<br></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl1">ETH 40G Diag Ctrl1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 1</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl1</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>diag_lenmax</code></td>
<td>Maximum length of diagnostic packet, count from 0, min value is 63</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>diag_lenmin</code></td>
<td>Minimum length of diagnostic packet, count from 0, min value is 63</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl2">ETH 40G Diag Ctrl2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 2</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl2</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0022</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_dalsb</code></td>
<td>32bit-LSB DA of diagnostic packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl3">ETH 40G Diag Ctrl3</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 3</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl3</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0023</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_salsb</code></td>
<td>32bit-LSB SA of diagnostic packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl4">ETH 40G Diag Ctrl4</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 4</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl4</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0024</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>diag_damsb</code></td>
<td>16bit-MSB DA of diagnostic packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:00]</code></td>
<td><code>diag_samsb</code></td>
<td>16bit-MSB SA of diagnostic packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-ctrl7">ETH 40G Diag Ctrl7</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic control 7</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_ctrl7</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0027</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:19]</code></td>
<td><code>unsed</code></td>
<td>Unsed</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>status_gatetime_diag</code></td>
<td>Status Gatetime diagnostic 1:Running 0:Done-Ready</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>start_gatetime_diag</code></td>
<td>Config start Diagnostic trigger 0 to 1 for Start auto run with Gatetime Configuration</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:0]</code></td>
<td><code>time_cfg</code></td>
<td>Gatetime Configuration 1-86400 second</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-sta0">ETH 40G Diag Sta0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic Sta0</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_Sta0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
<td><em>n/a</em></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>diag_txmis_sop</code></td>
<td>Packet miss SOP</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>diag_txmis_eop</code></td>
<td>Packet miss EOP</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>diag_txsop_eop</code></td>
<td>Short packet, length is less than 16bytes</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>diag_txwff_ful</code></td>
<td>TX-Fifo is full</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>diag_rxmis_sop</code></td>
<td>Packet miss SOP</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>diag_rxmis_eop</code></td>
<td>Packet miss EOP</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>diag_rxsop_eop</code></td>
<td>Short packet, length is less than 16bytes  t</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>diag_rxwff_ful</code></td>
<td>RX-Fifo is full</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-txpkt">ETH 40G Diag TXPKT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic TX packet counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_TXPKT</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0042</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_txpkt</code></td>
<td>TX packet counter</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-txnob">ETH 40G Diag TXNOB</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic TX number of bytes counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_TXNOB</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0043</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_txnob</code></td>
<td>TX number of byte counter</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-rxpkt">ETH 40G Diag RXPKT</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic RX packet counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_RXPKT</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0044</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_rxpkt</code></td>
<td>RX packet counter</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>
<h3 id="eth-40g-diag-rxnob">ETH 40G Diag RXNOB</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Diagnostic RX number of bytes counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ETH_40G_Diag_RXNOB</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0045</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Configure</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>diag_rxnob</code></td>
<td>RX number of byte counter</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
</tbody>
</table>