<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_pdh_prm">AF6CNC0022_RD_PDH_PRM</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CONFIG CONTROL TX STUFF 0</code></td>
<td><code>0x0_C000</code></td>
</tr>
<tr>
<td><code>TX CONFIG FORCE ERROR PARITY</code></td>
<td><code>0x0_C010</code></td>
</tr>
<tr>
<td><code>TX CONFIG DIS PARITY</code></td>
<td><code>0x0_C011</code></td>
</tr>
<tr>
<td><code>TX STICKY PARITY</code></td>
<td><code>0x0_C012</code></td>
</tr>
<tr>
<td><code>CONFIG PRM BIT C/R &amp; STANDARD Tx</code></td>
<td><code>0x1_0000 - 0x1_3FFF</code></td>
</tr>
<tr>
<td><code>CONFIG PRM BIT L/B Tx</code></td>
<td><code>0x1_4000 - 0x1_7FFF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE TX PRM</code></td>
<td><code>0x2_0000 - 0x2_7FFF</code></td>
</tr>
<tr>
<td><code>COUNTER PACKET MESSAGE TX PRM</code></td>
<td><code>0x2_8000 - 0x2_FFFF</code></td>
</tr>
<tr>
<td><code>Config Buff Message PRM STANDARD</code></td>
<td><code>0x4_0000 - 0x4_3FFF</code></td>
</tr>
<tr>
<td><code>CONFIG CONTROL DESTUFF 0</code></td>
<td><code>0x4_AA00</code></td>
</tr>
<tr>
<td><code>COUNTER GOOD MESSAGE RX PRM</code></td>
<td><code>0x6_0000 - 0x6_7FFF</code></td>
</tr>
<tr>
<td><code>COUNTER DROP MESSAGE RX PRM</code></td>
<td><code>0x6_8000 - 0x6_FFFF</code></td>
</tr>
<tr>
<td><code>COUNTER MISS MESSAGE RX PRM</code></td>
<td><code>0x7_0000 - 0x7_7FFF</code></td>
</tr>
<tr>
<td><code>COUNTER BYTE MESSAGE RX PRM</code></td>
<td><code>0x7_8000 - 0x7_FFFF</code></td>
</tr>
<tr>
<td><code>RX CONFIG FORCE ERROR PARITY</code></td>
<td><code>0x4_AC00</code></td>
</tr>
<tr>
<td><code>RX CONFIG DIS PARITY</code></td>
<td><code>0x4_AC01</code></td>
</tr>
<tr>
<td><code>RX STICKY PARITY</code></td>
<td><code>0x4_AC02</code></td>
</tr>
<tr>
<td><code>PRM LB per Channel Interrupt Enable Control</code></td>
<td><code>0x4_8000-0x4_87FF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Interrupt Status</code></td>
<td><code>0x4_8800-0x4_8FFF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Current Status</code></td>
<td><code>0x4_9000-0x4_97FF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt per Channel Interrupt OR Status</code></td>
<td><code>0x4_9800-0x4_9820</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt OR Status</code></td>
<td><code>0x4_9FFF</code></td>
</tr>
<tr>
<td><code>PRM LB Interrupt Enable Control</code></td>
<td><code>0x4_9FFE</code></td>
</tr>
</tbody>
</table>
<h3 id="config-control-tx-stuff-0">CONFIG CONTROL TX STUFF 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control Stuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_cfg_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_C000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:08]</code></td>
<td><code>out_txcfg_ctrl0</code></td>
<td>reserve</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>fcs_err_ins</code></td>
<td>(0): disable,(1): enable insert error</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:02]</code></td>
<td><code>reserve1</code></td>
<td>reserve1</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>fcsinscfg</code></td>
<td>(1) enable insert FCS, (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-config-force-error-parity">TX CONFIG FORCE ERROR PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control FORCE ERROR PARITY</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txcfg_force</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_C010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>cfgforce_mdlbuff2_eng8</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>cfgforce_mdlbuff1_eng8</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>cfgforce_mdl_eng8</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>cfgforce_mdlbuff2_eng7</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>cfgforce_mdlbuff1_eng7</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>cfgforce_mdl_eng7</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>cfgforce_mdlbuff2_eng6</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>cfgforce_mdlbuff1_eng6</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>cfgforce_mdl_eng6</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>cfgforce_mdlbuff2_eng5</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>cfgforce_mdlbuff1_eng5</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>cfgforce_mdl_eng5</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>cfgforce_mdlbuff2_eng4</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfgforce_mdlbuff1_eng4</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>cfgforce_mdl_eng4</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>cfgforce_mdlbuff2_eng3</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>cfgforce_mdlbuff1_eng3</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>cfgforce_mdl_eng3</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>cfgforce_mdlbuff2_eng2</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>cfgforce_mdlbuff1_eng2</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfgforce_mdl_eng2</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfgforce_mdlbuff2_eng1</code></td>
<td>force error MDL buffer 2, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfgforce_mdlbuff1_eng1</code></td>
<td>force error MDL buffer 1, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfgforce_mdl_eng1</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgforce_lbprm</code></td>
<td>force error PRM LB config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgforce_prm</code></td>
<td>force error PRM config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-config-dis-parity">TX CONFIG DIS PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DIS PARITY</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txcfg_dis</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_C011</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>cfgdis_mdlbuff2_eng8</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>cfgdis_mdlbuff1_eng8</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>cfgdis_mdl_eng8</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>cfgdis_mdlbuff2_eng7</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>cfgdis_mdlbuff1_eng7</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>cfgdis_mdl_eng7</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>cfgdis_mdlbuff2_eng6</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>cfgdis_mdlbuff1_eng6</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>cfgdis_mdl_eng6</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>cfgdis_mdlbuff2_eng5</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>cfgdis_mdlbuff1_eng5</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>cfgdis_mdl_eng5</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>cfgdis_mdlbuff2_eng4</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>cfgdis_mdlbuff1_eng4</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>cfgdis_mdl_eng4</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>cfgdis_mdlbuff2_eng3</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>cfgdis_mdlbuff1_eng3</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>cfgdis_mdl_eng3</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>cfgdis_mdlbuff2_eng2</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>cfgdis_mdlbuff1_eng2</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfgdis_mdl_eng2</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>cfgdis_mdlbuff2_eng1</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfgdis_mdlbuff1_eng1</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfgdis_mdl_eng1</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgdis_lbprm</code></td>
<td>dis error PRM LB config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgdis_prm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tx-sticky-parity">TX STICKY PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txsticky_par</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_C012</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:25]</code></td>
<td><code>stk_mdlbuff2_eng8</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24:24]</code></td>
<td><code>stk_mdlbuff1_eng8</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23:23]</code></td>
<td><code>stk_mdl_eng8</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:22]</code></td>
<td><code>stk_mdlbuff2_eng7</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21:21]</code></td>
<td><code>stk_mdlbuff1_eng7</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20:20]</code></td>
<td><code>stk_mdl_eng7</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:19]</code></td>
<td><code>stk_mdlbuff2_eng6</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:18]</code></td>
<td><code>stk_mdlbuff1_eng6</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:17]</code></td>
<td><code>stk_mdl_eng6</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:16]</code></td>
<td><code>stk_mdlbuff2_eng5</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:15]</code></td>
<td><code>stk_mdlbuff1_eng5</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:14]</code></td>
<td><code>stk_mdl_eng5</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:13]</code></td>
<td><code>stk_mdlbuff2_eng4</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:12]</code></td>
<td><code>stk_mdlbuff1_eng4</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:11]</code></td>
<td><code>stk_mdl_eng4</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:10]</code></td>
<td><code>stk_mdlbuff2_eng3</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09:09]</code></td>
<td><code>stk_mdlbuff1_eng3</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08:08]</code></td>
<td><code>stk_mdl_eng3</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:07]</code></td>
<td><code>stk_mdlbuff2_eng2</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06:06]</code></td>
<td><code>stk_mdlbuff1_eng2</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05:05]</code></td>
<td><code>stk_mdl_eng2</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>stk_mdlbuff2_eng1</code></td>
<td>dis error MDL buffer 2, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>stk_mdlbuff1_eng1</code></td>
<td>dis error MDL buffer 1, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>stk_mdl_eng1</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>stk_lbprm</code></td>
<td>dis error PRM LB config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>stk_prm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-prm-bit-cr-standard-tx">CONFIG PRM BIT C/R &amp; STANDARD Tx</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>Config PRM bit C/R &amp; Standard</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_prm_txcfgcr</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_0000 - 0x1_3FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_0000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[03:03]</code></td>
<td><code>cfg_prmen_tx</code></td>
<td>config enable Tx, (0) is disable (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_prmfcs_tx</code></td>
<td>config mode transmit FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prmstd_tx</code></td>
<td>config standard Tx, (0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_prm_cr</code></td>
<td>config bit command/respond PRM message</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-prm-bit-lb-tx">CONFIG PRM BIT L/B Tx</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>CONFIG PRM BIT L/B Tx</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_prm_txcfglb</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_4000 - 0x1_7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_4000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prm_enlb</code></td>
<td>config enable CPU config LB bit, (0) is disable, (1) is enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_prm_lb</code></td>
<td>config bit Loopback PRM message</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-tx-prm">COUNTER BYTE MESSAGE TX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txprm_cnt_byte</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2_0000 - 0x2_7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2_0000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_byte_prm</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-packet-message-tx-prm">COUNTER PACKET MESSAGE TX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter packet message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txprm_cnt_pkt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2_8000 - 0x2_FFFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2_8000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_pkt_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-buff-message-prm-standard">Config Buff Message PRM STANDARD</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config standard message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_cfgstd</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0000 - 0x4_3FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>3</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[02:02]</code></td>
<td><code>cfg_prm_cr</code></td>
<td>config C/R bit expected</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfg_prmfcs_rx</code></td>
<td>config mode receive FCS, (1) is T.403-MSB, (0) is T.107-LSB</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfg_std_prm</code></td>
<td>config standard   (0) is ANSI, (1) is AT&amp;T</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="config-control-destuff-0">CONFIG CONTROL DESTUFF 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_destuff_ctrl0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_AA00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>6</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[05:05]</code></td>
<td><code>cfg_crmon</code></td>
<td>(0) : disable, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04:04]</code></td>
<td><code>reserve1</code></td>
<td>reserve</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:03]</code></td>
<td><code>fcsmon</code></td>
<td>(0) : disable monitor, (1) : enable</td>
<td><code>R/W</code></td>
<td><code>0x1</code></td>
<td><code>0x1</code></td>
</tr>
<tr>
<td><code>[02:01]</code></td>
<td><code>reserve</code></td>
<td><em>n/a</em></td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>headermon_en</code></td>
<td>(1) : enable monitor, (0) disable</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-message-rx-prm">COUNTER GOOD MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter good message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_gmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_0000 - 0x6_7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_0000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-3) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_gmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-drop-message-rx-prm">COUNTER DROP MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter drop message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_drmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_8000 - 0x6_FFFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_8000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_drmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-miss-message-rx-prm">COUNTER MISS MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter miss message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_mmess</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_0000 - 0x7_7FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_0000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:00]</code></td>
<td><code>cnt_mmess_prm</code></td>
<td>value counter packet</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-byte-message-rx-prm">COUNTER BYTE MESSAGE RX PRM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>counter byte message PRM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxprm_cnt_byte</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_8000 - 0x7_FFFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_8000+ $STSID*256 + $VTGID*32 + $VTID*8 + $SLICEID + $UPRO * 16384</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$UPRO (0-1) : upen read only</code></p>
</li>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$SLICEID (0-7) : SLICE ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_byte_rxprm</code></td>
<td>value counter byte</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-config-force-error-parity">RX CONFIG FORCE ERROR PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxcfg_force</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_AC00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgforce_rxmdl</code></td>
<td>force error MDL config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgforce_rxprm</code></td>
<td>force error PRM config, (0) : disable, (1) : enable force</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-config-dis-parity">RX CONFIG DIS PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxcfg_dis</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_AC01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>cfgdis_rxmdl</code></td>
<td>dis error MDL config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>cfgdis_rxprm</code></td>
<td>dis error PRM config, (0) : disable, (1) : enable dis</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="rx-sticky-parity">RX STICKY PARITY</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>config control DeStuff global</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxsticky_par</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_AC02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[01:01]</code></td>
<td><code>stk_rxmdl</code></td>
<td>sticky for mdl config error parity</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00:00]</code></td>
<td><code>stk_rxprm</code></td>
<td>sticky for prm config error parity</td>
<td><code>R/W</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-per-channel-interrupt-enable-control">PRM LB per Channel Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt enable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_cfg_lben_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_8000-0x4_87FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_8000+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>prm_cfglben_int3</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_cfglben_int2</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_cfglben_int1</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_cfglben_int0</code></td>
<td>Set 1 to enable change event to generate an interrupt slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-interrupt-status">PRM LB Interrupt per Channel Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_int_sta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_8800-0x4_8FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_8800+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>prm_lbint_sta3</code></td>
<td>Set 1 if there is a change event slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_lbint_sta2</code></td>
<td>Set 1 if there is a change event slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_lbint_sta1</code></td>
<td>Set 1 if there is a change event slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_lbint_sta0</code></td>
<td>Set 1 if there is a change event slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-current-status">PRM LB Interrupt per Channel Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel Current status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_int_crrsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_9000-0x4_97FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_9000+ $STSID*32 + $VTGID*4 + $VTID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$STSID (0-47) : STS ID</code></p>
</li>
<li>
<p><code>$VTGID (0-6) : VTG ID</code></p>
</li>
<li>
<p><code>$VTID (0-3) : VT ID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>4</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>prm_lbint_crrsta3</code></td>
<td>Current status of event slice 3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>prm_lbint_crrsta2</code></td>
<td>Current status of event slice 2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>prm_lbint_crrsta1</code></td>
<td>Current status of event slice 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>prm_lbint_crrsta0</code></td>
<td>Current status of event slice 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-per-channel-interrupt-or-status">PRM LB Interrupt per Channel Interrupt OR Status</h3>
<ul>
<li>
<p><strong>Description</strong>           </p>
</li>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_intsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_9800-0x4_9820</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_9800 +  $GID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$GID (0-31) : group ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lbintsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding channel is set and its interrupt is enabled.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-or-status">PRM LB Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 bits. Each bit is used to store Interrupt OR status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_sta_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_9FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lbsta_int</code></td>
<td>Set to 1 if any interrupt status bit is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="prm-lb-interrupt-enable-control">PRM LB Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 2 interrupt enable bits .</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>prm_lb_en_int</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_9FFE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>prm_lben_int</code></td>
<td>Set to 1 to enable to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>