<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_glb">AF6CNC0022_RD_GLB</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Device Product ID</code></td>
<td><code>0x00_0000</code></td>
</tr>
<tr>
<td><code>Device Year Month Day Version ID</code></td>
<td><code>0x00_0002</code></td>
</tr>
<tr>
<td><code>Device Internal ID</code></td>
<td><code>0x00_0003</code></td>
</tr>
<tr>
<td><code>GLB Sub-Core Active</code></td>
<td><code>0x00_0001</code></td>
</tr>
<tr>
<td><code>GLB Debug PW Control</code></td>
<td><code>0x00_0010</code></td>
</tr>
<tr>
<td><code>GLB Debug PW Control</code></td>
<td><code>0x00_0024</code></td>
</tr>
<tr>
<td><code>GLB Debug PW PLA HO Speed</code></td>
<td><code>0x00_0030</code></td>
</tr>
<tr>
<td><code>GLB Debug PW PDA HO Speed</code></td>
<td><code>0x00_0031</code></td>
</tr>
<tr>
<td><code>GLB Debug PW PWE Speed</code></td>
<td><code>0x00_0034</code></td>
</tr>
<tr>
<td><code>GLB Debug PW CLA Speed</code></td>
<td><code>0x00_0035</code></td>
</tr>
<tr>
<td><code>Chip Temperature Sticky</code></td>
<td><code>0x00_0020</code></td>
</tr>
<tr>
<td><code>GLB Debug Mac Loopback Control</code></td>
<td><code>0x00_0013</code></td>
</tr>
</tbody>
</table>
<h3 id="device-product-id">Device Product ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Product ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ProductID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>productid</code></td>
<td>ProductId</td>
<td><code>RO</code></td>
<td><code>0x60210051</code></td>
<td><code>0x60210051 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-year-month-day-version-id">Device Year Month Day Version ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates Year Month Day and main version ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>YYMMDD_VerID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:24]</code></td>
<td><code>year</code></td>
<td>Year</td>
<td><code>RO</code></td>
<td><code>0x16</code></td>
<td><code>0x16</code></td>
</tr>
<tr>
<td><code>[23:16]</code></td>
<td><code>month</code></td>
<td>Month</td>
<td><code>RO</code></td>
<td><code>0x01</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>[15:8]</code></td>
<td><code>day</code></td>
<td>Day</td>
<td><code>RO</code></td>
<td><code>0x30</code></td>
<td><code>0x30</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>version</code></td>
<td>Version</td>
<td><code>RO</code></td>
<td><code>0x40</code></td>
<td><code>0x40 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="device-internal-id">Device Internal ID</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates internal ID.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>InternalID</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>internalid</code></td>
<td>InternalID</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-sub-core-active">GLB Sub-Core Active</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicates the active ports.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Active</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>subcoreen</code></td>
<td 1>Enable per sub-core<br></td>
<td><code>RW</code></td>
<td><code>0x00000000</code></td>
<td><code>0x00000000 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-control">GLB Debug PW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure debug PW parameters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwControl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>31</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[30:20]</code></td>
<td><code>lotdmpwid</code></td>
<td>Lo TDM PW ID or HO Master STS ID corresponding to global PW ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:7]</code></td>
<td><code>globalpwid12_0</code></td>
<td>Global PW ID bit12_0 need to debug</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6:4]</code></td>
<td><code>oc48id</code></td>
<td>OC48 ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>looc24slice</code></td>
<td>Low Order OC24 slice if the PW belong to low order path</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>globalpwid13</code></td>
<td>Global PW ID bit13 need to debug</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>hopwtype</code></td>
<td>High Order PW type if the PW belong to high order path 0: STS1/VC3 CEP 1: STS3/VC4 CEP 2: STS12/VC4-4C CEP 3: STS48/VC4-16C CEP 4: VC11/VC12 CEP 5: TU3 CEP 6: STS24/VC4-8C CEP 7: SAToP/CESoP</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-control_1">GLB Debug PW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to debug PW modules</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwSticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0024</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>29</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>claprbserr</code></td>
<td>CLA output PRBS error</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>pweprbserr</code></td>
<td>PWE input PRBS error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>pdaprbserr</code></td>
<td>High Order PDA output PRBS error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>plaprbserr</code></td>
<td>High Order PLA input PRBS error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:13]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>claprbssyn</code></td>
<td>CLA output PRBS sync</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:4]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pweprbssyn</code></td>
<td>PWE input PRBS sync</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdaprbssyn</code></td>
<td>High Order PDA output PRBS sync</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plaprbssyn</code></td>
<td>High Order PLA input PRBS sync</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-pla-ho-speed">GLB Debug PW PLA HO Speed</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to show PLA HO PW speed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwPlaSpeed</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0030</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>plapwspeed</code></td>
<td>PLA input PW speed</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-pda-ho-speed">GLB Debug PW PDA HO Speed</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to show PDA HO PW speed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwPdaHoSpeed</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0031</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pdapwspeed</code></td>
<td>PDA output PW speed</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-pwe-speed">GLB Debug PW PWE Speed</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to show PWE PW speed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwPweSpeed</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0034</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pwepwspeed</code></td>
<td>PWE input PW speed</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-pw-cla-speed">GLB Debug PW CLA Speed</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to show PWE PW speed</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugPwClaLoSpeed</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0035</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>clapwspeed</code></td>
<td>CLA output PW speed</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="chip-temperature-sticky">Chip Temperature Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to sticky temperature</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ChipTempSticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>3</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2]</code></td>
<td><code>chipslr2tempstk</code></td>
<td>Chip SLR2 temperature</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>chipslr1tempstk</code></td>
<td>Chip SLR1 temperature</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>chipslr0tempstk</code></td>
<td>Chip SLR0 temperature</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="glb-debug-mac-loopback-control">GLB Debug Mac Loopback Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure debug loopback MAC parameters</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>DebugMacLoopControl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0013</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1]</code></td>
<td><code>macmroloopout</code></td>
<td>Set 1 for Mac 10G/1G/100Fx Loop Out</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mac40gloopin</code></td>
<td>Set 1 for Mac40gLoopIn</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>