<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_dcck_gmii">AF6CNC0022_RD_DCCK_GMII</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>DCCK GMII Control</code></td>
<td><code>0x10</code></td>
</tr>
<tr>
<td><code>DCCK GMII Diagnostic Enable Control</code></td>
<td><code>0x11</code></td>
</tr>
<tr>
<td><code>DCCK GMII Datapath and Diagnostic sticky</code></td>
<td><code>0x12</code></td>
</tr>
<tr>
<td><code>DCCK GMII Tx Packet Counter</code></td>
<td><code>0x00</code></td>
</tr>
<tr>
<td><code>DCCK GMII Tx Packet Counter</code></td>
<td><code>0x01</code></td>
</tr>
<tr>
<td><code>DCCK GMII Tx Packet FCS Error Counter</code></td>
<td><code>0x02</code></td>
</tr>
<tr>
<td><code>DCCK GMII Rx Packet Counter</code></td>
<td><code>0x03</code></td>
</tr>
<tr>
<td><code>DCCK GMII Rx Packet Counter</code></td>
<td><code>0x04</code></td>
</tr>
<tr>
<td><code>DCCK GMII Rx Packet FCS Error Counter</code></td>
<td><code>0x05</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-control">DCCK GMII Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures parameters for DCCK GMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiicfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[9]</code></td>
<td><code>dcckgmiiloopout</code></td>
<td>DCCK GMII Remote Loop Out</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Remote loop out from rx GMII to tx GMII 0: Normal operation</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>dcckgmiiloopin</code></td>
<td>DCCK GMII Local Loop In</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Local loop in from tx GMII to rx GMII 0: Normal operation</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>dcckgmiiprenum</code></td>
<td>DCCK GMII Preamble Number of Byte</td>
<td><code>RW</code></td>
<td><code>0x7</code></td>
<td><code>0x7</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>dcckgmiiipgnum</code></td>
<td>DCCK GMII Interpacket GAP Number of Byte</td>
<td><code>RW</code></td>
<td><code>0xC</code></td>
<td><code>0xC End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-diagnostic-enable-control">DCCK GMII Diagnostic Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures parameters for DCCK GMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiidiagcfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x11</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>dcckgmiidiagmaxlen</code></td>
<td>DCCK GMII Diagnostic Max length count from zero</td>
<td><code>RW</code></td>
<td><code>0x5E7</code></td>
<td><code>0x5E7</code></td>
</tr>
<tr>
<td><code>[17:4]</code></td>
<td><code>dcckgmiidiagminlen</code></td>
<td>DCCK GMII Diagnostic Min length count from zero</td>
<td><code>RW</code></td>
<td><code>0x3F</code></td>
<td><code>0x3F</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>dcckgmiiforcefcserr</code></td>
<td>DCCK GMII Force FCS error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Force Tx FCS error 0: Normal operation</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>dcckgmiidiagforcedaterr</code></td>
<td>DCCK GMII Diagnostic Force Data error</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Diagnostic Force Tx data error 0: Normal operation</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>dcckgmiidiaggenpken</code></td>
<td>DCCK GMII Diagnostic Generate packet enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable generate diagnostic packets 0: Disable generate diagnostic packets</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>dcckgmiidiagen</code></td>
<td>DCCK GMII Diagnostic enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: Enable diagnostic, select diagnostic packet to send and receive over GMII 0: Normal operation End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-datapath-and-diagnostic-sticky">DCCK GMII Datapath and Diagnostic sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show alarms of DCCK GMII</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiistk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x12</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>12</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[11]</code></td>
<td><code>dcckgmiitxfifoconverr</code></td>
<td>DCCK GMII Tx FIFO Convert Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>dcckgmiitxfcserr</code></td>
<td>DCCK GMII Tx FCS Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>dcckgmiitxlostsop</code></td>
<td>DCCK GMII Tx Lost SOP</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>dcckgmiirxpreerr</code></td>
<td>DCCK GMII Rx Preamble Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>dcckgmiirxsfderr</code></td>
<td>DCCK GMII Rx SFD Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>dcckgmiirxdverr</code></td>
<td>DCCK GMII Rx DV Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>dcckgmiirxfcserr</code></td>
<td>DCCK GMII Rx FCS Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>dcckgmiirxerr</code></td>
<td>DCCK GMII Rx Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>dcckgmiirxfifoconverr</code></td>
<td>DCCK GMII Rx FIFO Convert Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>dcckgmiirxminlenerr</code></td>
<td>DCCK GMII Rx Min Len Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>dcckgmiirxmaxlenerr</code></td>
<td>DCCK GMII Rx Max Len Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>dcckgmiidiagrxdaterr</code></td>
<td>DCCK GMII Diagnostic Rx Data Error</td>
<td><code>RWC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-tx-packet-counter">DCCK GMII Tx Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Tx Packet Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiitxpktcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcckgmiitxpktcnt</code></td>
<td>DCCK GMII Tx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-tx-packet-counter_1">DCCK GMII Tx Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Tx Byte Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiitxbytecnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dcckgmiitxbytecnt</code></td>
<td>DCCK GMII Tx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-tx-packet-fcs-error-counter">DCCK GMII Tx Packet FCS Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Tx Packet FCS Error Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiitxfcserrcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcckgmiitxpktfcserrcnt</code></td>
<td>DCCK GMII Tx Packet FCS Error Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-rx-packet-counter">DCCK GMII Rx Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Rx Packet Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiirxpktcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x03</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcckgmiirxpktcnt</code></td>
<td>DCCK GMII Rx Packet Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-rx-packet-counter_1">DCCK GMII Rx Packet Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Rx Byte Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiirxbytecnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x04</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dcckgmiirxbytecnt</code></td>
<td>DCCK GMII Rx Byte Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcck-gmii-rx-packet-fcs-error-counter">DCCK GMII Rx Packet FCS Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show GMII Rx Packet FCS Error Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcckgmiirxfcserrcnt</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x05</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcckgmiirxpktfcserrcnt</code></td>
<td>DCCK GMII Rx Packet FCS Error Counter</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>