<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_intalm">AF6CNC0022_RD_INTALM</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Counter Per Alarm Interrupt Enable Control</code></td>
<td><code>0x060000</code></td>
</tr>
<tr>
<td><code>Counter Per Alarm Interrupt Status</code></td>
<td><code>0x064000</code></td>
</tr>
<tr>
<td><code>Counter Per Alarm Current Status</code></td>
<td><code>0x068000</code></td>
</tr>
<tr>
<td><code>Counter Interrupt OR Status</code></td>
<td><code>0x06C000</code></td>
</tr>
<tr>
<td><code>Counter per Group Interrupt OR Status</code></td>
<td><code>0x06FFF0</code></td>
</tr>
<tr>
<td><code>Counter per Group Interrupt Enable Control</code></td>
<td><code>0x06FFE0</code></td>
</tr>
<tr>
<td><code>Counter Interrupt OR Status</code></td>
<td><code>0x070000</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-per-alarm-interrupt-enable-control">Counter Per Alarm Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is per Alarm interrupt enable of pseudowires. Each register is used to store 4 bits to enable interrupts when the related alarms in pseudowires happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Counter_Per_Alarm_Interrupt_Enable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x060000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x060000 + GrpID*32 + BitID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$GrpID(0-335):  Pseudowire ID bits[13:5]</code></p>
</li>
<li>
<p><code>$BitID(0-31): Pseudowire ID bits [4:0]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:9]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>straystatechgintren</code></td>
<td>Set 1 to enable Stray packet event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>malformstatechgintren</code></td>
<td>Set 1 to enable Malform packet event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mbitstatechgintren</code></td>
<td>Set 1 to enable Mbit packet event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rbitstatechgintren</code></td>
<td>Set 1 to enable Rbit packet event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>lofssyncstatechgintren</code></td>
<td>Set 1 to enable Lost of frame Sync event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>underrunstatechgintren</code></td>
<td>Set 1 to enable change jitter buffer state event from normal to underrun and vice versa in the related pseudowire to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>overrunstatechgintren</code></td>
<td>Set 1 to enable change jitter buffer state event from normal to overrun and vice versa in the related pseudowire to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lofsstatechgintren</code></td>
<td>Set 1 to enable change lost of frame state(LOFS) event from normal to LOFS and vice versa in the related pseudowire to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lbitstatechgintren</code></td>
<td>Set 1 to enable Lbit packet event to generate an interrupt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-per-alarm-interrupt-status">Counter Per Alarm Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is per Alarm interrupt enable of pseudowires. Each register is used to store 4 bits to enable interrupts when the related alarms in pseudowires happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Counter_Per_Alarm_Interrupt_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x064000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x064000 + GrpID*32 + BitID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$GrpID(0-335):  Pseudowire ID bits[13:5]</code></p>
</li>
<li>
<p><code>$BitID(0-31): Pseudowire ID bits [4:0]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:9]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>straystatechgintrsta</code></td>
<td>Set 1 when Stray packet event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>malformstatechgintrsta</code></td>
<td>Set 1 when Malform packet event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mbitstatechgintrsta</code></td>
<td>Set 1 when a Mbit packet event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rbitstatechgintrsta</code></td>
<td>Set 1 when a Rbit packet event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>lofssyncstatechgintrsta</code></td>
<td>Set 1 when a lost of frame Sync event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>underrunstatechgintrsta</code></td>
<td>Set 1 when there is a change in jitter buffer underrun state  in the related pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>overrunstatechgintrsta</code></td>
<td>Set 1 when there is a change in jitter buffer overrun state in the related pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lofsstatechgintrsta</code></td>
<td>Set 1 when there is a change in lost of frame state(LOFS) in the related pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lbitstatechgintrsta</code></td>
<td>Set 1 when a Lbit packet event is detected in the pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-per-alarm-current-status">Counter Per Alarm Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is per Alarm interrupt enable of pseudowires. Each register is used to store 4 bits to enable interrupts when the related alarms in pseudowires happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Counter_Per_Alarm_Current_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x068000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x068000 + GrpID*32 + BitID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$GrpID(0-335):  Pseudowire ID bits[13:5]</code></p>
</li>
<li>
<p><code>$BitID(0-31): Pseudowire ID bits [4:0]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[8]</code></td>
<td><code>straycurstatus</code></td>
<td>Stray packet state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>malformcurstatus</code></td>
<td>Malform packet state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mbitcurstatus</code></td>
<td>Mbit packet state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>rbitcurstatus</code></td>
<td>Rbit packet state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>lofssynccurstatus</code></td>
<td>Lost of frame Sync state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>underruncurstatus</code></td>
<td>Jitter buffer underrun current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>overruncurstatus</code></td>
<td>Jitter buffer overrun current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>lofsstatecurstatus</code></td>
<td>Lost of frame state current status in the related pseudowire.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>lbitstatecurstatus</code></td>
<td>a Lbit packet state current status in the related pseudowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-interrupt-or-status">Counter Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is per Alarm interrupt enable of pseudowires. Each register is used to store 4 bits to enable interrupts when the related alarms in pseudowires happen.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>Counter_Interrupt_OR_Status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06C000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06C000 + Grp1024ID*32 + GrpID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Grp1024ID(0-10):  Pseudowire ID bits[13:10]</code></p>
</li>
<li>
<p><code>$GrpID(0-31):  Pseudowire ID bits[9:5]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>introrstatus</code></td>
<td>Set to 1 to indicate that there is any interrupt status bit in the Counter per Alarm Interrupt Status register of the related pseudowires to be set and they are enabled to raise interrupt. Bit 0 of GrpID#0 for pseudowire 0, bit 31 of GrpID#0 for pseudowire 31, bit 0 of GrpID#1 for pseudowire 32, respectively.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-per-group-interrupt-or-status">Counter per Group Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 8 bits for 8 Group of the PW Counter. Each bit is used to store Interrupt OR status of the related Group.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter_per_group_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06FFF0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06FFF0 + Grp1024ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$Grp1024ID(0-10):  Pseudowire ID bits[13:10]</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>groupintrorsta</code></td>
<td>Set to 1 if any interrupt bit of corresponding Group is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-per-group-interrupt-enable-control">Counter per Group Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 8 interrupt enable bits for 8 group in the PW counter.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter_per_group_intr_en_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x06FFE0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x06FFE0 + Grp1024ID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$Grp1024ID(0-10):  Pseudowire ID bits[13:10]</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>groupintren</code></td>
<td>Set to 1 to enable the related Group to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-interrupt-or-status_1">Counter Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 11 bits for the 11 Group 1024PW Counter</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>counter_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x070000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>11</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[10:0]</code></td>
<td><code>groupintrorsta</code></td>
<td>Set to 1 if any interrupt bit is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>