<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-07-10</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cci0022_rd_bert_gen">AF6CCI0022_RD_BERT_GEN</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Sel Timeslot Gen</code></td>
<td><code>0x8340 - 0xBB5F</code></td>
</tr>
<tr>
<td><code>Sel Timeslot Mon tdm</code></td>
<td><code>0x8500 - 0xBD00</code></td>
</tr>
<tr>
<td><code>Sel Timeslot Mon PW</code></td>
<td><code>0x8700 - 0xBF00</code></td>
</tr>
<tr>
<td><code>Sel Ho Bert Gen</code></td>
<td><code>0x0_200 - 0x0_21f</code></td>
</tr>
<tr>
<td><code>Sel TDM Bert mon</code></td>
<td><code>0x0_000 - 0x0_01f</code></td>
</tr>
<tr>
<td><code>Sel PW Bert Gen</code></td>
<td><code>0x0_600 - 0x0_61f</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Gen</code></td>
<td><code>0x8_300 - 0xB_B1F</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Mon TDM</code></td>
<td><code>0x8_520 - 0xB_D3F</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Mon PW</code></td>
<td><code>0x8_720 - 0xB_F3F</code></td>
</tr>
<tr>
<td><code>Inser Error</code></td>
<td><code>0x8_320 - 0xB_B3F</code></td>
</tr>
<tr>
<td><code>Counter num of bit gen</code></td>
<td><code>0x8_380 - 0xB_B80</code></td>
</tr>
<tr>
<td><code>good counter tdm</code></td>
<td><code>0x8_580 - 0xB_D9F</code></td>
</tr>
<tr>
<td><code>TDM err sync</code></td>
<td><code>0x8_540 - 0xB_D5F</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8_400 - 0xB_C00</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8_5C0 - 0xB_DDF</code></td>
</tr>
<tr>
<td><code>counter good bit PW mon</code></td>
<td><code>0x8_780 - 0xB_F9F</code></td>
</tr>
<tr>
<td><code>counter error bit in PW mon</code></td>
<td><code>0x8_740 - 0xB_F5F</code></td>
</tr>
<tr>
<td><code>Counter loss bit in PW mon</code></td>
<td><code>0x8_7C0 - 0xB_FDF</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8_600 - 0xB_E00</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-timeslot-gen">Sel Timeslot Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ts_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8340 - 0xBB5F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8340 + 2048*slice  + engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$engid(0-31): id of HO_BERT</code></p>
</li>
<li>
<p><code>$slice(0-7) : OC48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>gen_tsen</code></td>
<td>bit map indicase 32 timeslot,&rdquo;1&rdquo; : enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-timeslot-mon-tdm">Sel Timeslot Mon tdm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_mon_tstdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8500 - 0xBD00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8500 + engid + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$engid(0-31): id of HO_BERT</code></p>
</li>
<li>
<p><code>$slice(0-7) : OC48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tdm_tsen</code></td>
<td>bit map indicase 32 timeslot,&rdquo;1&rdquo; : enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-timeslot-mon-pw">Sel Timeslot Mon PW</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_mon_tspw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8700 - 0xBF00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8700 + engid + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$engid(0-31): id of HO_BERT</code></p>
</li>
<li>
<p><code>$slice(0-7) : OC48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pw_tsen</code></td>
<td>bit map indicase 32 timeslot,&rdquo;1&rdquo; : enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-ho-bert-gen">Sel Ho Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ho_bert_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_200 - 0x0_21f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>gen_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>lineid</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>id</code></td>
<td>TDM ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-tdm-bert-mon">Sel TDM Bert mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_bert_montdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_000 - 0x0_01f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>tdmmon_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>tdm_lineid</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>id</code></td>
<td>tdm ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-pw-bert-gen">Sel PW Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_bert_monpw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_600 - 0x0_61f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>pwmon_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>pw_lineid</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>pw_lkid</code></td>
<td>pwlk id</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-gen">Sel Mode Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_300 - 0xB_B1F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_300 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : all0 # 0x02 : prbs15 # 0x10 : prbs23 # 0x20 : prbs31 # 0x80 : all1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-mon-tdm">Sel Mode Bert Mon TDM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_montdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_520 - 0xB_D3F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_520 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x02 : all0 # 0x04 : prbs15 # 0x20 : prbs23 # 0x40 : prbs31 # 0x80 : all1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-mon-pw">Sel Mode Bert Mon PW</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_monpw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_720 - 0xB_F3F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_720 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x02 : all0 # 0x04 : prbs15 # 0x20 : prbs23 # 0x40 : prbs31 # 0x80 : all1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="inser-error">Inser Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select rate inser error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_320 - 0xB_B3F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_320 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>ber_rate</code></td>
<td>TxBerMd [31:0] == BER_level_val  : Bit Error Rate inserted to Pattern Generator [31:0] == 32&rsquo;d0          :disable  Incase N DS0 mode : n        = num timeslot use, BER_level_val recalculate by CFG_DS1,CFG_E1 CFG_DS1  = ( 8n  x  BER_level_val) / 193 CFG_E1   = ( 8n  x  BER_level_val) / 256 Other : BER_level_val  BER_level 1000:         BER 10e-3 10_000:       BER 10e-4 100_000:      BER 10e-5 1_000_000:    BER 10e-6 10_000_000:   BER 10e-7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-num-of-bit-gen">Counter num of bit gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers counter bit genertaie in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_380 - 0xB_B80</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_380 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>goodbit</code></td>
<td>counter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="good-counter-tdm">good counter tdm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_580 - 0xB_D9F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_580 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice of BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mongood</code></td>
<td>moniter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tdm-err-sync">TDM err sync</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers indicate bert mon err in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>err_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_540 - 0xB_D5F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_540 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_errbit</code></td>
<td>counter err bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossyn_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_400 - 0xB_C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_400 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-7): slice id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>stk_losssyn</code></td>
<td>sticky loss sync</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon_1">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_5C0 - 0xB_DDF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_5C0 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_lossbit</code></td>
<td>counter lossbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-bit-pw-mon">counter good bit PW mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon pw side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_780 - 0xB_F9F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_780 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice of BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwgoodbit</code></td>
<td>counter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-error-bit-in-pw-mon">counter error bit in PW mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>errbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_740 - 0xB_F5F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_740 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwerrbit</code></td>
<td>counter err bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-pw-mon">Counter loss bit in PW mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_7C0 - 0xB_FDF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_7C0 + 2048*slice + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-7): slice id of HO_BERT</code></p>
</li>
<li>
<p><code>$id(0-31): bert id</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwlossbit</code></td>
<td>counter loss bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon_2">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossyn_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_600 - 0xB_E00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_600 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-7): slice id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>stk_losssyn</code></td>
<td>sticky loss sync</td>
<td><code>W2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>