<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0021_rd_macdump">AF6CNC0021_RD_MACDUMP</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Mac 40G dump direction control</code></td>
<td><code>0x0000804 #The address format for these registers is 0x00010000 + PWID</code></td>
</tr>
<tr>
<td><code>Mac 40G dump data status</code></td>
<td><code>0x000000 - 0x0003FF #The address format for these registers is 0x000000 + entry</code></td>
</tr>
<tr>
<td><code>Mac 40G dump Hold Register Status</code></td>
<td><code>0x000800 - 0x000001</code></td>
</tr>
</tbody>
</table>
<h3 id="mac-40g-dump-direction-control">Mac 40G dump direction control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures direction to dump packet</p>
<h1 id="hdl_path-rtljitbuframjitbufcfgramrampwid">HDL_PATH: rtljitbuf.ramjitbufcfg.ram.ram[$PWID]</h1>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramdumtypecfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000804 #The address format for these registers is 0x00010000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000804 #The address format for these registers is 0x00010000 + PWID +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-10751): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>directiondump</code></td>
<td>Tx or Rx MAC direction 1: Dump Tx MAC40G 0: Dump Rx MAC40G</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mac-40g-dump-data-status">Mac 40G dump data status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register shows data value to be dump, first entry always contain SOP</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramdumpdata</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000000 - 0x0003FF #The address format for these registers is 0x000000 + entry</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000000 +  entry</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$entry(0-1023): Data entry</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>69</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[68]</code></td>
<td><code>dumpsop</code></td>
<td>Start of packet indication</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[67]</code></td>
<td><code>dumpeop</code></td>
<td>End of packet indication</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[66:64]</code></td>
<td><code>dumpnob</code></td>
<td>Number of byte indication 0 means 1 byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:0]</code></td>
<td><code>dumpdata</code></td>
<td>Data value Bit63_56 is MSB</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="mac-40g-dump-hold-register-status">Mac 40G dump Hold Register Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for hold remain that more than 32bits</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dump_hold_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000800 - 0x000001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000800 +  HID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HID(0-1): Hold ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>dumpholdstatus</code></td>
<td>Hold 32bits</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>