<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_glbpmc_ver2">AF6CNC0022_RD_GLBPMC_ver2</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x0_0000-0x0_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Transmit Counter</code></td>
<td><code>0x0_8000-0x0_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire TX Byte Counter</code></td>
<td><code>0x8_0000-0x8_29FF (RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x1_0000-0x1_29FF (RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info0</code></td>
<td><code>0x1_4000-0x1_69FF (RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x2_0000-0x2_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info1</code></td>
<td><code>0x2_8000-0x2_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x3_0000-0x3_7DFF(RW)</code></td>
</tr>
<tr>
<td><code>Pseudowire Receiver Counter Info2</code></td>
<td><code>0x3_8000-0x3_FDFF(RW)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0x9_1800-0x9_182F(RW)</code></td>
</tr>
<tr>
<td><code>PMR Error Counter</code></td>
<td><code>0x9_1840-0x9_186F(RW)</code></td>
</tr>
<tr>
<td><code>POH Path STS Counter</code></td>
<td><code>0x9_2000-0x9_21FF (RW)</code></td>
</tr>
<tr>
<td><code>POH Path STS Counter</code></td>
<td><code>0x9_2200-0x9_23FF (RW)</code></td>
</tr>
<tr>
<td><code>POH Path VT Counter</code></td>
<td><code>0x7_0000 - 0x7_3FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH Path VT Counter</code></td>
<td><code>0x7_4000 - 0x7_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 0</code></td>
<td><code>0x5_0000-0x5_3FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 0</code></td>
<td><code>0x5_4000-0x5_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 1</code></td>
<td><code>0x6_0000-0x6_3FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH vt pointer Counter 1</code></td>
<td><code>0x6_4000-0x6_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x9_0800-0x9_09FF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x9_0A00-0x9_0BFF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x9_1000-0x9_11FF(RW)</code></td>
</tr>
<tr>
<td><code>POH sts pointer Counter</code></td>
<td><code>0x9_1200-0x9_13FF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter</code></td>
<td><code>0x4_0000-0x4_3FFF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds1 cntval Counter</code></td>
<td><code>0x4_4000-0x4_7FFF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0x9_0000-0x9_01FF(RW)</code></td>
</tr>
<tr>
<td><code>PDH ds3 cntval Counter</code></td>
<td><code>0x9_0200-0x9_03FF(RW)</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_0000-0x0_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : txpkt in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-transmit-counter_1">Pseudowire Transmit Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_8000-0x0_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>txpwcnt</code></td>
<td>in case of txpwcnt0 side: + offset = 0 : txrbit + offset = 1 : txnbit + offset = 2 : txpkt in case of txpwcnt1 side: + offset = 0 : txpbit + offset = 1 : txlbit + offset = 2 : unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-tx-byte-counter">Pseudowire TX Byte Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_txpwcnt_info0</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_0000-0x8_29FF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_0000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:00]</code></td>
<td><code>pwcntbyte</code></td>
<td>txpwcntbyte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_0000-0x1_29FF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_0000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + rxcntbyte in case of rxpwcnt_info0_cnt1 side: + rxpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info0_1">Pseudowire Receiver Counter Info0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x1_4000-0x1_69FF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x1_4000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751)</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + rxcntbyte in case of rxpwcnt_info0_cnt1 side: + rxpkt</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2_0000-0x2_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxstray in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxpbit + offset = 1 : rxlbit + offset = 2 : rxmalform</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info1_1">Pseudowire Receiver Counter Info1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2_8000-0x2_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info0</code></td>
<td>in case of rxpwcnt_info0_cnt0 side: + offset = 0 : rxrbit + offset = 1 : rxnbit + offset = 2 : rxstray in case of rxpwcnt_info0_cnt1 side: + offset = 0 : rxpbit + offset = 1 : rxlbit + offset = 2 : rxmalform</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_0000-0x3_7DFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_0000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxunderrun + offset = 1 : rxlops + offset = 2 : rxearly in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxoverrun + offset = 1 : rxlost + offset = 2 : rxlate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-receiver-counter-info2_1">Pseudowire Receiver Counter Info2</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_rxpwcnt_info2_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x3_8000-0x3_FDFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x3_8000 + 10752*$offset + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$pwid(0-10751)</code></p>
</li>
<li>
<p><code>$offset(0-2)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>rxpwcnt_info1</code></td>
<td>in case of rxpwcnt_info1_cnt0 side: + offset = 0 : rxunderrun + offset = 1 : rxlops + offset = 2 : rxearly in case of rxpwcnt_info1_cnt1 side: + offset = 0 : rxoverrun + offset = 1 : rxlost + offset = 2 : rxlate</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_1800-0x9_182F(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_1800 + 16*$offset + $lineid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$lineid(0-15)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b2 + offset = 2 : b1 in case of pmr_err_cnt1 side: + offset = 0 : rei_l_block_err + offset = 1 : b2_block_err + offset = 2 : b1_block_err</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pmr-error-counter_1">PMR Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_pmr_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_1840-0x9_186F(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_1840 + 16*$offset + $lineid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$offset(0-2)</code></p>
</li>
<li>
<p><code>$lineid(0-15)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:00]</code></td>
<td><code>pmr_err_cnt</code></td>
<td>in case of pmr_err_cnt0 side: + offset = 0 : rei_l + offset = 1 : b2 + offset = 2 : b1 in case of pmr_err_cnt1 side: + offset = 0 : rei_l_block_err + offset = 1 : b2_block_err + offset = 2 : b1_block_err</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-sts-counter">POH Path STS Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sts_pohpm_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_2000-0x9_21FF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_2000 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_vt_cnt</code></td>
<td>in case of pohpath_cnt0 side: + sts_rei in case of pohpath_cnt1 side: + sts_bip(B3)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-sts-counter_1">POH Path STS Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_sts_pohpm_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_2200-0x9_23FF (RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_2200 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_vt_cnt</code></td>
<td>in case of pohpath_cnt0 side: + sts_rei in case of pohpath_cnt1 side: + sts_bip(B3)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-counter">POH Path VT Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_vt_pohpm_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_0000 - 0x7_3FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_0000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_vt_cnt</code></td>
<td>in case of pohpath_cnt0 side: + vt_rei in case of pohpath_cnt1 side: + vt_bip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-path-vt-counter_1">POH Path VT Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_vt_pohpm_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_4000 - 0x7_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_4000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>pohpath_vt_cnt</code></td>
<td>in case of pohpath_cnt0 side: + vt_rei in case of pohpath_cnt1 side: + vt_bip</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-0">POH vt pointer Counter 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_0000-0x5_3FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_0000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohtx_vt_dec in case of poh_vt_cnt1 side: + pohtx_vt_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-0_1">POH vt pointer Counter 0</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_4000-0x5_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_4000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohtx_vt_dec in case of poh_vt_cnt1 side: + pohtx_vt_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-1">POH vt pointer Counter 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_0000-0x6_3FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_0000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohrx_vt_dec in case of poh_vt_cnt1 side: + pohrx_vt_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-vt-pointer-counter-1_1">POH vt pointer Counter 1</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_vt_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_4000-0x6_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_4000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_vt_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohrx_vt_dec in case of poh_vt_cnt1 side: + pohrx_vt_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0800-0x9_09FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0800 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohtx_sts_dec in case of poh_vt_cnt1 side: + pohtx_sts_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter_1">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0A00-0x9_0BFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0A00 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohtx_sts_dec in case of poh_vt_cnt1 side: + pohtx_sts_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter_2">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_1000-0x9_11FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_1000 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohrx_sts_dec in case of poh_vt_cnt1 side: + pohrx_sts_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="poh-sts-pointer-counter_3">POH sts pointer Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_poh_sts_cnt1_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_1200-0x9_13FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_1200 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>poh_sts_cnt</code></td>
<td>in case of poh_vt_cnt0 side: + pohrx_sts_dec in case of poh_vt_cnt1 side: + pohrx_sts_inc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter">PDH ds1 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0000-0x4_3FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>(rei/fe/crc)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds1-cntval-counter_1">PDH ds1 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de1cntval30_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_4000-0x4_7FFF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_4000 + 256*$stsid + 32*$vtgid + 8*vtid + slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-48)</code></p>
</li>
<li>
<p><code>$vtgid(0-6)</code></p>
</li>
<li>
<p><code>$vtid(0-3)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds1_cntval_bus1_cnt</code></td>
<td>(rei/fe/crc)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0000-0x9_01FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0000 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>(cb/pb/rei/fe)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>
<h3 id="pdh-ds3-cntval-counter_1">PDH ds3 cntval Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register count information as below. Depending on offset it &lsquo;s the events specify.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>upen_pdh_de3cnt0_rw</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x9_0200-0x9_03FF(RW)</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x9_0200 + 8*$stsid + $slcid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$stsid(0-47)</code></p>
</li>
<li>
<p><code>$slcid(0-7)</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:18]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17:00]</code></td>
<td><code>ds3_cntval_cnt</code></td>
<td>(cb/pb/rei/fe)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>