<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_pda">AF6CNC0022_RD_PDA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Pseudowire PDA Jitter Buffer Control</code></td>
<td><code>0x00010000 - 0x00012A00 #The address format for these registers is 0x00010000 + PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Jitter Buffer Status</code></td>
<td><code>0x00014000 - 0x00012A00 #The address format for these registers is 0x00014000 + PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA Reorder Control</code></td>
<td><code>0x00020000 - 0x00022A00 #The address format for these registers is 0x00020000 + PWID</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA TDM mode Control</code></td>
<td><code>0x00030000 - 0x00032A00 #The address format for low order path is 0x00030000 + Oc48ID + TdmOc48Pwid*8</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA TDM Look Up Control</code></td>
<td><code>0x00040000 - 0x000429FF #The address format for low order path is 0x00040000 +  Oc48ID + TdmOc48Pwid*8</code></td>
</tr>
<tr>
<td><code>PDA Hold Register Status</code></td>
<td><code>0x000000 - 0x000002</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA per OC48 Low Order TDM PRBS J1 V5 Monitor Status</code></td>
<td><code>0x00061000 - 0x0006F53F</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA ECC CRC Parity Control</code></td>
<td><code>0x00008</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA ECC CRC Parity Disable Control</code></td>
<td><code>0x00009</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA ECC CRC Parity Sticky</code></td>
<td><code>0x0000A</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit3_0 Control</code></td>
<td><code>0x01000</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit7_4 Control</code></td>
<td><code>0x01010</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit11_8 Control</code></td>
<td><code>0x01020</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit15_12 Control</code></td>
<td><code>0x01030</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit19_16 Control</code></td>
<td><code>0x01040</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit23_20 Control</code></td>
<td><code>0x01050</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit24 and Data Control</code></td>
<td><code>0x01060</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data63_32</code></td>
<td><code>0x01070</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data95_64</code></td>
<td><code>0x01071</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data127_96</code></td>
<td><code>0x01072</code></td>
</tr>
<tr>
<td><code>Pseudowire PDA per OC48 Low Order TDM CESoP Small DS0 Control</code></td>
<td><code>0x00060000 - 0x0006E53F</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-jitter-buffer-control">Pseudowire PDA Jitter Buffer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures jitter buffer parameters per pseudo-wire</p>
<p>HDL_PATH: rtljitbuf.ramjitbufcfg.ram.ram[$PWID]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramjitbufcfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00010000 - 0x00012A00 #The address format for these registers is 0x00010000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00010000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-10751): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>58</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[57]</code></td>
<td><code>pwlowds0mode</code></td>
<td>Pseudo-wire CES Low DS0 mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: CESoP Pseodo-wire with NxDS0 &lt;= 3 0: Other Pseodo-wire mode</code></td>
</tr>
<tr>
<td><code>[56]</code></td>
<td><code>pwcepmode</code></td>
<td>Pseudo-wire CEP mode indication</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 1: CEP Pseodo-wire 0: CES Pseodo-wire</code></td>
</tr>
<tr>
<td><code>[55:53]</code></td>
<td><code>pwholooc48id</code></td>
<td>Indicate 8x Hi order OC48 or 8x Low order OC48 slice</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[52:42]</code></td>
<td><code>pwtdmlineid</code></td>
<td>Pseudo-wire(PW) corresponding TDM line ID. If the PW belong to Low order path, this is the OC48 TDM line ID that is using in Lo CDR,PDH and MAP. If the PW belong to Hi order CEP path, this is the OC48 master STS ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[41]</code></td>
<td><code>pweparen</code></td>
<td>Pseudo-wire EPAR timing mode enable 1: Enable EPAR timing mode 0: Disable EPAR timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[40]</code></td>
<td><code>pwhilopathind</code></td>
<td>Pseudo-wire belong to Hi-order or Lo-order path 1: Pseudo-wire belong to Hi-order path 0: Pseudo-wire belong to Lo-order path</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[39:26]</code></td>
<td><code>pwpayloadlen</code></td>
<td>TDM Payload of pseudo-wire in byte unit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25:13]</code></td>
<td><code>pdvsizeinpkunit</code></td>
<td>Pdv size in packet unit. This parameter is to prevent packet delay variation(PDV) from PSN. PdvSizePk is packet delay variation measured in packet unit. The formula is as below: PdvSizeInPkUnit = (PwSpeedinKbps * PdvInUsUnit)/(8000<em>PwPayloadLen) + ((PwSpeedInKbps * PdvInUsus)%(8000</em>PwPayloadLen) !=0)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:0]</code></td>
<td><code>jitbufsizeinpkunit</code></td>
<td>Jitter buffer size in packet unit. This parameter is mostly double of PdvSizeInPkUnit. The formula is as below: JitBufSizeInPkUnit = (PwSpeedinKbps * JitBufInUsUnit)/(8000<em>PwPayloadLen) + ((PwSpeedInKbps * JitBufInUsus)%(8000</em>PwPayloadLen) !=0)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-jitter-buffer-status">Pseudowire PDA Jitter Buffer Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register shows jitter buffer status per pseudo-wire</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramjitbufsta</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00014000 - 0x00012A00 #The address format for these registers is 0x00014000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00014000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-10751): Pseudowire ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>55</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[54:20]</code></td>
<td><code>jitbufhwcomsta</code></td>
<td>Harware debug only status</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:4]</code></td>
<td><code>jitbufnumpk</code></td>
<td>Current number of packet in jitter buffer</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>jitbuffull</code></td>
<td>Jitter Buffer full status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>jitbufstate</code></td>
<td>Jitter buffer state machine status 0: START 1: FILL 2: READY 3: READ 4: LOST 5: NEAR_EMPTY Others: NOT VALID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-reorder-control">Pseudowire PDA Reorder Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures reorder parameters per pseudo-wire</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramreorcfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00020000 - 0x00022A00 #The address format for these registers is 0x00020000 + PWID</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00020000 +  PWID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$PWID(0-10751): Pseudowire ID HDL_PATH: ramreorcfg.ram.ram[$PWID]</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>26</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[25:17]</code></td>
<td><code>pwsetlofsinpk</code></td>
<td>Number of consecutive lost packet to declare lost of packet state</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:9]</code></td>
<td><code>pwsetlopsinmsec</code></td>
<td>Number of empty time to declare lost of packet synchronization</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>pwreoren</code></td>
<td>Set 1 to enable reorder</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>pwreortimeout</code></td>
<td>Reorder timeout in 512us unit to detect lost packets. The formula is as below: ReorTimeout = ((Min(31,PdvSizeInPk) * PwPayloadLen * 16)/PwSpeedInKbps</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-tdm-mode-control">Pseudowire PDA TDM mode Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configure TDM mode for interworking between Pseudowire and Lo TDM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramtdmmodecfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00030000 - 0x00032A00 #The address format for low order path is 0x00030000 + Oc48ID + TdmOc48Pwid*8</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00030000 + $Oc48ID + $TdmOc48Pwid*8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc48ID(0-7): OC48 ID</code></p>
</li>
<li>
<p><code>$TdmOc48Pwid(0-1343): TDM OC48 slice PWID HDL_PATH: rtlpdatdm.rtldeas.ramdeascfg.ram.ram[$Oc48ID + $TdmOc48Pwid*8] #HDL_PATH: rtlpdatdm.rtlencfifo[$Oc48ID].rtlencfifo48.memcepcfg.ram.ram[$TdmOc48Pwid]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[21:14]</code></td>
<td><code>pdaidlecode</code></td>
<td>Idle pattern to replace data in case of Lost/Lbit packet</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>pdaaisrdioff_bunden</code></td>
<td>Set 1 to indicate the link is joined in MLPPP bundle or disable sending AIS/Unequip/RDI from CES PW to TDM</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:11]</code></td>
<td><code>pdarepmode</code></td>
<td>Mode to replace lost and Lbit packet 0: Replace by replaying previous good packet (often for voice or video application) 1: Replace by AIS (default) 2: Replace by a configuration idle code Replace by a configuration idle code</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:5]</code></td>
<td><code>pdastsid</code></td>
<td>Used in DS3/E3 SAToP  and TU3/VC3/Vc4/VC4-4C/VC4-16C CEP basic, per slice48 corresponding master STSID of of PW circuit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:2]</code></td>
<td><code>pdasigtype</code></td>
<td>TDM Payload De-Assembler signal type 0: E3,DS3,TU3,VC3 1: VC4 2: VC4-4C 3: VC4-8C,Vc4-16C 4: VC11,VC12,E1,T1,NxDS0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Others: reserved</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>pdamode</code></td>
<td>TDM Payload De-Assembler modes 0: DS1/E1 SAToP 1: CESoP without CAS 2: CEP 3: reserved</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-tdm-look-up-control">Pseudowire PDA TDM Look Up Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configure lookup from TDM PWID to global 10752 PWID</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramtdmlkupcfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00040000 - 0x000429FF #The address format for low order path is 0x00040000 +  Oc48ID + TdmOc48Pwid*8</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00040000 + Oc48ID + TdmOc48Pwid*8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc48ID(0-7): OC48 ID</code></p>
</li>
<li>
<p><code>$TdmOc48Pwid(0-1343): TDM OC48 slice PWID HDL_PATH: rtlpdatdm.rtlrdca.pwlkcfgram.ram.ram[$Oc48ID + $TdmOc48Pwid*8]</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>15</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[14:1]</code></td>
<td><code>pwid</code></td>
<td>Flat 10752 CES PWID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pwlkenable</code></td>
<td>Enable Lookup</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pda-hold-register-status">PDA Hold Register Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register using for hold remain that more than 128bits</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pda_hold_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000000 - 0x000002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x000000 +  HID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HID(0-2): Hold ID</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>pdaholdstatus</code></td>
<td>Hold 32bits</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-per-oc48-low-order-tdm-prbs-j1-v5-monitor-status">Pseudowire PDA per OC48 Low Order TDM PRBS J1 V5 Monitor Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show the PRBS monitor status after PDA</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramlotdmprbsmon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00061000 - 0x0006F53F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00061000 + Oc48ID*8192 + TdmOc48PwID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc48ID(0-7): OC48 ID</code></p>
</li>
<li>
<p><code>$TdmOc48PwID(0-1343): TDM OC48 slice PWID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>18</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>pdaprbsb3v5err</code></td>
<td>PDA PRBS or B3 or V5 monitor error</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>pdaprbssyncsta</code></td>
<td>PDA PRBS sync status</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>pdaprbsvalue</code></td>
<td>PDA PRBS monitor value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-ecc-crc-parity-control">Pseudowire PDA ECC CRC Parity Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures PDA ECC CRC and Parity.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pda_config_ecc_crc_parity_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00008</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>pdaforceecccor</code></td>
<td>PDA force link list Ecc error correctable   1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pdaforceeccerr</code></td>
<td>PDA force link list Ecc error noncorrectable   1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pdaforcecrcerr</code></td>
<td>PDA force data CRC error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pdaforcelotdmparerr</code></td>
<td>Pseudowire PDA Low Order TDM mode Control force parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdaforcetdmlkparerr</code></td>
<td>Pseudowire PDA Lo and Ho TDM Look Up Control force parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdaforcejitbufparerr</code></td>
<td>Pseudowire PDA Jitter Buffer Control force parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pdaforcereorderparerr</code></td>
<td>Pseudowire PDA Reorder Control force parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-ecc-crc-parity-disable-control">Pseudowire PDA ECC CRC Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures PDA ECC CRC and Parity Disable.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pda_config_ecc_crc_parity_disable_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00009</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>pdadisableecccor</code></td>
<td>PDA disable link list Ecc error correctable   1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pdadisableeccerr</code></td>
<td>PDA disable link list Ecc error noncorrectable   1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pdadisablecrcerr</code></td>
<td>PDA disable data CRC error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pdadisablelotdmparerr</code></td>
<td>Pseudowire PDA Low Order TDM mode Control disable parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdadisabletdmlkparerr</code></td>
<td>Pseudowire PDA Lo and Ho TDM Look Up Control disable parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdadisablejitbufparerr</code></td>
<td>Pseudowire PDA Jitter Buffer Control disable parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pdadisablereorderparerr</code></td>
<td>Pseudowire PDA Reorder Control disable parity error  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-ecc-crc-parity-sticky">Pseudowire PDA ECC CRC Parity Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures PDA ECC CRC and Parity.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pda_config_ecc_crc_parity_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>pdastickyecccor</code></td>
<td>PDA sticky link list Ecc error correctable   1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pdastickyeccerr</code></td>
<td>PDA sticky link list Ecc error noncorrectable   1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pdastickycrcerr</code></td>
<td>PDA sticky data CRC error  1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pdastickylotdmparerr</code></td>
<td>Pseudowire PDA Low Order TDM mode Control sticky parity error  1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdastickytdmlkparerr</code></td>
<td>Pseudowire PDA Lo and Ho TDM Look Up Control sticky parity error  1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdastickyjitbufparerr</code></td>
<td>Pseudowire PDA Jitter Buffer Control sticky parity error  1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pdastickyreorderparerr</code></td>
<td>Pseudowire PDA Reorder Control sticky parity error  1: Set  0: Clear</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit3_0-control">Read HA Address Bit3_0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit3_0 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha3_0_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01000 + HaAddr3_0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr3_0(0-15): HA Address Bit3_0</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr3_0</code></td>
<td>Read value will be 0x01000 plus HaAddr3_0</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit7_4-control">Read HA Address Bit7_4 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit7_4 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha7_4_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01010</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01010 + HaAddr7_4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr7_4(0-15): HA Address Bit7_4</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr7_4</code></td>
<td>Read value will be 0x01000 plus HaAddr7_4</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit11_8-control">Read HA Address Bit11_8 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit11_8 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha11_8_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01020</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01020 + HaAddr11_8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr11_8(0-15): HA Address Bit11_8</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr11_8</code></td>
<td>Read value will be 0x01000 plus HaAddr11_8</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit15_12-control">Read HA Address Bit15_12 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit15_12 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha15_12_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01030</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01030 + HaAddr15_12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr15_12(0-15): HA Address Bit15_12</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr15_12</code></td>
<td>Read value will be 0x01000 plus HaAddr15_12</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit19_16-control">Read HA Address Bit19_16 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit19_16 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha19_16_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01040 + HaAddr19_16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr19_16(0-15): HA Address Bit19_16</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr19_16</code></td>
<td>Read value will be 0x01000 plus HaAddr19_16</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit23_20-control">Read HA Address Bit23_20 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit23_20 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha23_20_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01050</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01050 + HaAddr23_20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr23_20(0-15): HA Address Bit23_20</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr23_20</code></td>
<td>Read value will be 0x01000 plus HaAddr23_20</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit24-and-data-control">Read HA Address Bit24 and Data Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit24 to HA engine to read data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha24data_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01060</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x01060 + HaAddr24</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr24(0-1): HA Address Bit24</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata31_0</code></td>
<td>HA read data bit31_0</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data63_32">Read HA Hold Data63_32</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword2 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha_hold63_32</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01070</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata63_32</code></td>
<td>HA read data bit63_32</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data95_64">Read HA Hold Data95_64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword3 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold95_64</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01071</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata95_64</code></td>
<td>HA read data bit95_64</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data127_96">Read HA Hold Data127_96</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword4 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold127_96</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x01072</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata127_96</code></td>
<td>HA read data bit127_96</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pseudowire-pda-per-oc48-low-order-tdm-cesop-small-ds0-control">Pseudowire PDA per OC48 Low Order TDM CESoP Small DS0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show the PRBS monitor status after PDA</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ramlotdmsmallds0control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00060000 - 0x0006E53F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00060000 + Oc48ID*8192 + TdmOc48PwID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc48ID(0-3): OC48 ID</code></p>
</li>
<li>
<p><code>TdmOc48PwID(0-1343): TDM OC48 slice PWID</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>pdasmallds0en</code></td>
<td>PDA CESoP small DS0 enable 1: CESoP Pseodo-wire with NxDS0 &lt;= 3 0: Other Pseodo-wire modes</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>