<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_bert_opt">AF6CNC0022_RD_BERT_OPT</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Sel Timeslot Gen</code></td>
<td><code>0x4102 - 0x7702</code></td>
</tr>
<tr>
<td><code>Sel Timeslot Mon tdm</code></td>
<td><code>0x8102 - 0xB102</code></td>
</tr>
<tr>
<td><code>Sel Ho Bert Gen</code></td>
<td><code>0x0_200 - 0x0_21B</code></td>
</tr>
<tr>
<td><code>Sel TDM Bert mon</code></td>
<td><code>0x0_000 - 0x0_01b</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Gen</code></td>
<td><code>0x4100 - 0x7700</code></td>
</tr>
<tr>
<td><code>Sel Value of fix pattern</code></td>
<td><code>0x4104 - 0xB704</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Mon TDM</code></td>
<td><code>0x8100 - 0xB700</code></td>
</tr>
<tr>
<td><code>Sel Value of fix pattern</code></td>
<td><code>0x8104 - 0x8704</code></td>
</tr>
<tr>
<td><code>Inser Error</code></td>
<td><code>0x4101 - 0xB_701</code></td>
</tr>
<tr>
<td><code>good counter tdm gen</code></td>
<td><code>0x0600 - 0x063F</code></td>
</tr>
<tr>
<td><code>good counter tdm</code></td>
<td><code>0x8600 - 0x863F</code></td>
</tr>
<tr>
<td><code>TDM err sync</code></td>
<td><code>0x8640 - 0x867f</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8105-0xB705</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8680 - 0x86BF</code></td>
</tr>
<tr>
<td><code>Single Inser Error</code></td>
<td><code>0x4105-0x7105</code></td>
</tr>
<tr>
<td><code>tdm mon stt</code></td>
<td><code>0x8103 - 0xB703</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-timeslot-gen">Sel Timeslot Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ts_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4102 - 0x7702</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4102 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>gen_tsen</code></td>
<td>bit map indicase 32 timeslot,&rdquo;1&rdquo; : enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-timeslot-mon-tdm">Sel Timeslot Mon tdm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_mon_tstdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8102 - 0xB102</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8102 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>tdm_tsen</code></td>
<td>bit map indicase 32 timeslot,&rdquo;1&rdquo; : enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-ho-bert-gen">Sel Ho Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ho_bert_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_200 - 0x0_21B</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_200 + engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>gen_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>lineid</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>id</code></td>
<td>TDM ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-tdm-bert-mon">Sel TDM Bert mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_bert_montdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_000 - 0x0_01b</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_000 + engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:16]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>tdmmon_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>mon_side</code></td>
<td>&ldquo;0&rdquo; tdm side, &ldquo;1&rdquo; psn side moniter</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:11]</code></td>
<td><code>tdm_lineid</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10:0]</code></td>
<td><code>id</code></td>
<td>tdm ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-gen">Sel Mode Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4100 - 0x7700</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4100 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : all0 # 0x02 : prbs15 # 0x03 : prbs23 # 0x05 : prbs31 # 0x7  : all1 # 0x8  : SEQ(SIM)/prbs20(SYN) # 0x4  : prbs20r # 0x06 : fixpattern 4byte</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-value-of-fix-pattern">Sel Value of fix pattern</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>txfix_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4104 - 0xB704</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4104 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>txpatten_val</code></td>
<td>value of fix paatern</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-mon-tdm">Sel Mode Bert Mon TDM</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_montdm</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8100 - 0xB700</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8100 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:06]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : fixpattern # 0x02 : all0 # 0x04 : prbs15 # 0x03 : prbs23 # 0x05 : prbs31 # 0x00 : all1 # 0x10 : SEQ(SIM)/prbs20(SYN) # 0x08  : prbs20r</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-value-of-fix-pattern_1">Sel Value of fix pattern</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rxfix_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8104 - 0x8704</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8104 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>rxpatten_val</code></td>
<td>value of fix paatern</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="inser-error">Inser Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select rate inser error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4101 - 0xB_701</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4101 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>ber_rate</code></td>
<td>TxBerMd [31:0] == BER_level_val  : Bit Error Rate inserted to Pattern Generator [31:0] == 32&rsquo;d0          :disable  Incase N DS0 mode : n        = num timeslot use, BER_level_val recalculate by CFG_DS1,CFG_E1 CFG_DS1  = ( 8n  x  BER_level_val) / 193 CFG_E1   = ( 8n  x  BER_level_val) / 256 Other : BER_level_val  BER_level 1000:         BER 10e-3 10_000:       BER 10e-4 100_000:      BER 10e-5 1_000_000:    BER 10e-6 10_000_000:   BER 10e-7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="good-counter-tdm-gen">good counter tdm gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_tdm_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0600 - 0x063F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0600 + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$id(0-31): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>bertgen</code></td>
<td>gen goodbit</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="good-counter-tdm">good counter tdm</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8600 - 0x863F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8600 + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$id(0-31): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>mongood</code></td>
<td>moniter goodbit</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tdm-err-sync">TDM err sync</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers indicate bert mon err in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>err_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8640 - 0x867f</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8640 + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$id(0-31): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_errbit</code></td>
<td>counter err bit</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossyn_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8105-0xB705</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8105 + engid*512</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): slice id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>stk_losssyn</code></td>
<td>sticky loss sync</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon_1">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count lossbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8680 - 0x86BF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8680 + id</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$id(0-31): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_lossbit</code></td>
<td>counter lossbit</td>
<td><code>RC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="single-inser-error">Single Inser Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select rate inser error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>singe_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4105-0x7105</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4105 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-27): bert id</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ena</code></td>
<td>sw write &ldquo;1&rdquo; to force, hw auto clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tdm-mon-stt">tdm mon stt</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers indicate bert mon state in pw side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>stt_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8103 - 0xB703</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8103 + 512*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-7): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:03]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1:0]</code></td>
<td><code>tdmstate</code></td>
<td>Status [1:0]: Prbs status LOPSTA = 2&rsquo;d0; SRCSTA = 2&rsquo;d1; VERSTA = 2&rsquo;d2; INFSTA = 2&rsquo;d3;</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>