<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_pla">AF6CNC0022_RD_PLA</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Payload Assembler Low-Order Payload Control</code></td>
<td><code>0x0_1000-0x1_B7FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Add/Remove Pseudowire Protocol Control</code></td>
<td><code>0x0_1800-0x1_BFFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Lookup PW Control</code></td>
<td><code>0x0_4000-0x1_8FFF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Pseudowire Header Control</code></td>
<td><code>0x2_0000-0x2_29FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Pseudowire PSN Control</code></td>
<td><code>0x4_8000-0x4_A9FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Psedowire Protection Control</code></td>
<td><code>0x5_0000-0x5_29FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output UPSR Control</code></td>
<td><code>0x5_8000-0x5_A9FF</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output HSPW Control</code></td>
<td><code>0x6_0000-0x6_029F</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Process Control</code></td>
<td><code>0x4_0000</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Buffer Control</code></td>
<td><code>0x4_0010-0x4_0015</code></td>
</tr>
<tr>
<td><code>Payload Assembler Hold Register Control</code></td>
<td><code>0x7_0000-0x7_0002</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit3_0 Control</code></td>
<td><code>0x70100 - 0x7010F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit7_4 Control</code></td>
<td><code>0x70110 - 0x7011F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit11_8 Control</code></td>
<td><code>0x70120 - 0x7012F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit15_12 Control</code></td>
<td><code>0x070130 - 0x7013F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit19_16 Control</code></td>
<td><code>0x70140 - 0x7014F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit23_20 Control</code></td>
<td><code>0x70150 - 0x7015F</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit24 and Data Control</code></td>
<td><code>0x70160 - 0x70161</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data63_32</code></td>
<td><code>0x70170</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data95_64</code></td>
<td><code>0x70171</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data127_96</code></td>
<td><code>0x70172</code></td>
</tr>
<tr>
<td><code>Payload Assembler Output PSN Process Control</code></td>
<td><code>0x4_0001</code></td>
</tr>
<tr>
<td><code>Payload Assembler Force Parity Error Control</code></td>
<td><code>0x42040</code></td>
</tr>
<tr>
<td><code>Payload Assembler Disable Parity Control</code></td>
<td><code>0x42041</code></td>
</tr>
<tr>
<td><code>Payload Assembler Parity Error Sticky</code></td>
<td><code>0x42042</code></td>
</tr>
<tr>
<td><code>Payload Assembler Force CRC Error Control</code></td>
<td><code>0x42030</code></td>
</tr>
<tr>
<td><code>PLA CRC Error Sticky</code></td>
<td><code>0x42031</code></td>
</tr>
<tr>
<td><code>PLA CRC Error Counter</code></td>
<td><code>0x42032</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-low-order-payload-control">Payload Assembler Low-Order Payload Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure payload in each Pseudowire channels per slice</p>
<p>HDL_PATH  : ipwcore.ipwslcore.ilo96core[$Oc96Slice].ilo48core[$Oc48Slice].irtlpla.cfgpwctrl.membuf.ram.ram[$Pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_pld_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_1000-0x1_B7FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_1000 + $Oc96Slice*32768 + $Oc48Slice*8192 + $Pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc96Slice(0-3): OC-96 slices, there are total 4xOC-96 slices for 20G</code></p>
</li>
<li>
<p><code>$Oc48Slice(0-1): OC-48 slices, there are total 2xOC-48 slices per OC-96 slice</code></p>
</li>
<li>
<p><code>$Pwid(0-2047): pseudowire channel for each OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>18</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[17]</code></td>
<td><code>plalopldtssrcctrl</code></td>
<td>Timestamp Source 0: PRC global 1: TS from CDR engine</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16:15]</code></td>
<td><code>plalopldtypectrl</code></td>
<td>Payload Type 0: satop 1: ces without cas 2: cep</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14:0]</code></td>
<td><code>plalopldsizectrl</code></td>
<td>Payload Size satop/cep mode: bit[13:0] payload size (ex: value as 0x100 is payload size 256 bytes) ces mode: bit[5:0] number of DS0 timeslot bit[14:6] number of NxDS0 frame</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-addremove-pseudowire-protocol-control">Payload Assembler Add/Remove Pseudowire Protocol Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to add/remove pseudowire to prevent burst packets to other packet processing engines in each OC-48 slice</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_add_rmv_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_1800-0x1_BFFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_1800 + $Oc96Slice*32768 + $Oc48Slice*8192 + $Pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc96Slice(0-3): OC-96 slices, there are total 4xOC-96 slices for 20G</code></p>
</li>
<li>
<p><code>$Oc48Slice(0-1): OC-48 slices, there are total 2xOC-48 slices per OC-96 slice</code></p>
</li>
<li>
<p><code>$Pwid(0-2047): pseudowire channel for each OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>2</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[1:0]</code></td>
<td><code>plalostaaddrmvctrl</code></td>
<td>protocol state to add/remove pw Step1: Add intitial or pw idle, the protocol state value is &ldquo;zero&rdquo; Step2: For adding the pw, CPU will Write &ldquo;1&rdquo; value for the protocol state to start adding pw. The protocol state value is &ldquo;1&rdquo;. Step3: CPU enables pw at demap to finish the adding pw process. HW will automatically change the protocol state value to &ldquo;2&rdquo; to run the pw, and keep this state. Step4: For removing the pw, CPU will write &ldquo;3&rdquo; value for the protocol state to start removing pw. The protocol state value is &ldquo;3&rdquo;. Step5: Poll the protocol state until return value &ldquo;0&rdquo; value, after that CPU disables pw at demap to finish the removing pw process</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-lookup-pw-control">Payload Assembler Lookup PW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to lookup pseudowire per OC-48 slice to a common pseudowire number (total is 10752 pw)</p>
<p>HDL_PATH  : ipwcore.ipwslcore.ilo96core[$Oc96Slice].pwcfg.membuf.ram.ram[$Oc48Slice*2048+$Pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_lk_pw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0_4000-0x1_8FFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0_4000 + $Oc96Slice*32768 + $Oc48Slice*2048 + $Pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$Oc96Slice(0-3): OC-96 slices, there are total 4xOC-96 slices for 20G</code></p>
</li>
<li>
<p><code>$Oc48Slice(0-1): OC-48 slices, there are total 2xOC-48 slices per LO OC-96 slice</code></p>
</li>
<li>
<p><code>$Pwid(0-2047): pseudowire channel for each OC-48 slice</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>14</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[13:0]</code></td>
<td><code>plalkpwidctrl</code></td>
<td>Lookup to a output psedowire</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-pseudowire-header-control">Payload Assembler Pseudowire Header Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config Control Word for the psedowire channels</p>
<p>HDL_PATH  : ipwcore.ipwcfg.membuf.ram.ram[$pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_pw_hdr_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2_0000-0x2_29FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x2_0000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751): pseudowire channel</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>10</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[9]</code></td>
<td><code>plapwhiratectrl</code></td>
<td>set 1 for high rate path (12c/48c/192c), other is set 0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>plapwsuprctrl</code></td>
<td>Suppresion Enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>plapwrbitdisctrl</code></td>
<td>R bit disable 1: disable R bit in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>plapwmbitdisctrl</code></td>
<td>M or NP bits disable 1: disable M or NP bits in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>plapwlbitdisctrl</code></td>
<td>L bit disable 1: disable L bit in the Control Word (assign zero in the packet) 0: normal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>plapwrbitcpuctrl</code></td>
<td>R bit value from CPU (low priority than PlaPwRbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:2]</code></td>
<td><code>plapwmbitcpuctrl</code></td>
<td>M or NP bits value from CPU (low priority than PlaLoPwMbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plapwlbitcpuctrl</code></td>
<td>L bit value from CPU (low priority than PlaLoPwLbitDisCtrl)</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plapwenctrl</code></td>
<td>Pseudowire enable 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-pseudowire-psn-control">Payload Assembler Pseudowire PSN Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config psedowire PSN and APS at output</p>
<p>HDL_PATH  : irdport.iflowcfg.membuf.ram.ram[$pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_pw_psn_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_8000-0x4_A9FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_8000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751): pseudowire channel</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6:0]</code></td>
<td><code>plaoutpsnlenctrl</code></td>
<td>PSN length</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-psedowire-protection-control">Payload Assembler Psedowire Protection Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config UPSR/HSPW for protect psedowire</p>
<p>HDL_PATH  : irdport.iapslkcfg.membuf.ram.ram[$pwid]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_pw_pro_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_0000-0x5_29FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_0000 + $pwid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$pwid(0-10751): flow channel</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>30</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[29:16]</code></td>
<td><code>plaoutupsrgrpctr</code></td>
<td>UPRS group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:2]</code></td>
<td><code>plaouthspwgrpctr</code></td>
<td>HSPW group</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>plaflowupsrusedctrl</code></td>
<td>Flow UPSR is used or not 0:not used, all configurations for UPSR will be not effected 1:used</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>plaflowhspwusedctrl</code></td>
<td>Flow HSPW is used or not 0:not used, all configurations for HSPW will be not effected 1:used</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-upsr-control">Payload Assembler Output UPSR Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config UPSR group</p>
<p>HDL_PATH  : irdport.iupsrcfg.membuf.ram.ram[$upsrgrp]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_upsr_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x5_8000-0x5_A9FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x5_8000 + $upsrgrp</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$upsrgrp(0-671): UPSR group address</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>plaoutupsrenctr</code></td>
<td>Total is 10752 upsrID, divide into 672 group address for configuration, 16-bit is correlative with 16 upsrID each group. Bit#0 is for upsrID#0, bit#1 is for upsrID#1&hellip; 1: enable 0: disable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-hspw-control">Payload Assembler Output HSPW Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to config HSPW group</p>
<p>HDL_PATH  : irdport.ihspwcfg.membuf.ram.ram[$hspwgrp]</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_hspw_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x6_0000-0x6_029F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x6_0000 + $hspwgrp</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$hspwgrp(0-671): HSPW group address</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>plaouthspwctr</code></td>
<td>Total is 10752 hspwID, divide into 672 group address for configuration, 16-bit is correlative with 16 hspwID each group. Bit#0 is for hspwID#0, bit#1 is for hspwID#1&hellip;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-process-control">Payload Assembler Output PSN Process Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control PSN configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnpro_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0000</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>Request to process PSN 1: request to write/read PSN header buffer. The CPU need to prepare a complete PSN header into PSN buffer before request write OR read out a complete PSN header in PSN buffer after request read done 0: HW will automatically set to 0 when a request done</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>plaoutpsnprornwctr</code></td>
<td>read or write PSN 1: read PSN 0: write PSN</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:16]</code></td>
<td><code>plaoutpsnprolenctr</code></td>
<td>Length of a complete PSN need to read/write</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>plaoutpsnpropagectr</code></td>
<td>there is 2 pages PSN location per PWID, depend on the configuration of &ldquo;PlaOutHspwPsnCtr&rdquo;, the engine will choice which the page to encapsulate into the packet.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13:0]</code></td>
<td><code>plaoutpsnproflowctr</code></td>
<td>Flow channel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-buffer-control">Payload Assembler Output PSN Buffer Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store PSN data which is before CPU request write or after CPU request read %%</p>
<p>The header format from entry#0 to entry#4 is as follow: %%</p>
<p>{DA(6-byte),SA(6-byte),VLAN1(4-byte,optional),VLAN2(4-byte, optional),EthType(2-byte),PSN Header(4 to 96 bytes)} %%</p>
<p>Depends on specific PSN selected for each pseudowire, the EthType and PSN Header field may have the following values and formats: %%</p>
<p>PSN header is MEF-8: %%</p>
<p>EthType:  0x88D8 %%</p>
<p>4-byte PSN Header with format: {ECID[19:0], 0x102} where ECID is pseodowire identification for  remote  receive side. %%</p>
<p>PSN header is MPLS:  %%</p>
<p>EthType:  0x8847 %%</p>
<p>4/8/12-byte PSN Header with format: {OuterLabel2<a href="optional">31:0</a>, OuterLabel1<a href="optional">31:0</a>,  InnerLabel[31:0]}   %%</p>
<p>Where InnerLabel[31:12] is pseodowire identification for remote receive side. %%</p>
<p>Label format: {Idenfifier[19:0],Exp[2:0],StackBit,TTL[7:0]} where StackBit =  for InnerLabel %%</p>
<p>PSN header is UDP/Ipv4:  %%</p>
<p>EthType:  0x0800 %%</p>
<p>28-byte PSN Header with format {Ipv4 Header(20 bytes), UDP Header(8 byte)} as below: %%</p>
<p>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0], IP_Header_Sum[31:16]} %%</p>
<p>{IP_Iden[15:0], IP_Flag[2:0], IP_Frag_Offset[12:0]}  %%</p>
<p>{IP_TTL[7:0], IP_Protocol[7:0], IP_Header_Sum[15:0]} %%</p>
<p>{IP_SrcAdr[31:0]} %%</p>
<p>{IP_DesAdr[31:0]} %%</p>
<p>{UDP_SrcPort[15:0], UDP_DesPort[15:0]} %%</p>
<p>{UDP_Sum[31:0] (optional)} %%</p>
<p>Case: %%</p>
<p>IP_Protocol[7:0]: 0x11 to signify UDP  %%</p>
<p>IP_Protocol[7:0]: 0x11 to signify UDP  %%</p>
<p>IP_Header_Sum[31:0]:  CPU calculate these fields as a temporarily for HW before plus rest fields %%</p>
<p>{IP_Ver[3:0], IP_IHL[3:0], IP_ToS[7:0]} +%%</p>
<p>IP_Iden[15:0] + {IP_Flag[2:0], IP_Frag_Offset[12:0]}  +%%</p>
<p>{IP_TTL[7:0], IP_Protocol[7:0]} + %%</p>
<p>IP_SrcAdr[31:16] + IP_SrcAdr[15:0] +%%</p>
<p>IP_DesAdr[31:16] + IP_DesAdr[15:0]%%</p>
<p>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_Sum[31:0] (optional): CPU calculate these fields as a temporarily for HW before plus rest fields%%</p>
<p>IP_SrcAdr[127:112] +    IP_SrcAdr[111:96] +     %%</p>
<p>IP_SrcAdr[95:80]  + IP_SrcAdr[79:64] +  %%</p>
<p>IP_SrcAdr[63:48]  + IP_SrcAdr[47:32] +  %%</p>
<p>IP_SrcAdr[31:16]  + IP_SrcAdr[15:0] +   %%</p>
<p>IP_DesAdr[127:112] +    IP_DesAdr[111:96] +     %%</p>
<p>IP_DesAdr[95:80]  + IP_DesAdr[79:64] +  %%</p>
<p>IP_DesAdr[63:48]  + IP_DesAdr[47:32] +  %%</p>
<p>IP_DesAdr[31:16]  + IP_DesAdr[15:0] +%%</p>
<p>{8-bit zeros, IP_Protocol[7:0]} +%%</p>
<p>UDP_SrcPort[15:0] +  UDP_DesPort[15:0]%%</p>
<p>PSN header is UDP/Ipv6:  %%</p>
<p>EthType:  0x86DD%%</p>
<p>48-byte PSN Header with format {Ipv6 Header(40 bytes), UDP Header(8 byte)} as below:%%</p>
<p>{IP_Ver[3:0], IP_Traffic_Class[7:0], IP_Flow_Label[19:0]}%%</p>
<p>{16-bit zeros, IP_Next_Header[7:0], IP_Hop_Limit[7:0]} %%</p>
<p>{IP_SrcAdr[127:96]}%%</p>
<p>{IP_SrcAdr[95:64]}%%</p>
<p>{IP_SrcAdr[63:32]}%%</p>
<p>{IP_SrcAdr[31:0]}%%</p>
<p>{IP_DesAdr[127:96]}%%</p>
<p>{IP_DesAdr[95:64]}%%</p>
<p>{IP_DesAdr[63:32]}%%</p>
<p>{IP_DesAdr[31:0]}%%</p>
<p>{UDP_SrcPort[15:0], UDP_DesPort[15:0]}%%</p>
<p>{UDP_Sum[31:0]}%%</p>
<p>Case:%%</p>
<p>IP_Next_Header[7:0]: 0x11 to signify UDP %%</p>
<p>UDP_Sum[31:0]:  CPU calculate these fields as a temporarily for HW before plus rest fields%%</p>
<p>IP_SrcAdr[127:112] +    IP_SrcAdr[111:96] +     %%</p>
<p>IP_SrcAdr[95:80]  + IP_SrcAdr[79:64] +  %%</p>
<p>IP_SrcAdr[63:48]  + IP_SrcAdr[47:32] +  %%</p>
<p>IP_SrcAdr[31:16]  + IP_SrcAdr[15:0] +   %%</p>
<p>IP_DesAdr[127:112] +    IP_DesAdr[111:96] +     %%</p>
<p>IP_DesAdr[95:80]  + IP_DesAdr[79:64] +  %%</p>
<p>IP_DesAdr[63:48]  + IP_DesAdr[47:32] +  %%</p>
<p>IP_DesAdr[31:16]  + IP_DesAdr[15:0] +%%</p>
<p>{8-bit zeros, IP_Next_Header[7:0]} +%%</p>
<p>UDP_SrcPort[15:0] +  UDP_DesPort[15:0]%%</p>
<p>UDP_SrcPort: used as remote pseudowire identification or 0x85E if unused%%</p>
<p>UDP_DesPort : used as remote pseudowire identification or 0x85E if unused%%</p>
<p>User can select either source or destination port for pseodowire identification. See IP/UDP standards for more description about other field. %%</p>
<p>PSN header is MPLS over Ipv4:%%</p>
<p>IPv4 header must have IP_Protocol[7:0] value 0x89 to signify MPLS%%</p>
<p>After IPv4 header is MPLS labels where inner label is used for PW identification%%</p>
<p>PSN header is MPLS over Ipv6:%%</p>
<p>IPv6 header must have IP_Next_Header[7:0] value 0x89 to signify MPLS%%</p>
<p>After IPv6 header is MPLS labels where inner label is used for PW identification%%</p>
<p>PSN header (all modes) with RTP enable: RTP used for TDM PW (define in RFC3550), is in the first 8-byte of this buffer (bit[127:64] of segid == 0), following is PSN header (start from bit[63:0] of segid = 0)%%</p>
<p>Case:%%</p>
<p>RTPSSRC[31:0] : This is the SSRC value of RTP header%%</p>
<p>RtpPtValue[6:0]: This is the PT value of RTP header, define in http://www.iana.org/assignments/rtp-parameters/rtp-parameters.xml</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnbuf_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0010-0x4_0015</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0010 + $segid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$segid(0-5): segment 16-byte PSN, total is 6 segments for maximum 96 bytes PSN  %</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[127:0]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>PSN buffer</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-hold-register-control">Payload Assembler Hold Register Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control hold register.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_hold_reg_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x7_0000-0x7_0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x7_0000 + $holdreg</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$holdreg(0-2): hold register with (holdreg=0) for bit63_32, (holdreg=1) for bit95_64, (holdreg=2) for bit127_96</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>plaholdregctr</code></td>
<td>hold register value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit3_0-control">Read HA Address Bit3_0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit3_0 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha3_0_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70100 - 0x7010F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70100 + HaAddr3_0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr3_0(0-15): HA Address Bit3_0</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr3_0</code></td>
<td>Read value will be 0x8C100 plus HaAddr3_0</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit7_4-control">Read HA Address Bit7_4 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit7_4 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha7_4_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70110 - 0x7011F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70110 + HaAddr7_4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr7_4(0-15): HA Address Bit7_4</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr7_4</code></td>
<td>Read value will be 0x8C100 plus HaAddr7_4</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit11_8-control">Read HA Address Bit11_8 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit11_8 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha11_8_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70120 - 0x7012F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70120 + HaAddr11_8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr11_8(0-15): HA Address Bit11_8</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr11_8</code></td>
<td>Read value will be 0x8C100 plus HaAddr11_8</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit15_12-control">Read HA Address Bit15_12 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit15_12 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha15_12_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x070130 - 0x7013F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x070130 + HaAddr15_12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr15_12(0-15): HA Address Bit15_12</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr15_12</code></td>
<td>Read value will be 0x8C100 plus HaAddr15_12</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit19_16-control">Read HA Address Bit19_16 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit19_16 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha19_16_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70140 - 0x7014F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70140 + HaAddr19_16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr19_16(0-15): HA Address Bit19_16</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr19_16</code></td>
<td>Read value will be 0x8C100 plus HaAddr19_16</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit23_20-control">Read HA Address Bit23_20 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit23_20 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha23_20_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70150 - 0x7015F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70150 + HaAddr23_20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr23_20(0-15): HA Address Bit23_20</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr23_20</code></td>
<td>Read value will be 0x8C100 plus HaAddr23_20</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit24-and-data-control">Read HA Address Bit24 and Data Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit24 to HA engine to read data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha24data_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70160 - 0x70161</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x70160 + HaAddr24</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr24(0-1): HA Address Bit24</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata31_0</code></td>
<td>HA read data bit31_0</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data63_32">Read HA Hold Data63_32</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword2 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha_hold63_32</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70170</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata63_32</code></td>
<td>HA read data bit63_32</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data95_64">Read HA Hold Data95_64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword3 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold95_64</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70171</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata95_64</code></td>
<td>HA read data bit95_64</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data127_96">Read HA Hold Data127_96</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword4 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold127_96</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x70172</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata127_96</code></td>
<td>HA read data bit127_96</td>
<td><code>RO</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-output-psn-process-control_1">Payload Assembler Output PSN Process Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to control PSN configuration</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_out_psnpro_ha_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>plaoutpsnproreqctr</code></td>
<td>Request to process PSN 1: request to write/read PSN header buffer. The CPU need to prepare a complete PSN header into PSN buffer before request write OR read out a complete PSN header in PSN buffer after request read done 0: HW will automatically set to 0 when a request done</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:23]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:16]</code></td>
<td><code>plaoutpsnprolenctr</code></td>
<td>Length of a complete PSN need to read/write</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>plaoutpsnpropagectr</code></td>
<td>there is 2 pages PSN location per PWID, depend on the configuration of &ldquo;PlaOutHspwPsnCtr&rdquo;, the engine will choice which the page to encapsulate into the packet.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:0]</code></td>
<td><code>plaoutpsnpropwidctr</code></td>
<td>Pseudowire channel</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-force-parity-error-control">Payload Assembler Force Parity Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to force parity error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_force_par_err_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42040</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>21</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[20]</code></td>
<td><code>forceparerroutupsrctrreg</code></td>
<td>Force Parity Error Ouput UPSR Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>forceparerrpwproctrreg</code></td>
<td>Force Parity Error PW Protection Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>forceparerrpwpsnctrreg</code></td>
<td>Force Parity Error PW PSNr Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>forceparerrpwhdrctrreg</code></td>
<td>Force Parity Error PW Header Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>forceparerrlkpwctrregoc96_3</code></td>
<td>Force Parity Error Lookup PW  Control Register OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>forceparerrpldctrregoc96_3_oc48_1</code></td>
<td>Force Parity Error Payload Control Register OC48#1 of OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>forceparerrpldctrregoc96_3_oc48_0</code></td>
<td>Force Parity Error Payload Control Register OC48#0 of OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>forceparerrlkpwctrregoc96_2</code></td>
<td>Force Parity Error Lookup PW  Control Register OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>forceparerrpldctrregoc96_2_oc48_1</code></td>
<td>Force Parity Error Payload Control Register OC48#1 of OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>forceparerrpldctrregoc96_2_oc48_0</code></td>
<td>Force Parity Error Payload Control Register OC48#0 of OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>forceparerrlkpwctrregoc96_1</code></td>
<td>Force Parity Error Lookup PW  Control Register OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>forceparerrpldctrregoc96_1_oc48_1</code></td>
<td>Force Parity Error Payload Control Register OC48#1 of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>forceparerrpldctrregoc96_1_oc48_0</code></td>
<td>Force Parity Error Payload Control Register OC48#0 of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>forceparerrlkpwctrregoc96_0</code></td>
<td>Force Parity Error Lookup PW  Control Register OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>forceparerrpldctrregoc96_0_oc48_1</code></td>
<td>Force Parity Error Payload Control Register OC48#1 of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>forceparerrpldctrregoc96_0_oc48_0</code></td>
<td>Force Parity Error Payload Control Register OC48#0 of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-disable-parity-control">Payload Assembler Disable Parity Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to disable parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_dis_par_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42041</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>21</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[20]</code></td>
<td><code>disparerroutupsrctrreg</code></td>
<td>Dis Parity Error Ouput UPSR Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>disparerrpwproctrreg</code></td>
<td>Dis Parity Error PW Protection Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>disparerrpwpsnctrreg</code></td>
<td>Dis Parity Error PW PSNr Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>disparerrpwhdrctrreg</code></td>
<td>Dis Parity Error PW Header Control Register</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>disparerrlkpwctrregoc96_3</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>disparerrpldctrregoc96_3_oc48_1</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>disparerrpldctrregoc96_3_oc48_0</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>disparerrlkpwctrregoc96_2</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>disparerrpldctrregoc96_2_oc48_1</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>disparerrpldctrregoc96_2_oc48_0</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>disparerrlkpwctrregoc96_1</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>disparerrpldctrregoc96_1_oc48_1</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>disparerrpldctrregoc96_1_oc48_0</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>disparerrlkpwctrregoc96_0</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>disparerrpldctrregoc96_0_oc48_1</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>disparerrpldctrregoc96_0_oc48_0</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-parity-error-sticky">Payload Assembler Parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to sticky parity check</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_par_err_stk</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42042</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>21</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[20]</code></td>
<td><code>parerroutupsrctrstk</code></td>
<td>Dis Parity Error Ouput UPSR Control Register</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>parerrpwproctrstk</code></td>
<td>Dis Parity Error PW Protection Control Register</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>parerrpwpsnctrstk</code></td>
<td>Dis Parity Error PW PSNr Control Register</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>parerrpwhdrctrstk</code></td>
<td>Dis Parity Error PW Header Control Register</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>parerrlkpwctrregoc96_3stk</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#3</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>parerrpldctrregoc96_3_oc48_1stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#3</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>parerrpldctrregoc96_3_oc48_0stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#3</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>parerrlkpwctrregoc96_2stk</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#2</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>parerrpldctrregoc96_2_oc48_1stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#2</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>parerrpldctrregoc96_2_oc48_0stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#2</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>parerrlkpwctrregoc96_1stk</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#1</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>parerrpldctrregoc96_1_oc48_1stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#1</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>parerrpldctrregoc96_1_oc48_0stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#1</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>parerrlkpwctrregoc96_0stk</code></td>
<td>Dis Parity Error Lookup PW  Control Register OC96#0</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>parerrpldctrregoc96_0_oc48_1stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#1 of OC96#0</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>parerrpldctrregoc96_0_oc48_0stk</code></td>
<td>Dis Parity Error Payload Control Register OC48#0 of OC96#0</td>
<td><code>W1C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="payload-assembler-force-crc-error-control">Payload Assembler Force CRC Error Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to force CRC error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_force_crc_err_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42030</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>29</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[28]</code></td>
<td><code>placrcerrforevercfg</code></td>
<td>Force crc error mode  1: forever when field PLACrcErrNumberCfg differ zero 0: burst</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27:0]</code></td>
<td><code>placrcerrnumbercfg</code></td>
<td>number of CRC error inserted to PLA DDR</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pla-crc-error-sticky">PLA CRC Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register report sticky of PLA CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>pla_crc_sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42031</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>placrcerror</code></td>
<td>PLA CRC error</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pla-crc-error-counter">PLA CRC Error Counter</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register counts PLA CRC error.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>PLA_crc_counter</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x42032</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x42032 + R2C</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$R2C(0-1): value zero for read only,value 1 for read to clear</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>28</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[27:0]</code></td>
<td><code>placrcerrorcounter</code></td>
<td>PLA Crc error counter</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>