<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_map_ho">AF6CNC0022_RD_MAP_HO</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Demap Channel Control</code></td>
<td><code>0x0000-0x007FF</code></td>
</tr>
<tr>
<td><code>Map Line Control</code></td>
<td><code>0x4000-0x47FF</code></td>
</tr>
<tr>
<td><code>map_loopback_ctrl</code></td>
<td><code>0x4_0FF</code></td>
</tr>
<tr>
<td><code>Sel Ho Bert Gen</code></td>
<td><code>0x8_200 - 0xB_A00</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert Gen</code></td>
<td><code>0x8_300 - 0xB_B00</code></td>
</tr>
<tr>
<td><code>Inser Error</code></td>
<td><code>0x8_320 - 0xB_B20</code></td>
</tr>
<tr>
<td><code>Counter num of bit gen</code></td>
<td><code>0x8_380 - 0xB_B80</code></td>
</tr>
<tr>
<td><code>Sel Ho Bert TDM Mon</code></td>
<td><code>0x8_400 - 0xB_C00</code></td>
</tr>
<tr>
<td><code>Sel Ho Bert PW Mon</code></td>
<td><code>0x8_600 - 0xB_E00</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert TDM mon</code></td>
<td><code>0x8_510 - 0xB_D10</code></td>
</tr>
<tr>
<td><code>Sel Mode Bert PW mon</code></td>
<td><code>0x8_710 - 0xB_F10</code></td>
</tr>
<tr>
<td><code>TDM loss sync</code></td>
<td><code>0x8_502 - 0xB_D02</code></td>
</tr>
<tr>
<td><code>PW loss sync</code></td>
<td><code>0x8_702 - 0xB_F02</code></td>
</tr>
<tr>
<td><code>counter good bit TDM mon</code></td>
<td><code>0x8_580 - 0xB_D80</code></td>
</tr>
<tr>
<td><code>counter error bit in TDM mon</code></td>
<td><code>0x8_560 - 0xB_D60</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8_5A0 - 0xB_DA0</code></td>
</tr>
<tr>
<td><code>counter good bit TDM mon</code></td>
<td><code>0x8_780 - 0xB_F80</code></td>
</tr>
<tr>
<td><code>counter error bit in TDM mon</code></td>
<td><code>0x8_760 - 0xB_F60</code></td>
</tr>
<tr>
<td><code>Counter loss bit in TDM mon</code></td>
<td><code>0x8_7A0 - 0xB_FA0</code></td>
</tr>
<tr>
<td><code>RAM Map Parity Force Control</code></td>
<td><code>0x4808</code></td>
</tr>
<tr>
<td><code>RAM Map Parity Disable Control</code></td>
<td><code>0x4809</code></td>
</tr>
<tr>
<td><code>RAM Map parity Error Sticky</code></td>
<td><code>0x480a</code></td>
</tr>
<tr>
<td><code>RAM DeMap Parity Force Control</code></td>
<td><code>0x0808</code></td>
</tr>
<tr>
<td><code>RAM DeMap Parity Disable Control</code></td>
<td><code>0x0809</code></td>
</tr>
<tr>
<td><code>RAM DeMap parity Error Sticky</code></td>
<td><code>0x080a</code></td>
</tr>
</tbody>
</table>
<h3 id="demap-channel-control">Demap Channel Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers are used by the hardware to configure PW channel</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>demap_channel_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000-0x007FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000 + 256*slice + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-1): is OC48 slice</code></p>
</li>
<li>
<p><code>$stsid(0-47): is STS in OC48</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:5]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4:3]</code></td>
<td><code>demapchtype</code></td>
<td>0:CEP,  1:HDLC/PPP/ML, 2:VCAT/LCAS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>demapsr_vc3n3c</code></td>
<td>0:slave of VC3_N3c  1:master of VC3-N3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>demapsrctype</code></td>
<td>0:VC3 1:VC3-3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>demapchen</code></td>
<td>PW/Channels Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="map-line-control">Map Line Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers provide the per line configurations for STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>map_line_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4000-0x47FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4000 + 256*slice + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-1): is OC48 slice</code></p>
</li>
<li>
<p><code>$stsid(0-47): is STS in OC48</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>mapchtype</code></td>
<td>0:CEP,  1:HDLC/PPP/ML, 2:VCAT/LCAS</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>mapsrc_vc3n3c</code></td>
<td>0:slave of VC3_N3c  1:master of VC3-N3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>mapsrc_type</code></td>
<td>0:VC3 1:VC3-3c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>mapchen</code></td>
<td>PW/Channels Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>maptimesrcmaster</code></td>
<td>This bit is used to indicate the master timing or the master VC3 in VC4/VC4-Xc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5:0]</code></td>
<td><code>maptimesrcid</code></td>
<td>The reference line ID used for timing reference or the master VC3 ID in VC4/VC4-Xc</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="map_loopback_ctrl">map_loopback_ctrl</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>map_loopback_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4_0FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x4_0FF + 256*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[8]</code></td>
<td><code>map_loopout</code></td>
<td>Map loop out full Slice 48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7:0]</code></td>
<td><code>idlecode</code></td>
<td>IDLE Code</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-ho-bert-gen">Sel Ho Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ho_bert_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_200 - 0xB_A00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_200 + 2048*engid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$engid(0-1): id of HO_BERT</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:10]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>gen_en</code></td>
<td>set &ldquo;1&rdquo; to enable bert gen</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8:6]</code></td>
<td><code>line_id</code></td>
<td>line id OC48</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5:0]</code></td>
<td><code>stsid</code></td>
<td>STS ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-gen">Sel Mode Bert Gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert gen</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_gen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_300 - 0xB_B00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_300 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:12]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : all0 # 0x02 : prbs15 # 0x04 : prbs20r # 0x08 : prbs20 # 0x10 : prbs23 # 0x20 : prbs31 # other: all1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="inser-error">Inser Error</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select rate inser error</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_320 - 0xB_B20</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_320 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>ber_rate</code></td>
<td>TxBerMd [31:0] == BER_level_val  : Bit Error Rate inserted to Pattern Generator [31:0] == 32&rsquo;d0          :disable  BER_level_val BER_level 1000:         BER 10e-3 10_000:       BER 10e-4 100_000:      BER 10e-5 1_000_000:    BER 10e-6 10_000_000:   BER 10e-7 100_000_000:  BER 10e-8 1_000_000_000 : BER 10e-9</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-num-of-bit-gen">Counter num of bit gen</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers counter bit genertaie in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_ber_pen</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_380 - 0xB_B80</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_380 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>goodbit</code></td>
<td>counter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-ho-bert-tdm-mon">Sel Ho Bert TDM Mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ho_bert_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_400 - 0xB_C00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_400 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>montdmen</code></td>
<td>set &ldquo;1&rdquo; to enable bert tdm mon</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:10]</code></td>
<td><code>tdmslide</code></td>
<td>slide id</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>masterid</code></td>
<td>chanel ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-ho-bert-pw-mon">Sel Ho Bert PW Mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select 1id in line to gen bert data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>sel_ho_bert_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_600 - 0xB_E00</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_600 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:14]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>monpwen</code></td>
<td>set &ldquo;1&rdquo; to enable bert pw mon</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12:10]</code></td>
<td><code>monpwslide</code></td>
<td>pw slide id</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9:0]</code></td>
<td><code>masterid</code></td>
<td>chanel ID</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-tdm-mon">Sel Mode Bert TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert mon in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_510 - 0xB_D10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_510 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>thrhold_pattern_sync</code></td>
<td>minimum number of byte sync to go sync state</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0xA</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>thrhold_error</code></td>
<td>maximum err in state sync, if more than thrhold go loss sync</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>reservee</code></td>
<td>reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : all1 # 0x02 : all0 # 0x04 : prbs15 # 0x08 : prbs20r # 0x10 : prbs20 # 0x20 : prss23 # 0x40 : prbs31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="sel-mode-bert-pw-mon">Sel Mode Bert PW mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers select mode bert mon in pw side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>ctrl_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_710 - 0xB_F10</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_710 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:20]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>thrhold_pattern_sync</code></td>
<td>minimum number of byte sync to go sync state</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0xA</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>thrhold_error</code></td>
<td>maximum err in state sync, if more than thrhold go loss sync</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x2</code></td>
</tr>
<tr>
<td><code>[11:10]</code></td>
<td><code>pw_reserve</code></td>
<td>pw reserve</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>swapmode</code></td>
<td>swap data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>invmode</code></td>
<td>invert data</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07:00]</code></td>
<td><code>patt_mode</code></td>
<td>sel pattern gen # 0x01 : all1 # 0x02 : all0 # 0x04 : prbs15 # 0x08 : prbs20r # 0x10 : prbs20 # 0x20 : prss23 # 0x40 : prbs31</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="tdm-loss-sync">TDM loss sync</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers indicate bert mon loss sync in tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>loss_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_502 - 0xB_D02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_502 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>sticky_err</code></td>
<td>&ldquo;1&rdquo; indicate loss sync</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="pw-loss-sync">PW loss sync</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers indicate bert mon loss sync in pw side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>loss_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_702 - 0xB_F02</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_702 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:01]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>sticky_err</code></td>
<td>&ldquo;1&rdquo; indicate loss sync</td>
<td><code>WC</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-bit-tdm-mon">counter good bit TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_580 - 0xB_D80</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_580 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_goodbit</code></td>
<td>counter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-error-bit-in-tdm-mon">counter error bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>err_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_560 - 0xB_D60</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_560 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_errbit</code></td>
<td>counter err bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossbit_pen_tdm_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_5A0 - 0xB_DA0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_5A0 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_errbit</code></td>
<td>counter err bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-good-bit-tdm-mon_1">counter good bit TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>goodbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_780 - 0xB_F80</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_780 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwgoodbit</code></td>
<td>counter goodbit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-error-bit-in-tdm-mon_1">counter error bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>errbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_760 - 0xB_F60</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_760 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwerrbit</code></td>
<td>counter err bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="counter-loss-bit-in-tdm-mon_1">Counter loss bit in TDM mon</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The registers count goodbit in  mon tdm side</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>lossbit_pen_pw_mon</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x8_7A0 - 0xB_FA0</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x8_7A0 + 2048*slice</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$slice(0-1): is OC48 slice</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:00]</code></td>
<td><code>cnt_pwlossbi</code></td>
<td>counter loss bit</td>
<td><code>R2C</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-force-control">RAM Map Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4808</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-disable-control">RAM Map Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Disable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x4809</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-map-parity-error-sticky">RAM Map parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_Map_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x480a</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-force-control">RAM DeMap Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0808</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-disable-control">RAM DeMap Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Disable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0809</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-demap-parity-error-sticky">RAM DeMap parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_DeMap_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x080a</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>mapslc7ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice7&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>mapslc6ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice6&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>mapslc5ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice5&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>mapslc4ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice4&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>mapslc3ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice3&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>mapslc2ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice2&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>mapslc1ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice1&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>mapslc0ctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;Thalassa Map Line Control Slice0&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>