<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6cnc0022_rd_cdr_ho">AF6CNC0022_RD_CDR_HO</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>CDR CPU  Reg Hold Control</code></td>
<td><code>0x030000-0x030002</code></td>
</tr>
<tr>
<td><code>CDR Timing External reference control</code></td>
<td><code>0x0000003</code></td>
</tr>
<tr>
<td><code>CDR STS Timing control</code></td>
<td><code>0x0000100-0x000011F</code></td>
</tr>
<tr>
<td><code>CDR ACR Engine Timing control</code></td>
<td><code>0x0020800-0x0020BFF</code></td>
</tr>
<tr>
<td><code>CDR Adjust State status</code></td>
<td><code>0x0021000-0x00213FF</code></td>
</tr>
<tr>
<td><code>CDR Adjust Holdover value status</code></td>
<td><code>0x0021800-0x0021BFF</code></td>
</tr>
<tr>
<td><code>DCR TX Engine Active Control</code></td>
<td><code>0x010000</code></td>
</tr>
<tr>
<td><code>DCR PRC Source Select Configuration</code></td>
<td><code>0x0010001</code></td>
</tr>
<tr>
<td><code>DCR PRC Frequency Configuration</code></td>
<td><code>0x0010002</code></td>
</tr>
<tr>
<td><code>DCR PRC Frequency Configuration</code></td>
<td><code>0x001000b</code></td>
</tr>
<tr>
<td><code>DCR RTP Frequency Configuration</code></td>
<td><code>0x001000C</code></td>
</tr>
<tr>
<td><code>RAM TimingGen Parity Force Control</code></td>
<td><code>0x188</code></td>
</tr>
<tr>
<td><code>RAM TimingGen Parity Disable Control</code></td>
<td><code>0x189</code></td>
</tr>
<tr>
<td><code>RAM TimingGen parity Error Sticky</code></td>
<td><code>0x18a</code></td>
</tr>
<tr>
<td><code>RAM ACR Parity Force Control</code></td>
<td><code>0x2000c</code></td>
</tr>
<tr>
<td><code>RAM ACR Parity Disable Control</code></td>
<td><code>0x2000d</code></td>
</tr>
<tr>
<td><code>RAM ACR parity Error Sticky</code></td>
<td><code>0x2000e</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit3_0 Control</code></td>
<td><code>0x30200</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit7_4 Control</code></td>
<td><code>0x30210</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit11_8 Control</code></td>
<td><code>0x30220</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit15_12 Control</code></td>
<td><code>0x30230</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit19_16 Control</code></td>
<td><code>0x30240</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit23_20 Control</code></td>
<td><code>0x30250</code></td>
</tr>
<tr>
<td><code>Read HA Address Bit24 and Data Control</code></td>
<td><code>0x30260</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data63_32</code></td>
<td><code>0x30270</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data95_64</code></td>
<td><code>0x30271</code></td>
</tr>
<tr>
<td><code>Read HA Hold Data127_96</code></td>
<td><code>0x30272</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt Enable Control</code></td>
<td><code>0x00025000-0x000251FF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt Status</code></td>
<td><code>0x00025200-0x000253FF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Current Status</code></td>
<td><code>0x00025400-0x000255FF</code></td>
</tr>
<tr>
<td><code>CDR per Channel Interrupt OR Status</code></td>
<td><code>0x00025600-0x0002560F</code></td>
</tr>
<tr>
<td><code>CDR per STS/VC Interrupt OR Status</code></td>
<td><code>0x000257FF</code></td>
</tr>
<tr>
<td><code>CDR per STS/VC Interrupt Enable Control</code></td>
<td><code>0x000257FE</code></td>
</tr>
<tr>
<td><code>CDR InCome Packet Information Capture Trigger</code></td>
<td><code>0x0023007</code></td>
</tr>
<tr>
<td><code>CDR InCome Packet Information Capture Trigger</code></td>
<td><code>0x0023100</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-cpu-reg-hold-control">CDR CPU  Reg Hold Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register provides hold register for three word 32-bits MSB when CPU access to engine.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_cpu_hold_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x030000-0x030002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x030000 + HoldId</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HoldId(0-2): Hold register</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>holdreg0</code></td>
<td>Hold 32 bits</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-timing-external-reference-control">CDR Timing External reference control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure for the 2Khz coefficient of two external reference signal in order to generate timing. The mean that, if the reference signal is 8Khz, the  coefficient must be configured 4 (I.e 8Khz  = 4x2Khz)</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_timing_extref_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>48</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[47:32]</code></td>
<td><code>ext3n2k</code></td>
<td>The 2Khz coefficient of the third external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>ext2n2k</code></td>
<td>The 2Khz coefficient of the second external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>ext1n2k</code></td>
<td>The 2Khz coefficient of the first external reference signal</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-sts-timing-control">CDR STS Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_sts_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0000100-0x000011F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0000100+STS</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$STS(0-47):</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>40</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[39]</code></td>
<td><code>slc7vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[38]</code></td>
<td><code>slc6vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[37]</code></td>
<td><code>slc5vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[36]</code></td>
<td><code>slc4vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[35]</code></td>
<td><code>slc3vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[34]</code></td>
<td><code>slc2vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[33]</code></td>
<td><code>slc1vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[32]</code></td>
<td><code>slc0vc3eparen</code></td>
<td>VC3 EPAR mode 0 0: Disable 1: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:28]</code></td>
<td><code>slc7vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[27:24]</code></td>
<td><code>slc6vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[23:20]</code></td>
<td><code>slc5vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[19:16]</code></td>
<td><code>slc4vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[15:12]</code></td>
<td><code>slc3vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[11:8]</code></td>
<td><code>slc2vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[7:4]</code></td>
<td><code>slc1vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>slc0vc3timemode</code></td>
<td>VC3 time mode 0: Internal timing mode 1: Loop timing mode 2: Line OCN#1 timing mode 3: Line OCN#2 timing mode 4: Line OCN#3 timing mode 5: Line OCN#4 timing mode 6: Line EXT#1 timing mode 7: Line EXT#2 timing mode 8: CDR timing mode for CEP mode (ACR/DCR) 9: Line EXT#3 timing mode</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 10: Line OCN#5 timing mode 11: Line OCN#6 timing mode 12: Line OCN#7 timing mode 13: Line OCN#8 timing mode End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-acr-engine-timing-control">CDR ACR Engine Timing control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure timing mode for per STS</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_acr_eng_timing_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0020800-0x0020BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0020800 + 64*slice + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-1): is OC48 slice</code></p>
</li>
<li>
<p><code>$stsid(0-47): is STS in OC48</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[26]</code></td>
<td><code>vc4_4c</code></td>
<td>VC4_4c/TU3 mode 0: STS1/VC4 1: TU3/VC4-4c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>pktlen_ind</code></td>
<td>The payload packet  length for jumbo frame</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>holdvalmode</code></td>
<td>Hold value mode of NCO, default value 0 0: Hardware calculated and auto update 1: Software calculated and update, hardware is disabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>seqmode</code></td>
<td>Sequence mode mode, default value 0 0: Wrap zero 1: Skip zero</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22:20]</code></td>
<td><code>linetype</code></td>
<td>Line type mode 0-5: unused 6: STS1/TU3 7: VC4/VC4-4c</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19:4]</code></td>
<td><code>pktlen</code></td>
<td>The payload packet  length parameter to create a packet. SAToP mode: The number payload of bit. CESoPSN mode: The number of bit which converted to full DS1/E1 rate mode. In CESoPSN mode, the payload is assembled by NxDS0 with M frame, the value configured to this register is Mx256 bits for E1 mode, Mx193 bits for DS1 mode.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3:0]</code></td>
<td><code>cdrtimemode</code></td>
<td>CDR time mode 0-7: unused 8: ACR timing mode 9: unused 10: DCR timing mode 11: unused</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-adjust-state-status">CDR Adjust State status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store status or configure  some parameter of per CDR engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_adj_state_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021000-0x00213FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021000 + 64*slice + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-1): is OC48 slice</code></p>
</li>
<li>
<p><code>$stsid(0-47): is STS in OC48</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[2:0]</code></td>
<td><code>adjstate</code></td>
<td>Adjust state 0: Load state 1: Wait state 2: Initialization state 3: Learn State 4: Rapid State 5: Lock State 6: Freeze State 7: Holdover State</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-adjust-holdover-value-status">CDR Adjust Holdover value status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to store status or configure  some parameter of per CDR engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_adj_holdover_value_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0021800-0x0021BFF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0021800 + 64*slice + stsid</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$slice(0-1): is OC48 slice</code></p>
</li>
<li>
<p><code>$stsid(0-47): is STS in OC48</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>holdval</code></td>
<td>NCO Holdover value</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-tx-engine-active-control">DCR TX Engine Active Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to activate the DCR TX Engine. Active high.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_tx_eng_active_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x010000</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>data</code></td>
<td>DCR TX Engine Active Control</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-source-select-configuration">DCR PRC Source Select Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure to select PRC source for PRC timer. The PRC clock selected must be less than 19.44 Mhz.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prc_src_sel_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010001</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[3]</code></td>
<td><code>dcrprcdirectmode</code></td>
<td>0: Select RTP frequency lower than 65535 and use value DCRRTPFreq as RTP frequency 1: Select RTP frequency value 155.52Mhz divide by DcrRtpFreqDivide. In this mode, below DcrPrcSourceSel[2:0] must set to 1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2:0]</code></td>
<td><code>dcrprcsourcesel</code></td>
<td>PRC source selection. 0: PRC Reference Clock 1: System Clock 19Mhz 2: External Reference Clock 1. 3: External Reference Clock 2. 4: Ocn Line Clock Port 1 5: Ocn Line Clock Port 2 6: Ocn Line Clock Port 3 7: Ocn Line Clock Port 4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-frequency-configuration">DCR PRC Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to select RTP frequency 77.76Mhz or 155.52Mhz</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prd_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0010002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrrtpfreqdivide</code></td>
<td>Dcr RTP Frequency = 155.52Mhz/ DcrRtpFreqDivide</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-prc-frequency-configuration_1">DCR PRC Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the frequency of PRC clock.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_prc_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x001000b</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrprcfrequency</code></td>
<td>Frequency of PRC clock. This is used to configure the frequency of PRC clock in Khz. Unit is Khz. Exp: The PRC clock is 19.44Mhz. This register will be configured to 19440.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="dcr-rtp-frequency-configuration">DCR RTP Frequency Configuration</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to configure the frequency of PRC clock.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>dcr_rtp_freq_cfg</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x001000C</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>dcrrtpfreq</code></td>
<td>Frequency of RTP clock. This is used to configure the frequency of RTP clock in Khz. Unit is Khz. Exp: The RTP clock is 19.44Mhz. This register will be configured to 19440.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-timinggen-parity-force-control">RAM TimingGen Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_TimingGen_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x188</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cdrststimingctrl_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR STS Timing control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-timinggen-parity-disable-control">RAM TimingGen Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_TimingGen_Parity_Diable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x189</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:1]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cdrststimingctrl_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR STS Timing control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-timinggen-parity-error-sticky">RAM TimingGen parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_TimingGen_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x18a</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrststimingctrl_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR STS Timing control&rdquo;</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-acr-parity-force-control">RAM ACR Parity Force Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_ACR_Parity_Force_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2000c</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>cdracrtimingctrlslc7_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>cdracrtimingctrlslc6_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>cdracrtimingctrlslc5_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cdracrtimingctrlslc4_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>cdracrtimingctrlslc3_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cdracrtimingctrlslc2_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cdracrtimingctrlslc1_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cdracrtimingctrlslc0_parerrfrc</code></td>
<td>Force parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-acr-parity-disable-control">RAM ACR Parity Disable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures force parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_ACR_Parity_Disable_Control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2000d</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:8]</code></td>
<td><code>unused</code></td>
<td><em>n/a</em></td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>cdracrtimingctrlslc7_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>cdracrtimingctrlslc6_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>cdracrtimingctrlslc5_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cdracrtimingctrlslc4_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>cdracrtimingctrlslc3_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cdracrtimingctrlslc2_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cdracrtimingctrlslc1_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cdracrtimingctrlslc0_parerrdis</code></td>
<td>Disable parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="ram-acr-parity-error-sticky">RAM ACR parity Error Sticky</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures disable parity for internal RAM</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>RAM_ACR_Parity_Error_Sticky</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x2000e</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>cdracrtimingctrlslc7_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice7</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>cdracrtimingctrlslc6_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice6</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>cdracrtimingctrlslc5_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice5</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cdracrtimingctrlslc4_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice4</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>cdracrtimingctrlslc3_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice3</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>cdracrtimingctrlslc2_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice2</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>cdracrtimingctrlslc1_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice1</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>cdracrtimingctrlslc0_parerrstk</code></td>
<td>Error parity For RAM Control &ldquo;CDR ACR Engine Timing control&rdquo; Slice0</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit3_0-control">Read HA Address Bit3_0 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit3_0 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha3_0_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30200</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30200 + HaAddr3_0</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr3_0(0-15): HA Address Bit3_0</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr3_0</code></td>
<td>Read value will be 0x01000 plus HaAddr3_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit7_4-control">Read HA Address Bit7_4 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit7_4 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha7_4_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30210</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30210 + HaAddr7_4</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr7_4(0-15): HA Address Bit7_4</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr7_4</code></td>
<td>Read value will be 0x01000 plus HaAddr7_4</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit11_8-control">Read HA Address Bit11_8 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit11_8 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha11_8_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30220</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30220 + HaAddr11_8</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr11_8(0-15): HA Address Bit11_8</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr11_8</code></td>
<td>Read value will be 0x01000 plus HaAddr11_8</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit15_12-control">Read HA Address Bit15_12 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit15_12 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha15_12_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30230</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30230 + HaAddr15_12</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr15_12(0-15): HA Address Bit15_12</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr15_12</code></td>
<td>Read value will be 0x01000 plus HaAddr15_12</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit19_16-control">Read HA Address Bit19_16 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit19_16 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha19_16_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30240</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30240 + HaAddr19_16</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr19_16(0-15): HA Address Bit19_16</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr19_16</code></td>
<td>Read value will be 0x01000 plus HaAddr19_16</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit23_20-control">Read HA Address Bit23_20 Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit23_20 to HA engine</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha23_20_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30250</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30250 + HaAddr23_20</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr23_20(0-15): HA Address Bit23_20</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>20</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[19:0]</code></td>
<td><code>readaddr23_20</code></td>
<td>Read value will be 0x01000 plus HaAddr23_20</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-address-bit24-and-data-control">Read HA Address Bit24 and Data Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to send HA read address bit24 to HA engine to read data</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha24data_control</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30260</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x30260 + HaAddr24</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$HaAddr24(0-1): HA Address Bit24</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata31_0</code></td>
<td>HA read data bit31_0</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data63_32">Read HA Hold Data63_32</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword2 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdha_hold63_32</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30270</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata63_32</code></td>
<td>HA read data bit63_32</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data95_64">Read HA Hold Data95_64</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword3 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold95_64</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30271</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata95_64</code></td>
<td>HA read data bit95_64</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="read-ha-hold-data127_96">Read HA Hold Data127_96</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register is used to read HA dword4 of data.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>rdindr_hold127_96</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x30272</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31:0]</code></td>
<td><code>readhadata127_96</code></td>
<td>HA read data bit127_96</td>
<td><code>RW</code></td>
<td><code>0xx</code></td>
<td><code>0xx End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-enable-control">CDR per Channel Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt enable of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_en_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025000-0x000251FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025000 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-15): STS-1/VC-3 ID, 0:ID 0-31 of OC48#0, 1: 32-47 of OC48#0, 2:0-31 of OC48#1, ...</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlokcedintren</code></td>
<td>Set 1 to enable change UnLocked te event to generate an interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-status">CDR per Channel Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel interrupt tus of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025200-0x000253FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025200 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-15): STS-1/VC-3 ID, 0:ID 0-31 of OC48#0, 1: 32-47 of OC48#0, 2:0-31 of OC48#1, ...</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlockedintr</code></td>
<td>Set 1 if there is a change in UnLocked the event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-current-status">CDR per Channel Current Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This is the per Channel Current tus of CDR</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_curr_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025400-0x000255FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025400 +  StsID*32 + VtnID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li>
<p><code>$StsID(0-15): STS-1/VC-3 ID, 0:ID 0-31 of OC48#0, 1: 32-47 of OC48#0, 2:0-31 of OC48#1, ...</code></p>
</li>
<li>
<p><code>$VtnID(0-31): VT/TU number ID in the Group</code></p>
</li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>cdrunlockedcurrsta</code></td>
<td>Current tus of UnLocked event.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-channel-interrupt-or-status">CDR per Channel Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 32 bits for 32 VT/TUs of the related STS/VC in the CDR. Each bit is used to store Interrupt OR tus of the related DS1/E1.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_chn_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00025600-0x0002560F</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x00025600 +  StsID</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$StsID(0-15): STS-1/VC-3 ID, 0:ID 0-31 of OC48#0, 1: 32-47 of OC48#0, 2:0-31 of OC48#1, ...</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>cdrvtintrorsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding DS1/E1 is set and its interrupt is enabled.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-stsvc-interrupt-or-status">CDR per STS/VC Interrupt OR Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 16 bits for 16 STS/VCs of the CDR. Each bit is used to store Interrupt OR tus of the related STS/VC.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_stsvc_intr_or_stat</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000257FF</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Interrupt</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>cdrstsintrorsta</code></td>
<td>Set to 1 if any interrupt status bit of corresponding STS/VC is set and its interrupt is enabled</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-per-stsvc-interrupt-enable-control">CDR per STS/VC Interrupt Enable Control</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 16 interrupt enable bits for 16 STS/VCs in the Rx DS1/E1/J1 Framer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_per_stsvc_intr_en_ctrl</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x000257FE</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15:0]</code></td>
<td><code>cdrstsintren</code></td>
<td>Set to 1 to enable the related STS/VC to generate interrupt.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-income-packet-information-capture-trigger">CDR InCome Packet Information Capture Trigger</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 16 interrupt enable bits for 16 STS/VCs in the Rx DS1/E1/J1 Framer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_income_packet_info_trigger</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0023007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[16]</code></td>
<td><code>trigger</code></td>
<td>Dump trigger, write 1 and write 0.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>cdrid</code></td>
<td>Set CDR ID, same value bit[14:0] of Classify Per Pseudowire Identification to CDR Control.</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="cdr-income-packet-information-capture-trigger_1">CDR InCome Packet Information Capture Trigger</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>The register consists of 16 interrupt enable bits for 16 STS/VCs in the Rx DS1/E1/J1 Framer.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>cdr_income_packet_info_trigger</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x0023100</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <code>0x0023100 +  entry</code></p>
</li>
<li>
<p><strong>Where</strong>               : </p>
<ul>
<li><code>$entry(0-255): 256 packet continuous</code></li>
</ul>
</li>
<li>
<p><strong>Width</strong>               : <code>128</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[65]</code></td>
<td><code>hoenb</code></td>
<td>High Order path enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[64]</code></td>
<td><code>pkterror</code></td>
<td>packet error, set 1 incase of Lbit</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[63:32]</code></td>
<td><code>rtptimestamp</code></td>
<td>RTP timestamp</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[31:16]</code></td>
<td><code>rtpseqnum</code></td>
<td>RTP Sequence Number</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15:0]</code></td>
<td><code>cwseqnum</code></td>
<td>Control Word Sequence Number</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>