<h2 id="revision-history-revision-history">Revision History [Revision History]</h2>
<table>
<thead>
<tr>
<th>Revision</th>
<th>Date</th>
<th>Author</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.0</td>
<td>2017-10-18</td>
<td>AF6Project</td>
<td>Initial version</td>
</tr>
</tbody>
</table>
<h2 id="af6nc0022_rd_intr">AF6NC0022_RD_INTR</h2>
<h4 id="register-table">Register Table</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Global Interrupt Status</code></td>
<td><code>0x00_0002</code></td>
</tr>
<tr>
<td><code>Global Interrupt Mask Enable</code></td>
<td><code>0x00_0003</code></td>
</tr>
<tr>
<td><code>Global PDH Interrupt Status</code></td>
<td><code>0x00_0004</code></td>
</tr>
<tr>
<td><code>Global Interrupt Pin Disable</code></td>
<td><code>0x00_0005</code></td>
</tr>
<tr>
<td><code>Global Interrupt Mask Restore</code></td>
<td><code>0x00_0006</code></td>
</tr>
<tr>
<td><code>Global  Configuration RAM Parity Interrupt Mask Enable</code></td>
<td><code>0x00_0007</code></td>
</tr>
<tr>
<td><code>Global  Configuration RAM Parity Interrupt Status</code></td>
<td><code>0x00_0008</code></td>
</tr>
<tr>
<td><code>Global LoCDR Interrupt Status</code></td>
<td><code>0x00_0009</code></td>
</tr>
<tr>
<td><code>Global PMC 2page Interrupt Status</code></td>
<td><code>0x00_000A</code></td>
</tr>
</tbody>
</table>
<h3 id="global-interrupt-status">Global Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicate global interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_interrupt_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0002</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>extpinintstatus</code></td>
<td>External Pin Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>extorintstatus</code></td>
<td>External OR Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29:19]</code></td>
<td><code>reserveintstatus</code></td>
<td>Reserve Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18:17]</code></td>
<td><code>mac40gintstatus</code></td>
<td>Two Mac40G Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>upsrintstatus</code></td>
<td>UPSR Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>tengeintstatus</code></td>
<td>Chip SEM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>geintstatus</code></td>
<td>Chip SEM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>globalpmc</code></td>
<td>Global PMC 2 Page Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>semintstatus</code></td>
<td>Chip SEM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>hocdrintstatus</code></td>
<td>High Order CDR Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>locdrintstatus</code></td>
<td>Low Order CDR Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>mdlintstatus</code></td>
<td>MDL Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>prmintstatus</code></td>
<td>PRM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>pmintstatus</code></td>
<td>PM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>fmintstatus</code></td>
<td>FM Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>tfi5intstatus</code></td>
<td>TFI5 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>stsintstatus</code></td>
<td>STS Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>vtintstatus</code></td>
<td>VT Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>de3intstatus</code></td>
<td>DS3/E3 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>de1intstatus</code></td>
<td>DS1/E1 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pweintstatus</code></td>
<td>PWE Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-interrupt-mask-enable">Global Interrupt Mask Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures global interrupt mask enable.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_interrupt_mask_enable</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0003</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>19</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[18:17]</code></td>
<td><code>mac40gintenable</code></td>
<td>Two MAC40G Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>upsrintenable</code></td>
<td>UPSR Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>tengeintenable</code></td>
<td>Ten Ge Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>geintenable</code></td>
<td>Ge Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>glbpmcintenable</code></td>
<td>GLB PMC Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>semintenable</code></td>
<td>Chip SEM Interrupt Enable  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>reservedintenable</code></td>
<td>Reserved  Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>cdrintenable</code></td>
<td>CDR Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>mdlintenable</code></td>
<td>MDL Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>prmintenable</code></td>
<td>PRM Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>pmintenable</code></td>
<td>PM Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>fmintenable</code></td>
<td>FM Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>tfi5intenable</code></td>
<td>TFI5 Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>stsintenable</code></td>
<td>STS Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>vtintenable</code></td>
<td>VT Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>de3intenable</code></td>
<td>DS3/E3 Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>de1intenable</code></td>
<td>DS1/E1 Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pweintenable</code></td>
<td>PWE Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-pdh-interrupt-status">Global PDH Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicate global pdh interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_pdh_interrupt_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0004</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>16</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[15]</code></td>
<td><code>de3slice8intstatus</code></td>
<td>DE3 Slice8 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>de3slice7intstatus</code></td>
<td>DE3 Slice7 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>de3slice6intstatus</code></td>
<td>DE3 Slice6 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>de3slice5intstatus</code></td>
<td>DE3 Slice5 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>de3slice4intstatus</code></td>
<td>DE3 Slice4 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>de3slice3intstatus</code></td>
<td>DE3 Slice3 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>de3slice2intstatus</code></td>
<td>DE3 Slice2 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>de3slice1intstatus</code></td>
<td>DE3 Slice1 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[07]</code></td>
<td><code>de1slice8intstatus</code></td>
<td>DE1 Slice8 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[06]</code></td>
<td><code>de1slice7intstatus</code></td>
<td>DE1 Slice7 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[05]</code></td>
<td><code>de1slice6intstatus</code></td>
<td>DE1 Slice6 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[04]</code></td>
<td><code>de1slice5intstatus</code></td>
<td>DE1 Slice5 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[03]</code></td>
<td><code>de1slice4intstatus</code></td>
<td>DE1 Slice4 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[02]</code></td>
<td><code>de1slice3intstatus</code></td>
<td>DE1 Slice3 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[01]</code></td>
<td><code>de1slice2intstatus</code></td>
<td>DE1 Slice2 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[00]</code></td>
<td><code>de1slice1intstatus</code></td>
<td>DE1 Slice1 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-interrupt-pin-disable">Global Interrupt Pin Disable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures global interrupt pin disable</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_interrupt_pin_disable</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0005</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>1</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[0]</code></td>
<td><code>glbpinintdisable</code></td>
<td>Global Interrupt Pin Disable  1: Disable  0: Enable</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-interrupt-mask-restore">Global Interrupt Mask Restore</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures global interrupt mask enable.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_interrupt_mask_restore</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0006</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>13</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[12]</code></td>
<td><code>upsrintrestore</code></td>
<td>UPSR Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>reserveintrestore</code></td>
<td>HoCDR Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>cdrintrestore</code></td>
<td>CDR Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[9]</code></td>
<td><code>mdlintrestore</code></td>
<td>MDL Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[8]</code></td>
<td><code>prmintrestore</code></td>
<td>PRM Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>pmintrestore</code></td>
<td>PM Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>fmintrestore</code></td>
<td>FM Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>tfi5intrestore</code></td>
<td>TFI5 Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>stsintrestore</code></td>
<td>STS Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>vtintrestore</code></td>
<td>VT Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>de3intrestore</code></td>
<td>DS3/E3 Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>de1intrestore</code></td>
<td>DS1/E1 Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pweintrestore</code></td>
<td>PWE Interrupt Restore  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-configuration-ram-parity-interrupt-mask-enable">Global  Configuration RAM Parity Interrupt Mask Enable</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register configures parity global interrupt mask enable.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_parity_interrupt_mask_enable</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0007</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Enable</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>prmparintenable</code></td>
<td>PRM Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>pmcparintenable</code></td>
<td>PMC Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>claparintenable</code></td>
<td>CLA Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>pweparintenable</code></td>
<td>PWE ETH Port0 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>pdaparintenable</code></td>
<td>PDA Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plaparintenable</code></td>
<td>PLA Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>cdr8parintenable</code></td>
<td>CDR Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>map8parintenable</code></td>
<td>MAP Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>pdh8parintenable</code></td>
<td>PDH Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>cdr7parintenable</code></td>
<td>CDR Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>map7parintenable</code></td>
<td>MAP Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>pdh7parintenable</code></td>
<td>PDH Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>cdr6parintenable</code></td>
<td>CDR Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>map6parintenable</code></td>
<td>MAP Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>pdh6parintenable</code></td>
<td>PDH Slice6 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>cdr5parintenable</code></td>
<td>CDR Slice5 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>map5parintenable</code></td>
<td>MAP Slice5 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>pdh5parintenable</code></td>
<td>PDH Slice5 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>cdr4parintenable</code></td>
<td>CDR Slice4 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>map4parintenable</code></td>
<td>MAP Slice4 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>pdh4parintenable</code></td>
<td>PDH Slice4 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>cdr3parintenable</code></td>
<td>CDR Slice3 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>map3parintenable</code></td>
<td>MAP Slice3 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>pdh3parintenable</code></td>
<td>PDH Slice3 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>cdr2parintenable</code></td>
<td>CDR Slice2 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>map2parintenable</code></td>
<td>MAP Slice2 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pdh2parintenable</code></td>
<td>PDH Slice2 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cdr1parintenable</code></td>
<td>CDR Slice1 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>map1parintenable</code></td>
<td>MAP Slice1 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdh1parintenable</code></td>
<td>PDH Slice1 Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pohparintenable</code></td>
<td>POH Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ocnparintenable</code></td>
<td>OCN Parity Interrupt Enable  1: Set  0: Clear</td>
<td><code>RW</code></td>
<td><code>0x0</code></td>
<td><code>0x0 Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-configuration-ram-parity-interrupt-status">Global  Configuration RAM Parity Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register show global parity interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_parity_interrupt_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0008</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>32</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[31]</code></td>
<td><code>prmparintstatus</code></td>
<td>PRM Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[30]</code></td>
<td><code>pmcparintstatus</code></td>
<td>PMC Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[29]</code></td>
<td><code>claparintstatus</code></td>
<td>CLA Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[28]</code></td>
<td><code>pweparintstatus</code></td>
<td>PWE ETH Port0 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[27]</code></td>
<td><code>pdaparintstatus</code></td>
<td>PDA Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[26]</code></td>
<td><code>plaparintstatus</code></td>
<td>PLA Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[25]</code></td>
<td><code>cdr8parintstatus</code></td>
<td>CDR Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[24]</code></td>
<td><code>map8parintstatus</code></td>
<td>MAP Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[23]</code></td>
<td><code>pdh8parintstatus</code></td>
<td>PDH Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[22]</code></td>
<td><code>cdr7parintstatus</code></td>
<td>CDR Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[21]</code></td>
<td><code>map7parintstatus</code></td>
<td>MAP Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[20]</code></td>
<td><code>pdh7parintstatus</code></td>
<td>PDH Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[19]</code></td>
<td><code>cdr6parintstatus</code></td>
<td>CDR Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[18]</code></td>
<td><code>map6parintstatus</code></td>
<td>MAP Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[17]</code></td>
<td><code>pdh6parintstatus</code></td>
<td>PDH Slice6 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[16]</code></td>
<td><code>cdr5parintstatus</code></td>
<td>CDR Slice5 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[15]</code></td>
<td><code>map5parintstatus</code></td>
<td>MAP Slice5 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[14]</code></td>
<td><code>pdh5parintstatus</code></td>
<td>PDH Slice5 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[13]</code></td>
<td><code>cdr4parintstatus</code></td>
<td>CDR Slice4 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[12]</code></td>
<td><code>map4parintstatus</code></td>
<td>MAP Slice4 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[11]</code></td>
<td><code>pdh4parintstatus</code></td>
<td>PDH Slice4 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[10]</code></td>
<td><code>cdr3parintstatus</code></td>
<td>CDR Slice3 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[09]</code></td>
<td><code>map3parintstatus</code></td>
<td>MAP Slice3 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[08]</code></td>
<td><code>pdh3parintstatus</code></td>
<td>PDH Slice3 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[7]</code></td>
<td><code>cdr2parintstatus</code></td>
<td>CDR Slice2 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>map2parintstatus</code></td>
<td>MAP Slice2 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pdh2parintstatus</code></td>
<td>PDH Slice2 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>cdr1parintstatus</code></td>
<td>CDR Slice1 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>map1parintstatus</code></td>
<td>MAP Slice1 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdh1parintstatus</code></td>
<td>PDH Slice1 Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pohparintstatus</code></td>
<td>POH Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>ocnparintstatus</code></td>
<td>OCN Parity Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-locdr-interrupt-status">Global LoCDR Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicate global low order CDR interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_locdr_interrupt_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_0009</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>8</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[7]</code></td>
<td><code>locdrslice8intstatus</code></td>
<td>LoCDR Slice8 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[6]</code></td>
<td><code>locdrslice7intstatus</code></td>
<td>LoCDR Slice7 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>locdrslice6intstatus</code></td>
<td>LoCDR Slice6 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>locdrslice5intstatus</code></td>
<td>LoCDR Slice5 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>locdrslice4intstatus</code></td>
<td>LoCDR Slice4 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>locdrslice3intstatus</code></td>
<td>LoCDR Slice3 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>locdrslice2intstatus</code></td>
<td>LoCDR Slice2 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>locdrslice1intstatus</code></td>
<td>LoCDR Slice1 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End: Begin:</code></td>
</tr>
</tbody>
</table>
<h3 id="global-pmc-2page-interrupt-status">Global PMC 2page Interrupt Status</h3>
<ul>
<li><strong>Description</strong>           </li>
</ul>
<p>This register indicate global low order CDR interrupt status.</p>
<ul>
<li>
<p><strong>RTL Instant Name</strong>    : <code>global_pmc_2page_interrupt_status</code></p>
</li>
<li>
<p><strong>Address</strong>             : <code>0x00_000A</code></p>
</li>
<li>
<p><strong>Formula</strong>             : <em>n/a</em></p>
</li>
<li>
<p><strong>Where</strong>               : <em>n/a</em></p>
</li>
<li>
<p><strong>Width</strong>               : <code>7</code></p>
</li>
<li><strong>Register Type</strong>       : <code>Config|Status</code></li>
<li><strong>Bit Field Detail</strong>    : </li>
</ul>
<table>
<thead>
<tr>
<th>Bit Field</th>
<th>Name</th>
<th>Description</th>
<th>Type</th>
<th>Reset</th>
<th>Default</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>[6]</code></td>
<td><code>pmrintstatus</code></td>
<td>Pmr     Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[5]</code></td>
<td><code>pohpmvtintstatus</code></td>
<td>Pohpmvt Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[4]</code></td>
<td><code>pohpmstsintstatus</code></td>
<td>Pohpmsts Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[3]</code></td>
<td><code>pohintstatus</code></td>
<td>Poh    Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[2]</code></td>
<td><code>pdhde1intstatus</code></td>
<td>Pdhde1 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[1]</code></td>
<td><code>pdhde3intstatus</code></td>
<td>Pdhde3 Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0</code></td>
</tr>
<tr>
<td><code>[0]</code></td>
<td><code>pwcntintstatus</code></td>
<td>Pwcnt  Interrupt Status  1: Set  0: Clear</td>
<td><code>RO</code></td>
<td><code>0x0</code></td>
<td><code>0x0 End:</code></td>
</tr>
</tbody>
</table>